package ${packageName}.domain;

    #foreach ($import in $importList)
    import ${import};
    #end
import com.baomidou.mybatisplus.annotation.FieldFill;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.databind.annotation.JsonSerialize;
import com.fasterxml.jackson.databind.ser.std.ToStringSerializer;
import com.platform.common.annotation.Excel;
import com.platform.common.core.domain.EmsBaseEntity;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.experimental.Accessors;
import javax.validation.constraints.NotBlank;
#if($table.crud || $table.sub)
#elseif($table.tree)
#end

/**
 * ${functionName}对象 ${tableName}
 *
 * @author ${author}
 * @date ${datetime}
 */
#if($table.crud || $table.sub)
    #set($Entity="EmsBaseEntity")
#elseif($table.tree)
    #set($Entity="TreeEntity")
#end
@Data
@Accessors(chain = true)
@TableName(value = "${tableName}")
public class ${ClassName} extends ${Entity}
        {

private static final long serialVersionUID=1L;

#foreach ($column in $columns)
    #if(!$table.isSuperColumn($column.javaField))
        #set($parentheseIndex=$column.columnComment.indexOf("（"))
        #if($parentheseIndex != -1)
            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
        #else
            #set($comment=$column.columnComment)
        #end
    /** $column.columnComment */
        #if( $column.javaField==${pkColumn.javaField})
        @TableId
        #end
        #if($column.list)
            #if($column.javaField=='creatorAccount'||$column.javaField==
                'createDate'||$column.javaField=='dataSourceSys')
            @TableField(fill = FieldFill.INSERT)
            #end
            #if( $column.javaField=='updateDate'||$column.javaField=='updaterAccount')
            @TableField(fill = FieldFill.UPDATE)
            #end
            #if($column.javaType == 'Date')
            @JsonFormat(timezone = "GMT+8", pattern = "yyyy-MM-dd")
            @Excel(name = "${comment}", width = 30, dateFormat = "yyyy-MM-dd")
            #else
                #if($column.javaField=='handleStatus')
                @NotBlank(message = "处理状态不能为空")
                @Excel(name = "${comment}", dictType = "s_handle_status")
                #elseif($column.javaField=='status')
                @NotBlank(message = "启停状态不能为空")
                @Excel(name = "${comment}", dictType = "s_valid_flag")
                #else
                @Excel(name = "${comment}")
                #end
            #end
        #end
        #if($column.javaType == 'Long')
        @JsonSerialize(using = ToStringSerializer.class)
        #end
    @ApiModelProperty(value = "${comment}")
    private $column.javaType $column.javaField;

        #if( $column.javaField==${pkColumn.javaField})
            #set($AttrName=$column.javaField + 'List')
        @TableField(exist = false)
        @ApiModelProperty(value = "sid数组")
        private $column.javaType [] $AttrName;

        #end
        #if($column.javaField=='creatorAccount')
        /**
         * 创建人
         */
        @TableField(exist = false)
        @Excel(name = "创建人")
        @ApiModelProperty(value = "创建人昵称")
        private String creatorAccountName;

        #elseif($column.javaField=='updaterAccount')
        /**
         * 更改人
         */
        @TableField(exist = false)
        @Excel(name = "更改人")
        @ApiModelProperty(value = "更改人昵称")
        private String updaterAccountName;

        #elseif($column.javaField=='confirmerAccount')
        /**
         * 确认人
         */
        @TableField(exist = false)
        @Excel(name = "确认人")
        @ApiModelProperty(value = "确认人昵称")
        private String confirmerAccountName;

        #end
    #end
#end
#if($table.sub)
/** $table.subTable.functionName信息 */
private List<${subClassName}> ${subclassName}List;

#end

        }
