<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.plug.mapper.ConInvoiceCategoryMapper">

    <resultMap type="com.platform.ems.plug.domain.ConInvoiceCategory" id="ConInvoiceCategoryResult">
        <result property="clientId" column="client_id"/>
        <result property="sid" column="sid"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="isClientDefine" column="is_client_define"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="sort" column="sort"/>
    </resultMap>

    <sql id="selectConInvoiceCategoryVo">
        select
        t.client_id,
        t.sid,
        t.code,
        t.name,
        t.remark,
        t.status,
        t.handle_status,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.update_date,
        t.confirmer_account,
        t.confirm_date,
        t.data_source_sys,
        t.is_client_define,
        t.sort,
        t2.nick_name AS creator_account_name
  from s_con_invoice_category t
        LEFT JOIN sys_user t2 ON t.creator_account = t2.user_name
    </sql>

    <select id="selectConInvoiceCategoryById" parameterType="Long" resultMap="ConInvoiceCategoryResult">
        <include refid="selectConInvoiceCategoryVo"/>
        where t.sid = #{sid}
    </select>


    <select id="selectConInvoiceCategoryList" parameterType="com.platform.ems.plug.domain.ConInvoiceCategory"
            resultMap="ConInvoiceCategoryResult">
        <include refid="selectConInvoiceCategoryVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="sidList != null and sidList.length >0 ">
                and t.sid in
                (<foreach collection="sidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="sid != null">
                and t.sid= #{sid}
            </if>
            <if test="code != null  and code != ''">
                and (<foreach collection="code.split(';')" item="item" separator="or">t.code like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="name != null  and name != ''">and
                t.name like concat('%', #{name}, '%')
            </if>
            <if test="status != null  and status != ''">
                and (<foreach collection="status.split(';')" item="item" separator="or">t.status like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and (<foreach collection="handleStatus.split(';')" item="item" separator="or">t.handle_status like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t2.nick_name like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="isClientDefine != null  and isClientDefine != ''">
                and (<foreach collection="isClientDefine.split(';')" item="item" separator="or">t.is_client_define like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="sort != null ">
                and t.sort =#{sort}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
        order by t.sort asc, t.name asc
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_con_invoice_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            sid,
            code,
            name,
            remark,
            status,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
            is_client_define,
            sort,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{clientId},
                #{sid},
                #{code},
                #{name},
                #{remark},
                #{status},
                #{handleStatus},
                #{creatorAccount},
                #{createDate},
                #{updaterAccount},
                #{updateDate},
                #{confirmerAccount},
                #{confirmDate},
                #{dataSourceSys},
                #{isClientDefine},
                #{sort},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_con_invoice_category
        <trim prefix="SET" suffixOverrides=",">
            code = #{code},
            name = #{name},
            remark = #{remark},
            status = #{status},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
            is_client_define = #{isClientDefine},
            sort = #{sort},
        </trim>
        where sid = #{sid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_con_invoice_category
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                code = #{code},
                name = #{name},
                remark = #{remark},
                status = #{status},
                handle_status = #{handleStatus},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
                is_client_define = #{isClientDefine},
                sort = #{sort},
            </trim>
            where sid = #{sid}
        </foreach>
    </update>

    <select id="getConInvoiceCategoryList" resultType="com.platform.ems.plug.domain.ConInvoiceCategory">
        select sid,code,name,status,handle_status,sort from s_con_invoice_category order by sort asc, name asc
    </select>

</mapper>
