<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.plug.mapper.ConInOutStockDocCategoryMapper">

    <resultMap type="com.platform.ems.plug.domain.ConInOutStockDocCategory" id="ConInOutStockDocCategoryResult">
        <result property="clientId" column="client_id"/>
        <result property="sid" column="sid"/>
        <result property="invDocCategoryCode" column="inv_doc_category_code"/>
        <result property="movementTypeCode" column="movement_type_code"/>
        <result property="docCategoryCode" column="doc_category_code"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="isClientDefine" column="is_client_define"/>
        <result property="invDocCategoryName" column="inv_doc_category_name"/>
        <result property="movementTypeName" column="movement_type_name"/>
        <result property="docCategoryName" column="doc_category_name"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="sort" column="sort"/>
        <result property="isStorehouseEdit" column="is_storehouse_edit"/>
        <result property="isStorehouseLocationEdit" column="is_storehouse_location_edit"/>
    </resultMap>

    <sql id="selectConInOutStockDocCategoryVo">
        select
        t.client_id,
        t.sid,
        t.inv_doc_category_code,
        t.movement_type_code,
        t.doc_category_code,
        t.remark,
        t4.name AS doc_category_name,
        t.status,
        t.handle_status,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.update_date,
        t.confirmer_account,
        t5.nick_name AS creator_account_name,
        t.confirm_date,
        t.data_source_sys,
        t.is_client_define,
        t.is_storehouse_edit,
        t.is_storehouse_location_edit,
        t.sort,
        t2.name AS inv_doc_category_name,
        t3.name AS movement_type_name
  from s_con_in_out_stock_doc_category t
        LEFT JOIN s_con_inventory_document_category t2 ON t.inv_doc_category_code = t2.code
        LEFT JOIN s_con_movement_type t3 ON t.movement_type_code = t3.code
        LEFT JOIN s_con_doc_category t4 ON t.doc_category_code = t4.code
        LEFT JOIN sys_user t5 ON t.creator_account = t5.user_name
    </sql>

    <select id="selectConInOutStockDocCategoryById" parameterType="Long" resultMap="ConInOutStockDocCategoryResult">
        <include refid="selectConInOutStockDocCategoryVo"/>
        where t.sid = #{sid}
    </select>
    <select id="getList" resultType="com.platform.ems.plug.domain.ConInOutStockDocCategory">
        select t.movement_type_code,t2.name as movement_type_name,t2.sid as movement_type_sid from s_con_in_out_stock_doc_category t
        left join s_con_movement_type t2 on t2.code=t.movement_type_code
    </select>
    <select id="getListCategory" parameterType="String"
            resultType="com.platform.ems.plug.domain.ConInOutStockDocCategory">
         select t.doc_category_code,t1.name
         from s_con_in_out_stock_doc_category t
         left join s_con_doc_category t1 on t1.code=t.doc_category_code
         where t.movement_type_code=#{movementTypeCode} and t.inv_doc_category_code in ('CK','RK')
    </select>

    <select id="selectConInOutStockDocCategoryList"
            parameterType="com.platform.ems.plug.domain.ConInOutStockDocCategory"
            resultMap="ConInOutStockDocCategoryResult">
        <include refid="selectConInOutStockDocCategoryVo"/>
        <where>
            <if test="isStorehouseEdit != null and isStorehouseEdit != ''">
                and (<foreach collection="isStorehouseEdit.split(';')" item="item" separator="or">t.is_storehouse_edit
                = #{item}</foreach>)
            </if>
            <if test="isStorehouseLocationEdit != null and isStorehouseLocationEdit != ''">
                and (<foreach collection="isStorehouseLocationEdit.split(';')" item="item" separator="or">
                t.is_storehouse_location_edit = #{item}</foreach>)
            </if>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="sidList != null and sidList.length >0 ">
                and t.sid in
                (<foreach collection="sidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="sid != null ">
                and t.sid =#{sid}
            </if>
            <if test="invDocCategoryCode != null  and invDocCategoryCode != ''">
                and t.inv_doc_category_code = #{invDocCategoryCode}
            </if>
            <if test="movementTypeCode != null  and movementTypeCode != ''">
                and t.movement_type_code = #{movementTypeCode}
            </if>
            <if test="docCategoryCode != null  and docCategoryCode != ''">
                and t.doc_category_code = #{docCategoryCode}
            </if>
            <if test="remark != null and remark!=''">
                and remark like #{remark}
            </if>
            <if test="status != null  and status != ''">
                and (<foreach collection="status.split(';')" item="item" separator="or">t.status like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and (<foreach collection="handleStatus.split(';')" item="item" separator="or">t.handle_status like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t1.nick_name  like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="isClientDefine != null  and isClientDefine != ''">
                and (<foreach collection="isClientDefine.split(';')" item="item" separator="or">t.is_client_define like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="sort != null ">
                and t.sort =#{sort}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
        order by t.sort asc, t2.name asc
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_con_in_out_stock_doc_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            sid,
            inv_doc_category_code,
            movement_type_code,
            doc_category_code,
            is_storehouse_edit,
            is_storehouse_location_edit,
            remark,
            status,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
            is_client_define,
            sort,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.sid},
                #{item.invDocCategoryCode},
                #{item.movementTypeCode},
                #{item.docCategoryCode},
                #{o.isStorehouseEdit},
                #{o.isStorehouseLocationEdit},
                #{item.remark},
                #{item.status},
                #{item.handleStatus},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
                #{item.isClientDefine},
                #{item.sort},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_con_in_out_stock_doc_category
        <trim prefix="SET" suffixOverrides=",">
            inv_doc_category_code = #{invDocCategoryCode},
            movement_type_code = #{movementTypeCode},
            doc_category_code = #{docCategoryCode},
            is_storehouse_edit = #{isStorehouseEdit},
            is_storehouse_location_edit = #{isStorehouseLocationEdit},
            remark = #{remark},
            status = #{status},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
            is_client_define = #{isClientDefine},
            sort = #{sort},
        </trim>
        where sid = #{sid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_con_in_out_stock_doc_category
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                inv_doc_category_code = #{invDocCategoryCode},
                movement_type_code = #{movementTypeCode},
                doc_category_code = #{docCategoryCode},
                is_storehouse_edit = #{isStorehouseEdit},
                is_storehouse_location_edit = #{isStorehouseLocationEdit},
                remark = #{remark},
                status = #{status},
                handle_status = #{handleStatus},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
                is_client_define = #{isClientDefine},
                sort = #{sort},
            </trim>
            where sid = #{sid}
        </foreach>
    </update>

</mapper>
