<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.plug.mapper.ConMainFabricCompositionMapper">

    <resultMap type="com.platform.ems.plug.domain.ConMainFabricComposition" id="ConMainFabricCompositionResult">
        <result property="clientId" column="client_id"/>
        <result property="sid" column="sid"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
    </resultMap>

    <sql id="selectConMainFabricCompositionVo">
        select t.client_id,
               t.sid,
               t.code,
               t.name,
               t.remark,
               t.status,
               t.handle_status,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.confirmer_account,
               t.confirm_date,
               t.data_source_sys,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name,
               t4.nick_name AS confirmer_account_name
        from s_con_main_fabric_composition t
         LEFT JOIN sys_user t2 ON t2.user_name = t.creator_account
         LEFT JOIN sys_user t3 ON t3.user_name = t.updater_account
         LEFT JOIN sys_user t4 ON t4.user_name = t.confirmer_account
    </sql>

    <select id="selectConMainFabricCompositionById" parameterType="Long" resultMap="ConMainFabricCompositionResult">
        <include refid="selectConMainFabricCompositionVo"/>
        where t.sid = #{sid}
    </select>


    <select id="selectConMainFabricCompositionList" parameterType="com.platform.ems.plug.domain.ConMainFabricComposition"
            resultMap="ConMainFabricCompositionResult">
        <include refid="selectConMainFabricCompositionVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="code != null and code != ''">
                and t.code like concat('%', #{code}, '%')
            </if>
            <if test="name != null and name != ''">and
                t.name like concat('%', #{name}, '%')
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="handleStatus != null and handleStatus != ''">
                and t.handle_status = #{handleStatus}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and t.creator_account like concat('%', #{creatorAccount}, '%')
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null and updaterAccount != ''">
                and t.updater_account like concat('%', #{updaterAccount}, '%')
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null and confirmerAccount != ''">
                and t.confirmer_account like concat('%', #{confirmerAccount}, '%')
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_con_main_fabric_composition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            sid,
            code,
            name,
            remark,
            status,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.sid},
                #{item.code},
                #{item.name},
                #{item.remark},
                #{item.status},
                #{item.handleStatus},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_con_main_fabric_composition
        <trim prefix="SET" suffixOverrides=",">
            code = #{code},
            name = #{name},
            remark = #{remark},
            status = #{status},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where sid = #{sid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_con_main_fabric_composition
            <trim prefix="SET" suffixOverrides=",">
                code = #{code},
                name = #{name},
                remark = #{remark},
                status = #{status},
                handle_status = #{handleStatus},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where sid = #{sid}
        </foreach>
    </update>

</mapper>
