<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.ems.mapper.BasDepartmentMapper">
    <resultMap type="com.platform.ems.domain.BasDepartment" id="BasDepartmentResult">
        <result property="clientId" column="client_id"/>
        <result property="departmentSid" column="department_sid"/>
        <result property="departmentCode" column="department_code"/>
        <result property="companySid" column="company_sid"/>
        <result property="departmentName" column="department_name"/>
        <result property="supervisor" column="supervisor"/>
        <result property="level" column="level"/>
        <result property="departmentAid" column="department_aid"/>
        <result property="superiorLeader" column="superior_leader"/>
        <result property="superiorSubLeader" column="superior_sub_leader"/>
        <result property="telephone" column="telephone"/>
        <result property="fax" column="fax"/>
        <result property="email" column="email"/>
        <result property="departmentFunction" column="department_function"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="serialNum" column="serial_num"/>
        <result property="category" column="category"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
        <result property="disableRemark" column="disable_remark"/>
        <result property="companyShortName" column="company_short_name"/>
        <result property="salaryCostAllocateType" column="salary_cost_allocate_type"/>
    </resultMap>

    <select id="selectBasDepartmentById" parameterType="Long" resultMap="BasDepartmentResult">
        <include refid="selectBasDepartmentVo"/>
        where t.department_sid = #{departmentSid}
    </select>

    <select id="selectBasDepartmentList" parameterType="com.platform.ems.domain.BasDepartment"
            resultMap="BasDepartmentResult">
        <include refid="selectBasDepartmentVo"/>
        <where>
            <if test="departmentSid != null ">and t.department_sid in (
                <foreach collection="departmentSid" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="departmentCode != null  and departmentCode != ''">and t.department_code like concat('%',
                #{departmentCode}, '%')
            </if>
            <if test="departmentName != null  and departmentName != ''">and (
                <foreach collection="departmentName.split(';')" item="item" separator="or">t.department_name like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="supervisor != null  and supervisor != ''">and (
                <foreach collection="supervisor.split(';')" item="item" separator="or">t.supervisor like concat('%',
                    #{item}, '%')</foreach>)
            </if>
            <if test="level != null  and level != ''">and (
                <foreach collection="level.split(';')" item="item" separator="or">t.level like concat('%', #{item},
                    '%')</foreach>)
            </if>
            <if test="departmentAid != null  and departmentAid != ''">and (
                <foreach collection="departmentAid.split(';')" item="item" separator="or">t.department_aid like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="superiorLeader != null  and superiorLeader != ''">and (
                <foreach collection="superiorLeader.split(';')" item="item" separator="or">t.superior_leader like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="salaryCostAllocateTypeList != null and salaryCostAllocateTypeList.size > 0">
                t.salary_cost_allocate_type in (
                    <foreach collection="salaryCostAllocateTypeList" item="item" separator=",">
                        #{item}
                    </foreach>
                )
            </if>
            <if test="superiorSubLeader != null  and superiorSubLeader != ''">and (
                <foreach collection="superiorSubLeader.split(';')" item="item" separator="or">t.superior_sub_leader like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="telephone != null  and telephone != ''">and (
                <foreach collection="telephone.split(';')" item="item" separator="or">t.telephone like concat('%',
                    #{item}, '%')</foreach>)
            </if>
            <if test="fax != null  and fax != ''">and (
                <foreach collection="fax.split(';')" item="item" separator="or">t.fax like concat('%', #{item},
                    '%')</foreach>)
            </if>
            <if test="email != null  and email != ''">and (
                <foreach collection="email.split(';')" item="item" separator="or">t.email like concat('%', #{item},
                    '%')</foreach>)
            </if>
            <if test="departmentFunction != null  and departmentFunction != ''">and (
                <foreach collection="departmentFunction.split(';')" item="item" separator="or">t.department_function
                    like concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="status != null  and status != ''">and (
                <foreach collection="status.split(';')" item="item" separator="or">t.status like concat('%', #{item},
                    '%')</foreach>)
            </if>
            <if test="handleStatus != null  and handleStatus != ''">and (
                <foreach collection="handleStatus.split(';')" item="item" separator="or">t.handle_status like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0 ">
                and t.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">and (
                <foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">and date_format(t.create_date,'%y%m%d') &gt;=
                date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">and date_format(t.create_date,'%y%m%d') &lt;=
                date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">and (
                <foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="updateDate != null ">and t.update_date = #{updateDate}</if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">and (
                <foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="confirmDate != null ">and t.confirm_date = #{confirmDate}</if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">and (
                <foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="serialNum != null ">and t.serial_num = #{serialNum}</if>
            <if test="category != null  and category != ''">and (
                <foreach collection="category.split(';')" item="item" separator="or">t.category like concat('%',
                    #{item}, '%')</foreach>)
            </if>
            <if test="companySid !=null and companySid != ''">
                and t.company_sid = #{companySid}
            </if>
            <if test="companySidList != null and companySidList.length >0 ">
                and t.company_sid in
                (<foreach collection="companySidList" item="companySid" separator=",">#{companySid}</foreach>)
            </if>
        </where>
        order by t.create_date desc
    </select>
    <!--添加多个-->
    <insert id="inserts">
        insert into s_bas_department
        <trim prefix="(" suffix=")" suffixOverrides=",">client_id, department_sid, department_code, company_sid,
            department_name, supervisor, level, department_aid, superior_leader, superior_sub_leader, telephone, fax,
            email, department_function, remark, disable_remark, status, handle_status, creator_account, create_date,
            updater_account, update_date, confirmer_account, confirm_date, data_source_sys, serial_num, category,
        </trim>
        <trim prefix="values" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                <trim prefix="(" suffix=")" suffixOverrides=",">
                    #{clientId}, #{departmentSid}, #{departmentCode},
                    #{companySid}, #{departmentName}, #{supervisor}, #{level}, #{departmentAid}, #{superiorLeader},
                    #{superiorSubLeader}, #{telephone}, #{fax}, #{email}, #{departmentFunction}, #{remark},
                    #{disableRemark}, #{status}, #{handleStatus}, #{creatorAccount}, #{createDate}, #{updaterAccount},
                    #{updateDate}, #{confirmerAccount}, #{confirmDate}, #{dataSourceSys}, #{serialNum}, #{category},
                </trim>
            </foreach>
        </trim>
    </insert>
    <!--更新-->
    <update id="updateAllById">
        update s_bas_department
        <trim prefix="SET" suffixOverrides=",">
            department_sid = #{departmentSid},
            department_code = #{departmentCode},
            company_sid = #{companySid},
            department_name = #{departmentName},
            supervisor = #{supervisor},
            level = #{level},
            department_aid = #{departmentAid},
            superior_leader = #{superiorLeader},
            salary_cost_allocate_type = #{salaryCostAllocateType},
            superior_sub_leader = #{superiorSubLeader},
            telephone = #{telephone},
            fax = #{fax},
            email = #{email},
            department_function = #{departmentFunction},
            remark = #{remark},
            disable_remark = #{disableRemark},
            status = #{status},
            handle_status = #{handleStatus},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
            serial_num = #{serialNum},
            category = #{category},
        </trim>
        where department_sid = #{departmentSid}
    </update>
    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
        update s_bas_department
            <trim prefix="SET" suffixOverrides=",">
                department_sid = #{o.departmentSid}, department_code =
                #{o.departmentCode}, company_sid = #{o.companySid}, department_name = #{o.departmentName}, supervisor =
                #{o.supervisor}, level = #{o.level}, department_aid = #{o.departmentAid}, superior_leader = #{o.superiorLeader},
                superior_sub_leader = #{o.superiorSubLeader}, telephone = #{o.telephone}, fax = #{o.fax}, email = #{o.email},
                department_function = #{o.departmentFunction}, remark = #{o.remark}, disable_remark = #{o.disableRemark},
                status = #{o.status}, handle_status = #{o.handleStatus}, creator_account = #{o.creatorAccount}, create_date =
                #{o.createDate}, updater_account = #{o.updaterAccount}, update_date = #{o.updateDate}, confirmer_account =
                #{o.confirmerAccount}, confirm_date = #{o.confirmDate}, data_source_sys = #{o.dataSourceSys}, serial_num =
                #{o.serialNum}, category = #{o.category}, salary_cost_allocate_type = #{o.salaryCostAllocateType}
            </trim>
         where department_sid = #{departmentSid}
        </foreach>
    </update>

    <sql id="selectBasDepartmentVo">
  	SELECT
		t.client_id,
		t.department_sid,
		t.department_code,
		t.company_sid,
		t.department_name,
		t.supervisor,
		t.LEVEL,
		t.department_aid,
		t.superior_leader,
		t.salary_cost_allocate_type,
		t.superior_sub_leader,
		t.telephone,
		t.fax,
		t.email,
		t.department_function,
		t.remark,
		t.disable_remark,
		t.STATUS,
		t.handle_status,
		t.creator_account,
		t.create_date,
		t.updater_account,
		t.update_date,
		t.confirmer_account,
		t.confirm_date,
		t.data_source_sys,
		t.serial_num,
		t.category,
		t2.company_name,
  	    t2.short_name as company_short_name,
        t3.nick_name AS creator_account_name,
        t4.nick_name AS updater_account_name,
  	    t5.nick_name AS confirmer_account_name
	FROM
		s_bas_department t
	LEFT JOIN s_bas_company t2 ON t.company_sid = t2.company_sid
    LEFT JOIN sys_user t3 ON t.creator_account = t3.user_name
    LEFT JOIN sys_user t4 on t.updater_account = t4.user_name
    LEFT JOIN sys_user t5 on t.confirmer_account = t5.user_name
  </sql>

    <select id="getDeptList" parameterType="com.platform.ems.domain.BasDepartment" resultMap="BasDepartmentResult">
        select
        t.department_sid,t.company_sid,t.department_code,t.department_name,t.status,t.handle_status,t.creator_account,t.create_date
        from s_bas_department t
        <where>
            <if test="companySidList != null and companySidList.length >0 ">
                and t.company_sid in
                (<foreach collection="companySidList" item="companySid" separator=",">#{companySid}</foreach>)
            </if>
            <if test="status != null  and status != ''">and (
                <foreach collection="status.split(';')" item="item" separator="or">t.status like concat('%', #{item},
                    '%')</foreach>)
            </if>
            <if test="handleStatus != null  and handleStatus != ''">and (
                <foreach collection="handleStatus.split(';')" item="item" separator="or">t.handle_status like
                    concat('%', #{item}, '%')</foreach>)
            </if>
        </where>
        order by t.department_name ASC
    </select>


</mapper>
