<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.BasGoodsShelfMaterialClassMapper">

    <resultMap type="com.platform.ems.domain.BasGoodsShelfMaterialClass" id="BasGoodsShelfMaterialClassResult">
        <result property="clientId" column="client_id"/>
        <result property="goodsShelfMaterialClassSid" column="goods_shelf_material_class_sid"/>
        <result property="goodsShelfSid" column="goods_shelf_sid"/>
        <result property="goodsShelfCode" column="goods_shelf_code"/>
        <result property="materialClassSid" column="material_class_sid"/>
        <result property="materialClassCode" column="material_class_code"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
    </resultMap>

    <sql id="selectBasGoodsShelfMaterialClassVo">
        select t.client_id,
        t.goods_shelf_material_class_sid,
        t.goods_shelf_sid,
        t.goods_shelf_code,

        t.material_class_sid,
        t.material_class_code,
        t.creator_account,
        t.create_date,
        t.data_source_sys ,
        t1.storehouse_location_sid,
        t2.nick_name AS creator_account_name
        from s_bas_goods_shelf_material_class t
        LEFT JOIN s_bas_goods_shelf t1 ON t.goods_shelf_sid = t1.goods_shelf_sid
        LEFT JOIN sys_user t2 ON t.creator_account = t2.user_name AND t.client_id = t2.client_id
    </sql>

    <select id="selectBasGoodsShelfMaterialClassById" parameterType="Long" resultMap="BasGoodsShelfMaterialClassResult">
        <include refid="selectBasGoodsShelfMaterialClassVo"/>
        where t.goods_shelf_material_class_sid = #{goodsShelfMaterialClassSid}
    </select>

    <select id="selectBasGoodsShelfMaterialClassList" parameterType="com.platform.ems.domain.BasGoodsShelfMaterialClass"
            resultMap="BasGoodsShelfMaterialClassResult">
        <include refid="selectBasGoodsShelfMaterialClassVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="goodsShelfSid != null ">
                and t.goods_shelf_sid = #{goodsShelfSid}
            </if>
            <if test="goodsShelfCode != null and goodsShelfCode != ''">
                and t.goods_shelf_code = #{goodsShelfCode}
            </if>
            <if test="materialClassSid != null ">
                and t.material_class_sid = #{materialClassSid}
            </if>
            <if test="materialClassSidList != null and materialClassSidList.length >0 ">
                and t.material_class_sid in
                (<foreach collection="materialClassSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="storehouseLocationSidList != null and storehouseLocationSidList.length >0 ">
                and t1.storehouse_location_sid in
                (<foreach collection="storehouseLocationSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="materialClassCode != null and materialClassCode != ''">
                and t.material_class_code = #{materialClassCode}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and t.creator_account = #{creatorAccount}
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_bas_goods_shelf_material_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            goods_shelf_material_class_sid,
            goods_shelf_sid,
            goods_shelf_code,
            material_class_sid,
            material_class_code,
            creator_account,
            create_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.goodsShelfSid},
                #{item.goodsShelfCode},
                #{item.materialClassSid},
                #{item.materialClassCode},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_bas_goods_shelf_material_class
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            goods_shelf_sid = #{goodsShelfSid},
            goods_shelf_code = #{goodsShelfCode},
            material_class_sid = #{materialClassSid},
            material_class_code = #{materialClassCode},
        </trim>
        where goods_shelf_material_class_sid = #{goodsShelfMaterialClassSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_bas_goods_shelf_material_class
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                goods_shelf_sid = #{goodsShelfSid},
                goods_shelf_code = #{goodsShelfCode},
                material_class_sid = #{materialClassSid},
                material_class_code = #{materialClassCode},
            </trim>
            where goods_shelf_material_class_sid = #{goodsShelfMaterialClassSid}
        </foreach>
    </update>

    <resultMap type="com.platform.common.core.domain.entity.ConMaterialClass" id="selectMaterialClassList_ConMaterialClassResult">
        <result property="clientId" column="client_id"/>
        <result property="materialClassSid" column="material_class_sid"/>
        <result property="nodeCode" column="node_code"/>
        <result property="nodeName" column="node_name"/>
        <result property="nodeType" column="node_type"/>
        <result property="level" column="level"/>
        <result property="nodeShortName" column="node_short_name"/>
        <result property="parentCodeSid" column="parent_code_sid"/>
        <result property="materialCategory" column="material_category"/>
        <result property="nodeSort" column="node_sort"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="zipperFlag" column="zipper_flag"/>
        <result property="parentCodeName" column="parent_code_name"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="nodeTypeName" column="node_type_name"/>
    </resultMap>

    <select id="selectMaterialClassList" parameterType="long"
            resultMap="selectMaterialClassList_ConMaterialClassResult">
        SELECT
        t.client_id,
        t.material_class_sid,
        t.node_code,
        t.node_name,
        t.node_type,
        t.LEVEL,
        t.node_short_name,
        t.parent_code_sid,
        t.material_category,
        t.node_sort,
        t.remark,
        t.STATUS,
        t.handle_status,
        tmc.creator_account,
        tmc.create_date,
        t.updater_account,
        t.update_date,
        t.confirmer_account,
        t.confirm_date,
        t.data_source_sys,
        t.zipper_flag,
        t1.node_name AS parent_code_name,
        t1.node_code AS parent_code_code,
        t2.nick_name AS creator_account_name,
        t3.NAME AS node_type_name
        FROM
        s_bas_goods_shelf_material_class tmc
        LEFT JOIN s_con_material_class t ON tmc.material_class_sid = t.material_class_sid
        LEFT JOIN s_con_material_class t1 ON t1.material_class_sid = t.parent_code_sid
        LEFT JOIN sys_user t2 ON t2.user_name = tmc.creator_account
        LEFT JOIN s_con_material_type t3 ON t3.CODE = t.node_type
        WHERE
        tmc.goods_shelf_sid = #{sid}
    </select>

</mapper>
