<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.BasMaterialPackageMapper">

    <resultMap type="com.platform.ems.domain.BasMaterialPackage" id="BasMaterialPackageResult">
        <result property="clientId"    column="client_id"    />
        <result property="materialPackageSid"    column="material_package_sid"    />
        <result property="packageCode"    column="package_code"    />
        <result property="packageName"    column="package_name"    />
        <result property="productSeasonSid"    column="product_season_sid"    />
        <result property="customerSid"    column="customer_sid"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="handleStatus"    column="handle_status"    />
        <result property="creatorAccount"    column="creator_account"    />
        <result property="createDate"    column="create_date"    />
        <result property="updaterAccount"    column="updater_account"    />
        <result property="updateDate"    column="update_date"    />
        <result property="confirmerAccount"    column="confirmer_account"    />
        <result property="confirmDate"    column="confirm_date"    />
        <result property="dataSourceSys"    column="data_source_sys"    />
        <result property="confirmerAccountName" column="confirmer_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="customerBrandName" column="customer_brand_name"/>
        <result property="disableRemark" column="disable_remark"/>
    </resultMap>

    <select id="selectBasMaterialPackageList" parameterType="com.platform.ems.domain.BasMaterialPackage" resultType="com.platform.ems.domain.BasMaterialPackage">
        select t.material_package_sid,
        t.package_code,
        t.company_sid,
        t.package_name,
        t.product_season_sid,
        t.package_category,
        t.customer_sid,
        t.company_brand_sid,
        t.customer_brand_sid,
        t.remark,
        t.disable_remark,
        t.status,
        t.handle_status,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.update_date,
        t.confirmer_account,
        t.confirm_date,
        t1.product_season_name,t2.company_name,
        t3.brand_name as company_brand_name ,
        t4.customer_name,
        ifnull(t4.short_name,t4.customer_name) as customer_short_name,
        t5.brand_name as customer_brand_name,
        t6.nick_name AS creator_account_name,
        t7.nick_name AS updater_account_name,
        t8.nick_name AS confirmer_account_name
        from s_bas_material_package t
        left join s_bas_product_season t1 on t1.product_season_sid=t.product_season_sid
        left join s_bas_company t2 on t2.company_sid =t.company_sid
        left join s_bas_company_brand t3 on t3.company_brand_sid =t.company_brand_sid
        left join s_bas_customer t4 on t4.customer_sid=t.customer_sid
        left join s_bas_customer_brand t5 on t5.customer_brand_sid=t.customer_brand_sid
        LEFT JOIN sys_user t6 ON t.creator_account = t6.user_name
        LEFT JOIN sys_user t7 ON t.updater_account = t7.user_name
        LEFT JOIN sys_user t8 ON t.confirmer_account = t8.user_name
        <where>
            <if test="packageCode != null and packageCode != ''">
                and t.package_code like concat('%', #{packageCode}, '%')
            </if>
            <if test="packageName != null and packageName != ''">
            and (<foreach collection="packageName.split(';')" item="packageName" separator="or"> 
                t.package_name like concat('%', #{packageName}, '%')</foreach>)
            </if>
            <if test="companySid != null">
                and t.company_sid = #{companySid}
            </if>
            <if test="companyBrandSid != null">
                and t.company_brand_sid = #{companyBrandSid}
            </if>
            <if test="customerSid != null">
                and t.customer_sid = #{customerSid}
            </if>
            <if test="customerBrandSid != null">
                and t.customer_brand_sid = #{customerBrandSid}
            </if>
            <if test="customerSidList != null and customerSidList.length >0">
                and t.customer_sid in (<foreach collection="customerSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="productSeasonSid != null">
                and t.product_season_sid = #{productSeasonSid}
            </if>
            <if test="productSeasonSidList != null and productSeasonSidList.length >0">
                and t.product_season_sid in (<foreach collection="productSeasonSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="status != null and status != ''">
                and t.status = #{status}
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0 ">
                and t.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="handleStatus != null and handleStatus != ''">
                and t.handle_status = #{handleStatus}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">
                    t6.nick_name like concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="createDateStart != null and createDateStart != ''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{createDateStart},'%y%m%d')
            </if>
            <if test="createDateEnd != null and createDateEnd != ''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{createDateEnd},'%y%m%d')
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
        </where> order by t.create_date desc
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_bas_material_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            material_package_sid,
            package_code,
            package_name,
            product_season_sid,
            brand,
            customer_sid,
            customer_brand,
            remark,
            disable_remark,
            status,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{clientId},
                #{materialPackageSid},
                #{packageCode},
                #{packageName},
                #{productSeasonSid},
                #{brand},
                #{customerSid},
                #{customerBrand},
                #{remark},
                #{disableRemark},
                #{status},
                #{handleStatus},
                #{creatorAccount},
                #{createDate},
                #{updaterAccount},
                #{updateDate},
                #{confirmerAccount},
                #{confirmDate},
                #{dataSourceSys},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_bas_material_package
        <trim prefix="SET" suffixOverrides=",">
            material_package_sid = #{materialPackageSid},
            package_code = #{packageCode},
            package_name = #{packageName},
            product_season_sid = #{productSeasonSid},
            company_brand_sid = #{companyBrandSid},
            customer_sid = #{customerSid},
            customer_brand_sid = #{customerBrandSid},
            company_sid=#{companySid},
            remark = #{remark},
            disable_remark = #{disableRemark},
            status = #{status},
            handle_status = #{handleStatus},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where material_package_sid = #{materialPackageSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_bas_material_package
            <trim prefix="SET" suffixOverrides=",">
                material_package_sid = #{materialPackageSid},
                package_code = #{packageCode},
                package_name = #{packageName},
                product_season_sid = #{productSeasonSid},
                package_category=#{packageCategory}
                customer_sid = #{customerSid},
                customer_brand = #{customerBrand},
                remark = #{remark},
                disable_remark = #{disableRemark},
                status = #{status},
                handle_status = #{handleStatus},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where material_package_sid = #{materialPackageSid}
        </foreach>
    </update>

    <select id="getMaterialPackageList" parameterType="com.platform.ems.domain.BasMaterialPackage" resultType="com.platform.ems.domain.BasMaterialPackage">
		SELECT
			material_package_sid,
			package_name,
			STATUS,
			handle_status
		FROM
			s_bas_material_package
	</select>

    <sql id="selectBasMaterialPackageVo">
        select t.client_id, t.material_package_sid, t.package_code, t.package_name, t.product_season_sid, t.company_brand_sid,
               t.customer_sid, t.customer_brand_sid, t.remark, t.disable_remark, t.status, t.handle_status, t.creator_account, t.create_date,
               t.updater_account, t.update_date, t.confirmer_account, t.confirm_date, t.data_source_sys,
        t2.nick_name AS creator_account_name, t3.nick_name AS updater_account_name, t4.nick_name AS confirmer_account_name,
        t5.product_season_name, t6.company_name, t7.brand_name as company_brand_name, t8.customer_name, t9.brand_name as customer_brand_name
        from s_bas_material_package t
        LEFT JOIN sys_user t2 ON t.creator_account = t2.user_name
        LEFT JOIN sys_user t3 ON t.updater_account = t3.user_name
        LEFT JOIN sys_user t4 ON t.confirmer_account = t4.user_name
        left join s_bas_product_season t5 on t.product_season_sid = t5.product_season_sid
        left join s_bas_company t6 on t.company_sid = t6.company_sid
        left join s_bas_company_brand t7 on t.company_brand_sid = t7.company_brand_sid
        left join s_bas_customer t8 on t.customer_sid = t8.customer_sid
        left join s_bas_customer_brand t9 on t.customer_brand_sid = t9.customer_brand_sid
    </sql>

    <select id="selectBasMaterialPackageById" parameterType="Long" resultMap="BasMaterialPackageResult">
        <include refid="selectBasMaterialPackageVo"/>
        where t.material_package_sid = #{materialPackageSid}
    </select>


</mapper>
