<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.BasPlantAddrMapper">

    <resultMap type="com.platform.ems.domain.BasPlantAddr" id="BasPlantAddrResult">
        <result property="clientId" column="client_id"/>
        <result property="plantContactSid" column="plant_contact_sid"/>
        <result property="plantSid" column="plant_sid"/>
        <result property="contactInforCode" column="contact_infor_code"/>
        <result property="contacterName" column="contacter_name"/>
        <result property="contacterPosition" column="contacter_position"/>
        <result property="contacterMobphone" column="contacter_mobphone"/>
        <result property="contacterTelephone" column="contacter_telephone"/>
        <result property="contacterFax" column="contacter_fax"/>
        <result property="contacterEmail" column="contacter_email"/>
        <result property="contacterAddress" column="contacter_address"/>
        <result property="contacterDepartment" column="contacter_department"/>
        <result property="businessType" column="business_type"/>
        <result property="isDefault" column="is_default"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
    </resultMap>

    <sql id="selectBasPlantAddrVo">
        select t.client_id, t.plant_contact_sid, t.plant_sid, t.contact_infor_code, t.contacter_name, t.contacter_position, t.contacter_mobphone, t.contacter_telephone, t.contacter_fax, t.contacter_email, t.contacter_address, t.contacter_department, t.business_type, t.is_default, t.remark, t.creator_account, t.create_date, t.updater_account, t.update_date, t.data_source_sys from s_bas_plant_addr t
    </sql>

    <select id="selectBasPlantAddrById" parameterType="Long" resultMap="BasPlantAddrResult">
        <include refid="selectBasPlantAddrVo"/>
        where t.plant_contact_sid = #{plantContactSid}
    </select>


    <select id="selectBasPlantAddrList" parameterType="com.platform.ems.domain.BasPlantAddr"
            resultMap="BasPlantAddrResult">
        <include refid="selectBasPlantAddrVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                <foreach collection="clientId.split(';')" item="item">or t.client_id like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="plantSid != null ">
                and t.plant_sid = #{plantSid}
            </if>
            <if test="contacterName != null  and contacterName != ''">and
                t.contacter_name like concat('%', #{contacterName}, '%')
            </if>
            <if test="contacterPosition != null  and contacterPosition != ''">
                <foreach collection="contacterPosition.split(';')" item="item">or t.contacter_position like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="contacterMobphone != null  and contacterMobphone != ''">
                <foreach collection="contacterMobphone.split(';')" item="item">or t.contacter_mobphone like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="contacterTelephone != null  and contacterTelephone != ''">
                <foreach collection="contacterTelephone.split(';')" item="item">or t.contacter_telephone like
                    concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="contacterFax != null  and contacterFax != ''">
                <foreach collection="contacterFax.split(';')" item="item">or t.contacter_fax like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="contacterEmail != null  and contacterEmail != ''">
                <foreach collection="contacterEmail.split(';')" item="item">or t.contacter_email like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="contacterAddress != null  and contacterAddress != ''">
                <foreach collection="contacterAddress.split(';')" item="item">or t.contacter_address like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="contacterDepartment != null  and contacterDepartment != ''">
                <foreach collection="contacterDepartment.split(';')" item="item">or t.contacter_department like
                    concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="businessType != null  and businessType != ''">
                <foreach collection="businessType.split(';')" item="item">or t.business_type like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="isDefault != null  and isDefault != ''">
                <foreach collection="isDefault.split(';')" item="item">or t.is_default like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                <foreach collection="creatorAccount.split(';')" item="item">or t.creator_account like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                <foreach collection="updaterAccount.split(';')" item="item">or t.updater_account like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                <foreach collection="dataSourceSys.split(';')" item="item">or t.data_source_sys like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_bas_plant_addr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            plant_contact_sid,
            plant_sid,
            contact_infor_code,
            contacter_name,
            contacter_position,
            contacter_mobphone,
            contacter_telephone,
            contacter_fax,
            contacter_email,
            contacter_address,
            contacter_department,
            business_type,
            is_default,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{clientId},
                #{plantContactSid},
                #{plantSid},
                #{contactInforCode},
                #{contacterName},
                #{contacterPosition},
                #{contacterMobphone},
                #{contacterTelephone},
                #{contacterFax},
                #{contacterEmail},
                #{contacterAddress},
                #{contacterDepartment},
                #{businessType},
                #{isDefault},
                #{remark},
                #{creatorAccount},
                #{createDate},
                #{updaterAccount},
                #{updateDate},
                #{dataSourceSys},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_bas_plant_addr
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            plant_sid = #{plantSid},
            contact_infor_code = #{contactInforCode},
            contacter_name = #{contacterName},
            contacter_position = #{contacterPosition},
            contacter_mobphone = #{contacterMobphone},
            contacter_telephone = #{contacterTelephone},
            contacter_fax = #{contacterFax},
            contacter_email = #{contacterEmail},
            contacter_address = #{contacterAddress},
            contacter_department = #{contacterDepartment},
            business_type = #{businessType},
            is_default = #{isDefault},
            remark = #{remark},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where plant_contact_sid = #{plantContactSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_bas_plant_addr
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                plant_sid = #{plantSid},
                contact_infor_code = #{contactInforCode},
                contacter_name = #{contacterName},
                contacter_position = #{contacterPosition},
                contacter_mobphone = #{contacterMobphone},
                contacter_telephone = #{contacterTelephone},
                contacter_fax = #{contacterFax},
                contacter_email = #{contacterEmail},
                contacter_address = #{contacterAddress},
                contacter_department = #{contacterDepartment},
                business_type = #{businessType},
                is_default = #{isDefault},
                remark = #{remark},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where plant_contact_sid = #{plantContactSid}
        </foreach>
    </update>

    <delete id="deleteBasPlantAddrByIds" parameterType="String">
        delete from s_bas_plant_addr where plant_sid in
        <foreach item="plantSid" collection="array" open="(" separator="," close=")">
            #{plantSid}
        </foreach>
    </delete>

</mapper>