<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.BasSkuGroupItemMapper">

    <resultMap type="com.platform.ems.domain.BasSkuGroupItem" id="BasSkuGroupItemResult">
        <result property="clientId" column="client_id"/>
        <result property="skuGroupItemSid" column="sku_group_item_sid"/>
        <result property="skuGroupSid" column="sku_group_sid"/>
        <result property="skuSid" column="sku_sid"/>
        <result property="sort" column="sort"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="skuCode" column="sku_code"/>
        <result property="skuName" column="sku_name"/>
        <result property="skuType" column="sku_type"/>
        <result property="skuName2" column="sku_name2"/>
        <result property="skuName3" column="sku_name3"/>
        <result property="skuName4" column="sku_name4"/>
        <result property="skuName5" column="sku_name5"/>
        <result property="upDownSuit" column="up_down_suit"/>
        <result property="customerName" column="customer_name"/>
        <result property="skuNumeralValue" column="sku_numeral_value"/>
        <result property="status" column="status"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
    </resultMap>

    <sql id="selectBasSkuGroupItemVo">
       SELECT
	t.client_id,
	t.sku_group_item_sid,
	t.sku_group_sid,
	t.sku_sid,
	t.sort,
	t.remark,
	t.creator_account,
	t.create_date,
	t.updater_account,
	t.update_date,
	t.data_source_sys,
	t1.sku_code,
	t1.sku_name,
	t1.sku_type,
	t1.sku_name2,
	t1.sku_name3,
	t1.sku_name4,
	t1.sku_name5,
    t1.up_down_suit,
	t2.customer_name,
	t1.sku_numeral_value,
	t1.status,
	t3.nick_name AS creator_account_name,
    t4.sku_group_code,
    t4.sku_group_name,
    t5.nick_name AS updater_account_name,
    t6.nick_name AS confirmer_account_name,
    t4.handle_status,
    t1.status AS sku_status
FROM
	s_bas_sku_group_item t
	LEFT JOIN s_bas_sku t1 on t1.sku_sid=t.sku_sid
	LEFT JOIN s_bas_customer t2 on t2.customer_sid=t1.customer_sid
	LEFT JOIN sys_user t3 ON t.creator_account = t3.user_name
    LEFT JOIN s_bas_sku_group t4 ON t.sku_group_sid = t4.sku_group_sid
    LEFT JOIN sys_user t5 ON t1.updater_account = t5.user_name
    LEFT JOIN sys_user t6 ON t4.confirmer_account = t6.user_name
    </sql>

    <select id="selectBasSkuGroupItemById" parameterType="Long" resultMap="BasSkuGroupItemResult">
        <include refid="selectBasSkuGroupItemVo"/>
        where t.sku_group_item_sid = #{skuGroupItemSid}
    </select>

    <resultMap type="com.platform.ems.domain.BasSkuGroupItem" id="DetailResult">
        <result property="skuGroupItemSid" column="sku_group_item_sid"/>
        <result property="skuGroupSid" column="sku_group_sid"/>
        <result property="skuSid" column="sku_sid"/>
        <result property="sort" column="sort"/>
        <result property="remark" column="remark"/>
        <result property="skuCode" column="sku_code"/>
        <result property="skuName" column="sku_name"/>
        <result property="skuName2" column="sku_name2"/>
        <result property="skuName3" column="sku_name3"/>
        <result property="skuName4" column="sku_name4"/>
        <result property="skuName5" column="sku_name5"/>
        <result property="skuNumeralValue" column="sku_numeral_value"/>
        <result property="skuType" column="sku_type"/>
        <result property="skuStatus" column="skuStatus"/>
        <result property="handleStatus" column="handle_status"/>
    </resultMap>

    <select id="getDetail" parameterType="Long" resultMap="DetailResult">
        SELECT
            t.sku_group_item_sid,
            t.sku_sid,
            t.sort,
            t1.sku_code,
            t1.sku_name,
            t1.sku_name2,
            t1.sku_name3,
            t1.sku_name4,
            t1.sku_name5,
            t1.sku_numeral_value,
            t1.sku_type,
            t1.status AS status,
            t1.handle_status
        FROM
            s_bas_sku_group_item t
            LEFT JOIN s_bas_sku t1 ON t1.sku_sid = t.sku_sid
                where t.sku_group_sid = #{skuGroupSid} and t1.status = '1' and t1.handle_status = '5' order by sku_name asc
    </select>


    <select id="selectBasSkuGroupItemList" parameterType="com.platform.ems.domain.BasSkuGroupItem"
            resultMap="BasSkuGroupItemResult">
        <include refid="selectBasSkuGroupItemVo"/>
        <where>
            <if test="skuCode != null and skuCode != ''">
                and (<foreach collection="skuCode.split(';')" item="item" separator="or">t1.sku_code like concat('%', #{item}, '%') </foreach>)
            </if>
            <if test="skuName != null and skuName != ''">
                and (<foreach collection="skuName.split(';')" item="item" separator="or">t1.sku_name like concat('%', #{item}, '%') </foreach>)
            </if>
            <if test="skuType != null and skuType != ''">
                and (<foreach collection="skuType.split(';')" item="item" separator="or">t1.sku_type = #{skuType} </foreach>)
            </if>
            <if test="skuTypeList != null and skuTypeList.length != 0">
                and t1.sku_type in
                (<foreach collection="skuTypeList" item="skuType" separator=",">#{skuType}</foreach>)
            </if>
            <if test="skuStatus != null and skuStatus != ''">
                and t1.status = #{skuStatus}
            </if>
            <if test="status != null and status != ''">
                and (<foreach collection="status.split(';')" item="item" separator="or">t1.status = #{status} </foreach>)
            </if>
            <if test="statusList != null and statusList.length != 0">
                and t4.status in
                (<foreach collection="statusList" item="status" separator=",">#{status}</foreach>)
            </if>
            <if test="handleStatus != null and handleStatus != ''">
                and (<foreach collection="handleStatus.split(';')" item="item" separator="or">t4.handle_status = #{handleStatus}</foreach>)
            </if>
            <if test="handleStatusList != null and handleStatusList.length != 0">
                and t4.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="skuGroupCode != null and skuGroupCode != ''">
                and (<foreach collection="skuGroupCode.split(';')" item="item" separator="or">t4.sku_group_code like concat('%', #{item}, '%') </foreach>)
            </if>
            <if test="skuGroupName != null and skuGroupName != ''">
                and (<foreach collection="skuGroupName.split(';')" item="item" separator="or">t4.sku_group_name like concat('%', #{item}, '%') </foreach>)
            </if>
            <if test="upDownSuit != null and upDownSuit != ''">
                and (<foreach collection="upDownSuit.split(';')" item="item" separator="or">t1.up_down_suit = #{upDownSuit} </foreach>)
            </if>
            <if test="upDownSuitList != null and upDownSuitList.length != 0">
                and t1.up_down_suit in
                (<foreach collection="upDownSuitList" item="upDownSuit" separator=",">#{upDownSuit}</foreach>)
            </if>
            <if test="customerSid != null and customerSid != ''">
                and (<foreach collection="customerSid.split(';')" item="item" separator="or">t1.customer_sid = #{customerSid} </foreach>)
            </if>
            <if test="customerSidList != null and customerSidList.length != 0">
                and t1.customer_sid in
                (<foreach collection="customerSidList" item="customerSid" separator=",">#{customerSid}</foreach>)
            </if>
            <if test="skuGroupSid != null">
                and t.sku_group_sid = #{skuGroupSid}
            </if>
            <if test="skuGroupItemSid != null  and skuGroupItemSid != ''">
                and t.sku_group_item_sid = #{skuGroupItemSid}
            </if>
            <if test="skuGroupItemSidList != null and skuGroupItemSidList.length != 0">
                and t.sku_group_item_sid in
                (<foreach collection="skuGroupItemSidList" item="skuGroupItemSid" separator=",">#{skuGroupItemSid}</foreach>)
            </if>
            <if test="skuSid != null  and skuSid != ''">
                and (<foreach collection="skuSid.split(';')" item="item" separator="or">t.sku_sid like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="sort != null ">
                and t.sort = #{sort}
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                <foreach collection="creatorAccount.split(';')" item="item">and t3.nick_name like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                <foreach collection="updaterAccount.split(';')" item="item">or t.updater_account like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                <foreach collection="dataSourceSys.split(';')" item="item">or t.data_source_sys like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
        </where> order by t.create_date desc
        <!--报表用降序-->
    </select>

    <select id="selectBasSkuGroupItemListByNameSort" parameterType="com.platform.ems.domain.BasSkuGroupItem"
            resultMap="BasSkuGroupItemResult">
        <include refid="selectBasSkuGroupItemVo"/>
        <where>
            <if test="skuCode != null and skuCode != ''">
                and (<foreach collection="skuCode.split(';')" item="item" separator="or">t1.sku_code like concat('%', #{item}, '%') </foreach>)
            </if>
            <if test="skuName != null and skuName != ''">
                and (<foreach collection="skuName.split(';')" item="item" separator="or">t1.sku_name like concat('%', #{item}, '%') </foreach>)
            </if>
            <if test="skuType != null and skuType != ''">
                and (<foreach collection="skuType.split(';')" item="item" separator="or">t1.sku_type = #{skuType} </foreach>)
            </if>
            <if test="skuTypeList != null and skuTypeList.length != 0">
                and t1.sku_type in
                (<foreach collection="skuTypeList" item="skuType" separator=",">#{skuType}</foreach>)
            </if>
            <if test="status != null and status != ''">
                and (<foreach collection="status.split(';')" item="item" separator="or">t4.status = #{status} </foreach>)
            </if>
            <if test="statusList != null and statusList.length != 0">
                and t4.status in
                (<foreach collection="statusList" item="status" separator=",">#{status}</foreach>)
            </if>
            <if test="handleStatus != null and handleStatus != ''">
                and (<foreach collection="handleStatus.split(';')" item="item" separator="or">t4.handle_status = #{handleStatus}</foreach>)
            </if>
            <if test="handleStatusList != null and handleStatusList.length != 0">
                and t4.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="skuGroupCode != null and skuGroupCode != ''">
                and (<foreach collection="skuGroupCode.split(';')" item="item" separator="or">t4.sku_group_code like concat('%', #{item}, '%') </foreach>)
            </if>
            <if test="skuGroupName != null and skuGroupName != ''">
                and (<foreach collection="skuGroupName.split(';')" item="item" separator="or">t4.sku_group_name like concat('%', #{item}, '%') </foreach>)
            </if>
            <if test="upDownSuit != null and upDownSuit != ''">
                and (<foreach collection="upDownSuit.split(';')" item="item" separator="or">t1.up_down_suit = #{upDownSuit} </foreach>)
            </if>
            <if test="upDownSuitList != null and upDownSuitList.length != 0">
                and t1.up_down_suit in
                (<foreach collection="upDownSuitList" item="upDownSuit" separator=",">#{upDownSuit}</foreach>)
            </if>
            <if test="customerSid != null and customerSid != ''">
                and (<foreach collection="customerSid.split(';')" item="item" separator="or">t1.customer_sid = #{customerSid} </foreach>)
            </if>
            <if test="customerSidList != null and customerSidList.length != 0">
                and t1.customer_sid in
                (<foreach collection="customerSidList" item="customerSid" separator=",">#{customerSid}</foreach>)
            </if>
            <if test="skuGroupSid != null">
                and t.sku_group_sid = #{skuGroupSid}
            </if>
            <if test="skuGroupItemSid != null  and skuGroupItemSid != ''">
                and t.sku_group_item_sid = #{skuGroupItemSid}
            </if>
            <if test="skuSid != null  and skuSid != ''">
                and (<foreach collection="skuSid.split(';')" item="item" separator="or">t.sku_sid like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="sort != null ">
                and t.sort = #{sort}
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                <foreach collection="creatorAccount.split(';')" item="item">and t3.nick_name like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                <foreach collection="updaterAccount.split(';')" item="item">or t.updater_account like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                <foreach collection="dataSourceSys.split(';')" item="item">or t.data_source_sys like concat('%',
                    #{item}, '%')
                </foreach>
            </if>
        </where> ORDER BY t1.sku_name*1 ASC
        <!--报表用降序-->
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_bas_sku_group_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            sku_group_item_sid,
            sku_group_sid,
            sku_sid,
            sort,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{clientId},
                #{skuGroupItemSid},
                #{skuGroupSid},
                #{skuSid},
                #{sort},
                #{remark},
                #{creatorAccount},
                #{createDate},
                #{updaterAccount},
                #{updateDate},
                #{dataSourceSys},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_bas_sku_group_item
        <trim prefix="SET" suffixOverrides=",">
            sku_group_item_sid = #{skuGroupItemSid},
            sku_group_sid = #{skuGroupSid},
            sku_sid = #{skuSid},
            sort = #{sort},
            remark = #{remark},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where sku_group_item_sid = #{skuGroupItemSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_bas_sku_group_item
            <trim prefix="SET" suffixOverrides=",">
                sku_group_item_sid = #{skuGroupItemSid},
                sku_group_sid = #{skuGroupSid},
                sku_sid = #{skuSid},
                sort = #{sort},
                remark = #{remark},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where sku_group_item_sid = #{skuGroupItemSid}
        </foreach>
    </update>

</mapper>
