<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.BasVendorRecommendMapper">

    <resultMap type="com.platform.ems.domain.BasVendorRecommend" id="BasVendorRecommendResult">
        <result property="clientId" column="client_id"/>
        <result property="vendorRecommendSid" column="vendor_recommend_sid"/>
        <result property="vendorRecommendNum" column="vendor_recommend_num"/>
        <result property="vendorName" column="vendor_name"/>
        <result property="shortName" column="short_name"/>
        <result property="industryCode" column="industry_code"/>
        <result property="vendorCategory" column="vendor_category"/>
        <result property="vendorType" column="vendor_type"/>
        <result property="businessNature" column="business_nature"/>
        <result property="vendorProperty" column="vendor_property"/>
        <result property="coreProduct" column="core_product"/>
        <result property="ownerName" column="owner_name"/>
        <result property="creditCode" column="credit_code"/>
        <result property="registerDate" column="register_date"/>
        <result property="registerCapital" column="register_capital"/>
        <result property="registerCapitalCurrency" column="register_capital_currency"/>
        <result property="countryRegion" column="country_region"/>
        <result property="onMarket" column="on_market"/>
        <result property="withTestlab" column="with_testlab"/>
        <result property="technicalGrade" column="technical_grade"/>
        <result property="managementClass" column="management_class"/>
        <result property="fixedAssetValue" column="fixed_asset_value"/>
        <result property="fixedAssetValueCurrency" column="fixed_asset_value_currency"/>
        <result property="equipmentAssetValue" column="equipment_asset_value"/>
        <result property="equipmentAssetCurrency" column="equipment_asset_currency"/>
        <result property="referrer" column="referrer"/>
        <result property="referrerTel" column="referrer_tel"/>
        <result property="creditStartDate" column="credit_start_date"/>
        <result property="creditEndDate" column="credit_end_date"/>
        <result property="internetUrl" column="internet_url"/>
        <result property="taxpayerIdentifyNumber" column="taxpayer_identify_number"/>
        <result property="invoiceTel" column="invoice_tel"/>
        <result property="invoiceAddr" column="invoice_addr"/>
        <result property="registerAddr" column="register_addr"/>
        <result property="businessAddr" column="business_addr"/>
        <result property="businessScope" column="business_scope"/>
        <result property="picturePath" column="picture_path"/>
        <result property="buOperator" column="bu_operator"/>
        <result property="buOperatorVendor" column="bu_operator_vendor"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
        <result property="outputValue" column="output_value"/>
        <result property="outputValueCurrency" column="output_value_currency"/>
        <result property="outputValueYear" column="output_value_year"/>
    </resultMap>

    <sql id="selectBasVendorRecommendVo">
        select t.client_id,
               t.vendor_recommend_sid,
               t.vendor_recommend_num,
               t.vendor_name,
               t.short_name,
               t.industry_code,
               t.vendor_category,
               t.vendor_type,
               t.business_nature,
               t.vendor_property,
               t.core_product,
               t.owner_name,
               t.credit_code,
               t.register_date,
               t.register_capital,
               t.register_capital_currency,
               t.country_region,
               t.on_market,
               t.with_testlab,
               t.technical_grade,
               t.management_class,
               t.fixed_asset_value,
               t.fixed_asset_value_currency,
               t.equipment_asset_value,
               t.equipment_asset_currency,
               t.output_value,t.output_value_currency,t.output_value_year,
               t.referrer,
               t.referrer_tel,
               t.credit_start_date,
               t.credit_end_date,
               t.internet_url,
               t.taxpayer_identify_number,
               t.invoice_tel,
               t.invoice_addr,
               t.register_addr,
               t.business_addr,
               t.business_scope,
               t.picture_path,
               t.bu_operator,
               t.bu_operator_vendor,
               t.remark,
               t.handle_status,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.confirmer_account,
               t.confirm_date,
               t.data_source_sys,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name,
               t4.nick_name AS confirmer_account_name
        from s_bas_vendor_recommend t
                 LEFT JOIN sys_user t2 ON t2.user_name = t.creator_account
                 LEFT JOIN sys_user t3 ON t3.user_name = t.updater_account
                 LEFT JOIN sys_user t4 ON t4.user_name = t.confirmer_account
    </sql>

    <select id="selectBasVendorRecommendById" parameterType="Long" resultMap="BasVendorRecommendResult">
        <include refid="selectBasVendorRecommendVo"/>
        where t.vendor_recommend_sid = #{vendorRecommendSid}
    </select>


    <select id="selectBasVendorRecommendList" parameterType="com.platform.ems.domain.BasVendorRecommend"
            resultMap="BasVendorRecommendResult">
        <include refid="selectBasVendorRecommendVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="vendorRecommendNum != null">and
                t.vendor_recommend_num like concat('%', #{vendorRecommendNum}, '%')
            </if>
            <if test="vendorName != null  and vendorName != ''">and
                t.vendor_name like concat('%', #{vendorName}, '%')
            </if>
            <if test="shortName != null  and shortName != ''">and
                t.short_name like concat('%', #{shortName}, '%')
            </if>
            <if test="industryCode != null  and industryCode != ''">
                and (<foreach collection="industryCode.split(';')" item="item" separator="or">t.industry_code
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="vendorCategory != null  and vendorCategory != ''">
                and (<foreach collection="vendorCategory.split(';')" item="item" separator="or">t.vendor_category
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="vendorType != null  and vendorType != ''">
                and (<foreach collection="vendorType.split(';')" item="item" separator="or">t.vendor_type
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="businessNature != null  and businessNature != ''">
                and (<foreach collection="businessNature.split(';')" item="item" separator="or">t.business_nature
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="vendorProperty != null  and vendorProperty != ''">
                and (<foreach collection="vendorProperty.split(';')" item="item" separator="or">t.vendor_property
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="coreProduct != null  and coreProduct != ''">
                and (<foreach collection="coreProduct.split(';')" item="item" separator="or">t.core_product
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="ownerName != null  and ownerName != ''">and
                t.owner_name like concat('%', #{ownerName}, '%')
            </if>
            <if test="creditCode != null  and creditCode != ''">
                and (<foreach collection="creditCode.split(';')" item="item" separator="or">t.credit_code
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="registerDate != null ">
                and t.register_date = #{registerDate}
            </if>
            <if test="registerCapital != null ">
                and t.register_capital = #{registerCapital}
            </if>
            <if test="registerCapitalCurrency != null  and registerCapitalCurrency != ''">
                and (<foreach collection="registerCapitalCurrency.split(';')" item="item" separator="or">
                t.register_capital_currency
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="countryRegion != null ">
                and t.country_region =#{countryRegion}
            </if>
            <if test="onMarket != null  and onMarket != ''">
                and (<foreach collection="onMarket.split(';')" item="item" separator="or">t.on_market
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="withTestlab != null  and withTestlab != ''">
                and (<foreach collection="withTestlab.split(';')" item="item" separator="or">t.with_testlab
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="technicalGrade != null  and technicalGrade != ''">
                and (<foreach collection="technicalGrade.split(';')" item="item" separator="or">t.technical_grade
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="managementClass != null  and managementClass != ''">
                and (<foreach collection="managementClass.split(';')" item="item" separator="or">t.management_class
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="fixedAssetValue != null ">
                and t.fixed_asset_value = #{fixedAssetValue}
            </if>
            <if test="fixedAssetValueCurrency != null  and fixedAssetValueCurrency != ''">
                and (<foreach collection="fixedAssetValueCurrency.split(';')" item="item" separator="or">
                t.fixed_asset_value_currency
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="equipmentAssetValue != null ">
                and t.equipment_asset_value = #{equipmentAssetValue}
            </if>
            <if test="equipmentAssetCurrency != null  and equipmentAssetCurrency != ''">
                and (<foreach collection="equipmentAssetCurrency.split(';')" item="item" separator="or">
                t.equipment_asset_currency
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="referrer != null  and referrer != ''">
                and (<foreach collection="referrer.split(';')" item="item" separator="or">t.referrer
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="referrerTel != null  and referrerTel != ''">
                and (<foreach collection="referrerTel.split(';')" item="item" separator="or">t.referrer_tel
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="creditStartDate != null ">
                and t.credit_start_date = #{creditStartDate}
            </if>
            <if test="creditEndDate != null ">
                and t.credit_end_date = #{creditEndDate}
            </if>
            <if test="internetUrl != null  and internetUrl != ''">
                and (<foreach collection="internetUrl.split(';')" item="item" separator="or">t.internet_url
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="taxpayerIdentifyNumber != null  and taxpayerIdentifyNumber != ''">
                and (<foreach collection="taxpayerIdentifyNumber.split(';')" item="item" separator="or">
                t.taxpayer_identify_number
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="invoiceTel != null  and invoiceTel != ''">
                and (<foreach collection="invoiceTel.split(';')" item="item" separator="or">t.invoice_tel
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="invoiceAddr != null  and invoiceAddr != ''">
                and (<foreach collection="invoiceAddr.split(';')" item="item" separator="or">t.invoice_addr
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="registerAddr != null  and registerAddr != ''">
                and (<foreach collection="registerAddr.split(';')" item="item" separator="or">t.register_addr
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="businessAddr != null  and businessAddr != ''">
                and (<foreach collection="businessAddr.split(';')" item="item" separator="or">t.business_addr
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="businessScope != null  and businessScope != ''">
                and (<foreach collection="businessScope.split(';')" item="item" separator="or">t.business_scope
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="picturePath != null  and picturePath != ''">
                and (<foreach collection="picturePath.split(';')" item="item" separator="or">t.picture_path
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="buOperator != null  and buOperator != ''">
                and (<foreach collection="buOperator.split(';')" item="item" separator="or">t.bu_operator
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="buOperatorVendor != null  and buOperatorVendor != ''">
                and (<foreach collection="buOperatorVendor.split(';')" item="item" separator="or">t.bu_operator_vendor
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and (<foreach collection="handleStatus.split(';')" item="item" separator="or">t.handle_status
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t2.nick_name
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where> order by t.create_date desc
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_bas_vendor_recommend
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            vendor_recommend_sid,
            vendor_recommend_num,
            vendor_name,
            short_name,
            industry_code,
            vendor_category,
            vendor_type,
            business_nature,
            vendor_property,
            core_product,
            owner_name,
            credit_code,
            register_date,
            register_capital,
            register_capital_currency,
            country_region,
            on_market,
            with_testlab,
            technical_grade,
            management_class,
            fixed_asset_value,
            fixed_asset_value_currency,
            equipment_asset_value,
            equipment_asset_currency,
            output_value,
            output_value_currency,
            output_value_year,
            referrer,
            referrer_tel,
            credit_start_date,
            credit_end_date,
            internet_url,
            taxpayer_identify_number,
            invoice_tel,
            invoice_addr,
            register_addr,
            business_addr,
            business_scope,
            picture_path,
            bu_operator,
            bu_operator_vendor,
            remark,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.vendorRecommendNum},
                #{item.vendorName},
                #{item.shortName},
                #{item.industryCode},
                #{item.vendorCategory},
                #{item.vendorType},
                #{item.businessNature},
                #{item.vendorProperty},
                #{item.coreProduct},
                #{item.ownerName},
                #{item.creditCode},
                #{item.registerDate},
                #{item.registerCapital},
                #{item.registerCapitalCurrency},
                #{item.countryRegion},
                #{item.onMarket},
                #{item.withTestlab},
                #{item.technicalGrade},
                #{item.managementClass},
                #{item.fixedAssetValue},
                #{item.fixedAssetValueCurrency},
                #{item.equipmentAssetValue},
                #{item.equipmentAssetCurrency},
                #{item.outputValue},
                #{item.outputValueCurrency},
                #{item.outputValueYear},
                #{item.referrer},
                #{item.referrerTel},
                #{item.creditStartDate},
                #{item.creditEndDate},
                #{item.internetUrl},
                #{item.taxpayerIdentifyNumber},
                #{item.invoiceTel},
                #{item.invoiceAddr},
                #{item.registerAddr},
                #{item.businessAddr},
                #{item.businessScope},
                #{item.picturePath},
                #{item.buOperator},
                #{item.buOperatorVendor},
                #{item.remark},
                #{item.handleStatus},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_bas_vendor_recommend
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            vendor_recommend_sid = #{vendorRecommendSid},
            vendor_recommend_num = #{vendorRecommendNum},
            vendor_name = #{vendorName},
            short_name = #{shortName},
            industry_code = #{industryCode},
            vendor_category = #{vendorCategory},
            vendor_type = #{vendorType},
            business_nature = #{businessNature},
            vendor_property = #{vendorProperty},
            core_product = #{coreProduct},
            owner_name = #{ownerName},
            credit_code = #{creditCode},
            register_date = #{registerDate},
            register_capital = #{registerCapital},
            register_capital_currency = #{registerCapitalCurrency},
            country_region = #{countryRegion},
            on_market = #{onMarket},
            with_testlab = #{withTestlab},
            technical_grade = #{technicalGrade},
            management_class = #{managementClass},
            fixed_asset_value = #{fixedAssetValue},
            fixed_asset_value_currency = #{fixedAssetValueCurrency},
            equipment_asset_value = #{equipmentAssetValue},
            equipment_asset_currency = #{equipmentAssetCurrency},
            output_value = #{outputValue},
            output_value_currency = #{outputValueCurrency},
            output_value_year = #{outputValueYear},
            referrer = #{referrer},
            referrer_tel = #{referrerTel},
            credit_start_date = #{creditStartDate},
            credit_end_date = #{creditEndDate},
            internet_url = #{internetUrl},
            taxpayer_identify_number = #{taxpayerIdentifyNumber},
            invoice_tel = #{invoiceTel},
            invoice_addr = #{invoiceAddr},
            register_addr = #{registerAddr},
            business_addr = #{businessAddr},
            business_scope = #{businessScope},
            picture_path = #{picturePath},
            bu_operator = #{buOperator},
            bu_operator_vendor = #{buOperatorVendor},
            remark = #{remark},
            handle_status = #{handleStatus},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where vendor_recommend_sid = #{vendorRecommendSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_bas_vendor_recommend
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                vendor_recommend_sid = #{vendorRecommendSid},
                vendor_recommend_num = #{vendorRecommendNum},
                vendor_name = #{vendorName},
                short_name = #{shortName},
                industry_code = #{industryCode},
                vendor_category = #{vendorCategory},
                vendor_type = #{vendorType},
                business_nature = #{businessNature},
                vendor_property = #{vendorProperty},
                core_product = #{coreProduct},
                owner_name = #{ownerName},
                credit_code = #{creditCode},
                register_date = #{registerDate},
                register_capital = #{registerCapital},
                register_capital_currency = #{registerCapitalCurrency},
                country_region = #{countryRegion},
                on_market = #{onMarket},
                with_testlab = #{withTestlab},
                technical_grade = #{technicalGrade},
                management_class = #{managementClass},
                fixed_asset_value = #{fixedAssetValue},
                fixed_asset_value_currency = #{fixedAssetValueCurrency},
                equipment_asset_value = #{equipmentAssetValue},
                equipment_asset_currency = #{equipmentAssetCurrency},
                output_value = #{outputValue},
                output_value_currency = #{outputValueCurrency},
                output_value_year = #{outputValueYear},
                referrer = #{referrer},
                referrer_tel = #{referrerTel},
                credit_start_date = #{creditStartDate},
                credit_end_date = #{creditEndDate},
                internet_url = #{internetUrl},
                taxpayer_identify_number = #{taxpayerIdentifyNumber},
                invoice_tel = #{invoiceTel},
                invoice_addr = #{invoiceAddr},
                register_addr = #{registerAddr},
                business_addr = #{businessAddr},
                business_scope = #{businessScope},
                picture_path = #{picturePath},
                bu_operator = #{buOperator},
                bu_operator_vendor = #{buOperatorVendor},
                remark = #{remark},
                handle_status = #{handleStatus},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where vendor_recommend_sid = #{vendorRecommendSid}
        </foreach>
    </update>

</mapper>
