<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.BasVendorAddrMapper">

    <resultMap type="com.platform.ems.domain.BasVendorAddr" id="BasVendorAddrResult">
        <result property="clientId" column="client_id"/>
        <result property="vendorContactSid" column="vendor_contact_sid"/>
        <result property="vendorSid" column="vendor_sid"/>
        <result property="vendorCode" column="vendor_code"/>
        <result property="vendorName" column="vendor_name"/>
        <result property="contactInforCode" column="contact_infor_code"/>
        <result property="contacterName" column="contacter_name"/>
        <result property="contacterPosition" column="contacter_position"/>
        <result property="contacterMobphone" column="contacter_mobphone"/>
        <result property="contacterTelephone" column="contacter_telephone"/>
        <result property="contacterFax" column="contacter_fax"/>
        <result property="contacterEmail" column="contacter_email"/>
        <result property="contacterAddress" column="contacter_address"/>
        <result property="contacterDepartment" column="contacter_department"/>
        <result property="businessType" column="business_type"/>
        <result property="isDefault" column="is_default"/>
        <result property="contactPartyRemark" column="contact_party_remark"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
    </resultMap>

    <sql id="selectBasVendorAddrVo">
        select t.client_id,
               t.vendor_contact_sid,
               t.vendor_sid,
               t.contact_infor_code,
               t.contacter_name,
               t.contacter_position,
               t.contacter_mobphone,
               t.contacter_telephone,
               t.contacter_fax,
               t.contacter_email,
               t.contacter_address,
               t.contacter_department,
               t.business_type,
               t.is_default,
               t.contact_party_remark,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.data_source_sys,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name,
               t4.vendor_code,
               t4.vendor_name
        from s_bas_vendor_addr t
        left join sys_user t2 on t.creator_account = t2.user_name
        left join sys_user t3 on t.updater_account = t3.user_name
        left join s_bas_vendor t4 on t.vendor_sid = t4.vendor_sid
    </sql>

    <select id="selectBasVendorAddrList" parameterType="com.platform.ems.domain.BasVendorAddr"
            resultMap="BasVendorAddrResult">
        <include refid="selectBasVendorAddrVo"/>
        <where>
            <if test="vendorCode != null  and vendorCode != ''">
                and t4.vendor_code like concat('%',#{vendorCode}, '%')
            </if>
            <if test="vendorName!= null  and vendorName != ''">
                and t4.vendor_name like concat('%',#{vendorName}, '%')
            </if>
            <if test="vendorSid != null  and vendorSid != ''">and t.vendor_sid =
                #{vendorSid}
            </if>
            <if test="vendorContactSid != null  and vendorContactSid != ''">and t.vendor_contact_sid =
                #{vendorContactSid}
            </if>
            <if test="contacterName != null  and contacterName != ''">and t.contacter_name like concat('%',
                #{contacterName}, '%')
            </if>
            <if test="contacterPosition != null  and contacterPosition != ''">and t.contacter_position =
                #{contacterPosition}
            </if>
            <if test="contacterMobphone != null  and contacterMobphone != ''">and t.contacter_mobphone =
                #{contacterMobphone}
            </if>
            <if test="contacterTelephone != null  and contacterTelephone != ''">and t.contacter_telephone =
                #{contacterTelephone}
            </if>
            <if test="contacterFax != null  and contacterFax != ''">and t.contacter_fax = #{contacterFax}</if>
            <if test="contacterEmail != null  and contacterEmail != ''">and t.contacter_email = #{contacterEmail}</if>
            <if test="contacterAddress != null  and contacterAddress != ''">and t.contacter_address =
                #{contacterAddress}
            </if>
            <if test="contacterDepartment != null  and contacterDepartment != ''">and t.contacter_department =
                #{contacterDepartment}
            </if>
            <if test="businessType != null  and businessType != ''">and t.business_type = #{businessType}</if>
            <if test="isDefault != null  and isDefault != ''">and t.is_default = #{isDefault}</if>
            <if test="creatorAccount != null  and creatorAccount != ''">and t.creator_account = #{creatorAccount}</if>
            <if test="createDate != null ">and t.create_date = #{createDate}</if>
            <if test="updaterAccount != null  and updaterAccount != ''">and t.updater_account = #{updaterAccount}</if>
            <if test="updateDate != null ">and t.update_date = #{updateDate}</if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">and t.data_source_sys = #{dataSourceSys}</if>
        </where>
    </select>

    <select id="selectBasVendorAddrById" parameterType="Long" resultMap="BasVendorAddrResult">
        <include refid="selectBasVendorAddrVo"/>
        where t.vendor_contact_sid = #{clientId}
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_bas_vendor_addr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            vendor_contact_sid,
            vendor_sid,
            contact_infor_code,
            contacter_name,
            contacter_position,
            contacter_mobphone,
            contacter_telephone,
            contacter_fax,
            contacter_email,
            contacter_address,
            contacter_department,
            business_type,
            is_default,
            contact_party_remark,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys
        </trim>
        values
        <foreach collection="list" item="o" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{o.clientId},
                #{o.vendorContactSid},
                #{o.vendorSid},
                #{o.contactInforCode},
                #{o.contacterName},
                #{o.contacterPosition},
                #{o.contacterMobphone},
                #{o.contacterTelephone},
                #{o.contacterFax},
                #{o.contacterEmail},
                #{o.contacterAddress},
                #{o.contacterDepartment},
                #{o.businessType},
                #{o.isDefault},
                #{o.contactPartyRemark},
                #{o.remark},
                #{o.creatorAccount},
                #{o.createDate},
                #{o.updaterAccount},
                #{o.updateDate},
                #{o.dataSourceSys},
            </trim>
        </foreach>
    </insert>


    <insert id="insertBasVendorAddr" parameterType="com.platform.ems.domain.BasVendorAddr">
        insert into s_bas_vendor_addr
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clientId != null">client_id,</if>
            <if test="vendorContactSid != null and vendorContactSid != ''">vendor_contact_sid,</if>
            <if test="vendorSid != null">vendor_sid,</if>
            <if test="contactInforCode != null">contact_infor_code,</if>
            <if test="contacterName != null and contacterName != ''">contacter_name,</if>
            <if test="contacterPosition != null">contacter_position,</if>
            <if test="contacterMobphone != null and contacterMobphone != ''">contacter_mobphone,</if>
            <if test="contacterTelephone != null">contacter_telephone,</if>
            <if test="contacterFax != null">contacter_fax,</if>
            <if test="contacterEmail != null">contacter_email,</if>
            <if test="contacterAddress != null">contacter_address,</if>
            <if test="contacterDepartment != null">contacter_department,</if>
            <if test="businessType != null">business_type,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="contactPartyRemark != null">contact_party_remark,</if>
            <if test="remark != null">remark,</if>
            <if test="creatorAccount != null and creatorAccount != ''">creator_account,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updaterAccount != null">updater_account,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="dataSourceSys != null">data_source_sys,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clientId != null">#{clientId},</if>
            <if test="vendorContactSid != null and vendorContactSid != ''">#{vendorContactSid},</if>
            <if test="vendorSid != null">#{vendorSid},</if>
            <if test="contactInforCode != null">#{contactInforCode},</if>
            <if test="contacterName != null and contacterName != ''">#{contacterName},</if>
            <if test="contacterPosition != null">#{contacterPosition},</if>
            <if test="contacterMobphone != null and contacterMobphone != ''">#{contacterMobphone},</if>
            <if test="contacterTelephone != null">#{contacterTelephone},</if>
            <if test="contacterFax != null">#{contacterFax},</if>
            <if test="contacterEmail != null">#{contacterEmail},</if>
            <if test="contacterAddress != null">#{contacterAddress},</if>
            <if test="contacterDepartment != null">#{contacterDepartment},</if>
            <if test="businessType != null">#{businessType},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="contactPartyRemark != null">#{contactPartyRemark},</if>
            <if test="remark != null">#{remark},</if>
            <if test="creatorAccount != null and creatorAccount != ''">#{creatorAccount},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updaterAccount != null">#{updaterAccount},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="dataSourceSys != null">#{dataSourceSys},</if>
        </trim>
    </insert>

    <update id="updateBasVendorAddr" parameterType="com.platform.ems.domain.BasVendorAddr">
        update s_bas_vendor_addr
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientId != null and clientId != ''">client_id = #{clientId},</if>
            <if test="vendorSid != null">vendor_sid = #{vendorSid},</if>
            <if test="contactInforCode != null">contact_infor_code = #{contactInforCode},</if>
            <if test="contacterName != null and contacterName != ''">contacter_name = #{contacterName},</if>
            <if test="contacterPosition != null">contacter_position = #{contacterPosition},</if>
            <if test="contacterMobphone != null and contacterMobphone != ''">contacter_mobphone =
                #{contacterMobphone},
            </if>
            <if test="contacterTelephone != null">contacter_telephone = #{contacterTelephone},</if>
            <if test="contacterFax != null">contacter_fax = #{contacterFax},</if>
            <if test="contacterEmail != null">contacter_email = #{contacterEmail},</if>
            <if test="contacterAddress != null">contacter_address = #{contacterAddress},</if>
            <if test="contacterDepartment != null">contacter_department = #{contacterDepartment},</if>
            <if test="businessType != null">business_type = #{businessType},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            <if test="contactPartyRemark != null">contact_party_remark = #{contactPartyRemark},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="creatorAccount != null and creatorAccount != ''">creator_account = #{creatorAccount},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updaterAccount != null">updater_account = #{updaterAccount},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="dataSourceSys != null">data_source_sys = #{dataSourceSys},</if>
        </trim>
        where vendor_contact_sid = #{vendorContactSid}
    </update>

    <delete id="deleteBasVendorAddrById" parameterType="Long">
        delete
        from s_bas_vendor_addr
        where client_id = #{clientId}
    </delete>

    <delete id="deleteBasVendorAddrByIds" parameterType="Long">
        delete from s_bas_vendor_addr where vendor_contact_sid in
        <foreach item="clientId" collection="array" open="(" separator="," close=")">
            #{clientId}
        </foreach>
    </delete>

</mapper>
