<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.ConCheckStandardItemMapper">

    <resultMap type="com.platform.ems.domain.ConCheckStandardItem" id="ConCheckStandardItemResult">
                    <result property="clientId" column="client_id"/>
                    <result property="checkStandardItemSid" column="check_standard_item_sid"/>
                    <result property="checkStandardCode" column="check_standard_code"/>
                    <result property="checkStandardSid" column="check_standard_sid"/>
                    <result property="checkItemCode" column="check_item_code"/>
                    <result property="checkItemSid" column="check_item_sid"/>
                    <result property="checkCost" column="check_cost"/>
                    <result property="currency" column="currency"/>
                    <result property="currencyUnit" column="currency_unit"/>
                    <result property="standardValue" column="standard_value"/>
                    <result property="standardValueType" column="standard_value_type"/>
                    <result property="symbolStart" column="symbol_start"/>
                    <result property="valueStart" column="value_start"/>
                    <result property="symbolEnd" column="symbol_end"/>
                    <result property="valueEnd" column="value_end"/>
                    <result property="sort" column="sort"/>
                    <result property="remark" column="remark"/>
                    <result property="creatorAccount" column="creator_account"/>
                    <result property="createDate" column="create_date"/>
                    <result property="updaterAccount" column="updater_account"/>
                    <result property="updateDate" column="update_date"/>
                    <result property="confirmerAccount" column="confirmer_account"/>
                    <result property="confirmDate" column="confirm_date"/>
                    <result property="dataSourceSys" column="data_source_sys"/>
            </resultMap>

    <sql id="selectConCheckStandardItemVo">
        select t.client_id, t.check_standard_item_sid, t.check_standard_code, t.check_standard_sid, t.check_item_code, t.check_item_sid, t.check_cost, t.currency, t.currency_unit, t.standard_value, t.standard_value_type, t.symbol_start, t.value_start, t.symbol_end, t.value_end, t.sort, t.remark, t.creator_account, t.create_date, t.updater_account, t.update_date, t.confirmer_account, t.confirm_date, t.data_source_sys from s_con_check_standard_item t
    </sql>

    <select id="selectConCheckStandardItemById" parameterType="Long" resultMap="ConCheckStandardItemResult">
        <include refid="selectConCheckStandardItemVo"/>
        where t.check_standard_item_sid = #{checkStandardItemSid}
    </select>


    <select id="selectConCheckStandardItemList" parameterType="com.platform.ems.domain.ConCheckStandardItem"
            resultMap="ConCheckStandardItemResult">
        <include refid="selectConCheckStandardItemVo"/>
        <where>
                                                                                                    <if test="clientId != null  and clientId != ''">
                               and (<foreach collection="clientId.split(';')" item="item" separator="or"> t.client_id like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                                            <if test="checkStandardCode != null  and checkStandardCode != ''">
                               and (<foreach collection="checkStandardCode.split(';')" item="item" separator="or"> t.check_standard_code like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                <if test="checkStandardSid != null ">
                                and t.check_standard_sid =#{checkStandardSid}
                            </if>
                                                                                                                                                                <if test="checkItemCode != null  and checkItemCode != ''">
                               and (<foreach collection="checkItemCode.split(';')" item="item" separator="or"> t.check_item_code like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                <if test="checkItemSid != null ">
                                and t.check_item_sid =#{checkItemSid}
                            </if>
                                                                                                                                                                                                <if test="checkCost != null ">
                                    and t.check_cost = #{checkCost}
                                </if>
                                                                                                                                                                                            <if test="currency != null  and currency != ''">
                               and (<foreach collection="currency.split(';')" item="item" separator="or"> t.currency like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                <if test="currencyUnit != null  and currencyUnit != ''">
                               and (<foreach collection="currencyUnit.split(';')" item="item" separator="or"> t.currency_unit like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                <if test="standardValue != null  and standardValue != ''">
                               and (<foreach collection="standardValue.split(';')" item="item" separator="or"> t.standard_value like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                <if test="standardValueType != null  and standardValueType != ''">
                               and (<foreach collection="standardValueType.split(';')" item="item" separator="or"> t.standard_value_type like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                <if test="symbolStart != null  and symbolStart != ''">
                               and (<foreach collection="symbolStart.split(';')" item="item" separator="or"> t.symbol_start like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                                                <if test="valueStart != null ">
                                    and t.value_start = #{valueStart}
                                </if>
                                                                                                                                                                                            <if test="symbolEnd != null  and symbolEnd != ''">
                               and (<foreach collection="symbolEnd.split(';')" item="item" separator="or"> t.symbol_end like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                                                <if test="valueEnd != null ">
                                    and t.value_end = #{valueEnd}
                                </if>
                                                                                                                                                                                            <if test="sort != null ">
                                and t.sort =#{sort}
                            </if>
                                                                                                                                                                                            <if test="creatorAccount != null  and creatorAccount != ''">
                               and (<foreach collection="creatorAccount.split(';')" item="item" separator="or"> t.creator_account like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                                                <if test="beginTime != null and beginTime!=''">
                                    and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
                                </if>
                                <if test="endTime != null and endTime!=''">
                                    and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
                                </if>
                                                                                                                                                                                            <if test="updaterAccount != null  and updaterAccount != ''">
                               and (<foreach collection="updaterAccount.split(';')" item="item" separator="or"> t.updater_account like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                                                <if test="updateDate != null ">
                                    and t.update_date = #{updateDate}
                                </if>
                                                                                                                                                                                            <if test="confirmerAccount != null  and confirmerAccount != ''">
                               and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or"> t.confirmer_account like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                                                                                                                                <if test="confirmDate != null ">
                                    and t.confirm_date = #{confirmDate}
                                </if>
                                                                                                                                                                                            <if test="dataSourceSys != null  and dataSourceSys != ''">
                               and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or"> t.data_source_sys like concat('%',
                                    #{item}, '%')
                                </foreach>)
                            </if>
                                                                                    <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_con_check_standard_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                client_id,
                                                                check_standard_item_sid,
                                                                check_standard_code,
                                                                check_standard_sid,
                                                                check_item_code,
                                                                check_item_sid,
                                                                check_cost,
                                                                currency,
                                                                currency_unit,
                                                                standard_value,
                                                                standard_value_type,
                                                                symbol_start,
                                                                value_start,
                                                                symbol_end,
                                                                value_end,
                                                                sort,
                                                                remark,
                                                                creator_account,
                                                                create_date,
                                                                updater_account,
                                                                update_date,
                                                                confirmer_account,
                                                                confirm_date,
                                                                data_source_sys,
                                    </trim>
        values
            <foreach collection="list" item="item" separator=",">
                <trim prefix=" (" suffix=")" suffixOverrides=",">
                                                            #{item.clientId},
                                                                                                                    #{item.checkStandardCode},
                                                                                #{item.checkStandardSid},
                                                                                #{item.checkItemCode},
                                                                                #{item.checkItemSid},
                                                                                #{item.checkCost},
                                                                                #{item.currency},
                                                                                #{item.currencyUnit},
                                                                                #{item.standardValue},
                                                                                #{item.standardValueType},
                                                                                #{item.symbolStart},
                                                                                #{item.valueStart},
                                                                                #{item.symbolEnd},
                                                                                #{item.valueEnd},
                                                                                #{item.sort},
                                                                                #{item.remark},
                                                                                #{item.creatorAccount},
                                                                                #{item.createDate},
                                                                                #{item.updaterAccount},
                                                                                #{item.updateDate},
                                                                                #{item.confirmerAccount},
                                                                                #{item.confirmDate},
                                                                                #{item.dataSourceSys},
                                                    </trim>
            </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_con_check_standard_item
        <trim prefix="SET" suffixOverrides=",">
                                                client_id = #{clientId},
                                                                check_standard_item_sid = #{checkStandardItemSid},
                                                                check_standard_code = #{checkStandardCode},
                                                                check_standard_sid = #{checkStandardSid},
                                                                check_item_code = #{checkItemCode},
                                                                check_item_sid = #{checkItemSid},
                                                                check_cost = #{checkCost},
                                                                currency = #{currency},
                                                                currency_unit = #{currencyUnit},
                                                                standard_value = #{standardValue},
                                                                standard_value_type = #{standardValueType},
                                                                symbol_start = #{symbolStart},
                                                                value_start = #{valueStart},
                                                                symbol_end = #{symbolEnd},
                                                                value_end = #{valueEnd},
                                                                sort = #{sort},
                                                                remark = #{remark},
                                                                creator_account = #{creatorAccount},
                                                                create_date = #{createDate},
                                                                updater_account = #{updaterAccount},
                                                                update_date = #{updateDate},
                                                                confirmer_account = #{confirmerAccount},
                                                                confirm_date = #{confirmDate},
                                                                data_source_sys = #{dataSourceSys},
                                    </trim>
        where check_standard_item_sid = #{checkStandardItemSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_con_check_standard_item
            <trim prefix="SET" suffixOverrides=",">
                                                            client_id = #{clientId},
                                                                                check_standard_item_sid = #{checkStandardItemSid},
                                                                                check_standard_code = #{checkStandardCode},
                                                                                check_standard_sid = #{checkStandardSid},
                                                                                check_item_code = #{checkItemCode},
                                                                                check_item_sid = #{checkItemSid},
                                                                                check_cost = #{checkCost},
                                                                                currency = #{currency},
                                                                                currency_unit = #{currencyUnit},
                                                                                standard_value = #{standardValue},
                                                                                standard_value_type = #{standardValueType},
                                                                                symbol_start = #{symbolStart},
                                                                                value_start = #{valueStart},
                                                                                symbol_end = #{symbolEnd},
                                                                                value_end = #{valueEnd},
                                                                                sort = #{sort},
                                                                                remark = #{remark},
                                                                                creator_account = #{creatorAccount},
                                                                                create_date = #{createDate},
                                                                                updater_account = #{updaterAccount},
                                                                                update_date = #{updateDate},
                                                                                confirmer_account = #{confirmerAccount},
                                                                                confirm_date = #{confirmDate},
                                                                                data_source_sys = #{dataSourceSys},
                                                </trim>
            where check_standard_item_sid = #{checkStandardItemSid}
        </foreach>
    </update>

</mapper>
