<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.DelDeliveryNotePartnerMapper">

    <resultMap type="com.platform.ems.domain.DelDeliveryNotePartner" id="DelDeliveryNotePartnerResult">
        <result property="clientId" column="client_id"/>
        <result property="deliveryNotePartnerSid" column="delivery_note_partner_sid"/>
        <result property="deliveryNoteSid" column="delivery_note_sid"/>
        <result property="partnerType" column="partner_type"/>
        <result property="partnerName" column="partner_name"/>
        <result property="partnerSid" column="partner_sid"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <sql id="selectDelDeliveryNotePartnerVo">
        select t.client_id, t.delivery_note_partner_sid, t.delivery_note_sid, t.partner_type, t.partner_name, t.partner_sid, t.remark, t.creator_account, t.create_date, t.updater_account, t.update_date from s_del_delivery_note_partner t
    </sql>

    <select id="selectDelDeliveryNotePartnerById" parameterType="Long" resultMap="DelDeliveryNotePartnerResult">
        <include refid="selectDelDeliveryNotePartnerVo"/>
        where t.delivery_note_partner_sid = #{deliveryNotePartnerSid}
    </select>


    <select id="selectDelDeliveryNotePartnerList" parameterType="com.platform.ems.domain.DelDeliveryNotePartner"
            resultMap="DelDeliveryNotePartnerResult">
        <include refid="selectDelDeliveryNotePartnerVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="deliveryNoteSid != null ">
                and t.delivery_note_sid = #{deliveryNoteSid}
            </if>
            <if test="partnerType != null  and partnerType != ''">
                and (<foreach collection="partnerType.split(';')" item="item" separator="or">t.partner_type like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="partnerName != null  and partnerName != ''">and
                t.partner_name like concat('%', #{partnerName}, '%')
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_del_delivery_note_partner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            delivery_note_partner_sid,
            delivery_note_sid,
            partner_type,
            partner_name,
            partner_sid,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{clientId},
                #{deliveryNotePartnerSid},
                #{deliveryNoteSid},
                #{partnerType},
                #{partnerName},
                #{partnerSid},
                #{remark},
                #{creatorAccount},
                #{createDate},
                #{updaterAccount},
                #{updateDate},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_del_delivery_note_partner
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            delivery_note_sid = #{deliveryNoteSid},
            partner_type = #{partnerType},
            partner_name = #{partnerName},
            partner_sid = #{partnerSid},
            remark = #{remark},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
        </trim>
        where delivery_note_partner_sid = #{deliveryNotePartnerSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_del_delivery_note_partner
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                delivery_note_sid = #{deliveryNoteSid},
                partner_type = #{partnerType},
                partner_name = #{partnerName},
                partner_sid = #{partnerSid},
                remark = #{remark},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
            </trim>
            where delivery_note_partner_sid = #{deliveryNotePartnerSid}
        </foreach>
    </update>

    <delete id="deleteDelDeliveryNotePartnerByIds" parameterType="long">
        delete from s_del_delivery_note_partner where delivery_note_sid in
        <foreach item="deliveryNoteSid" collection="array" open="(" separator="," close=")">
            #{deliveryNoteSid}
        </foreach>
    </delete>
</mapper>