<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.ems.mapper.FinBookPaymentMapper">
    <resultMap type="com.platform.ems.domain.FinBookPayment" id="FinBookPaymentResult">
        <result property="clientId" column="client_id"/>
        <result property="bookPaymentSid" column="book_payment_sid"/>
        <result property="bookPaymentCode" column="book_payment_code"/>
        <result property="bookType" column="book_type"/>
        <result property="bookSourceCategory" column="book_source_category"/>
        <result property="vendorSid" column="vendor_sid"/>
        <result property="vendorCode" column="vendor_code"/>
        <result property="companySid" column="company_sid"/>
        <result property="companyCode" column="company_code"/>
        <result property="documentDate" column="document_date"/>
        <result property="paymentYear" column="payment_year"/>
        <result property="paymentMonth" column="payment_month"/>
        <result property="companyBrandSid" column="company_brand_sid"/>
        <result property="businessChannel" column="business_channel"/>
        <result property="currency" column="currency"/>
        <result property="currencyUnit" column="currency_unit"/>
        <result property="paymentDate" column="payment_date"/>
        <result property="itemNum" column="item_num"/>
        <result property="productSeasonName" column="product_season_name"/>
        <result property="agentName" column="agent_name"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="currencyAmountTaxDhx" column="currency_amount_tax_dhx"/>
        <result property="bookSourceCategoryName" column="book_source_category_name"/>
        <result property="bookTypeName" column="book_type_name"/>
        <result property="bookPaymentItemSid" column="book_payment_item_sid"/>
        <result property="paymentStatus" column="payment_status"/>
        <result property="paymentDay" column="payment_day"/>
        <result property="monthAccountPeriod" column="month_account_period"/>
        <result property="accountCategoryName" column="account_category_name"/>
        <result property="businessTypeName" column="business_type_name"/>
        <result property="purchaseOrgName" column="purchase_org_name"/>
        <result property="isFinanceVerify" column="is_finance_verify"/>
    </resultMap>

    <sql id="selectFinBookPaymentVo">
        select t.client_id,
               t.book_payment_sid,
               t.book_payment_code,
               t.book_type,
               t.book_source_category,
               t.vendor_sid,
               t.vendor_code,
               t.company_sid,
               t.company_code,
               t.document_date,
               t.payment_year,
               t.payment_month,
               t.company_brand_sid,
               t.business_channel,
               t.currency,
               t.currency_unit,
               t.remark,
               t.handle_status,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.confirmer_account,
               t.confirm_date,
               t.data_source_sys
        from s_fin_book_payment t
    </sql>

    <select id="selectFinBookPaymentById" parameterType="Long" resultMap="FinBookPaymentResult">
        <include refid="selectFinBookPaymentVo"/>
        where t.book_payment_sid = #{bookPaymentSid}
    </select>

    <select id="selectFinBookPaymentList" parameterType="com.platform.ems.domain.FinBookPayment"
            resultMap="FinBookPaymentResult">
        <include refid="selectFinBookPaymentVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">and t.client_id = #{clientId}
            </if>
            <if test="bookPaymentCode != null ">and t.book_payment_code =#{bookPaymentCode}</if>
            <if test="bookType != null  and bookType != ''">and t.book_type = #{bookType}
            </if>
            <if test="bookSourceCategory != null  and bookSourceCategory != ''">and t.book_source_category =
                #{bookSourceCategory}
            </if>
            <if test="vendorSid != null ">and t.vendor_sid =#{vendorSid}</if>
            <if test="companySid != null ">and t.company_sid =#{companySid}</if>
            <if test="documentDate != null ">and t.document_date = #{documentDate}</if>
            <if test="paymentYear != null ">and t.payment_year =#{paymentYear}</if>
            <if test="paymentMonth != null ">and t.payment_month =#{paymentMonth}</if>
            <if test="companyBrandSid != null ">and t.company_brand_sid =#{companyBrandSid}</if>
            <if test="businessChannel != null  and businessChannel != ''">and t.business_channel = #{businessChannel}
            </if>
            <if test="handleStatus != null  and handleStatus != ''">and t.handle_status = #{handleStatus}
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">and t.creator_account = #{creatorAccount}
            </if>
            <if test="beginTime != null and beginTime!=''">and date_format(t.create_date,'%y%m%d') &gt;=
                date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">and date_format(t.create_date,'%y%m%d') &lt;=
                date_format(#{endTime},'%y%m%d')
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">${params.dataScope}</if>
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">insert into s_fin_book_payment
        <trim prefix="(" suffix=")" suffixOverrides=",">client_id, book_payment_sid, book_payment_code, book_type,
            book_source_category, vendor_sid, vendor_code, company_sid, company_code, document_date, payment_year,
            payment_month,
            company_brand_sid, business_channel, currency, currency_unit, remark, handle_status, creator_account,
            create_date, confirmer_account, confirm_date, data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">#{item.clientId}, #{item.bookPaymentSid},
                #{item.bookPaymentCode}, #{item.bookType}, #{item.bookSourceCategory}, #{item.vendorSid},
                #{item.vendorCode},
                #{item.companySid}, #{item.companyCode}, #{item.documentDate}, #{item.paymentYear},
                #{item.paymentMonth},
                #{item.companyBrandSid}, #{item.businessChannel}, #{item.currency}, #{item.currencyUnit},
                #{item.remark},
                #{item.handleStatus}, #{item.creatorAccount}, #{item.createDate},
                #{item.confirmerAccount}, #{item.confirmDate}, #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">update s_fin_book_payment
        <trim prefix="SET" suffixOverrides=",">
            book_type = #{bookType}, book_source_category = #{bookSourceCategory}, vendor_sid = #{vendorSid},
            company_sid = #{companySid}, document_date = #{documentDate}, payment_year = #{paymentYear}, payment_month =
            #{paymentMonth}, company_brand_sid = #{companyBrandSid}, business_channel = #{businessChannel}, currency =
            #{currency}, currency_unit = #{currencyUnit}, remark = #{remark}, handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate}, confirmer_account = #{confirmerAccount}, confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where book_payment_sid = #{bookPaymentSid}
    </update>

    <select id="getReportForm" parameterType="com.platform.ems.domain.FinBookPayment"
            resultMap="FinBookPaymentResult">
        SELECT
        t.book_payment_code,
        t.book_payment_sid,
        t2.book_payment_item_sid,
        t5.pay_bill_code,
        t2.refer_doc_sid,
        t5.pay_bill_code as refer_doc_code,
        t.vendor_sid,
        t.vendor_code,
        t3.vendor_name,
        ifnull(t3.short_name,t3.vendor_name) as vendor_short_name,
        t.company_sid,
        t.company_code,
        t4.company_name,
        ifnull(t4.short_name,t4.company_name) as company_short_name,
        t5.agent,
        t2.clear_status,
        t2.currency_amount_tax_fk,
        t2.currency_amount_tax_hxz,
        t19.currency_amount_tax_yhx,
        t19.currency_amount_tax_dhx,
        t5.payment_date,
        t2.tax_rate,
        t2.is_finance_verify,
        t2.item_num,
        t.handle_status,
        t.remark,
        t.currency,
        t.currency_unit,
        t.create_date,
        t.creator_account,
        t11.nick_name AS creator_account_name,
        t.book_type,
        t.book_source_category,
        t12.name AS book_type_name,
        t13.name AS book_source_category_name,
        t5.product_season_sid,
        t7.product_season_name,
        t8.nick_name AS agent_name,
        t5.payment_status,
        t.document_date,
        t.payment_year,
        t.payment_month,
        t5.payment_day,
        t5.month_account_period,
        t14.name AS account_category_name,
        t15.name AS business_type_name,
        t16.name AS purchase_org_name
        FROM
        s_fin_book_payment t
        LEFT JOIN s_fin_book_payment_item t2 on t.book_payment_sid = t2.book_payment_sid
        LEFT JOIN s_bas_vendor t3 on t.vendor_sid = t3.vendor_sid
        LEFT JOIN s_bas_company t4 on t.company_sid = t4.company_sid
        LEFT JOIN s_fin_pay_bill t5 on t2.refer_doc_sid = t5.pay_bill_sid
        LEFT JOIN s_bas_product_season t7 on t5.product_season_sid = t7.product_season_sid
        LEFT JOIN sys_user t8 on t5.agent = t8.user_name
        LEFT JOIN sys_user t11 on t.creator_account = t11.user_name
        LEFT JOIN s_con_book_type t12 on t.book_type = t12.code
        LEFT JOIN s_con_book_source_category t13 on t.book_source_category = t13.code
        LEFT JOIN s_con_account_category t14 ON t14.code = t5.account_category
        LEFT JOIN s_con_bu_type_pay_bill t15 ON t5.business_type = t15.code
        LEFT JOIN s_con_purchase_org t16 ON t16.code = t5.purchase_org
        LEFT JOIN (<include refid="com.platform.ems.mapper.FinBookPaymentItemMapper.selectFinBookPaymentItemVo"/>)
            t19 ON t2.book_payment_item_sid = t19.book_payment_item_sid
        <where>
            <if test="clientId != null  and clientId != ''">and t.client_id =#{clientId}</if>
            <if test="monthAccountPeriod != null and monthAccountPeriod != ''">and
                t5.month_account_period = #{monthAccountPeriod}
            </if>
            <if test="isFinanceVerify != null and isFinanceVerify != ''">
                and t2.is_finance_verify = #{isFinanceVerify}
            </if>
            <if test="bookTypeList != null and bookTypeList.length >0">and t.book_type in
                (<foreach collection="bookTypeList" item="bookType" separator=",">#{bookType}</foreach>)
            </if>
            <if test="bookSourceCategoryList != null and bookSourceCategoryList.length >0">and t.book_source_category in
                (<foreach collection="bookSourceCategoryList" item="bookSourceCategory" separator=",">
                    #{bookSourceCategory}</foreach>)
            </if>
            <if test="handleStatusNot != null and handleStatusNot != '' ">and t.handle_status != #{handleStatusNot}</if>
            <if test="clearStatusList != null and clearStatusList.length >0">and t2.clear_status in
                (<foreach collection="clearStatusList" item="clearStatus" separator=",">#{clearStatus}</foreach>)
            </if>
            <if test="companySidList != null and companySidList.length >0">and t.company_sid in
                (<foreach collection="companySidList" item="companySid" separator=",">#{companySid}</foreach>)
            </if>
            <if test="vendorSidList != null and vendorSidList.length >0">and t.vendor_sid in
                (<foreach collection="vendorSidList" item="vendorSid" separator=",">#{vendorSid}</foreach>)
            </if>
            <if test="productSeasonSidList != null and productSeasonSidList.length >0">and t5.product_season_sid in
                (<foreach collection="productSeasonSidList" item="productSeasonSid" separator=",">
                    #{productSeasonSid}</foreach>)
            </if>
            <if test="agentList != null and agentList.length >0">and t5.agent in
                (<foreach collection="agentList" item="agent" separator=",">#{agent}</foreach>)
            </if>
            <if test="creatorAccountList != null and creatorAccountList.length >0">and t.creator_account in
                (<foreach collection="creatorAccountList" item="creatorAccount" separator=",">
                    #{creatorAccount}</foreach>)
            </if>
            <if test="referDocSid != null and referDocSid != ''">and t2.refer_doc_sid =#{referDocSid}</if>
            <if test="vendorSid != null and vendorSid != ''">and t.vendor_sid =#{vendorSid}</if>
            <if test="companySid != null and companySid != ''">and t.company_sid =#{companySid}</if>
            <if test="businessType != null  and businessType != ''">and t5.business_type =#{businessType}</if>
            <if test="agent != null  and agent != ''">and t5.agent =#{agent}</if>
            <if test="purchaseOrg != null  and purchaseOrg != ''">and t5.purchase_org =#{purchaseOrg}</if>
            <if test="clearStatusNot != null  and clearStatusNot != ''">and t2.clear_status != #{clearStatusNot}</if>
            <if test="clearStatus != null  and clearStatus != ''">and t2.clear_status =#{clearStatus}</if>
            <if test="productSeasonSid != null  and productSeasonSid != ''">and t5.product_season_sid
                =#{productSeasonSid}
            </if>
            <if test="bookType != null  and bookType != ''">and t.book_type =#{bookType}</if>
            <if test="bookSourceCategory != null  and bookSourceCategory != ''">and t.book_source_category
                =#{bookSourceCategory}
            </if>
            <if test="documentType != null  and documentType != ''">and t5.document_type =#{documentType}</if>
            <if test="payBillCode != null and payBillCode != ''">and t5.pay_bill_code like concat('%', #{payBillCode},
                '%')
            </if>
            <if test="handleStatus != null  and handleStatus != ''">and t.handle_status = #{handleStatus}</if>
            <if test="handleStatusList != null and handleStatusList.length >0">and t.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">and (
                <foreach collection="creatorAccount.split(';')" item="item" separator=" or ">t11.nick_name like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">and date_format(t.create_date,'%y%m%d') &gt;=
                date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">and date_format(t.create_date,'%y%m%d') &lt;=
                date_format(#{endTime},'%y%m%d')
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">${params.dataScope}</if>
        </where>
        order by t.book_payment_code desc
    </select>
</mapper>
