<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.ems.mapper.FinBookAccountReceivableMapper">
    <resultMap type="com.platform.ems.domain.FinBookAccountReceivable" id="FinBookAccountReceivableResult">
        <result property="clientId" column="client_id"/>
        <result property="bookAccountReceivableSid" column="book_account_receivable_sid"/>
        <result property="bookAccountReceivableItemSid" column="book_account_receivable_item_sid"/>
        <result property="bookAccountReceivableCode" column="book_account_receivable_code"/>
        <result property="bookType" column="book_type"/>
        <result property="bookTypeName" column="book_type_name"/>
        <result property="bookSourceCategory" column="book_source_category"/>
        <result property="bookSourceCategoryName" column="book_source_category_name"/>
        <result property="customerSid" column="customer_sid"/>
        <result property="companySid" column="company_sid"/>
        <result property="documentDate" column="document_date"/>
        <result property="paymentYear" column="payment_year"/>
        <result property="paymentMonth" column="payment_month"/>
        <result property="companyBrandSid" column="company_brand_sid"/>
        <result property="businessChannel" column="business_channel"/>
        <result property="currency" column="currency"/>
        <result property="currencyUnit" column="currency_unit"/>
        <result property="referDocCategory" column="refer_doc_category"/>
        <result property="referDocSid" column="refer_doc_sid"/>
        <result property="referDocCode" column="refer_doc_code"/>
        <result property="productSeasonSid" column="product_season_sid"/>
        <result property="productSeasonName" column="product_season_name"/>
        <result property="currencyAmountTaxYings" column="currency_amount_tax_yings"/>
        <result property="currencyAmountTaxYhx" column="currency_amount_tax_yhx"/>
        <result property="currencyAmountTaxHxz" column="currency_amount_tax_hxz"/>
        <result property="currencyAmountTaxDhx" column="currency_amount_tax_dhx"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="saleInvoiceSid" column="sale_invoice_sid"/>
        <result property="saleInvoiceCode" column="sale_invoice_code"/>
        <result property="saleContractSid" column="sale_contract_sid"/>
        <result property="saleContractCode" column="sale_contract_code"/>
        <result property="saleOrderSid" column="sale_order_sid"/>
        <result property="saleOrderCode" column="sale_order_code"/>
        <result property="accountValidDate" column="account_valid_date"/>
        <result property="customerShortName" column="customer_short_name"/>
        <result property="overDays" column="over_days"/>
        <result property="isFinanceVerify" column="is_finance_verify"/>
    </resultMap>
    <sql id="selectFinBookAccountReceivableVo">
        select t.client_id,
               t.book_account_receivable_sid,
               t.book_account_receivable_code,
               t.book_type,
               t.book_source_category,
               t.customer_sid,
               t.company_sid,
               t.document_date,
               t.payment_year,
               t.payment_month,
               t.company_brand_sid,
               t.business_channel,
               t.currency,
               t.currency_unit,
               t.refer_doc_category,
               t.refer_doc_sid,
               t.refer_doc_code,
               t.remark,
               t.handle_status,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.confirmer_account,
               t.confirm_date,
               t.data_source_sys
        from s_fin_book_account_receivable t</sql>
    <select id="selectFinBookAccountReceivableById" parameterType="Long" resultMap="FinBookAccountReceivableResult">
        <include refid="selectFinBookAccountReceivableVo"/>
        where t.book_account_receivable_sid = #{bookAccountReceivableSid}
    </select>
    <select id="selectFinBookAccountReceivableList" parameterType="com.platform.ems.domain.FinBookAccountReceivable"
            resultMap="FinBookAccountReceivableResult">
        <include refid="selectFinBookAccountReceivableVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">and (
                <foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                    #{item}, '%')</foreach>)
            </if>
            <if test="bookAccountReceivableCode != null ">and t.book_account_receivable_code
                =#{bookAccountReceivableCode}
            </if>
            <if test="bookType != null  and bookType != ''">and (
                <foreach collection="bookType.split(';')" item="item" separator="or">t.book_type like concat('%',
                    #{item}, '%')</foreach>)
            </if>
            <if test="bookSourceCategory != null  and bookSourceCategory != ''">and (
                <foreach collection="bookSourceCategory.split(';')" item="item" separator="or">t.book_source_category
                    like concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="customerSid != null ">and t.customer_sid =#{customerSid}</if>
            <if test="companySid != null ">and t.company_sid =#{companySid}</if>
            <if test="documentDate != null ">and t.document_date = #{documentDate}</if>
            <if test="paymentYear != null ">and t.payment_year =#{paymentYear}</if>
            <if test="paymentMonth != null ">and t.payment_month =#{paymentMonth}</if>
            <if test="companyBrandSid != null ">and t.company_brand_sid =#{companyBrandSid}</if>
            <if test="businessChannel != null  and businessChannel != ''">and (
                <foreach collection="businessChannel.split(';')" item="item" separator="or">t.business_channel like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="currency != null  and currency != ''">and (
                <foreach collection="currency.split(';')" item="item" separator="or">t.currency like concat('%',
                    #{item}, '%')</foreach>)
            </if>
            <if test="currencyUnit != null  and currencyUnit != ''">and (
                <foreach collection="currencyUnit.split(';')" item="item" separator="or">t.currency_unit like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="referDocCategory != null  and referDocCategory != ''">and (
                <foreach collection="referDocCategory.split(';')" item="item" separator="or">t.refer_doc_category like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="referDocSid != null ">and t.refer_doc_sid =#{referDocSid}</if>
            <if test="referDocCode != null ">and t.refer_doc_code =#{referDocCode}</if>
            <if test="handleStatus != null  and handleStatus != ''">and (
                <foreach collection="handleStatus.split(';')" item="item" separator="or">t.handle_status like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">and (
                <foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">and date_format(t.create_date,'%y%m%d') &gt;=
                date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">and date_format(t.create_date,'%y%m%d') &lt;=
                date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">and (
                <foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="updateDate != null ">and t.update_date = #{updateDate}</if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">and (
                <foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="confirmDate != null ">and t.confirm_date = #{confirmDate}</if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">and (
                <foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">${params.dataScope}</if>
        </where>
    </select>
    <!--添加多个-->
    <insert id="inserts">insert into s_fin_book_account_receivable
        <trim prefix="(" suffix=")" suffixOverrides=",">client_id, book_account_receivable_sid,
            book_account_receivable_code, book_type, book_source_category, customer_sid, company_sid, document_date,
            payment_year, payment_month, company_brand_sid, business_channel, currency, currency_unit,
            refer_doc_category, refer_doc_sid, refer_doc_code, remark, handle_status, creator_account, create_date,
            updater_account, update_date, confirmer_account, confirm_date, data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">#{item.clientId}, #{item.bookAccountReceivableSid},
                #{item.bookAccountReceivableCode}, #{item.bookType}, #{item.bookSourceCategory}, #{item.customerSid},
                #{item.companySid}, #{item.documentDate}, #{item.paymentYear}, #{item.paymentMonth},
                #{item.companyBrandSid}, #{item.businessChannel}, #{item.currency}, #{item.currencyUnit},
                #{item.referDocCategory}, #{item.referDocSid}, #{item.referDocCode}, #{item.remark},
                #{item.handleStatus}, #{item.creatorAccount}, #{item.createDate}, #{item.updaterAccount},
                #{item.updateDate}, #{item.confirmerAccount}, #{item.confirmDate}, #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>
    <!--更新-->
    <update id="updateAllById">update s_fin_book_account_receivable
        <trim prefix="SET" suffixOverrides=",">client_id = #{clientId}, book_account_receivable_code =
            #{bookAccountReceivableCode}, book_type = #{bookType}, book_source_category = #{bookSourceCategory},
            customer_sid = #{customerSid}, company_sid = #{companySid}, document_date = #{documentDate}, payment_year =
            #{paymentYear}, payment_month = #{paymentMonth}, company_brand_sid = #{companyBrandSid}, business_channel =
            #{businessChannel}, currency = #{currency}, currency_unit = #{currencyUnit}, remark = #{remark},
            handle_status = #{handleStatus}, creator_account = #{creatorAccount}, create_date = #{createDate},
            updater_account = #{updaterAccount}, update_date = #{updateDate}, confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate}, data_source_sys = #{dataSourceSys},
        </trim>
        where book_account_receivable_sid = #{bookAccountReceivableSid}
    </update>
    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">update s_fin_book_account_receivable
            <trim prefix="SET" suffixOverrides=",">client_id = #{clientId}, book_account_receivable_code =
                #{bookAccountReceivableCode}, book_type = #{bookType}, book_source_category = #{bookSourceCategory},
                customer_sid = #{customerSid}, company_sid = #{companySid}, document_date = #{documentDate},
                payment_year = #{paymentYear}, payment_month = #{paymentMonth}, company_brand_sid = #{companyBrandSid},
                business_channel = #{businessChannel}, currency = #{currency}, currency_unit = #{currencyUnit},
                refer_doc_category = #{referDocCategory}, refer_doc_sid = #{referDocSid}, refer_doc_code =
                #{referDocCode}, remark = #{remark}, handle_status = #{handleStatus}, creator_account =
                #{creatorAccount}, create_date = #{createDate}, updater_account = #{updaterAccount}, update_date =
                #{updateDate}, confirmer_account = #{confirmerAccount}, confirm_date = #{confirmDate}, data_source_sys =
                #{dataSourceSys},
            </trim>
            where book_account_receivable_sid = #{bookAccountReceivableSid}
        </foreach>
    </update>
    <select id="getReportForm"
            parameterType="com.platform.ems.domain.FinBookAccountReceivable"
            resultMap="FinBookAccountReceivableResult">
        SELECT
        t.book_account_receivable_sid,
        t2.book_account_receivable_item_sid,
        t.book_account_receivable_code,
        t.book_type,
        t.book_source_category,
        t.customer_sid,
        t3.customer_name,
        ifnull(t3.short_name,t3.customer_name) as customer_short_name,
        t.company_sid,
        t4.company_name,
        ifnull(t4.short_name,t4.company_name) as company_short_name,
        t2.clear_status,
        t2.currency_amount_tax_yings,
        t2.currency_amount_tax_yhx,
        t2.currency_amount_tax_hxz,
        (t2.currency_amount_tax_yings - t2.currency_amount_tax_yhx - t2.currency_amount_tax_hxz) AS
        currency_amount_tax_dhx,
        t2.tax_rate,
        t2.item_num,
        t.currency,
        t.currency_unit,
        t.handle_status,
        t.remark,
        t.creator_account,
        t7.nick_name AS creator_account_name,
        t.create_date,
        t5.product_season_sid,
        t6.product_season_name,
        t8.name AS book_type_name,
        t9.name AS book_source_category_name,
        t2.refer_doc_sid,
        t5.sale_invoice_code AS refer_doc_code,
        t5.sale_invoice_sid,
        t5.sale_invoice_code,
        t2.sale_contract_sid,
        t10.sale_contract_code,
        t2.sale_order_sid,
        t11.sales_order_code AS sale_order_code,
        t2.account_valid_date,
        t2.is_finance_verify,
        datediff(now(),t2.account_valid_date) AS over_days
        FROM s_fin_book_account_receivable t
        LEFT JOIN s_fin_book_account_receivable_item t2 ON t.book_account_receivable_sid = t2.book_account_receivable_sid
        LEFT JOIN s_bas_customer t3 ON t.customer_sid = t3.customer_sid
        LEFT JOIN s_bas_company t4 ON t.company_sid = t4.company_sid
        LEFT JOIN s_fin_sale_invoice t5 ON t2.refer_doc_sid = t5.sale_invoice_sid
        LEFT JOIN s_bas_product_season t6 ON t6.product_season_sid = t5.product_season_sid
        LEFT JOIN sys_user t7 ON t.creator_account = t7.user_name
        LEFT JOIN s_con_book_type t8 ON t.book_type = t8.code
        LEFT JOIN s_con_book_source_category t9 ON t.book_source_category = t9.code
        LEFT JOIN s_sal_sale_contract t10 ON t2.sale_contract_sid = t10.sale_contract_sid
        LEFT JOIN s_sal_sales_order t11 ON t2.sale_order_sid = t11.sales_order_sid
        <where>
            <if test="clientId != null and clientId != ''">and (
                <foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                    #{item}, '%')</foreach>)
            </if>
            <if test="saleContractCode != null and saleContractCode != ''">and t10.sale_contract_code in (
                <foreach collection="saleContractCode.split(';')" item="item" separator=",">#{item}</foreach>
                )
            </if>
            <if test="saleOrderCode != null and saleOrderCode != ''">and t11.sales_order_code in (
                <foreach collection="saleOrderCode.split(';')" item="item" separator=",">#{item}</foreach>
                )
            </if>
            <if test="saleInvoiceCode != null and saleInvoiceCode != ''">
                and t5.sale_invoice_code like concat('%', #{saleInvoiceCode}, '%')
            </if>
            <if test="bookTypeList != null and bookTypeList.length >0">and t.book_type in
                (<foreach collection="bookTypeList" item="bookType" separator=","> #{bookType}</foreach>)
            </if>
            <if test="bookSourceCategoryList != null and bookSourceCategoryList.length >0">and t.book_source_category in
                (<foreach collection="bookSourceCategoryList" item="bookSourceCategory" separator=","> #{bookSourceCategory}</foreach>)
            </if>
            <if test="clearStatusList != null and clearStatusList.length >0">and t2.clear_status in
                (<foreach collection="clearStatusList" item="clearStatus" separator=","> #{clearStatus}</foreach>)
            </if>
            <if test="isFinanceVerify != null and isFinanceVerify != ''">
                and t2.is_finance_verify = #{isFinanceVerify}
            </if>
            <if test="companySidList != null and companySidList.length >0">and t.company_sid in
                (<foreach collection="companySidList" item="companySid" separator=","> #{companySid}</foreach>)
            </if>
            <if test="customerSidList != null and customerSidList.length >0">and t.customer_sid in
                (<foreach collection="customerSidList" item="customerSid" separator=","> #{customerSid}</foreach>)
            </if>
            <if test="productSeasonSidList != null and productSeasonSidList.length >0">and t5.product_season_sid in
                (<foreach collection="productSeasonSidList" item="productSeasonSid" separator=","> #{productSeasonSid}</foreach>)
            </if>
            <if test="bookType != null  and bookType != ''">and t.book_type =#{bookType}</if>
            <if test="bookSourceCategory != null  and bookSourceCategory != ''">and t.book_source_category
                =#{bookSourceCategory}
            </if>
            <if test="customerSid != null and customerSid != ''">and t.customer_sid =#{customerSid}</if>
            <if test="companySid != null and companySid != ''">and t.company_sid =#{companySid}</if>
            <if test="productSeasonSid != null and productSeasonSid != ''">and t5.product_season_sid
                =#{productSeasonSid}
            </if>
            <if test="handleStatusNot != null and handleStatusNot != '' ">and t.handle_status != #{handleStatusNot}</if>
            <if test="clearStatusNot != null and clearStatusNot != ''">and t2.clear_status != #{clearStatusNot}</if>
            <if test="clearStatus != null and clearStatus != ''">and t2.clear_status =#{clearStatus}</if>
            <if test="creatorAccount != null and creatorAccount != ''">and (
                <foreach collection="creatorAccount.split(';')" item="item" separator="or">t7.nick_name like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="handleStatus != null and handleStatus != '' ">and t.handle_status = #{handleStatus}</if>
            <if test="handleStatusList != null and handleStatusList.length >0">and t.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=","> #{handleStatus}</foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">and date_format(t.create_date,'%y%m%d') &gt;=
                date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">and date_format(t.create_date,'%y%m%d') &lt;=
                date_format(#{endTime},'%y%m%d')
            </if>
            <if test="toDay != null and toDay == -3">and date_format(now(),'%y%m%d') &lt;=
                date_format(t2.account_valid_date,'%y%m%d') and date_format(now(),'%y%m%d') &gt;=
                date_format(DATE_ADD(t2.account_valid_date,INTERVAL -3 day),'%y%m%d')
            </if>
            <if test="overDue != null and overDue!=''">and date_format(now(),'%y%m%d') &gt;=
                date_format(t2.account_valid_date,'%y%m%d')
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">and (
                <foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                    concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">${params.dataScope}</if>
        </where>
        order by t.book_account_receivable_code desc
    </select>

    <select id="getRoutineItem" parameterType="com.platform.ems.domain.FinSaleInvoice"
            resultMap="FinBookAccountReceivableAndItemResult">
        select t.book_account_receivable_code,
        t1.currency_amount_tax_yingf,
        t1.currency_amount_tax_yhx,
        t1.sale_amount_tax_hxz,
        t1.sale_contract_code,
        t1.sale_order_code,
        t2.sale_invoice_code,
        t4.name AS book_type_name,
        t5.name AS book_source_category_name,
        t3.customer_name FROM s_fin_book_account_receivable t
        LEFT JOIN s_fin_book_account_receivable_item t1 ON t.book_account_receivable_sid =
        t1.book_account_receivable_sid
        LEFT JOIN s_fin_sale_invoice t2 ON t1.refer_doc_sid = t2.sale_invoice_sid
        LEFT JOIN s_bas_customer t3 ON t.customer_sid = t3.customer_sid
        LEFT JOIN s_con_book_type t4 ON t4.code = t.book_type
        LEFT JOIN s_con_book_source_category t5 ON t.book_source_category = t5.code
        <where>
            <if test="customerSid != null  and customerSid != ''">and t.customer_sid in (
                <foreach collection="customerSid" item="item" separator=",">#{item}</foreach>
                )
            </if>
            <if test="companySid != null  and companySid != ''">and t.company_sid in (
                <foreach collection="companySid" item="item" separator=",">#{item}</foreach>
                )
            </if>
            <if test="materialType != null  and materialType != ''">and t2.material_type in (
                <foreach collection="materialType.split(';')" item="item" separator=",">#{item}</foreach>
                )
            </if>
            <if test="bookType != null  and bookType != ''">and t.book_type in (
                <foreach collection="bookType.split(';')" item="item" separator=",">#{item}</foreach>
                )
            </if>
            <if test="saleContractCode != null  and saleContractCode != ''">and t1.sale_contract_code in (
                <foreach collection="saleContractCode.split(';')" item="item" separator=",">#{item}</foreach>
                )
            </if>
            <if test="saleOrderCode != null  and saleOrderCode != ''">and t1.sale_order_code in (
                <foreach collection="saleOrderCode.split(';')" item="item" separator=",">#{item}</foreach>
                )
            </if>
            <if test="productSeasonSid != null  and productSeasonSid != ''">and t2.product_season_sid in (
                <foreach collection="productSeasonSid.split(';')" item="item" separator=",">#{item}</foreach>
                )
            </if>
        </where>
    </select>

    <resultMap type="com.platform.ems.domain.FinBookAccountReceivable" id="FinBookAccountReceivableAndItemResult">
        <result property="bookAccountReceivableCode" column="book_account_receivable_code"/>
        <result property="bookTypeName" column="book_type_name"/>
        <result property="bookSourceCategoryName" column="book_source_category_name"/>
        <result property="customerSid" column="customer_sid"/>
        <result property="customerName" column="customer_name"/>
        <result property="currencyAmountTaxYings" column="currency_amount_tax_yings"/>
        <result property="currencyAmountTaxYhx" column="currency_amount_tax_yhx"/>
        <result property="currencyAmountTaxHxz" column="currency_amount_tax_hxz"/>
        <result property="saleContractCode" column="sale_contract_code"/>
        <result property="saleOrderCode" column="sale_order_code"/>
        <result property="saleInvoiceCode" column="sale_invoice_code"/>
    </resultMap>

</mapper>
