<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.FinBookReceiptPaymentItemMapper">

    <resultMap type="com.platform.ems.domain.FinBookReceiptPaymentItem" id="FinBookReceiptPaymentItemResult">
        <result property="clientId" column="client_id"/>
        <result property="bookReceiptPaymentItemSid" column="book_receipt_payment_item_sid"/>
        <result property="bookReceiptPaymentSid" column="book_receipt_payment_sid"/>
        <result property="itemNum" column="item_num"/>
        <result property="currencyAmountTaxSk" column="currency_amount_tax_sk"/>
        <result property="currencyAmountTaxYhx" column="currency_amount_tax_yhx"/>
        <result property="currencyAmountTaxHxz" column="currency_amount_tax_hxz"/>
        <result property="referDocCategory" column="refer_doc_category"/>
        <result property="referDocSid" column="refer_doc_sid"/>
        <result property="referDocCode" column="refer_doc_code"/>
        <result property="referDocItemSid" column="refer_doc_item_sid"/>
        <result property="referDocItemCode" column="refer_doc_item_code"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="clearStatus" column="clear_status"/>
        <result property="accountValidDate" column="account_valid_date"/>
        <result property="newReceivableUseDate" column="new_receivable_use_date"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
    </resultMap>

    <sql id="selectFinBookReceiptPaymentItemVo">
        select t.client_id,
               t.book_receipt_payment_item_sid,
               t.book_receipt_payment_sid,
               t.item_num,
               t.currency_amount_tax_sk,
               t.currency_amount_tax_hxz,
               t2.currency_amount_tax_yhx,
               t2.currency_amount_tax_dhx,
               t.refer_doc_category,
               t.refer_doc_sid,
               t.refer_doc_code,
               t.refer_doc_item_sid,
               t.refer_doc_item_code,
               t.tax_rate,
               t.clear_status,
               t.account_valid_date,
               t.new_receivable_use_date,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.is_finance_verify,
               t.data_source_sys,
               t3.product_season_sid,
               t3.agent,
               u1.nick_name as agent_name,
               t4.product_season_name
        from s_fin_book_receipt_payment_item t
        LEFT JOIN s_fin_book_receipt_payment t1 on t.book_receipt_payment_sid = t1.book_receipt_payment_sid
        LEFT JOIN (<include refid="com.platform.ems.mapper.FinBookReceiptPaymentItemMapper.selectDaiHeXiao"/>) t2
            ON t.book_receipt_payment_item_sid = t2.book_receipt_payment_item_sid
        LEFT JOIN s_fin_receivable_bill t3 on t.refer_doc_sid = t3.receivable_bill_sid
        LEFT JOIN s_bas_product_season t4 on t3.product_season_sid = t4.product_season_sid
        LEFT JOIN sys_user u1 on t3.agent = u1.user_name
    </sql>

    <sql id="selectDaiHeXiao">
        SELECT
            t.book_receipt_payment_item_sid, t.book_receipt_payment_sid, t1.book_source_category,
            t.currency_amount_tax_sk,
            IF(t1.book_source_category = 'YSK', IFNULL(t2.currency_amount_tax_yu, 0), t.currency_amount_tax_yhx) as currency_amount_tax_yhx,
            IF(t1.book_source_category = 'YSK', (t.currency_amount_tax_sk - IFNULL(t3.currency_amount_tax_yu, 0)), (t.currency_amount_tax_sk - t.currency_amount_tax_yhx)) as currency_amount_tax_dhx
        FROM s_fin_book_receipt_payment_item t
        LEFT JOIN s_fin_book_receipt_payment t1 ON t.book_receipt_payment_sid = t1.book_receipt_payment_sid
        LEFT JOIN (
            SELECT i1.book_receipt_payment_sid, SUM(i1.currency_amount_tax) as currency_amount_tax_yu
            FROM s_fin_receivable_bill_item_yushou i1
            LEFT JOIN s_fin_receivable_bill i2 ON i1.receivable_bill_sid = i2.receivable_bill_sid
            WHERE i2.handle_status = '5'
            GROUP BY i1.book_receipt_payment_sid
        ) t2 ON t.book_receipt_payment_sid = t2.book_receipt_payment_sid
        LEFT JOIN (
            SELECT i1.book_receipt_payment_sid, SUM(i1.currency_amount_tax) as currency_amount_tax_yu
            FROM s_fin_receivable_bill_item_yushou i1
            LEFT JOIN s_fin_receivable_bill i2 ON i1.receivable_bill_sid = i2.receivable_bill_sid
            WHERE i2.handle_status = '5' OR i2.handle_status = '3'
            GROUP BY i1.book_receipt_payment_sid
        ) t3 ON t.book_receipt_payment_sid = t3.book_receipt_payment_sid
    </sql>

    <select id="selectFinBookReceiptPaymentItemById" parameterType="Long" resultMap="FinBookReceiptPaymentItemResult">
        <include refid="selectFinBookReceiptPaymentItemVo"/>
        where t.book_receipt_payment_item_sid = #{bookReceiptPaymentItemSid}
    </select>

    <select id="selectFinBookReceiptPaymentItemList" parameterType="com.platform.ems.domain.FinBookReceiptPaymentItem"
            resultMap="FinBookReceiptPaymentItemResult">
        <include refid="selectFinBookReceiptPaymentItemVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="bookReceiptPaymentSid != null ">
                and t.book_receipt_payment_sid =#{bookReceiptPaymentSid}
            </if>
            <if test="clearStatusList != null  and clearStatusList.length >0">
                and t.clear_status in (<foreach collection="clearStatusList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="bookSourceCategory != null and bookSourceCategory != ''">
                and t1.book_source_category =#{bookSourceCategory}
            </if>
            <if test="customerSid != null ">
                and t1.customer_sid =#{customerSid}
            </if>
            <if test="companySid != null ">
                and t1.company_sid =#{companySid}
            </if>
            <if test="itemNum != null ">
                and t.item_num =#{itemNum}
            </if>
            <if test="currencyAmountTaxSk != null ">
                and t.currency_amount_tax_sk = #{currencyAmountTaxSk}
            </if>
            <if test="currencyAmountTaxYhx != null ">
                and t.currency_amount_tax_yhx = #{currencyAmountTaxYhx}
            </if>
            <if test="currencyAmountTaxHxz != null ">
                and t.currency_amount_tax_hxz = #{currencyAmountTaxHxz}
            </if>
            <if test="referDocCategory != null ">and t.refer_doc_category =#{referDocCategory}</if>
            <if test="referDocSid != null ">and t.refer_doc_sid =#{referDocSid}</if>
            <if test="referDocCode != null ">and t.refer_doc_code =#{referDocCode}</if>
            <if test="referDocItemSid != null ">
                and t.refer_doc_item_sid =#{referDocItemSid}
            </if>
            <if test="referDocItemCode != null ">
                and t.refer_doc_item_code =#{referDocItemCode}
            </if>
            <if test="taxRate != null ">
                and t.tax_rate = #{taxRate}
            </if>
            <if test="clearStatus != null and clearStatus != ''">
                and t.clear_status = #{clearStatus}
            </if>
            <if test="isFinanceVerify != null and isFinanceVerify != ''">
                and t.is_finance_verify = #{isFinanceVerify}
            </if>
            <if test="accountValidDate != null ">
                and t.account_valid_date = #{accountValidDate}
            </if>
            <if test="newReceivableUseDate != null ">
                and t.new_receivable_use_date = DATE_FORMAT(#{newReceivableUseDate}, '%Y-%m-%d')
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and t.creator_account = #{creatorAccount}
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_fin_book_receipt_payment_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            book_receipt_payment_item_sid,
            book_receipt_payment_sid,
            item_num,
            currency_amount_tax_sk,
            currency_amount_tax_yhx,
            currency_amount_tax_hxz,
            refer_doc_category,
            refer_doc_sid,
            refer_doc_code,
            refer_doc_item_sid,
            refer_doc_item_code,
            tax_rate,
            clear_status,
            account_valid_date,
            is_finance_verify,
            new_receivable_use_date,
            remark,
            creator_account,
            create_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.bookReceiptPaymentItemSid},
                #{item.bookReceiptPaymentSid},
                #{item.itemNum},
                #{item.currencyAmountTaxSk},
                #{item.currencyAmountTaxYhx},
                #{item.currencyAmountTaxHxz},
                #{item.referDocCategory},
                #{item.referDocSid},
                #{item.referDocCode},
                #{item.referDocItemSid},
                #{item.referDocItemCode},
                #{item.taxRate},
                #{item.clearStatus},
                #{item.accountValidDate},
                #{item.isFinanceVerify},
                #{item.newRceivableUseDate,},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_fin_book_receipt_payment_item
        <trim prefix="SET" suffixOverrides=",">
            item_num = #{itemNum},
            currency_amount_tax_sk = #{currencyAmountTaxSk},
            currency_amount_tax_yhx = #{currencyAmountTaxYhx},
            currency_amount_tax_hxz = #{currencyAmountTaxHxz},
            refer_doc_category = #{referDocCategory}, refer_doc_sid = #{referDocSid}, refer_doc_code = #{referDocCode},
            refer_doc_item_sid = #{referDocItemSid},
            refer_doc_item_code = #{referDocItemCode},
            tax_rate = #{taxRate},
            clear_status = #{clearStatus},
            account_valid_date = #{accountValidDate},
            is_finance_verify = #{isFinanceVerify},
            new_receivable_use_date = #{newReceivableUseDate},
            remark = #{remark},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where book_receipt_payment_item_sid = #{bookReceiptPaymentItemSid}
    </update>


</mapper>
