<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.ems.mapper.FinBookPaymentEstimationMapper">
    <resultMap type="com.platform.ems.domain.FinBookPaymentEstimation" id="FinBookPaymentEstimationResult">
        <result property="clientId" column="client_id"/>
        <result property="bookPaymentEstimationSid" column="book_payment_estimation_sid"/>
        <result property="bookPaymentEstimationItemSid" column="book_payment_estimation_item_sid"/>
        <result property="bookPaymentEstimationCode" column="book_payment_estimation_code"/>
        <result property="bookType" column="book_type"/>
        <result property="bookTypeName" column="book_type_name"/>
        <result property="bookSourceCategory" column="book_source_category"/>
        <result property="bookSourceCategoryName" column="book_source_category_name"/>
        <result property="vendorSid" column="vendor_sid"/>
        <result property="vendorCode" column="vendor_code"/>
        <result property="companySid" column="company_sid"/>
        <result property="companyCode" column="company_code"/>
        <result property="isTuihuo" column="is_tuihuo"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialName" column="material_name"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="unitPriceName" column="unit_price_name"/>
        <result property="currencyAmountTaxDhx" column="currency_amount_tax_dhx"/>
        <result property="clearStatus" column="clear_status"/>
        <result property="currencyAmountTaxFkYhx" column="currency_amount_tax_fk_yhx"/>
        <result property="currencyAmountTaxFkHxz" column="currency_amount_tax_fk_hxz"/>
        <result property="currencyAmountTaxKpYhx" column="currency_amount_tax_kp_yhx"/>
        <result property="currencyAmountTaxKpHxz" column="currency_amount_tax_kp_hxz"/>
        <result property="quantity" column="quantity"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="taxRateName" column="tax_rate_name"/>
        <result property="purchaseContractCode" column="purchase_contract_code"/>
        <result property="purchaseOrderCode" column="purchase_order_code"/>
        <result property="deliveryNoteCode" column="delivery_note_code"/>
        <result property="documentDate" column="document_date"/>
        <result property="paymentYear" column="payment_year"/>
        <result property="paymentMonth" column="payment_month"/>
        <result property="companyBrandSid" column="company_brand_sid"/>
        <result property="businessChannel" column="business_channel"/>
        <result property="storehouseOperatorName" column="storehouse_operator_name"/>
        <result property="accountDate" column="account_date"/>
        <result property="productSeasonSid" column="product_season_sid"/>
        <result property="productSeasonName" column="product_season_name"/>
        <result property="currency" column="currency"/>
        <result property="currencyUnit" column="currency_unit"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="inventoryDocumentCode" column="inventory_document_code"/>
        <result property="bookSourceCategoryName" column="book_source_category_name"/>
        <result property="bookTypeName" column="book_type_name"/>
        <result property="itemNum" column="item_num"/>
        <result property="rawMaterialMode" column="raw_material_mode"/>
        <result property="purchaseMode" column="purchase_mode"/>
        <result property="bookFeature" column="book_feature"/>
    </resultMap>

    <sql id="selectFinBookPaymentEstimationVo">
        SELECT t.client_id,
               t.book_payment_estimation_sid,
               t.book_payment_estimation_code,
               t.book_type,
               t4.name AS book_type_name,
               t.book_source_category,
               t5.name AS book_source_category_name,
               t.vendor_sid,
               t.vendor_code,
               t.company_sid,
               t.company_code,
               t.is_tuihuo,
               t.document_date,
               t.payment_year,
               t.payment_month,
               t.company_brand_sid,
               t.business_channel,
               t.currency,
               t.currency_unit,
               t.remark,
               t.handle_status,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.confirmer_account,
               t.confirm_date,
               t.data_source_sys,
               t1.vendor_name,
               t2.brand_name,
               t2.brand_code,
               t3.company_name,
               t.book_feature
        FROM s_fin_book_payment_estimation t
                 LEFT JOIN s_bas_vendor t1 ON t1.vendor_sid = t.vendor_sid
                 LEFT JOIN s_bas_company_brand t2 ON t2.company_brand_sid = t.company_brand_sid
                 LEFT JOIN s_bas_company t3 ON t3.company_sid = t.company_sid
                 LEFT JOIN s_con_book_type t4 ON t4.code = t.book_type
                 LEFT JOIN s_con_book_source_category t5 ON t5.code = t.book_source_category
    </sql>

    <select id="selectFinBookPaymentEstimationById" parameterType="Long" resultMap="FinBookPaymentEstimationResult">
        <include refid="selectFinBookPaymentEstimationVo"/>
        where t.book_payment_estimation_sid = #{bookPaymentEstimationSid}
    </select>

    <select id="selectFinBookPaymentEstimationList" parameterType="com.platform.ems.domain.FinBookPaymentEstimation"
            resultMap="FinBookPaymentEstimationResult">
        <include refid="selectFinBookPaymentEstimationVo"/>
        <where>
            <if test="clientId != null and clientId != ''">and t.client_id = #{clientId}</if>
            <if test="bookPaymentEstimationCode != null">and t.book_payment_estimation_code = #{bookPaymentEstimationCode}</if>
            <if test="bookType != null and bookType != ''">and t.book_type = #{bookType}</if>
            <if test="bookSourceCategory != null and bookSourceCategory != ''">and t.book_source_category = #{bookSourceCategory}</if>
            <if test="bookFeature != null and bookFeature != ''">and t.book_feature = #{bookFeature}</if>
            <if test="vendorSid != null">and t.vendor_sid = #{vendorSid}</if>
            <if test="companySid != null">and t.company_sid = #{companySid}</if>
            <if test="documentDate != null">and t.document_date = #{documentDate}</if>
            <if test="paymentYear != null">and t.payment_year = #{paymentYear}</if>
            <if test="paymentMonth != null">and t.payment_month = #{paymentMonth}</if>
            <if test="companyBrandSid != null">and t.company_brand_sid = #{companyBrandSid}</if>
            <if test="businessChannel != null and businessChannel != ''">and t.business_channel = #{businessChannel}</if>
            <if test="currency != null and currency != ''">and t.currency = #{currency}</if>
            <if test="currencyUnit != null and currencyUnit != ''">and t.currency_unit = #{currencyUnit}</if>
            <if test="handleStatus != null and handleStatus != ''">and t.handle_status = #{handleStatus}</if>
            <if test="creatorAccount != null and creatorAccount != ''">and t.creator_account like concat('%', #{creatorAccount} , '%')</if>
            <if test="beginTime != null and beginTime!=''">and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')</if>
            <if test="endTime != null and endTime!=''">and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')</if>
            <if test="updaterAccount != null and updaterAccount != ''">and t.updater_account like concat('%', #{updaterAccount} , '%')</if>
            <if test="updateDate != null ">and t.update_date = #{updateDate}</if>
            <if test="confirmerAccount != null and confirmerAccount != ''">and t.confirmer_account like concat('%', #{confirmerAccount} , '%')</if>
            <if test="confirmDate != null ">and t.confirm_date = #{confirmDate}</if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">and t.data_source_sys = #{dataSourceSys}</if>
            <if test="params.dataScope != null and params.dataScope!=''">${params.dataScope}</if>
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_fin_book_payment_estimation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            book_payment_estimation_sid,
            book_payment_estimation_code,
            book_feature,
            book_type,
            book_source_category,
            vendor_sid,
            vendor_code,
            company_sid,
            company_code,
            is_tuihuo,
            document_date,
            payment_year,
            payment_month,
            company_brand_sid,
            business_channel,
            currency,
            currency_unit,
            remark,
            handle_status,
            creator_account,
            create_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{clientId},
                #{bookPaymentEstimationSid},
                #{bookPaymentEstimationCode},
                #{bookFeature},
                #{bookType},
                #{bookSourceCategory},
                #{vendorSid},
                #{vendorCode},
                #{companySid},
                #{companyCode},
                #{isTuihuo},
                #{documentDate},
                #{paymentYear},
                #{paymentMonth},
                #{companyBrandSid},
                #{businessChannel},
                #{currency},
                #{currencyUnit},
                #{remark},
                #{handleStatus},
                #{creatorAccount},
                #{createDate},
                #{confirmerAccount},
                #{confirmDate},
                #{dataSourceSys},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_fin_book_payment_estimation
        <trim prefix="SET" suffixOverrides=",">
            book_feature = #{bookFeature},
            book_type = #{bookType},
            book_source_category = #{bookSourceCategory},
            vendor_sid = #{vendorSid},
            vendor_code = #{vendorCode},
            company_sid = #{companySid},
            company_code = #{companyCode},
            is_tuihuo = #{isTuihuo},
            document_date = #{documentDate},
            payment_year = #{paymentYear},
            payment_month = #{paymentMonth},
            company_brand_sid = #{companyBrandSid},
            business_channel = #{businessChannel},
            currency = #{currency},
            currency_unit = #{currencyUnit},
            remark = #{remark},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where book_payment_estimation_sid = #{bookPaymentEstimationSid}
    </update>

    <!-- 查报表 -->
    <select id="getReportForm" parameterType="com.platform.ems.domain.FinBookPaymentEstimation"
            resultMap="FinBookPaymentEstimationResult">
        SELECT
        t.client_id,
        t.book_payment_estimation_sid,
        t4.book_payment_estimation_item_sid,
        t.book_payment_estimation_code,
        t.book_type,
        t.book_source_category,
        t12.name AS book_source_category_name,
        t.vendor_sid,
        t.vendor_code,
        t.company_sid,
        t.company_code,
        t.is_tuihuo,
        t.document_date,
        t.payment_year,
        t.payment_month,
        t.company_brand_sid,
        t.business_channel,
        t.currency,
        t.currency_unit,
        t.remark,
        t.handle_status,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.update_date,
        t.confirmer_account,
        t.confirm_date,
        t.data_source_sys,
        t1.vendor_name,
        ifnull(t1.short_name,t1.vendor_name) as vendor_short_name,
        t2.brand_name,
        t2.brand_code,
        t3.company_name,
        ifnull(t3.short_name,t3.company_name) as company_short_name,
        t5.material_code,
        t5.material_name,
        t4.unit_price,
        t6.name AS unit_price_name,
        t4.price_tax,
        t4.price,
        t4.currency_amount_tax,
        t4.currency_amount_tax_yhx,
        ifnull(t22.currency_amount_tax_log, 0) as currency_amount_tax_hxz,
        (t4.currency_amount_tax - t4.currency_amount_tax_yhx - ifnull(t22.currency_amount_tax_log, 0)) AS currency_amount_tax_dhx,
        t4.tax_rate,
        t11.tax_rate_name,
        t17.purchase_contract_code,
        ifnull(t15.manufacture_outsource_settle_code,t16.purchase_order_code) AS purchase_order_code,
        t18.delivery_note_code,
        t4.quantity,
        t4.quantity_yhx,
        t4.quantity_hxz,
        t4.currency_amount_tax_fk_yhx,
        t4.currency_amount_tax_fk_hxz,
        t4.currency_amount_tax_kp_yhx,
        t4.currency_amount_tax_kp_hxz,
        (t4.quantity - t4.quantity_yhx - t4.quantity_hxz) AS quantity_dhx,
        t4.clear_status,
        t4.clear_status_money,
        t4.clear_status_quantity,
        t4.account_valid_date,
        t4.is_business_verify,
        t4.business_verify_period,
        t4.is_finance_verify,
        t4.item_num,
        t13.nick_name AS storehouse_operator_name,
        t7.account_date,
        t7.inventory_document_code AS inventory_document_code,
        t7a.inventory_document_item_sid,
        if(t7.refer_doc_category = 'PO' or t7.refer_doc_category = 'RPO', t7b.quantity, t7d.quantity) as order_quantity,
        if(t7.refer_doc_category = 'PO' or t7.refer_doc_category = 'RPO', t7b.contract_date, t7d.contract_date) as contract_date,
        t16.product_season_sid,
        t10.product_season_name,
        t14.name AS book_type_name, t4.purchase_order_sid,
        t16.raw_material_mode, t16.purchase_mode, t4.material_sid, t4.sku1_sid,
        t.book_feature,
        t20.sku_name as sku1_name,
        t21.sku_name as sku2_name,
        t24.name as material_type_name
        FROM s_fin_book_payment_estimation_item t4
        LEFT JOIN s_fin_book_payment_estimation t on t4.book_payment_estimation_sid = t.book_payment_estimation_sid
        LEFT JOIN s_bas_vendor t1 ON t1.vendor_sid = t.vendor_sid
        LEFT JOIN s_bas_company_brand t2 ON t2.company_brand_sid = t.company_brand_sid
        LEFT JOIN s_bas_company t3 ON t3.company_sid = t.company_sid
        LEFT JOIN s_bas_material t5 ON t4.material_sid = t5.material_sid
        LEFT JOIN s_con_measure_unit t6 ON t6.code = t4.unit_price
        LEFT JOIN s_inv_inventory_document t7 ON t4.refer_doc_sid = t7.inventory_document_sid
        LEFT JOIN s_inv_inventory_document_item t7a ON t4.refer_doc_item_sid = t7a.inventory_document_item_sid
        LEFT JOIN s_pur_purchase_order_item t7b ON t7a.refer_document_item_sid = t7b.purchase_order_item_sid
        LEFT JOIN s_del_delivery_note_item t7c ON t7a.refer_document_item_sid = t7c.delivery_note_item_sid
        LEFT JOIN s_pur_purchase_order_item t7d ON t7c.purchase_order_item_sid = t7d.purchase_order_item_sid
        LEFT JOIN sys_user t8 ON t.creator_account = t8.user_name
        LEFT JOIN s_con_tax_rate t11 ON t11.tax_rate_name = t4.tax_rate
        LEFT JOIN s_con_book_source_category t12 ON t12.code = t.book_source_category
        LEFT JOIN sys_user t13 ON t7.storehouse_operator = t13.user_name
        LEFT JOIN s_con_book_type t14 ON t.book_type = t14.code
        LEFT JOIN s_man_manufacture_outsource_settle t15 ON t4.purchase_order_sid = t15.manufacture_outsource_settle_sid
        LEFT JOIN s_pur_purchase_order t16 ON t4.purchase_order_sid = t16.purchase_order_sid
        LEFT JOIN s_pur_purchase_contract t17 ON t16.purchase_contract_sid = t17.purchase_contract_sid
        LEFT JOIN s_del_delivery_note t18 ON t4.delivery_note_sid = t18.delivery_note_sid
        LEFT JOIN sys_user t19 ON t16.buyer = t19.user_name
        LEFT JOIN s_bas_product_season t10 ON t10.product_season_sid = t16.product_season_sid
        LEFT JOIN s_bas_sku t20 ON t4.sku1_sid = t20.sku_sid
        LEFT JOIN s_bas_sku t21 ON t4.sku2_sid = t21.sku_sid
        LEFT JOIN (
            SELECT log.book_payment_estimation_item_sid, SUM(log.currency_amount_tax) as currency_amount_tax_log
            FROM s_fin_clear_log_payment_estimation log
            WHERE log.shengxiao_status = 'WSX'
            GROUP BY log.book_payment_estimation_item_sid
        ) t22 ON t22.book_payment_estimation_item_sid = t4.book_payment_estimation_item_sid
        LEFT JOIN s_con_material_type t24 ON t5.material_type = t24.code
        <where>
            <if test="clientId != null and clientId != ''">and t.client_id = #{clientId}</if>
            <if test="bookPaymentEstimationCode != null ">and t.book_payment_estimation_code = #{bookPaymentEstimationCode}</if>
            <if test="bookFeature != null and bookFeature != ''">and t.book_feature = #{bookFeature}</if>
            <if test="bookType != null and bookType != ''">and t.book_type = #{bookType}</if>
            <if test="bookTypeList != null and bookTypeList.length >0">and t.book_type in
                (<foreach collection="bookTypeList" item="bookType" separator=",">#{bookType}</foreach>)
            </if>
            <if test="bookSourceCategory != null  and bookSourceCategory != ''">and t.book_source_category = #{bookSourceCategory}</if>
            <if test="bookSourceCategoryList != null and bookSourceCategoryList.length >0">and t.book_source_category in
                (<foreach collection="bookSourceCategoryList" item="bookSourceCategory" separator=",">#{bookSourceCategory}</foreach>)
            </if>
            <if test="purchaseOrg != null and purchaseOrg != ''">and t16.purchase_org = #{purchaseOrg}</if>
            <if test="buyer != null and buyer != ''">and t19.nick_name like concat('%', #{buyer}, '%')</if>
            <if test="purchaseOrderCode != null and purchaseOrderCode != ''">and t16.purchase_order_code like concat('%', #{purchaseOrderCode}, '%')</if>
            <if test="purchaseMode != null and purchaseMode != ''">and t16.purchase_mode = #{purchaseMode}</if>
            <if test="deliveryNoteCode != null and deliveryNoteCode != ''">and t18.delivery_note_code like concat('%', #{deliveryNoteCode}, '%')</if>
            <if test="purchaseContractCode != null and purchaseContractCode != ''">and t17.purchase_contract_code like concat('%', #{purchaseContractCode}, '%')</if>
            <if test="handleStatusNot != null and handleStatusNot != ''">and t.handle_status != #{handleStatusNot}</if>
            <if test="handleStatus != null  and handleStatus != ''">and t.handle_status = #{handleStatus}</if>
            <if test="handleStatusList != null and handleStatusList.length >0">and t.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="materialCode != null and materialCode != ''">and t5.material_code like concat('%', #{materialCode}, '%')</if>
            <if test="materialTypeList != null and materialTypeList.length >0">and t5.material_type in
                (<foreach collection="materialTypeList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="sku1Name != null and sku1Name != ''">and t20.sku_name like concat('%', #{sku1Name}, '%')</if>
            <if test="sku2Name != null and sku2Name != ''">and t21.sku_name like concat('%', #{sku2Name}, '%')</if>
            <if test="isBusinessVerify != null and isBusinessVerify != ''">and t4.is_business_verify = #{isBusinessVerify}</if>
            <if test="isFinanceVerify != null and isFinanceVerify != ''">and t4.is_finance_verify = #{isFinanceVerify}</if>
            <if test="businessVerifyPeriod != null and businessVerifyPeriod != ''">and t4.business_verify_period = #{businessVerifyPeriod}</if>
            <if test="clearStatusNot != null and clearStatusNot != '' ">and t4.clear_status != #{clearStatusNot}</if>
            <if test="currencyAmountTaxFkYhx != null and currencyAmountTaxFkYhx != '' ">and t4.currency_amount_tax_fk_yhx != #{currencyAmountTaxFkYhx}</if>
            <if test="currencyAmountTaxFkHxz != null and currencyAmountTaxFkHxz != '' ">and t4.currency_amount_tax_fk_hxz != #{currencyAmountTaxFkHxz}</if>
            <if test="currencyAmountTaxKpYhx != null and currencyAmountTaxKpYhx != '' ">and t4.currency_amount_tax_kp_yhx != #{currencyAmountTaxKpYhx}</if>
            <if test="currencyAmountTaxKpHxz != null and currencyAmountTaxKpHxz != '' ">and t4.currency_amount_tax_kp_hxz != #{currencyAmountTaxKpHxz}</if>
            <if test="clearStatus != null and clearStatus != '' ">and t4.clear_status =#{clearStatus}</if>
            <if test="clearStatusMoney != null and clearStatusMoney != '' ">and t4.clear_status_money = #{clearStatusMoney}</if>
            <if test="clearStatusQuantity != null and clearStatusQuantity != '' ">and t4.clear_status_quantity = #{clearStatusQuantity}</if>
            <if test="clearStatusMoneyList != null and clearStatusMoneyList.length >0">and t4.clear_status_money in
                (<foreach collection="clearStatusMoneyList" item="clearStatusMoney" separator=",">#{clearStatusMoney}</foreach>)
            </if>
            <if test="companySid != null">and t.company_sid = #{companySid}</if>
            <if test="companySidList != null and companySidList.length >0">and t.company_sid in
                (<foreach collection="companySidList" item="companySid" separator=",">#{companySid}</foreach>)
            </if>
            <if test="vendorSid != null">and t.vendor_sid = #{vendorSid}</if>
            <if test="vendorSidList != null and vendorSidList.length >0">and t.vendor_sid in
                (<foreach collection="vendorSidList" item="vendorSid" separator=",">#{vendorSid}</foreach>)
            </if>
            <if test="productSeasonSid != null">and t16.product_season_sid = #{productSeasonSid}</if>
            <if test="productSeasonSidList != null and productSeasonSidList.length >0">and t16.product_season_sid in
                (<foreach collection="productSeasonSidList" item="productSeasonSid" separator=",">#{productSeasonSid}</foreach>)
            </if>
            <if test="documentDate != null">and t.document_date = #{documentDate}</if>
            <if test="paymentYear != null">and t.payment_year =#{paymentYear}</if>
            <if test="paymentMonth != null">and t.payment_month =#{paymentMonth}</if>
            <if test="companyBrandSid != null">and t.company_brand_sid =#{companyBrandSid}</if>
            <if test="businessChannel != null and businessChannel != ''">and t.business_channel = #{businessChannel}</if>
            <if test="currency != null and currency != ''">and t.currency = #{currency}</if>
            <if test="currencyUnit != null and currencyUnit != ''">and t.currency_unit = #{currencyUnit}</if>
            <if test="creatorAccount != null and creatorAccount != ''">and t8.nick_name like concat('%', #{creatorAccount} , '%')</if>
            <if test="accountDateBegin != null and accountDateBegin!=''">and date_format(t7.account_date,'%y%m%d') &gt;= date_format(#{accountDateBegin},'%y%m%d')</if>
            <if test="accountDateEnd != null and accountDateEnd!=''">and date_format(t7.account_date,'%y%m%d') &lt;= date_format(#{accountDateEnd},'%y%m%d')</if>
            <if test="beginTime != null and beginTime!=''">and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')</if>
            <if test="endTime != null and endTime!=''">and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')</if>
            <if test="updaterAccount != null and updaterAccount != ''">and t.updater_account like concat('%', #{updaterAccount} , '%')</if>
            <if test="updateDate != null ">and t.update_date = #{updateDate}</if>
            <if test="confirmerAccount != null and confirmerAccount != ''">and t.confirmer_account like concat('%', #{confirmerAccount} , '%')</if>
            <if test="confirmDate != null ">and t.confirm_date = #{confirmDate}</if>
            <if test="dataSourceSys != null and dataSourceSys != ''">and t.data_source_sys = #{dataSourceSys}</if>
            <if test="params.dataScope != null and params.dataScope!=''">${params.dataScope}</if>
        </where>
        order by t.book_payment_estimation_code desc, t4.book_payment_estimation_item_sid asc
    </select>
</mapper>
