<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.FinPayBillItemHuokuanMapper">

    <resultMap type="com.platform.ems.domain.FinPayBillItemHuokuan"
               id="FinPayBillItemHuokuanResult">
        <result property="clientId" column="client_id"/>
        <result property="payBillItemHuokuanSid" column="pay_bill_item_huokuan_sid"/>
        <result property="payBillSid" column="pay_bill_sid"/>
        <result property="productSeasonSid" column="product_season_sid"/>
        <result property="currencyAmountTax" column="currency_amount_tax"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
    </resultMap>

    <sql id="selectFinPayBillItemHuokuanVo">
        select t.client_id,
               t.pay_bill_item_huokuan_sid,
               t.pay_bill_sid,
               t.product_season_sid,
               t5.product_season_name,
               t.currency_amount_tax,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.data_source_sys,
               u1.nick_name AS creator_account_name,
               u2.nick_name AS updater_account_name
        from s_fin_pay_bill_item_huokuan t
         LEFT JOIN sys_user u1 ON t.creator_account = u1.user_name
         LEFT JOIN sys_user u2 ON t.updater_account = u2.user_name
         LEFT JOIN s_bas_product_season t5 ON t.product_season_sid = t5.product_season_sid
    </sql>

    <select id="selectFinPayBillItemHuokuanById" parameterType="Long"
            resultMap="FinPayBillItemHuokuanResult">
        <include refid="selectFinPayBillItemHuokuanVo"/>
        where t.pay_bill_item_huokuan_sid = #{payBillItemHuokuanSid}
    </select>

    <select id="selectFinPayBillItemHuokuanList"
            parameterType="com.platform.ems.domain.FinPayBillItemHuokuan"
            resultMap="FinPayBillItemHuokuanResult">
        <include refid="selectFinPayBillItemHuokuanVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="payBillItemHuokuanSid != null ">
                and t.pay_bill_item_huokuan_sid = #{payBillItemKoukuanSid}
            </if>
            <if test="payBillItemHuokuanSidList != null and payBillItemHuokuanSidList.length >0">
                and t.pay_bill_item_huokuan_sid in
                (<foreach collection="payBillItemHuokuanSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="payBillSid != null ">
                and t.pay_bill_sid = #{payBillSid}
            </if>
            <if test="payBillSidList != null  and payBillSidList.length >0">
                and t.pay_bill_sid in (<foreach collection="payBillSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="productSeasonSid != null ">
                and t.product_season_sid = #{productSeasonSid}
            </if>
            <if test="productSeasonSidList != null  and productSeasonSidList.length >0">
                and t.product_season_sid in (<foreach collection="productSeasonSidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="currencyAmountTax != null ">
                and t.currency_amount_tax = #{currencyAmountTax}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and t.creator_account = #{creatorAccount}
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null and updaterAccount != ''">
                and t.updater_account = #{updaterAccount}
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_fin_pay_bill_item_huokuan
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            pay_bill_item_huokuan_sid,
            pay_bill_sid,
            product_season_sid,
            currency_amount_tax,
            remark,
            creator_account,
            create_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.payBillItemHuokuanSid},
                #{item.payBillSid},
                #{item.productSeasonSid},
                #{item.currencyAmountTax},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_fin_pay_bill_item_huokuan
        <trim prefix="SET" suffixOverrides=",">
            product_season_sid = #{productSeasonSid},
            currency_amount_tax = #{currencyAmountTax},
            remark = #{remark},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
        </trim>
        where pay_bill_item_huokuan_sid = #{payBillItemHuokuanSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_fin_pay_bill_item_huokuan
            <trim prefix="SET" suffixOverrides=",">
                product_season_sid = #{o.productSeasonSid},
                currency_amount_tax = #{o.currencyAmountTax},
                remark = #{o.remark},
                updater_account = #{o.updaterAccount},
                update_date = #{o.updateDate},
            </trim>
            where pay_bill_item_huokuan_sid = #{o.payBillItemHuokuanSid}
        </foreach>
    </update>

</mapper>
