<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.FinRecordAdvancePaymentItemMapper">

    <resultMap type="com.platform.ems.domain.FinRecordAdvancePaymentItem" id="FinRecordAdvancePaymentItemResult">
        <result property="clientId" column="client_id"/>
        <result property="recordAdvancePaymentItemSid" column="record_advance_payment_item_sid"/>
        <result property="recordAdvancePaymentSid" column="record_advance_payment_sid"/>
        <result property="itemNum" column="item_num"/>
        <result property="currencyAmountTaxYingf" column="currency_amount_tax_yingf"/>
        <result property="currencyAmountTaxYhx" column="currency_amount_tax_yhx"/>
        <result property="currencyAmountTaxHxz" column="currency_amount_tax_hxz"/>
        <result property="currencyAmountTaxDhx" column="currency_amount_tax_dhx"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="clearStatus" column="clear_status"/>
        <result property="accountValidDays" column="account_valid_days"/>
        <result property="dayType" column="day_type"/>
        <result property="accountValidDate" column="account_valid_date"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
    </resultMap>

    <sql id="selectFinRecordAdvancePaymentItemVo">
        select t.client_id,
               t.record_advance_payment_item_sid,
               t.record_advance_payment_sid,
               t.account_valid_days,
               t.day_type,
               t.item_num,
               t.currency_amount_tax_yingf,
               t.currency_amount_tax_yhx,
               t.currency_amount_tax_hxz,
               t.tax_rate,
               t.clear_status,
               t.account_valid_days,
               t.day_type,
               t.account_valid_date,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.data_source_sys,
               (t.currency_amount_tax_yingf - t.currency_amount_tax_yhx - t.currency_amount_tax_hxz) AS currency_amount_tax_dhx
        from s_fin_record_advance_payment_item t
        left join s_fin_record_advance_payment t2 on t.record_advance_payment_sid = t2.record_advance_payment_sid
    </sql>

    <select id="selectFinRecordAdvancePaymentItemById" parameterType="Long"
            resultMap="FinRecordAdvancePaymentItemResult">
        <include refid="selectFinRecordAdvancePaymentItemVo"/>
        where t.record_advance_payment_item_sid = #{recordAdvancePaymentItemSid}
    </select>


    <select id="selectFinRecordAdvancePaymentItemList"
            parameterType="com.platform.ems.domain.FinRecordAdvancePaymentItem"
            resultMap="FinRecordAdvancePaymentItemResult">
        <include refid="selectFinRecordAdvancePaymentItemVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="recordAdvancePaymentSid != null ">
                and t.record_advance_payment_sid =#{recordAdvancePaymentSid}
            </if>
            <if test="recordAdvancePaymentItemSidList != null and recordAdvancePaymentItemSidList.length >0">and t.record_advance_payment_item_sid in
                (<foreach collection="recordAdvancePaymentItemSidList" item="recordAdvancePaymentItemSid" separator=","> #{recordAdvancePaymentItemSid}</foreach>)
            </if>
            <if test="clearStatusList != null and clearStatusList.length >0">and t.clear_status in
                (<foreach collection="clearStatusList" item="clearStatus" separator=","> #{clearStatus}</foreach>)
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0">and t2.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=","> #{handleStatus}</foreach>)
            </if>
            <if test="itemNum != null ">
                and t.item_num =#{itemNum}
            </if>
            <if test="currencyAmountTaxYingf != null ">
                and t.currency_amount_tax_yingf = #{currencyAmountTaxYingf}
            </if>
            <if test="currencyAmountTaxYhx != null ">
                and t.currency_amount_tax_yhx = #{currencyAmountTaxYhx}
            </if>
            <if test="currencyAmountTaxHxz != null ">
                and t.currency_amount_tax_hxz = #{currencyAmountTaxHxz}
            </if>
            <if test="taxRate != null ">
                and t.tax_rate = #{taxRate}
            </if>
            <if test="clearStatus != null  and clearStatus != ''">
                and (<foreach collection="clearStatus.split(';')" item="item" separator="or">t.clear_status like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="accountValidDays != null ">and t.account_valid_days = #{accountValidDays}</if>
            <if test="dayType != null ">and t.day_type = #{dayType}</if>

            <if test="accountValidDate != null ">
                and t.account_valid_date = #{accountValidDate}
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_fin_record_advance_payment_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            record_advance_payment_item_sid,
            record_advance_payment_sid,
            item_num,
            currency_amount_tax_yingf,
            currency_amount_tax_yhx,
            currency_amount_tax_hxz,
            tax_rate,
            clear_status,
            account_valid_days,
            day_type,
            account_valid_date,
            remark,
            day_type,
            creator_account,
            account_valid_days,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.recordAdvancePaymentItemSid},
                #{item.recordAdvancePaymentSid},
                #{item.itemNum},
                #{item.currencyAmountTaxYingf},
                #{item.currencyAmountTaxYhx},
                #{item.currencyAmountTaxHxz},
                #{item.taxRate},
                #{item.clearStatus},
                #{accountValidDays},
                #{dayType},
                #{item.accountValidDate},
                #{item.remark},
                #{item.dayType},
                #{item.creatorAccount},
                #{item.accountValidDays},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_fin_record_advance_payment_item
        <trim prefix="SET" suffixOverrides=",">
            record_advance_payment_sid = #{recordAdvancePaymentSid},
            item_num = #{itemNum},
            currency_amount_tax_yingf = #{currencyAmountTaxYingf},
            currency_amount_tax_yhx = #{currencyAmountTaxYhx},
            currency_amount_tax_hxz = #{currencyAmountTaxHxz},
            tax_rate = #{taxRate},
            clear_status = #{clearStatus},
            account_valid_days = #{accountValidDays},
            day_type = #{dayType},
            account_valid_date = #{accountValidDate},
            remark = #{remark},
            day_type = #{dayType},
            creator_account = #{creatorAccount},
            account_valid_days = #{accountValidDays},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where record_advance_payment_item_sid = #{recordAdvancePaymentItemSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_fin_record_advance_payment_item
            <trim prefix="SET" suffixOverrides=",">
                record_advance_payment_sid = #{recordAdvancePaymentSid},
                item_num = #{itemNum},
                currency_amount_tax_yingf = #{currencyAmountTaxYingf},
                currency_amount_tax_yhx = #{currencyAmountTaxYhx},
                currency_amount_tax_hxz = #{currencyAmountTaxHxz},
                tax_rate = #{taxRate},
                clear_status = #{clearStatus},
                account_valid_days = #{accountValidDays},
                day_type = #{dayType},
                account_valid_date = #{accountValidDate},
                remark = #{remark},
                day_type = #{dayType},
                creator_account = #{creatorAccount},
                account_valid_days = #{accountValidDays},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where record_advance_payment_item_sid = #{recordAdvancePaymentItemSid}
        </foreach>
    </update>

</mapper>
