<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.FinReceivableBillPayMethodMapper">

    <resultMap type="com.platform.ems.domain.FinReceivableBillPayMethod" id="FinReceivableBillPayMethodResult">
        <result property="clientId" column="client_id"/>
        <result property="receivableBillPayMethodSid" column="receivable_bill_pay_method_sid"/>
        <result property="receivableBillSid" column="receivable_bill_sid"/>
        <result property="payMethod" column="pay_method"/>
        <result property="currencyAmountTax" column="currency_amount_tax"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
        <result property="payMethodName" column="pay_method_name"/>
    </resultMap>

    <sql id="selectFinReceivableBillPayMethodVo">
        select t.client_id,
               t.receivable_bill_pay_method_sid,
               t.receivable_bill_sid,
               t.pay_method,
               t.currency_amount_tax,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.confirmer_account,
               t.confirm_date,
               t.data_source_sys,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name,
               t4.nick_name AS confirmer_account_name,
               t5.name as pay_method_name
        from s_fin_receivable_bill_pay_method t
         LEFT JOIN sys_user t2 ON t2.user_name = t.creator_account
         LEFT JOIN sys_user t3 ON t3.user_name = t.updater_account
         LEFT JOIN sys_user t4 ON t4.user_name = t.confirmer_account
         LEFT JOIN s_con_payment_method t5 ON t.pay_method = t5.code
    </sql>

    <select id="selectFinReceivableBillPayMethodById" parameterType="Long" resultMap="FinReceivableBillPayMethodResult">
        <include refid="selectFinReceivableBillPayMethodVo"/>
        where t.receivable_bill_pay_method_sid = #{receivableBillPayMethodSid}
    </select>


    <select id="selectFinReceivableBillPayMethodList" parameterType="com.platform.ems.domain.FinReceivableBillPayMethod"
            resultMap="FinReceivableBillPayMethodResult">
        <include refid="selectFinReceivableBillPayMethodVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="receivableBillSid != null ">
                and t.receivable_bill_sid =#{receivableBillSid}
            </if>
            <if test="payMethod != null  and payMethod != ''">
                and t.pay_method = #{payMethod}
            </if>
            <if test="currencyAmountTax != null ">
                and t.currency_amount_tax = #{currencyAmountTax}
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_fin_receivable_bill_pay_method
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            receivable_bill_pay_method_sid,
            receivable_bill_sid,
            pay_method,
            currency_amount_tax,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.receivableBillPayMethodSid},
                #{item.receivableBillSid},
                #{item.payMethod},
                #{item.currencyAmountTax},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_fin_receivable_bill_pay_method
        <trim prefix="SET" suffixOverrides=",">
            receivable_bill_sid = #{receivableBillSid},
            pay_method = #{payMethod},
            currency_amount_tax = #{currencyAmountTax},
            remark = #{remark},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where receivable_bill_pay_method_sid = #{receivableBillPayMethodSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_fin_receivable_bill_pay_method
            <trim prefix="SET" suffixOverrides=",">
                receivable_bill_sid = #{receivableBillSid},
                pay_method = #{payMethod},
                currency_amount_tax = #{currencyAmountTax},
                remark = #{remark},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where receivable_bill_pay_method_sid = #{receivableBillPayMethodSid}
        </foreach>
    </update>

</mapper>
