<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.FinVendorCashPledgeBillMapper">

    <resultMap type="com.platform.ems.domain.FinVendorCashPledgeBill" id="FinVendorCashPledgeBillResult">
        <result property="clientId" column="client_id"/>
        <result property="cashPledgeBillSid" column="cash_pledge_bill_sid"/>
        <result property="cashPledgeBillCode" column="cash_pledge_bill_code"/>
        <result property="vendorSid" column="vendor_sid"/>
        <result property="vendorCode" column="vendor_code"/>
        <result property="companySid" column="company_sid"/>
        <result property="companyCode" column="company_code"/>
        <result property="documentDate" column="document_date"/>
        <result property="documentType" column="document_type"/>
        <result property="businessType" column="business_type"/>
        <result property="companyBrandSid" column="company_brand_sid"/>
        <result property="businessChannel" column="business_channel"/>
        <result property="productSeasonSid" column="product_season_sid"/>
        <result property="purchaseOrg" column="purchase_org"/>
        <result property="buyer" column="buyer"/>
        <result property="materialType" column="material_type"/>
        <result property="currency" column="currency"/>
        <result property="currencyUnit" column="currency_unit"/>
        <result property="returnStatus" column="return_status"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
        <result property="vendorName" column="vendor_name"/>
        <result property="companyName" column="company_name"/>
        <result property="documentTypeName" column="document_type_name"/>
        <result property="productSeasonName" column="product_season_name"/>
        <result property="buyerName" column="buyer_name"/>
        <result property="approvalNode" column="approval_node"/>
        <result property="approvalUserName" column="approval_user_name"/>
        <result property="submitUserName" column="submit_user_name"/>
        <result property="submitDate" column="submit_date"/>
        <result property="approvalUserId" column="approval_user_id"/>
    </resultMap>

    <sql id="selectFinVendorCashPledgeBillVo">
        select t.client_id,
               t.cash_pledge_bill_sid,
               t.cash_pledge_bill_code,
               t.vendor_sid,
               t.vendor_code,
               t.company_sid,
               t.company_code,
               t.document_date,
               t.document_type,
               t.business_type,
               t.company_brand_sid,
               t.business_channel,
               t.product_season_sid,
               t.purchase_org,
               t.buyer,
               t.material_type,
               t.currency,
               t.currency_unit,
               t.return_status,
               t.remark,
               t.handle_status,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.confirmer_account,
               t.confirm_date,
               t.data_source_sys,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name,
               t4.nick_name AS confirmer_account_name,
               t5.company_name,
               t6.vendor_name,
               t7.product_season_name,
               t8.nick_name AS buyer_name,
               t9.name AS document_type_name,
               t10.approval_node,
               t10.approval_user_id,
               t10.approval_user_name,
               t10.create_date AS submit_date,
               t11.nick_name AS submit_user_name
        from s_fin_vendor_cash_pledge_bill t
        left join sys_user t2 on t.creator_account = t2.user_name
        left join sys_user t3 on t.updater_account = t3.user_name
        left join sys_user t4 on t.confirmer_account = t4.user_name
        left join s_bas_company t5 on t.company_sid = t5.company_sid
        left join s_bas_vendor t6 on t.vendor_sid = t6.vendor_sid
        left join s_bas_product_season t7 on t.product_season_sid = t7.product_season_sid
        left join sys_user t8 on t.buyer = t8.user_name
        left join s_con_doc_type_vendor_cash_pledge t9 on t.document_type = t9.code
        LEFT JOIN s_sys_form_process t10 ON t.cash_pledge_bill_sid = t10.form_id
        LEFT JOIN sys_user t11 ON t10.creator_account = t11.user_name
    </sql>

    <select id="selectFinVendorCashPledgeBillById" parameterType="Long" resultMap="FinVendorCashPledgeBillResult">
        <include refid="selectFinVendorCashPledgeBillVo"/>
        where t.cash_pledge_bill_sid = #{cashPledgeBillSid}
    </select>


    <select id="selectFinVendorCashPledgeBillList" parameterType="com.platform.ems.domain.FinVendorCashPledgeBill"
            resultMap="FinVendorCashPledgeBillResult">
        <include refid="selectFinVendorCashPledgeBillVo"/>
        <where>
            <if test="approvalUserIdList != null and approvalUserIdList.length >0">
                and t10.approval_user_id in (<foreach collection="approvalUserIdList" item="approvalUserId" separator=",">#{approvalUserId}</foreach>)
            </if>
            <if test="approvalUserId != null and approvalUserId != ''">
                and t10.approval_user_id = #{approvalUserId}
            </if>
            <if test="clientId != null  and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="returnStatusList != null and returnStatusList.length >0">
                and t.return_status in
                (<foreach collection="returnStatusList" item="returnStatus" separator=",">#{returnStatus}</foreach>)
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0">
                and t.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="buyerList != null and buyerList.length >0">
                and t.buyer in
                (<foreach collection="buyerList" item="buyer" separator=",">#{buyer}</foreach>)
            </if>
            <if test="vendorSidList != null and vendorSidList.length >0">
                and t.vendor_sid in
                (<foreach collection="vendorSidList" item="vendorSid" separator=",">#{vendorSid}</foreach>)
            </if>
            <if test="companySidList != null and companySidList.length >0">
                and t.company_sid in
                (<foreach collection="companySidList" item="companySid" separator=",">#{companySid}</foreach>)
            </if>
            <if test="productSeasonSidList != null and productSeasonSidList.length >0">
                and t.product_season_sid in
                (<foreach collection="productSeasonSidList" item="productSeasonSid" separator=",">
                #{productSeasonSid}</foreach>)
            </if>
            <if test="cashPledgeBillSidList != null and cashPledgeBillSidList.length >0">
                and t.cash_pledge_bill_sid in
                (<foreach collection="cashPledgeBillSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="cashPledgeBillSid != null ">
                and t.cash_pledge_bill_sid =#{cashPledgeBillSid}
            </if>
            <if test="cashPledgeBillCode != null  and cashPledgeBillCode != ''">
                and t.cash_pledge_bill_code like concat('%',#{cashPledgeBillCode}, '%')
            </if>
            <if test="vendorSid != null ">
                and t.vendor_sid =#{vendorSid}
            </if>
            <if test="companySid != null ">
                and t.company_sid =#{companySid}
            </if>
            <if test="documentDate != null ">
                and t.document_date = #{documentDate}
            </if>
            <if test="documentType != null  and documentType != ''">
                and t.document_type = #{documentType}
            </if>
            <if test="businessType != null  and businessType != ''">
                and t.business_type = #{businessType}
            </if>
            <if test="businessTypeList != null and businessTypeList.length >0">
                and t.business_type in
                (<foreach collection="businessTypeList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="companyBrandSid != null ">
                and t.company_brand_sid =#{companyBrandSid}
            </if>
            <if test="businessChannel != null  and businessChannel != ''">
                and t.business_channel = #{businessChannel}
            </if>
            <if test="productSeasonSid != null ">
                and t.product_season_sid =#{productSeasonSid}
            </if>
            <if test="purchaseOrg != null  and purchaseOrg != ''">
                and t.purchase_org =#{purchaseOrg}
            </if>
            <if test="buyer != null  and buyer != ''">
                and t.buyer = #{buyer}
            </if>
            <if test="materialType != null  and materialType != ''">
                and t.material_type = #{materialType}
            </if>
            <if test="returnStatus != null  and returnStatus != ''">
                and t.return_status = #{returnStatus}
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and t.handle_status = #{handleStatus}
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t2.nick_name like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where> order by t.cash_pledge_bill_code desc
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_fin_vendor_cash_pledge_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            cash_pledge_bill_sid,
            cash_pledge_bill_code,
            vendor_sid,
            vendor_code,
            company_sid,
            company_code,
            document_date,
            document_type,
            business_type,
            company_brand_sid,
            business_channel,
            product_season_sid,
            purchase_org,
            buyer,
            material_type,
            currency,
            currency_unit,
            return_status,
            remark,
            handle_status,
            creator_account,
            create_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.cashPledgeBillCode},
                #{item.vendorSid},
                #{item.vendorCode},
                #{item.companySid},
                #{item.companyCode},
                #{item.documentDate},
                #{item.documentType},
                #{item.businessType},
                #{item.companyBrandSid},
                #{item.businessChannel},
                #{item.productSeasonSid},
                #{item.purchaseOrg},
                #{item.buyer},
                #{item.materialType},
                #{item.currency},
                #{item.currencyUnit},
                #{item.returnStatus},
                #{item.remark},
                #{item.handleStatus},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_fin_vendor_cash_pledge_bill
        <trim prefix="SET" suffixOverrides=",">
            vendor_sid = #{vendorSid},
            vendor_code = #{vendorCode},
            company_sid = #{companySid},
            company_code = #{companyCode},
            document_date = #{documentDate},
            document_type = #{documentType},
            business_type = #{businessType},
            company_brand_sid = #{companyBrandSid},
            business_channel = #{businessChannel},
            product_season_sid = #{productSeasonSid},
            purchase_org = #{purchaseOrg},
            buyer = #{buyer},
            material_type = #{materialType},
            currency = #{currency},
            currency_unit = #{currencyUnit},
            return_status = #{returnStatus},
            remark = #{remark},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where cash_pledge_bill_sid = #{cashPledgeBillSid}
    </update>

</mapper>
