<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.FrmArrivalNoticeMapper">

    <resultMap type="com.platform.ems.domain.FrmArrivalNotice" id="FrmArrivalNoticeResult">
        <result property="clientId" column="client_id"/>
        <result property="arrivalNoticeSid" column="arrival_notice_sid"/>
        <result property="arrivalNoticeCode" column="arrival_notice_code"/>
        <result property="developPlanSid" column="develop_plan_sid"/>
        <result property="developPlanCode" column="develop_plan_code"/>
        <result property="sampleSid" column="sample_sid"/>
        <result property="sampleCode" column="sample_code"/>
        <result property="projectSid" column="project_sid"/>
        <result property="projectCode" column="project_code"/>
        <result property="projectTaskSid" column="project_task_sid"/>
        <result property="comment" column="comment"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
    </resultMap>

    <sql id="selectFrmArrivalNoticeVo">
        select t.client_id,
               t.arrival_notice_sid,
               t.arrival_notice_code,
               t.project_sid,
               t.project_code,
               t.project_task_sid,
               t.comment,
               t.remark,
               t.handle_status,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.confirmer_account,
               t.confirm_date,
               t.data_source_sys,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name,
               t4.nick_name AS confirmer_account_name,
               t5.project_name,
               t5.product_code,
               t5.material_barcode_code,
               t5.develop_plan_sid,
               t5.develop_plan_code,
               t5.sample_sid,
               t5.sample_code,
               t6.develop_plan_name,
               t7.material_code,
               t7.material_name,
               t8.approval_node, t8.approval_user_id, t8.approval_user_name,
               t8.create_date AS submit_date, t9.nick_name AS submit_user_name,
               if(t11.erp_material_sku_enter_mode_project = 'XZ', t10.erp_material_sku_barcode, t5.erp_material_sku_barcode) AS erp_material_sku_barcode
        from s_frm_arrival_notice t
         LEFT JOIN sys_user t2 ON t.creator_account = t2.user_name AND t.client_id = t2.client_id
         LEFT JOIN sys_user t3 ON t.updater_account = t3.user_name AND t.client_id = t3.client_id
         LEFT JOIN sys_user t4 ON t.confirmer_account = t4.user_name AND t.client_id = t4.client_id
         LEFT JOIN s_prj_project t5 ON t.project_sid = t5.project_sid
         LEFT JOIN s_dev_develop_plan t6 ON t5.develop_plan_sid = t6.develop_plan_sid
         LEFT JOIN s_bas_material t7 ON t.sample_sid = t7.material_sid
         LEFT JOIN s_sys_form_process t8 ON t.arrival_notice_sid = t8.form_id
         LEFT JOIN sys_user t9 ON t8.creator_account = t9.user_name
         LEFT JOIN s_bas_material_barcode t10 ON t5.material_barcode_sid = t10.barcode_sid
         LEFT JOIN s_sys_default_setting_client t11 ON t.client_id = t11.client_id
    </sql>

    <select id="selectFrmArrivalNoticeById" parameterType="Long" resultMap="FrmArrivalNoticeResult">
        <include refid="selectFrmArrivalNoticeVo"/>
        where t.arrival_notice_sid = #{arrivalNoticeSid}
    </select>

    <select id="selectFrmArrivalNoticeList" parameterType="com.platform.ems.domain.FrmArrivalNotice"
            resultMap="FrmArrivalNoticeResult">
        <include refid="selectFrmArrivalNoticeVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="arrivalNoticeSid != null ">
                and t.arrival_notice_sid = #{arrivalNoticeSid}
            </if>
            <if test="arrivalNoticeSidList != null and arrivalNoticeSidList.length >0 ">
                and t.arrival_notice_sid in
                (<foreach collection="arrivalNoticeSidList" item="arrivalNoticeSid" separator=",">#{arrivalNoticeSid}</foreach>)
            </if>
            <if test="arrivalNoticeCode != null and arrivalNoticeCode != ''">
                and t.arrival_notice_code like concat('%', #{arrivalNoticeCode}, '%')
            </if>
            <if test="productCode != null and productCode != ''">
                and t5.product_code like concat('%', #{productCode}, '%')
            </if>
            <if test="materialBarcodeCode != null and materialBarcodeCode != ''">
                and t5.material_barcode_code like concat('%', #{materialBarcodeCode}, '%')
            </if>
            <if test="erpMaterialSkuBarcode != null and erpMaterialSkuBarcode != ''">
                and if(t11.erp_material_sku_enter_mode_project = 'XZ', t10.erp_material_sku_barcode like concat('%', #{erpMaterialSkuBarcode}, '%'),
                    t5.erp_material_sku_barcode like concat('%', #{erpMaterialSkuBarcode}, '%'))
            </if>
            <if test="developPlanSid != null ">
                and t5.develop_plan_sid = #{developPlanSid}
            </if>
            <if test="developPlanCode != null and developPlanCode != ''">
                and t5.develop_plan_code like concat('%', #{developPlanCode}, '%')
            </if>
            <if test="developPlanName != null and developPlanName != ''">
                and t6.develop_plan_name like concat('%', #{developPlanName}, '%')
            </if>
            <if test="sampleSid != null ">
                and t5.sample_sid = #{sampleSid}
            </if>
            <if test="sampleCode != null and sampleCode != ''">
                and t5.sample_code like concat('%', #{sampleCode}, '%')
            </if>
            <if test="projectSid != null ">
                and t.project_sid = #{projectSid}
            </if>
            <if test="projectCode != null and projectCode != ''">
                and t.project_code like concat('%', #{projectCode}, '%')
            </if>
            <if test="projectTaskSid != null ">
                and t.project_task_sid = #{projectTaskSid}
            </if>
            <if test="projectName != null and projectName != ''">
                and t5.project_name like concat('%', #{projectName}, '%')
            </if>
            <if test="comment != null and comment != ''">
                and t.comment = #{comment}
            </if>
            <if test="handleStatus != null and handleStatus != ''">
                and t.handle_status = #{handleStatus}
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0 ">
                and t.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and t.creator_account = #{creatorAccount}
            </if>
            <if test="creatorAccountList != null and creatorAccountList.length >0 ">
                and t.creator_account in
                (<foreach collection="creatorAccountList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="creatorAccountName != null and creatorAccountName != ''">
                and t2.nick_name like concat('%', #{creatorAccountName},'%')
            </if>
            <if test="createDate != null ">
                and date_format(t.create_date,'%y%m%d') = date_format(#{createDate},'%y%m%d')
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null and updaterAccount != ''">
                and t.updater_account = #{updaterAccount}
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null and confirmerAccount != ''">
                and t.confirmer_account = #{confirmerAccount}
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
        order by t.arrival_notice_code desc
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_frm_arrival_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            arrival_notice_sid,
            arrival_notice_code,
            project_sid,
            project_task_sid,
            project_code,
            comment,
            remark,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.arrivalNoticeSid},
                #{item.arrivalNoticeCode},
                #{item.projectSid},
                #{item.projectCode},
                #{item.projectTaskSid},
                #{item.comment},
                #{item.remark},
                #{item.handleStatus},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_frm_arrival_notice
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            arrival_notice_code = #{arrivalNoticeCode},
            project_sid = #{projectSid},
            project_code = #{projectCode},
            project_task_sid = #{projectTaskSid},
            comment = #{comment},
            remark = #{remark},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
        </trim>
        where arrival_notice_sid = #{arrivalNoticeSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_frm_arrival_notice
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{o.clientId},
                arrival_notice_code = #{o.arrivalNoticeCode},
                project_sid = #{o.projectSid},
                project_code = #{o.projectCode},
                project_task_sid = #{o.projectTaskSid},
                comment = #{o.comment},
                remark = #{o.remark},
                handle_status = #{o.handleStatus},
                updater_account = #{o.updaterAccount},
                update_date = #{o.updateDate},
                confirmer_account = #{o.confirmerAccount},
                confirm_date = #{o.confirmDate},
            </trim>
            where arrival_notice_sid = #{o.arrivalNoticeSid}
        </foreach>
    </update>

</mapper>
