<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.FrmTrialsalePlanCpcSimulateMapper">

    <resultMap type="com.platform.ems.domain.FrmTrialsalePlanCpcSimulate" id="FrmTrialsalePlanCpcSimulateResult">
        <result property="clientId" column="client_id"/>
        <result property="trialsalePlanCpcSimulationSid" column="trialsale_plan_cpc_simulation_sid"/>
        <result property="newproductTrialsalePlanSid" column="newproduct_trialsale_plan_sid"/>
        <result property="ctr" column="ctr"/>
        <result property="clickNum" column="click_num"/>
        <result property="clickPriceAverage" column="click_price_average"/>
        <result property="cost" column="cost"/>
        <result property="conversionRate" column="conversion_rate"/>
        <result property="orderNum" column="order_num"/>
        <result property="advertiseIncome" column="advertise_income"/>
        <result property="costRate" column="cost_rate"/>
        <result property="acos" column="acos"/>
        <result property="currency" column="currency"/>
        <result property="currencyUnit" column="currency_unit"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
    </resultMap>

    <sql id="selectFrmTrialsalePlanCpcSimulateVo">
        select t.client_id,
               t.trialsale_plan_cpc_simulation_sid,
               t.newproduct_trialsale_plan_sid,
               t.ctr,
               if(t.ctr is null, null, concat(round(t.ctr*100,2), '')) as ctr_string,
               t.click_num,
               t.click_price_average,
               t.cost,
               t.conversion_rate,
               if(t.conversion_rate is null, null, concat(round(t.conversion_rate*100,2), '')) as conversion_rate_string,
               t.order_num,
               t.advertise_income,
               t.cost_rate,
               if(t.cost_rate is null, null, concat(round(t.cost_rate*100,2), '')) as cost_rate_string,
               t.acos,
               if(t.acos is null, null, concat(round(t.acos*100,2), '')) as acos_string,
               t.currency,
               t.currency_unit,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.data_source_sys,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name
        from s_frm_trialsale_plan_cpc_simulate t
         LEFT JOIN sys_user t2 ON t.creator_account = t2.user_name AND t.client_id = t2.client_id
         LEFT JOIN sys_user t3 ON t.updater_account = t3.user_name AND t.client_id = t3.client_id
    </sql>

    <select id="selectFrmTrialsalePlanCpcSimulateById" parameterType="Long"
            resultMap="FrmTrialsalePlanCpcSimulateResult">
        <include refid="selectFrmTrialsalePlanCpcSimulateVo"/>
        where t.trialsale_plan_cpc_simulation_sid = #{trialsalePlanCpcSimulationSid}
    </select>

    <select id="selectFrmTrialsalePlanCpcSimulateList"
            parameterType="com.platform.ems.domain.FrmTrialsalePlanCpcSimulate"
            resultMap="FrmTrialsalePlanCpcSimulateResult">
        <include refid="selectFrmTrialsalePlanCpcSimulateVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="trialsalePlanCpcSimulationSid != null ">
                and t.trialsale_plan_cpc_simulation_sid = #{trialsalePlanCpcSimulationSid}
            </if>
            <if test="trialsalePlanCpcSimulationSidList != null and trialsalePlanCpcSimulationSidList.length >0 ">
                and t.trialsale_plan_cpc_simulation_sid in
                (<foreach collection="trialsalePlanKeyWordSidList" item="trialsalePlanCpcSimulationSid" separator=",">#{trialsalePlanCpcSimulationSid}</foreach>)
            </if>
            <if test="newproductTrialsalePlanSid != null ">
                and t.newproduct_trialsale_plan_sid = #{newproductTrialsalePlanSid}
            </if>
            <if test="ctr != null and ctr != ''">
                and t.ctr = #{ctr}
            </if>
            <if test="clickNum != null">
                and t.click_num = #{clickNum}
            </if>
            <if test="clickPriceAverage != null ">
                and t.click_price_average = #{clickPriceAverage}
            </if>
            <if test="cost != null ">
                and t.cost = #{cost}
            </if>
            <if test="conversionRate != null ">
                and t.conversion_rate = #{conversionRate}
            </if>
            <if test="orderNum != null ">
                and t.order_num = #{orderNum}
            </if>
            <if test="advertiseIncome != null ">
                and t.advertise_income = #{advertiseIncome}
            </if>
            <if test="costRate != null ">
                and t.cost_rate = #{costRate}
            </if>
            <if test="acos != null ">
                and t.acos = #{acos}
            </if>
            <if test="currency != null and currency != ''">
                and t.currency = #{currency}
            </if>
            <if test="currencyUnit != null and currencyUnit != ''">
                and t.currency_unit = #{currencyUnit}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and t.creator_account = #{creatorAccount}
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null and updaterAccount != ''">
                and t.updater_account = #{updaterAccount}
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_frm_trialsale_plan_cpc_simulate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            trialsale_plan_cpc_simulation_sid,
            newproduct_trialsale_plan_sid,
            ctr,
            click_num,
            click_price_average,
            cost,
            conversion_rate,
            order_num,
            advertise_income,
            cost_rate,
            acos,
            currency,
            currency_unit,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.trialsalePlanCpcSimulationSid},
                #{item.newproductTrialsalePlanSid},
                #{item.ctr},
                #{item.clickNum},
                #{item.clickPriceAverage},
                #{item.cost},
                #{item.conversionRate},
                #{item.orderNum},
                #{item.advertiseIncome},
                #{item.costRate},
                #{item.acos},
                #{item.currency},
                #{item.currencyUnit},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_frm_trialsale_plan_cpc_simulate
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            newproduct_trialsale_plan_sid = #{newproductTrialsalePlanSid},
            ctr = #{ctr},
            click_num = #{clickNum},
            click_price_average = #{clickPriceAverage},
            cost = #{cost},
            conversion_rate = #{conversionRate},
            order_num = #{orderNum},
            advertise_income = #{advertiseIncome},
            cost_rate = #{costRate},
            acos = #{acos},
            currency = #{currency},
            currency_unit = #{currencyUnit},
            remark = #{remark},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
        </trim>
        where trialsale_plan_cpc_simulation_sid = #{trialsalePlanCpcSimulationSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_frm_trialsale_plan_cpc_simulate
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                newproduct_trialsale_plan_sid = #{newproductTrialsalePlanSid},
                ctr = #{ctr},
                click_num = #{clickNum},
                click_price_average = #{clickPriceAverage},
                cost = #{cost},
                conversion_rate = #{conversionRate},
                order_num = #{orderNum},
                advertise_income = #{advertiseIncome},
                cost_rate = #{costRate},
                acos = #{acos},
                currency = #{currency},
                currency_unit = #{currencyUnit},
                remark = #{remark},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
            </trim>
            where trialsale_plan_cpc_simulation_sid = #{trialsalePlanCpcSimulationSid}
        </foreach>
    </update>

</mapper>
