<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.InvGoodIssueNoteItemMapper">

    <resultMap type="com.platform.ems.domain.InvGoodIssueNoteItem" id="InvGoodIssueNoteItemResult">
        <result property="clientId" column="client_id"/>
        <result property="materialSid" column="material_sid"/>
        <result property="sku1Sid" column="sku1_sid"/>
        <result property="sku2Sid" column="sku2_sid"/>
        <result property="barcodeSid" column="barcode_sid"/>
        <result property="unitBase" column="unit_base"/>
        <result property="quantity" column="quantity"/>
        <result property="storehouseSid" column="storehouse_sid"/>
        <result property="storehouseLocationSid" column="storehouse_location_sid"/>
        <result property="demandDate" column="demand_date"/>
        <result property="itemNum" column="item_num"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
    </resultMap>

    <sql id="selectInvGoodIssueNoteItemVo">
        select t.client_id,
               t.note_item_sid,
               t.note_sid,
               t.material_sid,
               t.sku1_sid,
               t.sku2_sid,
               t.barcode_sid,
               t.unit_base,
               t.quantity,
               t.in_out_stock_status,
               t.storehouse_sid,
               t.storehouse_code,
               ifnull(t.storehouse_code,t8.storehouse_code) as storehouse_code,
               t.storehouse_location_sid,
               t.storehouse_location_code,
               ifnull(t.storehouse_location_code,t9.location_code) as storehouse_location_code,
               ifnull(t.storehouse_location_code,t9.location_code) as location_code,
               t.demand_date,
               t.item_num,
               t.remark,
               t.creator_account,
               t.reserve_status,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.data_source_sys,
               t1.material_name,
               t1.material_code,
               t1.specification_size,
               t2.sku_code                 AS sku1_code,
               t2.sku_name                 AS sku1_name,
               t3.sku_code                 AS sku2_code,
               t3.sku_name                 AS sku2_name,
               t4.in_out_stock_status,
               t4.note_code,
               t4.movement_type,
               t4.document_date,
               t4.account_date,
               t4.special_stock,
               t5.name                     as movement_type_name,
               t6.name                     as unit_base_name,
               t7.barcode,
               t7.status,
               t8.storehouse_name,
               t9.location_name,
               t9.location_name as storehouse_location_name,
               t10.vendor_name,
               t11.customer_name,
               t12.nick_name               as creator_account_name,
               t.product_code,
               t.product_codes,
               t.product_sku1_sid,
               t.product_sku2_sid,
               t.product_quantity,
               t.product_sku1_names,
               t.product_sku2_names,
               t13.sku_name                AS product_sku1_name,
               t14.sku_name                AS product_sku2_name,
               t.product_po_codes,
               t.refer_purchase_order_code as purchase_order_code
        from s_inv_good_issue_note_item t
         LEFT JOIN s_bas_material t1 ON t1.material_sid = t.material_sid
         LEFT JOIN s_bas_sku t2 ON t2.sku_sid = t.sku1_sid
         LEFT JOIN s_bas_sku t3 ON t3.sku_sid = t.sku2_sid
         left join s_inv_good_receipt_note t4 on t4.note_sid = t.note_sid
         LEFT JOIN s_con_movement_type t5 on t5.code = t4.movement_type
         left join s_con_measure_unit t6 on t6.code = t.unit_base
         left join s_bas_material_barcode t7 on t7.barcode_sid = t.barcode_sid
         LEFT JOIN s_bas_storehouse t8 on t8.storehouse_sid = t.storehouse_sid
         LEFT JOIN s_bas_storehouse_location t9 on t9.storehouse_location_sid = t.storehouse_location_sid
         LEFT JOIN s_bas_vendor t10 ON t10.vendor_sid = t4.vendor_sid
         LEFT JOIN s_bas_customer t11 on t11.customer_sid = t4.customer_sid
         LEFT JOIN sys_user t12 on t12.user_name = t.creator_account
         LEFT JOIN s_bas_sku t13 ON t13.sku_sid = t.product_sku1_sid
         LEFT JOIN s_bas_sku t14 ON t14.sku_sid = t.product_sku2_sid
    </sql>

    <sql id="reportInvGoodIssueNoteVo">
        select t.material_sid,
               t.sku1_sid,
               t.sku2_sid,
               t.barcode_sid,
               t.unit_base,
               t.quantity,
               t.storehouse_sid,
               t.storehouse_code,
               t.storehouse_location_sid,
               t.storehouse_location_code,
               t.demand_date,
               t.reserve_status,
               t.item_num,
               t.note_item_sid,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.data_source_sys,
               t1.material_name,
               t1.material_code,
               t2.sku_code                 AS sku1_code,
               t2.sku_name                 AS sku1_name,
               t3.sku_code                 AS sku2_code,
               t3.sku_name                 AS sku2_name,
               t.in_out_stock_status,
               t4.note_code,
               t4.note_sid,
               t4.document_date,
               t4.account_date,
               t4.movement_type,
               t4.handle_status,
               t4.special_stock,
               t4.customer_sid,
               t4.vendor_sid,
               t5.name                     as movement_type_name,
               t6.name                     as unit_base_name,
               t7.barcode,
               t8.storehouse_name,
               t9.location_name,
               t10.vendor_name,
               t11.customer_name,
               t12.name                    as special_stock_name,
               t13.nick_name               as creator_account_name,
               t.product_code,
               t.product_codes,
               t.product_sku1_sid,
               t.product_sku2_sid,
               t.product_quantity,
               t.product_sku1_names,
               t.product_sku2_names,
               t14.sku_name                AS product_sku1_name,
               t15.sku_name                AS product_sku2_name,
               t.product_po_codes,
               t.refer_purchase_order_code as purchase_order_code,
               sum(t16.quantity)           as inv_quantity
        from s_inv_good_issue_note_item t
         LEFT JOIN s_bas_material t1 ON t1.material_sid = t.material_sid
         LEFT JOIN s_bas_sku t2 ON t2.sku_sid = t.sku1_sid
         LEFT JOIN s_bas_sku t3 ON t3.sku_sid = t.sku2_sid
         left join s_inv_good_issue_note t4 on t4.note_sid = t.note_sid
         LEFT JOIN s_con_movement_type t5 on t5.code = t4.movement_type
         left join s_con_measure_unit t6 on t6.code = t.unit_base
         left join s_bas_material_barcode t7 on t7.barcode_sid = t.barcode_sid
         LEFT JOIN s_bas_storehouse t8 on t8.storehouse_sid = t.storehouse_sid
         LEFT JOIN s_bas_storehouse_location t9 on t9.storehouse_location_sid = t.storehouse_location_sid
         LEFT JOIN s_bas_vendor t10 ON t10.vendor_sid = t4.vendor_sid
         LEFT JOIN s_bas_customer t11 on t11.customer_sid = t4.customer_sid
         left join s_con_special_stock t12 on t12.code = t4.special_stock
         LEFT JOIN sys_user t13 ON t.creator_account = t13.user_name
         LEFT JOIN s_bas_sku t14 ON t14.sku_sid = t.product_sku1_sid
         LEFT JOIN s_bas_sku t15 ON t15.sku_sid = t.product_sku2_sid
         left join s_inv_inventory_document_item t16 on t16.refer_document_item_sid = t.note_item_sid
    </sql>

    <select id="reportInvGoodIssueNote" parameterType="com.platform.ems.domain.dto.request.InvIssueNoteReportRequest"
            resultType="com.platform.ems.domain.dto.response.InvIssueNoteReportResponse">
        <include refid="reportInvGoodIssueNoteVo"/>
        <where>
            <if test="noteCode != null and noteCode !=''">
                and (<foreach collection="noteCode.split(';')" item="item" separator=" or ">
                    t4.note_code like concat('%', #{item}, '%')
            </foreach>)
            </if>
            <if test="materialCode != null and materialCode !=''">
                and (<foreach collection="materialCode.split(';')" item="item" separator=" or ">
                    t1.material_code like concat('%', #{item}, '%')
            </foreach>)
            </if>
            <if test="materialName != null and materialName !=''">
                and (<foreach collection="materialName.split(';')" item="item" separator=" or ">
                    t1.material_name like concat('%', #{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccountList != null and creatorAccountList.length >0 ">
                and t.creator_account in
                (<foreach collection="creatorAccountList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="inOutStockStatusList != null and inOutStockStatusList.length >0 ">
                and t.in_out_stock_status in
                (<foreach collection="inOutStockStatusList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="vendorSidList != null and vendorSidList.length >0">
                and t4.vendor_sid in
                (<foreach collection="vendorSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="customerSidList != null and customerSidList.length >0">
                and t4.customer_sid in
                (<foreach collection="customerSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="itemSidList != null and itemSidList.size >0">
                and t.note_item_sid in
                (<foreach collection="itemSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="storehouseSid != null and storehouseSid != '' ">
                and t.storehouse_sid =#{storehouseSid}
            </if>
            <if test="storehouseLocationSidList != null and storehouseLocationSidList.length >0">
                and t.storehouse_location_sid in
                (<foreach collection="storehouseLocationSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="documentBeginTime != null and documentBeginTime!=''">
                and date_format(t4.document_date,'%y%m%d') &gt;= date_format(#{documentBeginTime},'%y%m%d')
            </if>
            <if test="documentEndTime != null and documentEndTime!=''">
                and date_format(t4.document_date,'%y%m%d') &lt;= date_format(#{documentEndTime},'%y%m%d')
            </if>
            <if test="movementTypeList != null and movementTypeList.length >0">
                and t4.movement_type in
                (<foreach collection="movementTypeList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0">
                and t4.handle_status in
                (<foreach collection="handleStatusList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="specialStockList != null and specialStockList.length >0">
                and t4.special_stock in
                (<foreach collection="specialStockList" item="item" separator=",">#{item}</foreach>)
            </if>
        </where>
        GROUP BY t.note_item_sid
        order by t4.note_code desc
    </select>

    <select id="selectInvGoodIssueNoteItemById" parameterType="Long"
            resultType="com.platform.ems.domain.InvGoodIssueNoteItem">
        <include refid="selectInvGoodIssueNoteItemVo"/>
        where t.note_sid = #{noteSid}
    </select>

    <select id="selectInvGoodIssueNoteItemList" parameterType="com.platform.ems.domain.InvGoodIssueNoteItem"
            resultType="com.platform.ems.domain.InvGoodIssueNoteItem">
        <include refid="selectInvGoodIssueNoteItemVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="noteSid != null ">
                and t.note_sid =#{noteSid}
            </if>
            <if test="materialSid != null ">
                and t.material_sid =#{materialSid}
            </if>
            <if test="sku1Sid != null ">
                and t.sku1_sid =#{sku1Sid}
            </if>
            <if test="sku2Sid != null ">
                and t.sku2_sid =#{sku2Sid}
            </if>
            <if test="barcodeSid != null ">
                and t.barcode_sid =#{barcodeSid}
            </if>
            <if test="unitBase != null and unitBase != ''">
                and t.unit_base = #{unitBase}
            </if>
            <if test="quantity != null ">
                and t.quantity = #{quantity}
            </if>
            <if test="storehouseSid != null ">
                and t.storehouse_sid =#{storehouseSid}
            </if>
            <if test="storehouseLocationSid != null ">
                and t.storehouse_location_sid =#{storehouseLocationSid}
            </if>
            <if test="demandDate != null ">
                and t.demand_date = #{demandDate}
            </if>
            <if test="itemNum != null ">
                and t.item_num =#{itemNum}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator=" or ">
                    t.creator_account like concat('%', #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator=" or ">
                    t.updater_account like concat('%', #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_inv_good_issue_note_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            note_item_sid,
            note_sid,
            material_sid,
            sku1_sid,
            sku2_sid,
            barcode_sid,
            unit_base,
            quantity,
            storehouse_sid,
            storehouse_code,
            storehouse_location_sid,
            storehouse_location_code,
            demand_date,
            item_num,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
            in_out_stock_status,
            product_sid,
            product_code,
            product_sku1_sid,
            product_sku2_sid,
            product_barcode_sid,
            product_codes,
            product_sku1_names,
            product_sku2_names,
            product_po_codes,
            product_sku1_code,
            product_sku2_code,
            refer_purchase_order_sid,
            refer_purchase_order_code,
            refer_purchase_order_item_sid,
            refer_purchase_order_item_num,
            product_quantity,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.noteItemSid},
                #{item.noteSid},
                #{item.materialSid},
                #{item.sku1Sid},
                #{item.sku2Sid},
                #{item.barcodeSid},
                #{item.unitBase},
                #{item.quantity},
                #{item.storehouseSid},
                #{item.storehouseCode},
                #{item.storehouseLocationSid},
                #{item.storehouseLocationCode},
                #{item.demandDate},
                #{item.itemNum},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.dataSourceSys},
                #{item.inOutStockStatus},
                #{item.productSid},
                #{item.productCode},
                #{item.productSku1Sid},
                #{item.productSku2Sid},
                #{item.productBarcodeSid},
                #{item.productCodes},
                #{item.productSku1Names},
                #{item.productSku2Names},
                #{item.productPoCodes},
                #{item.productSku1Code},
                #{item.productSku2Code},
                #{item.referPurchaseOrderSid},
                #{item.referPurchaseOrderCode},
                #{item.referPurchaseOrderItemSid},
                #{item.referPurchaseOrderItemNum},
                #{item.productQuantity},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_inv_good_issue_note_item
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            good_issue_note_sid = #{goodIssueNoteSid},
            material_sid = #{materialSid},
            sku1_sid = #{sku1Sid},
            sku2_sid = #{sku2Sid},
            barcode_sid = #{barcodeSid},
            unit_base = #{unitBase},
            quantity = #{quantity},
            storehouse_sid = #{storehouseSid},
            storehouse_code = #{storehouseCode},
            storehouse_location_sid = #{storehouseLocationSid},
            storehouse_location_code = #{storehouseLocationCode},
            demand_date = #{demandDate},
            item_num = #{itemNum},
            remark = #{remark},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where good_issue_note_item_sid = #{goodIssueNoteItemSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_inv_good_issue_note_item
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                good_issue_note_sid = #{goodIssueNoteSid},
                material_sid = #{materialSid},
                sku1_sid = #{sku1Sid},
                sku2_sid = #{sku2Sid},
                barcode_sid = #{barcodeSid},
                unit_base = #{unitBase},
                quantity = #{quantity},
                storehouse_sid = #{storehouseSid},
                storehouse_code = #{storehouseCode},
                storehouse_location_sid = #{storehouseLocationSid},
                storehouse_location_code = #{storehouseLocationCode},
                demand_date = #{demandDate},
                item_num = #{itemNum},
                remark = #{remark},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where good_issue_note_item_sid = #{goodIssueNoteItemSid}
        </foreach>
    </update>

</mapper>