<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.InvInventoryTransferMaterialProductMapper">

    <resultMap type="com.platform.ems.domain.InvInventoryTransferMaterialProduct" id="InvInventoryTransferMaterialProductResult">
                    <result property="clientId" column="client_id"/>
                    <result property="itemMaterialProductSid" column="item_material_product_sid"/>
                    <result property="inventoryTransferItemSid" column="inventory_transfer_item_sid"/>
                    <result property="inventoryTransferSid" column="inventory_transfer_sid"/>
                    <result property="productSid" column="product_sid"/>
                    <result property="productSku1Sid" column="product_sku1_sid"/>
                    <result property="productSku2Sid" column="product_sku2_sid"/>
                    <result property="productBarcodeSid" column="product_barcode_sid"/>
                    <result property="quantityMaterial" column="quantity_material"/>
                    <result property="quantityProduct" column="quantity_product"/>
                    <result property="unitBaseMaterial" column="unit_base_material"/>
                    <result property="unitBaseProduct" column="unit_base_product"/>
                    <result property="itemNum" column="item_num"/>
                    <result property="referDocCategory" column="refer_doc_category"/>
                    <result property="referDocSid" column="refer_doc_sid"/>
                    <result property="referDocCode" column="refer_doc_code"/>
                    <result property="referDocItemSid" column="refer_doc_item_sid"/>
                    <result property="referDocItemNum" column="refer_doc_item_num"/>
                    <result property="salesOrderSid" column="sales_order_sid"/>
                    <result property="salesOrderCode" column="sales_order_code"/>
                    <result property="salesOrderItemSid" column="sales_order_item_sid"/>
                    <result property="salesOrderItemNum" column="sales_order_item_num"/>
                    <result property="remark" column="remark"/>
                    <result property="creatorAccount" column="creator_account"/>
                    <result property="createDate" column="create_date"/>
                    <result property="updaterAccount" column="updater_account"/>
                    <result property="updateDate" column="update_date"/>
                    <result property="dataSourceSys" column="data_source_sys"/>
                <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
    </resultMap>

    <sql id="selectInvInventoryTransferMaterialProductVo">
        select t.client_id,
        t.item_material_product_sid,
        t.inventory_transfer_item_sid,
        t.inventory_transfer_sid,
        t.product_sid,
        t.product_sku1_sid,
        t.product_sku2_sid,
        t.product_barcode_sid,
        t.quantity_material,
        t.quantity_product,
        t.unit_base_material,
        t.unit_base_product,
        t.item_num,
        t.refer_doc_category,
        t.refer_doc_sid,
        t.refer_doc_code,
        t.refer_doc_item_sid,
        t.refer_doc_item_num,
        t.sales_order_sid,
        t.sales_order_code,
        t.sales_order_item_sid,
        t.sales_order_item_num,
        t.remark,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.update_date,
        t.data_source_sys ,
        t2.nick_name AS creator_account_name,
        t3.nick_name AS updater_account_name,
        t5.material_code as product_code,
        t5.material_name as  product_name,
        t6.sku_name as product_sku1_name,
        t7.sku_name as product_sku2_name,
        t8.name as refer_doc_category_name
        from s_inv_inventory_transfer_material_product t
        LEFT JOIN sys_user t2 ON t2.user_name = t.creator_account
        LEFT JOIN sys_user t3 ON t3.user_name = t.updater_account
        LEFT JOIN s_bas_material t5 ON t5.material_sid = t.product_sid
        LEFT JOIN s_bas_sku t6 ON t6.sku_sid = t.product_sku1_sid
        LEFT JOIN s_bas_sku t7 ON t7.sku_sid = t.product_sku2_sid
        left join s_con_dataobject_category t8 on t8.code = t.refer_doc_category
    </sql>

    <select id="selectInvInventoryTransferMaterialProductById" parameterType="Long" resultMap="InvInventoryTransferMaterialProductResult">
        <include refid="selectInvInventoryTransferMaterialProductVo"/>
        where t.inventory_transfer_item_sid = #{inventoryTransferItemSid}
    </select>


    <select id="selectInvInventoryTransferMaterialProductList" parameterType="com.platform.ems.domain.InvInventoryTransferMaterialProduct"
            resultMap="InvInventoryTransferMaterialProductResult">
        <include refid="selectInvInventoryTransferMaterialProductVo"/>
        <where>
                                                                                                    <if test="clientId != null  and clientId != ''">
                                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                                            <if test="inventoryTransferItemSid != null ">
                                and t.inventory_transfer_item_sid =#{inventoryTransferItemSid}
                            </if>
                                                                                                                                                                <if test="inventoryTransferSid != null ">
                                and t.inventory_transfer_sid =#{inventoryTransferSid}
                            </if>
                                                                                                                                                                <if test="productSid != null ">
                                and t.product_sid =#{productSid}
                            </if>
                                                                                                                                                                <if test="productSku1Sid != null ">
                                and t.product_sku1_sid =#{productSku1Sid}
                            </if>
                                                                                                                                                                <if test="productSku2Sid != null ">
                                and t.product_sku2_sid =#{productSku2Sid}
                            </if>
                                                                                                                                                                <if test="productBarcodeSid != null ">
                                and t.product_barcode_sid =#{productBarcodeSid}
                            </if>
                                                                                                                                                                                                <if test="quantityMaterial != null ">
                                    and t.quantity_material = #{quantityMaterial}
                                </if>
                                                                                                                                                                                                                            <if test="quantityProduct != null ">
                                    and t.quantity_product = #{quantityProduct}
                                </if>
                                                                                                                                                                                            <if test="unitBaseMaterial != null  and unitBaseMaterial != ''">
                                and (<foreach collection="unitBaseMaterial.split(';')" item="item" separator="or">t.unit_base_material
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                <if test="unitBaseProduct != null  and unitBaseProduct != ''">
                                and (<foreach collection="unitBaseProduct.split(';')" item="item" separator="or">t.unit_base_product
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                <if test="itemNum != null ">
                                and t.item_num =#{itemNum}
                            </if>
                                                                                                                                                                <if test="referDocCategory != null  and referDocCategory != ''">
                                and (<foreach collection="referDocCategory.split(';')" item="item" separator="or">t.refer_doc_category
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                <if test="referDocSid != null ">
                                and t.refer_doc_sid =#{referDocSid}
                            </if>
                                                                                                                                                                <if test="referDocCode != null ">
                                and t.refer_doc_code =#{referDocCode}
                            </if>
                                                                                                                                                                <if test="referDocItemSid != null ">
                                and t.refer_doc_item_sid =#{referDocItemSid}
                            </if>
                                                                                                                                                                <if test="referDocItemNum != null ">
                                and t.refer_doc_item_num =#{referDocItemNum}
                            </if>
                                                                                                                                                                <if test="salesOrderSid != null ">
                                and t.sales_order_sid =#{salesOrderSid}
                            </if>
                                                                                                                                                                <if test="salesOrderCode != null ">
                                and t.sales_order_code =#{salesOrderCode}
                            </if>
                                                                                                                                                                <if test="salesOrderItemSid != null ">
                                and t.sales_order_item_sid =#{salesOrderItemSid}
                            </if>
                                                                                                                                                                <if test="salesOrderItemNum != null ">
                                and t.sales_order_item_num =#{salesOrderItemNum}
                            </if>
                                                                                                                                                                                            <if test="creatorAccount != null  and creatorAccount != ''">
                                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                                                <if test="beginTime != null and beginTime!=''">
                                    and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
                                </if>
                                <if test="endTime != null and endTime!=''">
                                    and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
                                </if>
                                                                                                                                                                                            <if test="updaterAccount != null  and updaterAccount != ''">
                                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                                                <if test="updateDate != null ">
                                    and t.update_date = #{updateDate}
                                </if>
                                                                                                                                                                                            <if test="dataSourceSys != null  and dataSourceSys != ''">
                                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                    <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_inv_inventory_transfer_material_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                client_id,
                                                                item_material_product_sid,
                                                                inventory_transfer_item_sid,
                                                                inventory_transfer_sid,
                                                                product_sid,
                                                                product_sku1_sid,
                                                                product_sku2_sid,
                                                                product_barcode_sid,
                                                                quantity_material,
                                                                quantity_product,
                                                                unit_base_material,
                                                                unit_base_product,
                                                                item_num,
                                                                refer_doc_category,
                                                                refer_doc_sid,
                                                                refer_doc_code,
                                                                refer_doc_item_sid,
                                                                refer_doc_item_num,
                                                                sales_order_sid,
                                                                sales_order_code,
                                                                sales_order_item_sid,
                                                                sales_order_item_num,
                                                                remark,
                                                                creator_account,
                                                                create_date,
                                                                updater_account,
                                                                update_date,
                                                                data_source_sys,
                                    </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                                                            #{item.clientId},
                                                                                #{item.itemMaterialProductSid},
                                                                                #{item.inventoryTransferItemSid},
                                                                                #{item.inventoryTransferSid},
                                                                                #{item.productSid},
                                                                                #{item.productSku1Sid},
                                                                                #{item.productSku2Sid},
                                                                                #{item.productBarcodeSid},
                                                                                #{item.quantityMaterial},
                                                                                #{item.quantityProduct},
                                                                                #{item.unitBaseMaterial},
                                                                                #{item.unitBaseProduct},
                                                                                #{item.itemNum},
                                                                                #{item.referDocCategory},
                                                                                #{item.referDocSid},
                                                                                #{item.referDocCode},
                                                                                #{item.referDocItemSid},
                                                                                #{item.referDocItemNum},
                                                                                #{item.salesOrderSid},
                                                                                #{item.salesOrderCode},
                                                                                #{item.salesOrderItemSid},
                                                                                #{item.salesOrderItemNum},
                                                                                #{item.remark},
                                                                                #{item.creatorAccount},
                                                                                #{item.createDate},
                                                                                #{item.updaterAccount},
                                                                                #{item.updateDate},
                                                                                #{item.dataSourceSys},
                                                </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_inv_inventory_transfer_material_product
        <trim prefix="SET" suffixOverrides=",">
                                                client_id = #{clientId},
                                                                item_material_product_sid = #{itemMaterialProductSid},
                                                                inventory_transfer_item_sid = #{inventoryTransferItemSid},
                                                                inventory_transfer_sid = #{inventoryTransferSid},
                                                                product_sid = #{productSid},
                                                                product_sku1_sid = #{productSku1Sid},
                                                                product_sku2_sid = #{productSku2Sid},
                                                                product_barcode_sid = #{productBarcodeSid},
                                                                quantity_material = #{quantityMaterial},
                                                                quantity_product = #{quantityProduct},
                                                                unit_base_material = #{unitBaseMaterial},
                                                                unit_base_product = #{unitBaseProduct},
                                                                item_num = #{itemNum},
                                                                refer_doc_category = #{referDocCategory},
                                                                refer_doc_sid = #{referDocSid},
                                                                refer_doc_code = #{referDocCode},
                                                                refer_doc_item_sid = #{referDocItemSid},
                                                                refer_doc_item_num = #{referDocItemNum},
                                                                sales_order_sid = #{salesOrderSid},
                                                                sales_order_code = #{salesOrderCode},
                                                                sales_order_item_sid = #{salesOrderItemSid},
                                                                sales_order_item_num = #{salesOrderItemNum},
                                                                remark = #{remark},
                                                                creator_account = #{creatorAccount},
                                                                create_date = #{createDate},
                                                                updater_account = #{updaterAccount},
                                                                update_date = #{updateDate},
                                                                data_source_sys = #{dataSourceSys},
                                    </trim>
        where item_material_product_sid = #{itemMaterialProductSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_inv_inventory_transfer_material_product
            <trim prefix="SET" suffixOverrides=",">
                                                            client_id = #{clientId},
                                                                                item_material_product_sid = #{itemMaterialProductSid},
                                                                                inventory_transfer_item_sid = #{inventoryTransferItemSid},
                                                                                inventory_transfer_sid = #{inventoryTransferSid},
                                                                                product_sid = #{productSid},
                                                                                product_sku1_sid = #{productSku1Sid},
                                                                                product_sku2_sid = #{productSku2Sid},
                                                                                product_barcode_sid = #{productBarcodeSid},
                                                                                quantity_material = #{quantityMaterial},
                                                                                quantity_product = #{quantityProduct},
                                                                                unit_base_material = #{unitBaseMaterial},
                                                                                unit_base_product = #{unitBaseProduct},
                                                                                item_num = #{itemNum},
                                                                                refer_doc_category = #{referDocCategory},
                                                                                refer_doc_sid = #{referDocSid},
                                                                                refer_doc_code = #{referDocCode},
                                                                                refer_doc_item_sid = #{referDocItemSid},
                                                                                refer_doc_item_num = #{referDocItemNum},
                                                                                sales_order_sid = #{salesOrderSid},
                                                                                sales_order_code = #{salesOrderCode},
                                                                                sales_order_item_sid = #{salesOrderItemSid},
                                                                                sales_order_item_num = #{salesOrderItemNum},
                                                                                remark = #{remark},
                                                                                creator_account = #{creatorAccount},
                                                                                create_date = #{createDate},
                                                                                updater_account = #{updaterAccount},
                                                                                update_date = #{updateDate},
                                                                                data_source_sys = #{dataSourceSys},
                                                </trim>
            where item_material_product_sid = #{itemMaterialProductSid}
        </foreach>
    </update>

</mapper>
