<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.InvRecordGoodsArrivalDetailMapper">

    <resultMap type="com.platform.ems.domain.InvRecordGoodsArrivalDetail" id="InvRecordGoodsArrivalDetailResult">
                    <result property="clientId" column="client_id"/>
                    <result property="arrivalDetailSid" column="arrival_detail_sid"/>
                    <result property="goodsArrivalItemSid" column="goods_arrival_item_sid"/>
                    <result property="batchNumber" column="batch_number"/>
                    <result property="arrivalQuantity" column="arrival_quantity"/>
                    <result property="remark" column="remark"/>
                    <result property="creatorAccount" column="creator_account"/>
                    <result property="createDate" column="create_date"/>
                    <result property="updaterAccount" column="updater_account"/>
                    <result property="updateDate" column="update_date"/>
                    <result property="confirmerAccount" column="confirmer_account"/>
                    <result property="confirmDate" column="confirm_date"/>
                    <result property="dataSourceSys" column="data_source_sys"/>
                <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
    </resultMap>

    <sql id="selectInvRecordGoodsArrivalDetailVo">
select t.client_id, t.arrival_detail_sid, t.goods_arrival_item_sid, t.batch_number, t.arrival_quantity, t.remark, t.creator_account, t.create_date, t.updater_account, t.update_date, t.confirmer_account, t.confirm_date, t.data_source_sys ,t2.nick_name AS creator_account_name,t3.nick_name AS updater_account_name,t4.nick_name AS confirmer_account_name from s_inv_record_goods_arrival_detail t
        LEFT JOIN sys_user t2 ON t2.user_name = t.creator_account
        LEFT JOIN sys_user t3 ON t3.user_name = t.updater_account
        LEFT JOIN sys_user t4 ON t4.user_name = t.confirmer_account
    </sql>

    <select id="selectInvRecordGoodsArrivalDetailById" parameterType="Long" resultMap="InvRecordGoodsArrivalDetailResult">
        <include refid="selectInvRecordGoodsArrivalDetailVo"/>
        where t.goods_arrival_item_sid = #{goodsArrivalItemSid}
    </select>


    <select id="selectInvRecordGoodsArrivalDetailList" parameterType="com.platform.ems.domain.InvRecordGoodsArrivalDetail"
            resultMap="InvRecordGoodsArrivalDetailResult">
        <include refid="selectInvRecordGoodsArrivalDetailVo"/>
        <where>
                                                                                                    <if test="clientId != null  and clientId != ''">
                                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                                            <if test="goodsArrivalItemSid != null ">
                                and t.goods_arrival_item_sid =#{goodsArrivalItemSid}
                            </if>
                                                                                                                                                                <if test="batchNumber != null  and batchNumber != ''">
                                and (<foreach collection="batchNumber.split(';')" item="item" separator="or">t.batch_number
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                                                <if test="arrivalQuantity != null ">
                                    and t.arrival_quantity = #{arrivalQuantity}
                                </if>
                                                                                                                                                                                                                        <if test="creatorAccount != null  and creatorAccount != ''">
                                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                                                <if test="beginTime != null and beginTime!=''">
                                    and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
                                </if>
                                <if test="endTime != null and endTime!=''">
                                    and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
                                </if>
                                                                                                                                                                                            <if test="updaterAccount != null  and updaterAccount != ''">
                                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                                                <if test="updateDate != null ">
                                    and t.update_date = #{updateDate}
                                </if>
                                                                                                                                                                                            <if test="confirmerAccount != null  and confirmerAccount != ''">
                                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                                                                                                                                <if test="confirmDate != null ">
                                    and t.confirm_date = #{confirmDate}
                                </if>
                                                                                                                                                                                            <if test="dataSourceSys != null  and dataSourceSys != ''">
                                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys
                                like concat('%',
                                #{item}, '%')
                            </foreach>)
                            </if>
                                                                                    <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_inv_record_goods_arrival_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
                                                client_id,
                                                                arrival_detail_sid,
                                                                goods_arrival_item_sid,
                                                                batch_number,
                                                                arrival_quantity,
                                                                remark,
                                                                creator_account,
                                                                create_date,
                                                                updater_account,
                                                                update_date,
                                                                confirmer_account,
                                                                confirm_date,
                                                                data_source_sys,
                                    </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                                                            #{item.clientId},
                                                                                #{item.arrivalDetailSid},
                                                                                #{item.goodsArrivalItemSid},
                                                                                #{item.batchNumber},
                                                                                #{item.arrivalQuantity},
                                                                                #{item.remark},
                                                                                #{item.creatorAccount},
                                                                                #{item.createDate},
                                                                                #{item.updaterAccount},
                                                                                #{item.updateDate},
                                                                                #{item.confirmerAccount},
                                                                                #{item.confirmDate},
                                                                                #{item.dataSourceSys},
                                                </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_inv_record_goods_arrival_detail
        <trim prefix="SET" suffixOverrides=",">
                                                client_id = #{clientId},
                                                                arrival_detail_sid = #{arrivalDetailSid},
                                                                goods_arrival_item_sid = #{goodsArrivalItemSid},
                                                                batch_number = #{batchNumber},
                                                                arrival_quantity = #{arrivalQuantity},
                                                                remark = #{remark},
                                                                creator_account = #{creatorAccount},
                                                                create_date = #{createDate},
                                                                updater_account = #{updaterAccount},
                                                                update_date = #{updateDate},
                                                                confirmer_account = #{confirmerAccount},
                                                                confirm_date = #{confirmDate},
                                                                data_source_sys = #{dataSourceSys},
                                    </trim>
        where arrival_detail_sid = #{arrivalDetailSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_inv_record_goods_arrival_detail
            <trim prefix="SET" suffixOverrides=",">
                                                            client_id = #{clientId},
                                                                                arrival_detail_sid = #{arrivalDetailSid},
                                                                                goods_arrival_item_sid = #{goodsArrivalItemSid},
                                                                                batch_number = #{batchNumber},
                                                                                arrival_quantity = #{arrivalQuantity},
                                                                                remark = #{remark},
                                                                                creator_account = #{creatorAccount},
                                                                                create_date = #{createDate},
                                                                                updater_account = #{updaterAccount},
                                                                                update_date = #{updateDate},
                                                                                confirmer_account = #{confirmerAccount},
                                                                                confirm_date = #{confirmDate},
                                                                                data_source_sys = #{dataSourceSys},
                                                </trim>
            where arrival_detail_sid = #{arrivalDetailSid}
        </foreach>
    </update>

</mapper>
