<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.ManDayManufactureProgressMapper">

    <resultMap type="com.platform.ems.domain.ManDayManufactureProgress" id="ManDayManufactureProgressResult">
        <result property="clientId" column="client_id"/>
        <result property="dayManufactureProgressSid" column="day_manufacture_progress_sid"/>
        <result property="dayManufactureProgressCode" column="day_manufacture_progress_code"/>
        <result property="plantSid" column="plant_sid"/>
        <result property="workCenterSid" column="work_center_sid"/>
        <result property="documentDate" column="document_date"/>
        <result property="yearmonth" column="yearmonth"/>
        <result property="reporter" column="reporter"/>
        <result property="documentType" column="document_type"/>
        <result property="businessType" column="business_type"/>
        <result property="companySid" column="company_sid"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="plantCode" column="plant_code"/>
        <result property="plantName" column="plant_name"/>
        <result property="shortName" column="short_name"/>
        <result property="workCenterCode" column="work_center_code"/>
        <result property="workCenterName" column="work_center_name"/>
        <result property="departmentSid" column="department_sid"/>
        <result property="departmentCode" column="department_code"/>
        <result property="departmentName" column="department_name"/>
        <result property="reporterName" column="reporter_name"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
        <result property="approvalNode" column="approval_node"/>
        <result property="approvalUserName" column="approval_user_name"/>
        <result property="submitDate" column="submit_date"/>
        <result property="submitUserName" column="submit_user_name"/>
    </resultMap>

    <sql id="selectManDayManufactureProgressVo">
        select
        t.client_id,
        t.day_manufacture_progress_sid,
        t.day_manufacture_progress_code,
        t.enter_mode,
        t.plant_sid,
        t.work_center_sid,
        t.department_sid,
        t.department_code,
        t.document_date,
        t.yearmonth,
        t.reporter,
        t.document_type,
        t.business_type,
        t.company_sid,
        t.remark,
        t.handle_status,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.update_date,
        t.confirmer_account,
        t.confirm_date,
        t.data_source_sys,
        t.plant_code,
        t1.plant_name,
        t1.short_name,
        t1.short_name as plant_short_name,
        t.work_center_code,
        t2.work_center_name,
        t3.nick_name as reporter_name,
        t4.nick_name as creator_account_name,
        t5.nick_name as updater_account_name,
        t6.nick_name as confirmer_account_name,
        t7.approval_node,
        t7.approval_user_name,
        t7.create_date as submit_date,
        t7.approval_user_id,
        t8.nick_name as submit_user_name,
        t9.name as department_name
  from s_man_day_manufacture_progress t
        LEFT JOIN s_bas_plant t1 ON t1.plant_sid = t.plant_sid
        LEFT JOIN s_man_work_center t2 ON t2.work_center_sid = t.work_center_sid
        LEFT JOIN sys_user t3 ON t3.user_name = t.reporter and t3.client_id = t.client_id
        LEFT JOIN sys_user t4 ON t4.user_name = t.creator_account and t4.client_id = t.client_id
        LEFT JOIN sys_user t5 ON t5.user_name = t.updater_account and t5.client_id = t.client_id
        LEFT JOIN sys_user t6 ON t6.user_name = t.confirmer_account and t6.client_id = t.client_id
        LEFT JOIN s_sys_form_process t7 ON t7.form_id = t.day_manufacture_progress_sid
        LEFT JOIN sys_user t8 ON t8.user_id = t7.create_by_id
        LEFT JOIN s_con_manufacture_department t9 ON t.department_sid = t9.sid
    </sql>

    <sql id="selectCount">
        select count(1) from s_man_day_manufacture_progress t
         LEFT JOIN s_bas_plant t1 ON t1.plant_sid = t.plant_sid
         LEFT JOIN s_man_work_center t2 ON t2.work_center_sid = t.work_center_sid
         LEFT JOIN sys_user t3 ON t3.user_name = t.reporter and t3.client_id = t.client_id
         LEFT JOIN sys_user t4 ON t4.user_name = t.creator_account and t4.client_id = t.client_id
         LEFT JOIN sys_user t5 ON t5.user_name = t.updater_account and t5.client_id = t.client_id
         LEFT JOIN sys_user t6 ON t6.user_name = t.confirmer_account and t6.client_id = t.client_id
         LEFT JOIN s_sys_form_process t7 ON t7.form_id = t.day_manufacture_progress_sid
         LEFT JOIN sys_user t8 ON t8.user_id = t7.create_by_id
         LEFT JOIN s_con_manufacture_department t9 ON t.department_sid = t9.sid
    </sql>

    <select id="selectManDayManufactureProgressById" parameterType="Long" resultMap="ManDayManufactureProgressResult">
        <include refid="selectManDayManufactureProgressVo"/>
        where t.day_manufacture_progress_sid = #{dayManufactureProgressSid}
    </select>

    <select id="selectManDayManufactureProgressCount" parameterType="com.platform.ems.domain.ManDayManufactureProgress"
            resultType="java.lang.Integer">
        <include refid="selectCount"/>
        <include refid="whereString"/>
    </select>

    <select id="selectManDayManufactureProgressList" parameterType="com.platform.ems.domain.ManDayManufactureProgress"
            resultMap="ManDayManufactureProgressResult">
        <include refid="selectManDayManufactureProgressVo"/>
        <include refid="whereString"/>
        order by t.document_date desc, CONVERT (t1.plant_name USING gbk) desc, CONVERT (t2.work_center_name USING gbk) desc
        <if test="pageNum != null and pageSize != null">LIMIT ${pageBegin},${pageSize}</if>
    </select>

    <sql id="whereString">
        <where>
            <if test="clientId != null  and clientId != '' ">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="dayManufactureProgressSid != null ">
                and t.day_manufacture_progress_sid =#{dayManufactureProgressSid}
            </if>
            <if test="dayManufactureProgressSidList != null and dayManufactureProgressSidList.length >0 ">
                and t.day_manufacture_progress_sid in
                (<foreach collection="dayManufactureProgressSidList" item="dayManufactureProgressSid" separator=",">#{dayManufactureProgressSid}</foreach>)
            </if>
            <if test="dayManufactureProgressCode != null ">
                and t.day_manufacture_progress_code =#{dayManufactureProgressCode}
            </if>
            <if test="enterMode != null and enterMode != ''">
                and t.enter_mode =#{enterMode}
            </if>
            <if test="enterModeList != null and enterModeList.length >0 ">
                and t.enter_mode in
                (<foreach collection="enterModeList" item="enterMode" separator=",">#{enterMode}</foreach>)
            </if>
            <if test="workCenterSidList != null and workCenterSidList.length >0 ">
                and t.work_center_sid in
                (<foreach collection="workCenterSidList" item="workCenterSid" separator=",">#{workCenterSid}</foreach>)
            </if>
            <if test="departmentSidList != null and departmentSidList.length >0 ">
                and t.department_sid in
                (<foreach collection="departmentSidList" item="department" separator=",">#{department}</foreach>)
            </if>
            <if test="plantSidList != null and plantSidList.length >0 ">
                and t.plant_sid in
                (<foreach collection="plantSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="plantSid != null ">
                and t.plant_sid =#{plantSid}
            </if>
            <if test="workCenterSid != null ">
                and t.work_center_sid =#{workCenterSid}
            </if>
            <if test="departmentSid != null ">
                and t.department_sid =#{departmentSid}
            </if>
            <if test="approvalUserId != null and approvalUserId != '' ">
                and t7.approval_user_id = #{approvalUserId}
            </if>
            <if test="documentDateStart != null and documentDateStart!=''">
                and date_format(t.document_date,'%y%m%d') &gt;= date_format(#{documentDateStart},'%y%m%d')
            </if>
            <if test="documentDateEnd != null and documentDateEnd!=''">
                and date_format(t.document_date,'%y%m%d') &lt;= date_format(#{documentDateEnd},'%y%m%d')
            </if>
            <if test="yearmonth != null and yearmonth != '' ">
                and t.yearmonth = #{yearmonth}
            </if>
            <if test="reporter != null  and reporter != ''">
                and (<foreach collection="reporter.split(';')" item="item" separator="or">t.reporter like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="reporterList != null and reporterList.length >0 ">
                and t.reporter in
                (<foreach collection="reporterList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="documentType != null  and documentType != ''">
                and (<foreach collection="documentType.split(';')" item="item" separator="or">t.document_type like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="businessType != null  and businessType != ''">
                and (<foreach collection="businessType.split(';')" item="item" separator="or">t.business_type like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="companySid != null ">
                and t.company_sid =#{companySid}
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and t.handle_status = #{handleStatus}
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0 ">
                and t.handle_status in
                (<foreach collection="handleStatusList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccountList != null and creatorAccountList.length >0 ">
                and t.creator_account in
                (<foreach collection="creatorAccountList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </sql>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_man_day_manufacture_progress
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            day_manufacture_progress_sid,
            day_manufacture_progress_code,
            enter_mode,
            plant_sid,
            plant_code,
            work_center_sid,
            work_center_code,
            department_sid,
            department_code,
            document_date,
            yearmonth,
            reporter,
            document_type,
            business_type,
            company_sid,
            remark,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.dayManufactureProgressSid},
                #{item.dayManufactureProgressCode},
                #{item.enterMode},
                #{item.plantSid},
                #{item.plantCode}.
                #{item.workCenterSid},
                #{item.workCenterCode},
                #{item.departmentSid},
                #{item.departmentCode}.
                #{item.documentDate},
                #{item.yearmonth},
                #{item.reporter},
                #{item.documentType},
                #{item.businessType},
                #{item.companySid},
                #{item.remark},
                #{item.handleStatus},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_man_day_manufacture_progress
        <trim prefix="SET" suffixOverrides=",">
            day_manufacture_progress_code = #{dayManufactureProgressCode},
            enter_mode = #{enterMode},
            plant_sid = #{plantSid},
            plant_code = #{plantCode},
            work_center_sid = #{workCenterSid},
            work_center_code = #{workCenterCode},
            department_sid = #{departmentSid},
            department_code = #{departmentCode},
            document_date = #{documentDate},
            yearmonth = #{yearmonth},
            reporter = #{reporter},
            document_type = #{documentType},
            business_type = #{businessType},
            company_sid = #{companySid},
            remark = #{remark},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where day_manufacture_progress_sid = #{dayManufactureProgressSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_man_day_manufacture_progress
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                day_manufacture_progress_code = #{dayManufactureProgressCode},
                enter_mode = #{enterMode},
                plant_sid = #{plantSid},
                plant_code = #{plantCode},
                work_center_sid = #{workCenterSid},
                work_center_code = #{workCenterCode},
                department_sid = #{departmentSid},
                department_code = #{departmentCode},
                document_date = #{documentDate},
                yearmonth = #{yearmonth},
                reporter = #{reporter},
                document_type = #{documentType},
                business_type = #{businessType},
                company_sid = #{companySid},
                remark = #{remark},
                handle_status = #{handleStatus},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where day_manufacture_progress_sid = #{dayManufactureProgressSid}
        </foreach>
    </update>

</mapper>
