<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.ManManufactureOutsourceSettleMapper">

    <resultMap type="com.platform.ems.domain.ManManufactureOutsourceSettle" id="ManManufactureOutsourceSettleResult">
        <result property="clientId" column="client_id"/>
        <result property="manufactureOutsourceSettleSid" column="manufacture_outsource_settle_sid"/>
        <result property="manufactureOutsourceSettleCode" column="manufacture_outsource_settle_code"/>
        <result property="vendorSid" column="vendor_sid"/>
        <result property="documentDate" column="document_date"/>
        <result property="plantSid" column="plant_sid"/>
        <result property="documentType" column="document_type"/>
        <result property="businessType" column="business_type"/>
        <result property="companySid" column="company_sid"/>
        <result property="purchaseContractSid" column="purchase_contract_sid"/>
        <result property="purchaseContractCode" column="purchase_contract_code"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="vendorCode" column="vendor_code"/>
        <result property="vendorName" column="vendor_name"/>
        <result property="plantCode" column="plant_code"/>
        <result property="plantName" column="plant_name"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
        <result property="approvalNode" column="approval_node"/>
        <result property="approvalUserName" column="approval_user_name"/>
        <result property="submitDate" column="submit_date"/>
        <result property="submitUserName" column="submit_user_name"/>
        <result property="currency" column="currency"/>
        <result property="currencyUnit" column="currency_unit"/>
    </resultMap>

    <sql id="selectManManufactureOutsourceSettleVo">
        select
            t.client_id,
            t.manufacture_outsource_settle_sid,
            t.manufacture_outsource_settle_code,
            t.vendor_sid,
            t.vendor_code,
            t.document_date,
            t.plant_sid,
            t.plant_code,
            t.document_type,
            t.business_type,
            t.company_sid,
            t.company_code,
            t.purchase_contract_sid,
            t.purchase_contract_code,
            t.extra_deduction_tax,
            t.extra_deduction,
            t.extra_allowance_tax,
            t.extra_allowance,
            t.product_num,
            t.total_complete_quantity,
            t.total_settle_quantity,
            t.total_defective_quantity,
            t.total_process_amount_tax,
            t.total_deduction_tax,
            t.total_settle_amount_tax,
            t.remark,
            t.handle_status,
            t.creator_account,
            t.create_date,
            t.updater_account,
            t.update_date,
            t.confirmer_account,
            t.confirm_date,
            t.currency,
            t.currency_unit,
            t.data_source_sys,
            t1.vendor_name,
            ifnull(t1.short_name,t1.vendor_name) as vendor_short_name,
            t2.plant_name,
            ifnull(t2.short_name,t2.plant_name) as plant_short_name,
            t3.contract_name as purchase_contract_name,
            t4.nick_name as creator_account_name,
            t5.nick_name as updater_account_name,
            t6.nick_name as confirmer_account_name,
            t7.approval_node,
            t7.approval_user_name,
            t7.create_date as submit_date,
            t7.approval_user_id,
            t8.nick_name as submit_user_name,
            t9.company_name,
            ifnull(t9.short_name,t9.company_name) as company_short_name,
            t10.name as document_type_name,
            t11.name as business_type_name,
            ifnull(t12.currency_amount_tax_zfz, 0) as currency_amount_tax_zfz,
            ifnull(t12.currency_amount_tax_yzf, 0) as currency_amount_tax_yzf,
            (t.total_settle_amount_tax - ifnull(t12.currency_amount_tax_zfz, 0) - ifnull(t12.currency_amount_tax_yzf, 0)) as currency_amount_tax_wzf
        from s_man_manufacture_outsource_settle t
                 LEFT JOIN s_bas_vendor t1 ON t1.vendor_sid = t.vendor_sid
                 LEFT JOIN s_bas_plant t2 ON t2.plant_sid = t.plant_sid
                 LEFT JOIN s_pur_purchase_contract t3 ON t3.purchase_contract_sid = t.purchase_contract_sid
                 LEFT JOIN sys_user t4 on t4.user_name=t.creator_account and t4.client_id=t.client_id
                 LEFT JOIN sys_user t5 on t5.user_name=t.updater_account and t5.client_id=t.client_id
                 LEFT JOIN sys_user t6 on t6.user_name=t.confirmer_account and t6.client_id=t.client_id
                 LEFT JOIN s_sys_form_process t7 ON t7.form_id = t.manufacture_outsource_settle_sid
                 LEFT JOIN sys_user t8 ON t8.user_id = t7.create_by_id and t8.client_id=t7.client_id
                 LEFT JOIN s_bas_company t9 ON t9.company_sid = t.company_sid
                 LEFT JOIN s_con_doc_type_manufacture_outsource_settle t10 ON t10.code = t.document_type
                 LEFT JOIN s_con_bu_type_manufacture_outsource_settle t11 ON t11.code = t.business_type
                 LEFT JOIN (
            SELECT a.manufacture_outsource_settle_sid,
                   sum(if(a1.handle_status = '3', a.currency_amount_tax, 0)) as currency_amount_tax_zfz,
                   sum(if(a1.handle_status = '5', a.currency_amount_tax, 0)) as currency_amount_tax_yzf
            FROM s_fin_pay_bill_item_outsource_settle a
                     LEFT JOIN s_fin_pay_bill a1 ON a.pay_bill_sid = a1.pay_bill_sid
            WHERE a1.handle_status in ('5','3')
            GROUP BY a.manufacture_outsource_settle_sid
        ) t12 on t.manufacture_outsource_settle_sid = t12.manufacture_outsource_settle_sid
    </sql>

    <select id="selectManManufactureOutsourceSettleById" parameterType="Long"
            resultMap="ManManufactureOutsourceSettleResult">
        <include refid="selectManManufactureOutsourceSettleVo"/>
        where t.manufacture_outsource_settle_sid = #{manufactureOutsourceSettleSid}
    </select>


    <select id="selectManManufactureOutsourceSettleList"
            parameterType="com.platform.ems.domain.ManManufactureOutsourceSettle"
            resultMap="ManManufactureOutsourceSettleResult">
        <include refid="selectManManufactureOutsourceSettleVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="manufactureOutsourceSettleSid != null ">
                and t.manufacture_outsource_settle_sid =#{manufactureOutsourceSettleSid}
            </if>
            <if test="manufactureOutsourceSettleSidList != null and manufactureOutsourceSettleSidList.length >0 ">
                and t.manufacture_outsource_settle_sid in
                (<foreach collection="manufactureOutsourceSettleSidList" item="manufactureOutsourceSettleSid" separator=",">
                #{manufactureOutsourceSettleSid}</foreach>)
            </if>
            <if test="manufactureOutsourceSettleCode != null ">
                and t.manufacture_outsource_settle_code like concat('%',#{manufactureOutsourceSettleCode}, '%')
            </if>
            <if test="vendorSid != null ">
                and t.vendor_sid =#{vendorSid}
            </if>
            <if test="vendorSidList != null and vendorSidList.length >0 ">
                and t.vendor_sid in
                (<foreach collection="vendorSidList" item="vendorSid" separator=",">#{vendorSid}</foreach>)
            </if>
            <if test="documentDate != null ">
                and t.document_date = #{documentDate}
            </if>
            <if test="documentDateBegin != null and documentDateBegin!=''">
                and date_format(t.document_date,'%y%m%d') &gt;= date_format(#{documentDateBegin},'%y%m%d')
            </if>
            <if test="documentDateEnd != null and documentDateEnd!=''">
                and date_format(t.document_date,'%y%m%d') &lt;= date_format(#{documentDateEnd},'%y%m%d')
            </if>
            <if test="plantSid != null ">
                and t.plant_sid =#{plantSid}
            </if>
            <if test="approvalUserId != null and approvalUserId != '' ">
                and (t7.approval_user_id = #{approvalUserId}
                or t7.approval_user_id like concat(#{approvalUserId}, ',%') or t7.approval_user_id like concat('%,', #{approvalUserId}, ',%') or t7.approval_user_id like concat('%,', #{approvalUserId})
                or t7.approval_user_id like concat('%, ', #{approvalUserId}, ',%') or t7.approval_user_id like concat('%, ', #{approvalUserId})
                )
            </if>
            <if test="plantSidList != null and plantSidList.length >0 ">
                and t.plant_sid in
                (<foreach collection="plantSidList" item="plantSid" separator=",">#{plantSid}</foreach>)
            </if>
            <if test="documentType != null and documentType != ''">
                and t.document_type = #{documentType}
            </if>
            <if test="documentTypeList != null and documentTypeList.length >0 ">
                and t.document_type in
                (<foreach collection="documentTypeList" item="documentType" separator=",">#{documentType}</foreach>)
            </if>
            <if test="businessType != null and businessType != ''">
                and t.business_type = #{businessType}
            </if>
            <if test="businessTypeList != null and businessTypeList.length >0 ">
                and t.business_type in
                (<foreach collection="businessTypeList" item="businessType" separator=",">#{businessType}</foreach>)
            </if>
            <if test="companySid != null ">
                and t.company_sid =#{companySid}
            </if>
            <if test="companySidList != null and companySidList.length >0 ">
                and t.company_sid in
                (<foreach collection="companySidList" item="companySid" separator=",">#{companySid}</foreach>)
            </if>
            <if test="purchaseContractSid != null ">
                and t.purchase_contract_sid = #{purchaseContractSid}
            </if>
            <if test="purchaseContractCode != null ">
                and t.purchase_contract_code like concat('%', #{purchaseContractCode} , '%')
            </if>
            <if test="handleStatus != null and handleStatus != ''">
                and t.handle_status = #{handleStatus}
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0 ">
                and t.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator=" or ">
                t.creator_account like concat('%',#{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccountList != null and creatorAccountList.length >0 ">
                and t.creator_account in
                (<foreach collection="creatorAccountList" item="creatorAccount" separator=",">#{creatorAccount}</foreach>)
            </if>
            <if test="creatorAccountName != null ">
                and t4.nick_name like concat('%',#{creatorAccountName}, '%')
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator=" or ">
                t.updater_account like concat('%',#{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator=" or ">
                t.confirmer_account like concat('%',#{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="currency != null and currency != ''">
                and t.currency = #{currency}
            </if>
            <if test="currencyUnit != null and currencyUnit != ''">
                and t.currency_unit = #{currencyUnit}
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
        order by t.manufacture_outsource_settle_code desc, t.create_date desc
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_man_manufacture_outsource_settle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            manufacture_outsource_settle_sid,
            manufacture_outsource_settle_code,
            vendor_sid,
            vendor_code,
            document_date,
            plant_sid,
            plant_code,
            document_type,
            business_type,
            company_sid,
            company_code,
            purchase_contract_sid,
            purchase_contract_code,
            extra_deduction_tax,
            extra_deduction,
            extra_allowance_tax,
            extra_allowance,
            product_num,
            total_complete_quantity,
            total_settle_quantity,
            total_defective_quantity,
            total_process_amount_tax,
            total_deduction_tax,
            total_settle_amount_tax,
            currency,
            currency_unit,
            remark,
            handle_status,
            creator_account,
            create_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.manufactureOutsourceSettleSid},
                #{item.manufactureOutsourceSettleCode},
                #{item.vendorSid},
                #{item.vendorCode},
                #{item.documentDate},
                #{item.plantSid},
                #{item.plantCode},
                #{item.documentType},
                #{item.businessType},
                #{item.companySid},
                #{item.companyCode},
                #{item.purchaseContractSid},
                #{item.purchaseContractCode},
                #{item.extraDeductionTax},
                #{item.extraDeduction},
                #{item.extraAllowanceTax},
                #{item.extraAllowance},
                #{item.productNum},
                #{item.totalCompleteQuantity},
                #{item.totalSettleQuantity},
                #{item.totalDefectiveQuantity},
                #{item.totalProcessAmountTax},
                #{item.totalDeductionTax},
                #{item.totalSettleAmountTax},
                #{item.currency},
                #{item.currencyUnit},
                #{item.remark},
                #{item.handleStatus},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_man_manufacture_outsource_settle
        <trim prefix="SET" suffixOverrides=",">
            vendor_sid = #{vendorSid},
            vendor_code = #{vendorCode},
            document_date = #{documentDate},
            plant_sid = #{plantSid},
            plant_code = #{plantCode},
            document_type = #{documentType},
            business_type = #{businessType},
            company_sid = #{companySid},
            company_code = #{companyCode},
            purchase_contract_sid = #{purchaseContractSid},
            purchase_contract_code = #{purchaseContractCode},
            extra_deduction_tax = #{extraDeductionTax},
            extra_deduction = #{extraDeduction},
            extra_allowance_tax = #{extraAllowanceTax},
            extra_allowance = #{extraAllowance},
            product_num = #{productNum},
            total_complete_quantity = #{totalCompleteQuantity},
            total_settle_quantity = #{totalSettleQuantity},
            total_defective_quantity = #{totalDefectiveQuantity},
            total_process_amount_tax = #{totalProcessAmountTax},
            total_deduction_tax = #{totalDeductionTax},
            total_settle_amount_tax = #{totalSettleAmountTax},
            currency = #{currency},
            currency_unit = #{currencyUnit},
            remark = #{remark},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where manufacture_outsource_settle_sid = #{manufactureOutsourceSettleSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_man_manufacture_outsource_settle
            <trim prefix="SET" suffixOverrides=",">
                vendor_sid = #{o.vendorSid},
                vendor_code = #{o.vendorCode},
                document_date = #{o.documentDate},
                plant_sid = #{o.plantSid},
                plant_code = #{o.plantCode},
                document_type = #{o.documentType},
                business_type = #{o.businessType},
                company_sid = #{o.companySid},
                company_code = #{o.companyCode},
                purchase_contract_sid = #{o.purchaseContractSid},
                purchase_contract_code = #{o.purchaseContractCode},
                extra_deduction_tax = #{o.extraDeductionTax},
                extra_deduction = #{o.extraDeduction},
                extra_allowance_tax = #{o.extraAllowanceTax},
                extra_allowance = #{o.extraAllowance},
                product_num = #{o.productNum},
                total_complete_quantity = #{o.totalCompleteQuantity},
                total_settle_quantity = #{o.totalSettleQuantity},
                total_defective_quantity = #{o.totalDefectiveQuantity},
                total_process_amount_tax = #{o.totalProcessAmountTax},
                total_deduction_tax = #{o.totalDeductionTax},
                total_settle_amount_tax = #{o.totalSettleAmountTax},
                currency = #{o.currency},
                currency_unit = #{o.currencyUnit},
                remark = #{o.remark},
                handle_status = #{o.handleStatus},
                updater_account = #{o.updaterAccount},
                update_date = #{o.updateDate},
                confirmer_account = #{o.confirmerAccount},
                confirm_date = #{o.confirmDate},
                data_source_sys = #{o.dataSourceSys},
            </trim>
            where manufacture_outsource_settle_sid = #{o.manufactureOutsourceSettleSid}
        </foreach>
    </update>

</mapper>
