<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.PrjTaskTemplateItemMapper">

    <resultMap type="com.platform.ems.domain.PrjTaskTemplateItem" id="PrjTaskTemplateItemResult">
        <result property="clientId" column="client_id"/>
        <result property="taskTemplateItemSid" column="task_template_item_sid"/>
        <result property="taskTemplateSid" column="task_template_sid"/>
        <result property="taskTemplateCode" column="task_template_code"/>
        <result property="taskSid" column="task_sid"/>
        <result property="taskCode" column="task_code"/>
        <result property="sort" column="sort"/>
        <result property="taskPhase" column="task_phase"/>
        <result property="businessSection" column="business_section"/>
        <result property="planEndDateConfig" column="plan_end_date_config"/>
        <result property="startPositionSid" column="start_position_sid"/>
        <result property="startPositionCode" column="start_position_code"/>
        <result property="chargePositionSid" column="charge_position_sid"/>
        <result property="chargePositionCode" column="charge_position_code"/>
        <result property="noticePositionSid" column="notice_position_sid"/>
        <result property="noticePositionCode" column="notice_position_code"/>
        <result property="handlerTask" column="handler_task"/>
        <result property="overdueWarnRate" column="overdue_warn_rate"/>
        <result property="calendarType" column="calendar_type"/>
        <result property="relateBusinessFormSid" column="relate_business_form_sid"/>
        <result property="relateBusinessFormCode" column="relate_business_form_code"/>
        <result property="preTask" column="pre_task"/>
        <result property="preSort" column="pre_sort"/>
        <result property="isMonitor" column="is_monitor"/>
        <result property="templateTime" column="template_time"/>
        <result property="completeStandard" column="complete_standard"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
    </resultMap>

    <sql id="selectPrjTaskTemplateItemVo">
        select t.client_id,
               t.task_template_item_sid,
               t.task_template_sid,
               t.task_template_code,
               t.task_sid,
               t.task_code,
               t.sort,
               t.task_phase,
               t.business_section,
               t.plan_end_date_config,
               t.start_position_sid,
               t.start_position_code,
               t.charge_position_sid,
               t.charge_position_code,
               t.notice_position_sid,
               t.notice_position_code,
               t.handler_task,
               t.overdue_warn_rate,
               t.calendar_type,
               t.relate_business_form_sid,
               t.relate_business_form_code,
               t.pre_task,
               t.pre_sort,
               t.is_monitor,
               t.template_time,
               t.complete_standard,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.data_source_sys,
               t1.task_template_name,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name,
               t4.task_name,
               t5.handler_task_id,
               t5.handler_task_name
        from s_prj_task_template_item t
         LEFT JOIN s_prj_task_template t1 ON t.task_template_sid = t1.task_template_sid
         LEFT JOIN sys_user t2 ON t.creator_account = t2.user_name AND t.client_id = t2.client_id
         LEFT JOIN sys_user t3 ON t.updater_account = t3.user_name AND t.client_id = t3.client_id
         LEFT JOIN s_prj_task t4 ON t.task_sid = t4.task_sid
         LEFT JOIN (
            SELECT ta.task_template_item_sid,
                   GROUP_CONCAT(tb.user_id ORDER BY tb.user_name ASC SEPARATOR ';') as handler_task_id,
                   GROUP_CONCAT(tb.nick_name ORDER BY tb.user_name ASC SEPARATOR ';') as handler_task_name
            FROM s_prj_task_template_item ta
            LEFT JOIN sys_user tb ON ta.client_id = tb.client_id AND (ta.handler_task = tb.user_name
                or ta.handler_task like concat('%;', tb.user_name, ';%') or ta.handler_task like concat(tb.user_name, ';%') or ta.handler_task like concat('%;', tb.user_name))
            GROUP BY ta.task_template_item_sid
        ) t5 ON t.task_template_item_sid = t5.task_template_item_sid
    </sql>

    <select id="selectPrjTaskTemplateItemById" parameterType="Long" resultMap="PrjTaskTemplateItemResult">
        <include refid="selectPrjTaskTemplateItemVo"/>
        where t.task_template_item_sid = #{taskTemplateItemSid}
    </select>

    <select id="selectPrjTaskTemplateItemList" parameterType="com.platform.ems.domain.PrjTaskTemplateItem"
            resultMap="PrjTaskTemplateItemResult">
        <include refid="selectPrjTaskTemplateItemVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="taskTemplateItemSid != null">
                and t.task_template_item_sid = #{taskTemplateItemSid}
            </if>
            <if test="taskTemplateItemSidList != null and taskTemplateItemSidList.length >0 ">
                and t.task_template_item_sid in
                (<foreach collection="taskTemplateItemSidList" item="taskTemplateItemSid" separator=",">#{taskTemplateItemSid}</foreach>)
            </if>
            <if test="taskTemplateSid != null ">
                and t.task_template_sid = #{taskTemplateSid}
            </if>
            <if test="taskTemplateSidList != null and taskTemplateSidList.length >0 ">
                and t.task_template_sid in
                (<foreach collection="taskTemplateSidList" item="taskTemplateSid" separator=",">#{taskTemplateSid}</foreach>)
            </if>
            <if test="taskTemplateCode != null and taskTemplateCode != ''">
                and t.task_template_code = #{taskTemplateCode}
            </if>
            <if test="taskSid != null ">
                and t.task_sid = #{taskSid}
            </if>
            <if test="taskCode != null and taskCode != ''">
                and t.task_code = #{taskCode}
            </if>
            <if test="sort != null ">
                and t.sort = #{sort}
            </if>
            <if test="taskPhase != null and taskPhase != ''">
                and t.task_phase = #{taskPhase}
            </if>
            <if test="businessSection != null and businessSection != ''">
                and t.business_section = #{businessSection}
            </if>
            <if test="planEndDateConfig != null ">
                and t.plan_end_date_config = #{planEndDateConfig}
            </if>
            <if test="startPositionSid != null ">
                and t.start_position_sid = #{startPositionSid}
            </if>
            <if test="startPositionCode != null and startPositionCode != ''">and
                t.start_position_code like concat('%', #{startPositionCode}, '%')
            </if>
            <if test="startPositionCodeList != null and startPositionCodeList.length >0 ">
                and (<foreach collection="startPositionCodeList" item="startPositionCode" separator=" or ">
                t.start_position_code like concat('%', #{startPositionCode}, ';%')
            </foreach>)
            </if>
            <if test="chargePositionSid != null ">
                and t.charge_position_sid = #{chargePositionSid}
            </if>
            <if test="chargePositionCode != null and chargePositionCode != ''">and
                t.charge_position_code like concat('%', #{chargePositionCode}, '%')
            </if>
            <if test="chargePositionCodeList != null and chargePositionCodeList.length >0 ">
                and (<foreach collection="chargePositionCodeList" item="chargePositionCode" separator=" or ">
                t.charge_position_code like concat('%', #{chargePositionCode}, ';%')
            </foreach>)
            </if>
            <if test="noticePositionSid != null ">
                and t.notice_position_sid = #{noticePositionSid}
            </if>
            <if test="noticePositionCode != null and noticePositionCode != ''">and
                t.notice_position_code like concat('%', #{noticePositionCode}, '%')
            </if>
            <if test="noticePositionCodeList != null and noticePositionCodeList.length >0 ">
                and (<foreach collection="noticePositionCodeList" item="noticePositionCode" separator=" or ">
                t.notice_position_code like concat('%', #{noticePositionCode}, ';%')
            </foreach>)
            </if>
            <if test="overdueWarnRate != null ">
                and t.overdue_warn_rate = #{overdueWarnRate}
            </if>
            <if test="calendarType != null and calendarType != ''">
                and t.calendar_type = #{calendarType}
            </if>
            <if test="relateBusinessFormSid != null ">
                and t.relate_business_form_sid = #{relateBusinessFormSid}
            </if>
            <if test="relateBusinessFormCode != null and relateBusinessFormCode != ''">
                and t.relate_business_form_code = #{relateBusinessFormCode}
            </if>
            <if test="preTask != null and preTask != ''">
                and t.pre_task = #{preTask}
            </if>
            <if test="preSort != null and preSort != ''">
                and t.pre_sort = #{preSort}
            </if>
            <if test="isMonitor != null and isMonitor != ''">
                and t.is_monitor = #{isMonitor}
            </if>
            <if test="templateTime != null ">
                and t.template_time = #{templateTime}
            </if>
            <if test="completeStandard != null and completeStandard != ''">
                and t.complete_standard = #{completeStandard}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and t.creator_account = #{creatorAccount}
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null and updaterAccount != ''">
                and t.updater_account = #{updaterAccount}
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_prj_task_template_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            task_template_item_sid,
            task_template_sid,
            task_template_code,
            task_sid,
            task_code,
            sort,
            task_phase,
            business_section,
            plan_end_date_config,
            start_position_sid,
            start_position_code,
            charge_position_sid,
            charge_position_code,
            notice_position_sid,
            notice_position_code,
            handler_task,
            overdue_warn_rate,
            calendar_type,
            relate_business_form_sid,
            relate_business_form_code,
            pre_task,
            pre_sort,
            is_monitor,
            template_time,
            complete_standard,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.taskTemplateItemSid},
                #{item.taskTemplateSid},
                #{item.taskTemplateCode},
                #{item.taskSid},
                #{item.taskCode},
                #{item.sort},
                #{item.taskPhase},
                #{item.businessSection},
                #{item.planEndDateConfig},
                #{item.startPositionSid},
                #{item.startPositionCode},
                #{item.chargePositionSid},
                #{item.chargePositionCode},
                #{item.noticePositionSid},
                #{item.noticePositionCode},
                #{item.handlerTask},
                #{item.overdueWarnRate},
                #{item.calendarType},
                #{item.relateBusinessFormSid},
                #{item.relateBusinessFormCode},
                #{item.preTask},
                #{item.preSort},
                #{item.isMonitor},
                #{item.templateTime},
                #{item.completeStandard},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_prj_task_template_item
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            task_template_sid = #{taskTemplateSid},
            task_template_code = #{taskTemplateCode},
            task_sid = #{taskSid},
            task_code = #{taskCode},
            sort = #{sort},
            task_phase = #{taskPhase},
            business_section = #{businessSection},
            plan_end_date_config = #{planEndDateConfig},
            start_position_sid = #{startPositionSid},
            start_position_code = #{startPositionCode},
            charge_position_sid = #{chargePositionSid},
            charge_position_code = #{chargePositionCode},
            notice_position_sid = #{noticePositionSid},
            notice_position_code = #{noticePositionCode},
            handler_task = #{handlerTask},
            overdue_warn_rate = #{overdueWarnRate},
            calendar_type = #{calendarType},
            relate_business_form_sid = #{relateBusinessFormSid},
            relate_business_form_code = #{relateBusinessFormCode},
            pre_task = #{preTask},
            pre_sort = #{preSort},
            is_monitor = #{isMonitor},
            template_time = #{templateTime},
            complete_standard = #{completeStandard},
            remark = #{remark},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
        </trim>
        where task_template_item_sid = #{taskTemplateItemSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_prj_task_template_item
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                task_template_sid = #{taskTemplateSid},
                task_template_code = #{taskTemplateCode},
                task_sid = #{taskSid},
                task_code = #{taskCode},
                sort = #{sort},
                task_phase = #{taskPhase},
                business_section = #{businessSection},
                plan_end_date_config = #{planEndDateConfig},
                start_position_sid = #{startPositionSid},
                start_position_code = #{startPositionCode},
                charge_position_sid = #{chargePositionSid},
                charge_position_code = #{chargePositionCode},
                notice_position_sid = #{noticePositionSid},
                notice_position_code = #{noticePositionCode},
                handler_task = #{handlerTask},
                overdue_warn_rate = #{overdueWarnRate},
                calendar_type = #{calendarType},
                relate_business_form_sid = #{relateBusinessFormSid},
                relate_business_form_code = #{relateBusinessFormCode},
                pre_task = #{preTask},
                pre_sort = #{preSort},
                is_monitor = #{isMonitor},
                template_time = #{templateTime},
                complete_standard = #{completeStandard},
                remark = #{remark},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
            </trim>
            where task_template_item_sid = #{taskTemplateItemSid}
        </foreach>
    </update>

    <resultMap type="com.platform.ems.domain.PrjTaskTemplate" id="selectItemCountGroupByTemplateSidResult">
        <result property="taskTemplateSid" column="task_template_sid"/>
        <result property="itemCount" column="item_count"/>
    </resultMap>

    <select id="selectItemCountGroupByTemplateSid" resultMap="selectItemCountGroupByTemplateSidResult">
        SELECT t.task_template_sid, COUNT(t.task_template_sid) AS item_count
        FROM s_prj_task_template_item t
        <where>
            <if test="taskTemplateSidList != null and taskTemplateSidList.length >0 ">
                and t.task_template_sid in
                (<foreach collection="taskTemplateSidList" item="taskTemplateSid" separator=",">#{taskTemplateSid}</foreach>)
            </if>
        </where>
        GROUP BY t.task_template_sid
    </select>

</mapper>
