<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.PurPurchaseOrderMapper">

    <resultMap type="com.platform.ems.domain.PurPurchaseOrder" id="PurPurchaseOrderResult">
        <result property="clientId" column="client_id"/>
        <result property="purchaseOrderSid" column="purchase_order_sid"/>
        <result property="purchaseOrderCode" column="purchase_order_code"/>
        <result property="documentType" column="document_type"/>
        <result property="businessType" column="business_type"/>
        <result property="specialBusCategory" column="special_bus_category"/>
        <result property="vendorSid" column="vendor_sid"/>
        <result property="companySid" column="company_sid"/>
        <result property="businessChannel" column="business_channel"/>
        <result property="buyer" column="buyer"/>
        <result property="documentDate" column="document_date"/>
        <result property="productSeasonSid" column="product_season_sid"/>
        <result property="purchaseCategory" column="purchase_category"/>
        <result property="orderBatch" column="order_batch"/>
        <result property="materialType" column="material_type"/>
        <result property="purchaseOrg" column="purchase_org"/>
        <result property="purchaseGroup" column="purchase_group"/>
        <result property="customerSid" column="customer_sid"/>
        <result property="shipmentType" column="shipment_type"/>
        <result property="currency" column="currency"/>
        <result property="currencyUnit" column="currency_unit"/>
        <result property="consignee" column="consignee"/>
        <result property="consigneePhone" column="consignee_phone"/>
        <result property="consigneeAddr" column="consignee_addr"/>
        <result property="consigneeAddrProvinceCode" column="consignee_addr_province_code"/>
        <result property="consigneeAddrProvince" column="consignee_addr_province"/>
        <result property="consigneeAddrCityCode" column="consignee_addr_city_code"/>
        <result property="consigneeAddrCity" column="consignee_addr_city"/>
        <result property="consigneeAddrDistrictCode" column="consignee_addr_district_code"/>
        <result property="consigneeAddrDistrict" column="consignee_addr_district"/>
        <result property="otherSystemInOutStockOrder" column="other_system_in_out_stock_order"/>
        <result property="isPushOtherSystem" column="is_push_other_system"/>
        <result property="pushResultOtherSystem" column="push_result_other_system"/>
        <result property="pushReturnMsgOtherSystem" column="push_return_msg_other_system"/>
        <result property="pushTimeOtherSystem" column="push_time_other_system"/>
        <result property="purchaseContractSid" column="purchase_contract_sid"/>
        <result property="vendorOrderCode" column="vendor_order_code"/>
        <result property="paperPurchaseContractCode" column="paper_purchase_contract_code"/>
        <result property="uploadStatus" column="upload_status"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="rawMaterialMode" column="raw_material_mode"/>
        <result property="companyCode" column="company_code"/>
        <result property="companyName" column="company_name"/>
        <result property="customerCode" column="customer_code"/>
        <result property="customerName" column="customer_name"/>
        <result property="seasonCode" column="season_code"/>
        <result property="productSeasonName" column="product_season_name"/>
        <result property="vendorName" column="vendor_name"/>
        <result property="vendorCode" column="vendor_code"/>
        <result property="vendorType" column="vendor_type"/>
        <result property="deliveryStatus" column="delivery_status"/>
        <result property="storehouseSid" column="storehouse_sid"/>
        <result property="storehouseName" column="storehouse_name"/>
        <result property="storehouseCode" column="storehouse_code"/>
        <result property="storehouseLocationSid" column="storehouse_location_sid"/>
        <result property="locationName" column="location_name"/>
        <result property="locationCode" column="location_code"/>
        <result property="purchaseContractCode" column="purchase_contract_code"/>
        <result property="purchaseMode" column="purchase_mode"/>
		<result property="processType" column="process_type" />
        <result property="instanceId"    column="instance_id"    />
        <result property="nickName" column="nick_name"/>
        <result property="documentTypeName" column="document_type_name"/>
        <result property="businessTypeName" column="business_type_name"/>
        <result property="purchaseGroupName" column="purchase_group_name"/>
        <result property="materialTypeName" column="material_type_name"/>
        <result property="materialCategory" column="material_category"/>
        <result property="orderBatchName" column="order_batch_name"/>
        <result property="purchaseOrgName" column="purchase_org_name"/>
        <result property="shipmentTypeName" column="shipment_type_name"/>
        <result property="contractName" column="contract_name"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
    </resultMap>

    <sql id="selectPurPurchaseOrderVo">
           SELECT
	t.client_id,
	t.purchase_order_sid,
	t.raw_material_mode,
	t.purchase_order_code,
	t.document_type,
	t.business_type,
	t.material_category,
	t.special_bus_category,
	t.purchase_mode,
	t.vendor_sid,
	t.company_sid,
	t.business_channel,
	t.buyer,
	t.document_date,
	t.product_season_sid,
	t.purchase_category,
	t.order_batch,
	t.material_type,
	t.purchase_org,
	t.sign_in_status,
	t.contact_party_remark,
	t.purchase_group,
	t.customer_sid,
	t.currency_unit,
	t.shipment_type,
	t.vendor_businessman,
	t.is_consignment_settle,
	t.currency,
	t.consignee,
	t.consignee_phone,
	t.consignee_addr,
    t.consignee_addr_province_code,
    t.consignee_addr_province,
    t.consignee_addr_city_code,
    t.consignee_addr_city,
    t.consignee_addr_district_code,
    t.consignee_addr_district,
    t.other_system_in_out_stock_order,
    t.is_push_other_system,
    t.push_result_other_system,
    t.push_return_msg_other_system,
    t.push_time_other_system,
	t.purchase_contract_sid,
    t.purchase_contract_code,
	t.vendor_order_code,
    t.paper_purchase_contract_code,
    t.upload_status,
	t.remark,
	t.is_return_goods,
	t.is_finance_book_dfyf,
	t.is_finance_book_yfzg,
	t.delivery_type,
	t.inventory_control_mode,
	t.yutou_anxu_type,
	t.handle_status,
	t.creator_account,
	t.create_date,
	t.updater_account,
	t.update_date,
	t.confirmer_account,
	t.in_out_stock_status,
	t.confirm_date,
	t.trustor_account,
	t.data_source_sys,
	t.raw_material_mode,
	t.delivery_status,
	t.storehouse_sid,
	t.vendor_name_remark,
	t5.storehouse_name,
	t5.storehouse_code,
	t.storehouse_location_sid,
	t6.location_name,
	t6.location_code,
    t6.other_system_storehouse_code,
	t1.company_code,
	t1.company_name,
	t1.short_name as company_short_name,
	t2.customer_code,
	t2.customer_name,
	t3.season_code,
	t3.product_season_name,
	t4.vendor_name,
	t4.short_name as vendor_short_name,
	t4.vendor_code,
	t4.vendor_type,
	t.process_type,
    t.instance_id,
    t7.contract_name,
    t7.advance_settle_mode,
    t7.contract_purpose,
    t7.raw_material_mode as raw_material_mode_contract,
    t8.nick_name,
    t9.name as document_type_name,
    t10.name as business_type_name,
    t10.is_edit_price,
    t11.name as purchase_group_name,
    t12.name as material_type_name,
    t13.name as order_batch_name,
    t14.name as purchase_org_name,
    t15.name as shipment_type_name,
	t16.nick_name as creator_account_name ,
	t17.nick_name as updater_account_name,
	t18.nick_name as confirmer_account_name,
	t19.approval_node,
	t19.approval_user_id,
	t19.approval_user_name,
	t19.create_date AS submit_date,
	t20.nick_name AS submit_user_name,
	t4.vendor_group,
	t21.nick_name as trustor_account_name,
	t22.is_non_approval,
    t24.file_name as purchase_order_contract_gzb_name,
    t24.file_path as purchase_order_contract_gzb_path
FROM
	s_pur_purchase_order t
	LEFT JOIN s_bas_company t1 ON t1.company_sid = t.company_sid
	LEFT JOIN s_bas_customer t2 ON t2.customer_sid = t.customer_sid
	LEFT JOIN s_bas_product_season t3 ON t3.product_season_sid = t.product_season_sid
	LEFT JOIN s_bas_vendor t4 ON t4.vendor_sid = t.vendor_sid
	LEFT JOIN s_bas_storehouse t5 ON t5.storehouse_sid = t.storehouse_sid
	LEFT JOIN s_bas_storehouse_location t6 ON t6.storehouse_location_sid = t.storehouse_location_sid
	left join s_pur_purchase_contract t7 on t7.purchase_contract_sid=t.purchase_contract_sid
	left join sys_user t8 on t8.user_name = t.buyer
	left join s_con_doc_type_purchase_order t9 on t9.code = t.document_type
	left join s_con_bu_type_purchase_order t10 on t10.code = t.business_type
	left join s_con_purchase_group t11 on t11.code = t.purchase_group
	left join s_con_material_type t12 on t12.code = t.material_type
	left join s_con_order_batch t13 on t13.code = t.order_batch
	left join s_con_purchase_org t14 on t14.code = t.purchase_org
	left join s_con_shipment_mode t15 on t15.code = t.shipment_type
	LEFT JOIN sys_user t16 on t16.user_name=t.creator_account
	LEFT JOIN sys_user t17 on t17.user_name=t.updater_account
	LEFT JOIN sys_user t18 on t18.user_name=t.confirmer_account
	left join s_sys_form_process t19 on t19.form_id=t.purchase_order_sid
    LEFT JOIN sys_user t20 ON t19.creator_account = t20.user_name
    LEFT JOIN sys_user t21 ON t.trustor_account = t21.user_name
    left join s_con_doc_bu_type_group_po t22 on t22.doc_type_code=t.document_type and t22.bu_type_code = t.business_type and t22.client_id=t.client_id
    LEFT JOIN s_pur_purchase_order_attachment t24 ON t.purchase_order_sid = t24.purchase_order_sid
        and t24.purchase_order_attachment_sid = (select a.purchase_order_attachment_sid from s_pur_purchase_order_attachment a
                                              where t.purchase_order_sid = a.purchase_order_sid and a.file_type = 'CGDDHT' limit 1)
    </sql>

    <sql id="getOutPurPurchaseOrderVo">
           SELECT
	t.client_id,
	t.purchase_order_sid,
	t.purchase_order_code,
	t.document_type,
	t.business_type,
	t.vendor_sid,
	t.company_sid,
	t.buyer,
	t.document_date,
	t.data_source_sys,
	t1.company_code,
	t1.company_name,
	t4.vendor_name,
	t4.vendor_code,
    t8.nick_name as buyer_name,
    t9.name as document_type_name,
    t10.name as business_type_name
FROM
	s_pur_purchase_order t
	LEFT JOIN s_bas_company t1 ON t1.company_sid = t.company_sid
	LEFT JOIN s_bas_vendor t4 ON t4.vendor_sid = t.vendor_sid
	left join sys_user t8 on t8.user_name = t.buyer
	left join s_con_doc_type_purchase_order t9 on t9.code = t.document_type
	left join s_con_bu_type_purchase_order t10 on t10.code = t.business_type
    </sql>
    <select id="getOutPurPurchaseOrderById" parameterType="Long" resultType="com.platform.ems.domain.dto.response.PurPurchaseOrderOutResponse">
        <include refid="getOutPurPurchaseOrderVo"/>
        where t.purchase_order_sid = #{purchaseOrderSid}
    </select>
    <select id="selectPurPurchaseOrderById" parameterType="Long" resultType="com.platform.ems.domain.PurPurchaseOrder">
        <include refid="selectPurPurchaseOrderVo"/>
        where t.purchase_order_sid = #{purchaseOrderSid}
    </select>

    <select id="getCode" parameterType="Long" resultType="java.lang.String">
    SELECT
         t3.material_code
    from
      s_pur_purchase_order_item t
      left join s_pur_purchase_order t2 on t2.purchase_order_sid=t.purchase_order_sid
      LEFT JOIN s_bas_material t3 on t3.material_sid=t.material_sid
      where t2.purchase_order_code = #{purchaseOrderCode}
    </select>


    <select id="selectPurPurchaseOrderList" parameterType="com.platform.ems.domain.PurPurchaseOrder"
            resultMap="PurPurchaseOrderResult">
        <include refid="selectPurPurchaseOrderVo"/>
        <where>
            <if test="signInStatus != null and signInStatus != ''">
                and t.sign_in_status = #{signInStatus}
            </if>
            <if test="uploadStatus != null and uploadStatus != ''">
                and t.upload_status = #{uploadStatus}
            </if>
            <if test="paperPurchaseContractCode != null and paperPurchaseContractCode != ''">
                and t.paper_purchase_contract_code like concat('%', #{paperPurchaseContractCode}, '%')
            </if>
            <if test="paperPurchaseContractCodeIsNull != null and paperPurchaseContractCodeIsNull == 'Y'.toString()">
                and (t.paper_purchase_contract_code is null or t.paper_purchase_contract_code = '')
            </if>
            <if test="paperPurchaseContractCodeIsNull != null and paperPurchaseContractCodeIsNull == 'N'.toString()">
                and (t.paper_purchase_contract_code is not null and t.paper_purchase_contract_code != '')
            </if>
            <if test="(productCodes != null and productCodes != '') or
                    (materialCode != null and materialCode != '') or
                    (sku1Name != null and sku1Name != '') or
                    (sku2Name != null and sku2Name != '')">
                and t.purchase_order_sid in (
                select distinct a.purchase_order_sid
                from s_pur_purchase_order_item a
                left join s_bas_material b on a.material_sid = b.material_sid
                left join s_bas_sku cc on a.sku1_sid = cc.sku_sid
                left join s_bas_sku d on a.sku2_sid = d.sku_sid
                <where>
                    <if test="productCodes != null and productCodes != ''">
                        and a.product_codes like concat('%', #{productCodes}, '%')
                    </if>
                    <if test="materialCode != null and materialCode != ''">
                        and b.material_code like concat('%', #{materialCode}, '%')
                    </if>
                    <if test="sku1Name != null and sku1Name != ''">
                        and cc.sku_name like concat('%', #{sku1Name}, '%')
                    </if>
                    <if test="sku2Name != null and sku2Name != ''">
                        and d.sku_name like concat('%', #{sku2Name}, '%')
                    </if>
                </where>
                )
            </if>
            <if test="creatorAccountName != null  and creatorAccountName != ''">
                and (<foreach collection="creatorAccountName.split(';')" item="item" separator="or"> t16.nick_name like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="contractIsNull != null and contractIsNull == 'N'.toString()">
                and t.purchase_contract_code is not null
            </if>
            <if test="contractIsNull != null and contractIsNull == 'Y'.toString()">
                and t.purchase_contract_code is null
            </if>
            <if test="approvalUserId != null and approvalUserId != '' ">
                and (t19.approval_user_id = #{approvalUserId}  or t19.approval_user_id like concat('%, ', #{approvalUserId}, ',%')
                or t19.approval_user_id like concat('%, ', #{approvalUserId}) or t19.approval_user_id like concat(#{approvalUserId}, ',%')
                or t19.approval_user_id like concat('%,', #{approvalUserId}, ',%') or t19.approval_user_id like concat('%,', #{approvalUserId}))
            </if>
            <if test="itemSidList != null  and itemSidList.size> 0">and t.purchase_order_sid in
                <foreach collection="itemSidList" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="materialTypeList != null and materialTypeList.length >0 ">
                and t.material_type in
                (<foreach collection="materialTypeList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="inventoryControlMode != null and inventoryControlMode!='' ">
                and t.inventory_control_mode =#{inventoryControlMode}
            </if>
            <if test="isConsignmentSettle != null and isConsignmentSettle != ''">
                and t.is_consignment_settle = #{isConsignmentSettle}
            </if>
            <if test="materialCategory != null and materialCategory != ''">
                and t.material_category = #{materialCategory}
            </if>
            <if test="purchaseMode != null and purchaseMode!='' ">
                and t.purchase_mode =#{purchaseMode}
            </if>
            <if test="storehouseLocationSid != null and storehouseLocationSid!='' ">
                and t.storehouse_location_sid =#{storehouseLocationSid}
            </if>
            <if test="storehouseSid != null and storehouseSid!='' ">
                and t.storehouse_sid =#{storehouseSid}
            </if>
            <if test="deliveryStatus != null and deliveryStatus!='' ">
                and t.delivery_status =#{deliveryStatus}
            </if>
            <if test="customerSid != null and customerSid!='' ">
                and t.customer_sid =#{customerSid}
            </if>
            <if test="purchaseOrderCode != null">
                and t.purchase_order_code like concat('%',#{purchaseOrderCode}, '%')
            </if>
            <if test="purchaseOrderCodeList != null and purchaseOrderCodeList.length >0 ">
                and t.purchase_order_code in
                (<foreach collection="purchaseOrderCodeList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="purchaseOrderSidList != null and purchaseOrderSidList.length >0 ">
                and t.purchase_order_sid in
                (<foreach collection="purchaseOrderSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="clientId != null  and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="purchaseOrderSid != null ">
                and t.purchase_order_sid in
                (<foreach collection="purchaseOrderSid" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="documentType != null  and documentType != ''">
                and t.document_type= #{documentType}
            </if>
            <if test="documentTypeList != null and documentTypeList.length >0 ">
                and t.document_type in
                (<foreach collection="documentTypeList" item="documentType" separator=",">#{documentType}</foreach>)
            </if>
            <if test="contractPurposeList != null and contractPurposeList.length >0 ">
                and t7.contract_purpose in
                (<foreach collection="contractPurposeList" item="contractPurpose" separator=",">#{contractPurpose}</foreach>)
            </if>
            <if test="rawMaterialModeContractList != null and rawMaterialModeContractList.length >0 ">
                and t7.raw_material_mode in
                (<foreach collection="rawMaterialModeContractList" item="rawMaterialMode" separator=",">#{rawMaterialMode}</foreach>)
            </if>
            <if test="businessType != null  and businessType != ''">
                and t.business_type =#{businessType}
            </if>
            <if test="businessTypeList != null and businessTypeList.length >0 ">
                and t.business_type in
                (<foreach collection="businessTypeList" item="businessType" separator=",">#{businessType}</foreach>)
            </if>
            <if test="specialBusCategory != null  and specialBusCategory != ''">
                and (<foreach collection="specialBusCategory.split(';')" item="item" separator="or"> t.special_bus_category like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="specialBusCategory == null">
                and t.special_bus_category is null
            </if>
            <if test="vendorSidList != null and vendorSidList.length >0 ">
                and t.vendor_sid in
                (<foreach collection="vendorSidList" item="vendorSid" separator=",">#{vendorSid}</foreach>)
            </if>
            <if test="vendorSid != null ">
                and t.vendor_sid  =#{vendorSid}
            </if>
            <if test="deliveryType != null and deliveryType!='' ">
                and t.delivery_type =#{deliveryType}
            </if>
            <if test="companySid != null ">
                and  t.company_sid = #{companySid}
            </if>
            <if test="companySidList != null and companySidList.length >0 ">
                and t.company_sid in
                (<foreach collection="companySidList" item="companySid" separator=",">#{companySid}</foreach>)
            </if>
            <if test="businessChannel != null  and businessChannel != ''">
                and (<foreach collection="businessChannel.split(';')" item="item" separator="or"> t.business_channel like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="productSeasonSidList != null and productSeasonSidList.length >0 ">
                and t.product_season_sid in
                (<foreach collection="productSeasonSidList" item="productSeasonSid" separator=",">#{productSeasonSid}</foreach>)
            </if>
            <if test="inOutStockStatusList != null and inOutStockStatusList.length >0 ">
                and t.in_out_stock_status in
                (<foreach collection="inOutStockStatusList" item="documentType" separator=",">#{documentType}</foreach>)
            </if>
            <if test="buyer != null  and buyer != ''">
                and (<foreach collection="buyer.split(';')" item="item" separator="or">t.buyer like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="nickName != null and nickName != ''">
                and (<foreach collection="nickName.split(';')" item="item" separator="or"> t8.nick_name like concat('%',#{item}, '%')</foreach>)
            </if>
            <if test="purchaseContractCode != null and purchaseContractCode != ''">
                and (<foreach collection="purchaseContractCode.split(';')" item="item" separator="or"> t.purchase_contract_code like concat('%',#{item}, '%')</foreach>)
            </if>
            <if test="deliveryStatusList != null and deliveryStatusList.length >0 ">
                and t.delivery_status in
                (<foreach collection="deliveryStatusList" item="deliveryStatus" separator=",">#{deliveryStatus}</foreach>)
            </if>
            <if test="rawMaterialModeList != null and rawMaterialModeList.length >0 ">
                and t.raw_material_mode in
                (<foreach collection="rawMaterialModeList" item="rawMaterialMode" separator=",">#{rawMaterialMode}</foreach>)
            </if>
            <if test="purchaseModeList != null and purchaseModeList.length >0 ">
                and t.purchase_mode in
                (<foreach collection="purchaseModeList" item="purchaseMode" separator=",">#{purchaseMode}</foreach>)
            </if>
            <if test="storehouseSidList != null and storehouseSidList.length >0 ">
                and t.storehouse_sid in
                (<foreach collection="storehouseSidList" item="storehouseSid" separator=",">#{storehouseSid}</foreach>)
            </if>
            <if test="orderBatchList != null and orderBatchList.length >0 ">
                and t.order_batch in
                (<foreach collection="orderBatchList" item="orderBatch" separator=",">#{orderBatch}</foreach>)
            </if>
            <if test="shipmentTypeList != null and shipmentTypeList.length >0 ">
                and t.shipment_type in
                (<foreach collection="shipmentTypeList" item="shipmentType" separator=",">#{shipmentType}</foreach>)
            </if>
            <if test="purchaseOrgList != null and purchaseOrgList.length >0 ">
                and t.purchase_org in
                (<foreach collection="purchaseOrgList" item="purchaseOrg" separator=",">#{purchaseOrg}</foreach>)
            </if>
            <if test="purchaseGroupList != null and purchaseGroupList.length >0 ">
                and t.purchase_group in
                (<foreach collection="purchaseGroupList" item="purchaseGroup" separator=",">#{purchaseGroup}</foreach>)
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0 ">
                and t.handle_status in
                (<foreach collection="handleStatusList" item="handleStatus" separator=",">#{handleStatus}</foreach>)
            </if>
            <if test="processTypeList != null and processTypeList.length >0 ">
                and t.process_type in
                (<foreach collection="processTypeList" item="processType" separator=",">#{processType}</foreach>)
            </if>
            <if test="documentDate != null ">
                and t.document_date = #{documentDate}
            </if>
            <if test="productSeasonSid != null ">
                and t.product_season_sid = #{productSeasonSid}
            </if>
            <if test="purchaseCategory != null  and purchaseCategory != ''">
                and (<foreach collection="purchaseCategory.split(';')" item="item" separator="or">t.purchase_category
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="orderBatch != null  and orderBatch != ''">
                and (<foreach collection="orderBatch.split(';')" item="item" separator="or">t.order_batch like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="materialType != null  and materialType != ''">
                and (<foreach collection="materialType.split(';')" item="item" separator="or">t.material_type like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="purchaseOrg != null  and purchaseOrg != ''">
                and (<foreach collection="purchaseOrg.split(';')" item="item" separator="or">t.purchase_org like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="purchaseGroup != null  and purchaseGroup != ''">
                and t.purchase_group =#{purchaseGroup}
            </if>
            <if test="shipmentType != null  and shipmentType != ''">
                and (<foreach collection="shipmentType.split(';')" item="item" separator="or">t.shipment_type like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="currency != null  and currency != ''">
                and (<foreach collection="currency.split(';')" item="item" separator="or">t.currency like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="consignee != null  and consignee != ''">
                and (<foreach collection="consignee.split(';')" item="item" separator="or">t.consignee like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="consigneePhone != null  and consigneePhone != ''">
                and (<foreach collection="consigneePhone.split(';')" item="item" separator="or">t.consignee_phone like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="consigneeAddr != null  and consigneeAddr != ''">
                and (<foreach collection="consigneeAddr.split(';')" item="item" separator="or">t.consignee_addr like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="purchaseContractSid != null ">
                and t.purchase_contract_sid = #{purchaseContractSid}
            </if>
            <if test="purchaseContractSidList != null and purchaseContractSidList.size() > 0">
                and t.purchase_contract_sid in
                (<foreach collection="purchaseContractSidList" item="purchaseContractSid" separator=",">#{purchaseContractSid}</foreach>)
            </if>
            <if test="vendorOrderCode != null  and vendorOrderCode != ''">
                and (<foreach collection="vendorOrderCode.split(';')" item="item" separator="or">t.vendor_order_code
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and t.handle_status =#{handleStatus}
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="rawMaterialMode != null  and rawMaterialMode != ''">
                and t.raw_material_mode = #{rawMaterialMode}
            </if>
            <if test="rawMaterialModeContract != null and rawMaterialModeContract != ''">
                and t7.raw_material_mode = #{rawMaterialModeContract}
            </if>
            <if test="isReturnGoods != null and isReturnGoods != '' ">
                and   t.is_return_goods=#{isReturnGoods}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
        order by t.purchase_order_code desc
    </select>

    <update id="updatePrice">
        update s_pur_purchase_order_item t1 ,s_pur_purchase_order t2,
        s_con_doc_type_purchase_order t3,s_con_bu_type_purchase_order t4
        <trim prefix="SET" suffixOverrides=",">
            tax_rate = #{taxRate},
            purchase_price = #{purchasePrice},
            purchase_price_tax = #{purchasePriceTax},
            unit_base = #{unitBase},
            unit_price = #{unitPrice},
            unit_conversion_rate = #{unitConversionRate},
        </trim>
        where t1.purchase_order_sid = t2.purchase_order_sid
        and  t3.code=t2.document_type
        and  t4.code=t2.business_type
        and  t3.is_return_goods !='Y'
        and  t4.is_edit_price!='Y'
        and (t1.free_flag ='N' or t1.free_flag is null)
        and  t1.purchase_price_tax is null
        and  t2.vendor_sid=#{vendorSid}
        and  t2.purchase_mode=#{purchaseMode}
        and  t2.raw_material_mode=#{rawMaterialMode}
        and  t1.material_sid=#{materialSid}
        <if test="sku1Sid != null  and sku1Sid != ''">
            and t1.sku1_sid=#{sku1Sid}
        </if>
        <if test="purchaseOrderItemSid != null  and purchaseOrderItemSid != ''">
            and t1.purchase_order_item_sid=#{purchaseOrderItemSid}
        </if>
    </update>
    <select id="getUpdatePrice" parameterType="com.platform.ems.domain.PurPurchaseOrder" resultType="com.platform.ems.domain.PurPurchaseOrderItem">
        select
        t1.purchase_order_item_sid,
        t1.sku2_sid,
        t1.sku1_sid
        FROM
        s_pur_purchase_order_item t1
        left join s_pur_purchase_order t2 on t2.purchase_order_sid=t1.purchase_order_sid
        LEFT JOIN s_con_doc_type_purchase_order t3 on t3.code=t2.document_type
        LEFT JOIN s_con_bu_type_purchase_order t4 on t4.code=t2.business_type
        where   t3.is_return_goods !='Y'
        and  t4.is_edit_price!='Y'
        and   (t1.free_flag ='N' or t1.free_flag is null)
        and  t1.purchase_price_tax is null
        and  t2.vendor_sid=#{vendorSid}
        and  t2.purchase_mode=#{purchaseMode}
        and  t2.raw_material_mode=#{rawMaterialMode}
        and  t1.material_sid=#{materialSid}
        <if test="sku1Sid != null  and sku1Sid != ''">
            and t1.sku1_sid=#{sku1Sid}
        </if>
    </select>
    <!--添加多个-->
    <insert id="inserts">
        insert into s_pur_purchase_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            purchase_mode,
            client_id,
            purchase_order_sid,
            purchase_order_code,
            document_type,
            business_type,
            special_bus_category,
            vendor_sid,
            company_sid,
            business_channel,
            buyer,
            document_date,
            product_season_sid,
            purchase_category,
            order_batch,
            material_type,
            purchase_org,
            purchase_group,
            customer_sid,
            shipment_type,
            currency,
            consignee,
            consignee_phone,
            consignee_addr,
            consignee_addr_province_code,
            consignee_addr_province,
            consignee_addr_city_code,
            consignee_addr_city,
            consignee_addr_district_code,
            consignee_addr_district,
            other_system_in_out_stock_order,
            is_push_other_system,
            push_result_other_system,
            push_return_msg_other_system,
            push_time_other_system,
            purchase_contract_sid,
            purchase_contract_code,
            vendor_order_code,
            paper_purchase_contract_code,
            upload_status,
            remark,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
            raw_material_mode,
            delivery_status,
            storehouse_sid,
            storehouse_location_sid,
            currency_unit,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{purchaseMode},
                #{clientId},
                #{purchaseOrderSid},
                #{purchaseOrderCode},
                #{documentType},
                #{businessType},
                #{specialBusCategory},
                #{vendorSid},
                #{companySid},
                #{businessChannel},
                #{buyer},
                #{documentDate},
                #{productSeasonSid},
                #{purchaseCategory},
                #{orderBatch},
                #{materialType},
                #{purchaseOrg},
                #{purchaseGroup},
                #{customerSid},
                #{shipmentType},
                #{currency},
                #{consignee},
                #{consigneePhone},
                #{consigneeAddr},
                #{consigneeAddrProvinceCode},
                #{consigneeAddrProvince},
                #{consigneeAddrCityCode},
                #{consigneeAddrCity},
                #{consigneeAddrDistrictCode},
                #{consigneeAddrDistrict},
                #{otherSystemInOutStockOrder},
                #{isPushOtherSystem},
                #{pushResultOtherSystem},
                #{pushReturnMsgOtherSystem},
                #{pushTimeOtherSystem},
                #{purchaseContractSid},
                #{purchaseContractCode},
                #{vendorOrderCode},
                #{paperPurchaseContractCode},
                #{uploadStatus},
                #{remark},
                #{handleStatus},
                #{creatorAccount},
                #{createDate},
                #{updaterAccount},
                #{updateDate},
                #{confirmerAccount},
                #{confirmDate},
                #{dataSourceSys},
                #{rawMaterialMode},
                #{deliveryStatus},
                #{storehouseSid},
                #{storehouseLocationSid},
                #{currencyUnit},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_pur_purchase_order
        <trim prefix="SET" suffixOverrides=",">
            purchase_mode=#{purchaseMode},
            storehouse_sid = #{storehouseSid},
            storehouse_location_sid = #{storehouseLocationSid},
            in_out_stock_status=#{inOutStockStatus},
            purchase_order_code = #{purchaseOrderCode},
            document_type = #{documentType},
            vendor_businessman=#{vendorBusinessman},
            business_type = #{businessType},
            special_bus_category = #{specialBusCategory},
            vendor_sid = #{vendorSid},
            company_sid = #{companySid},
            business_channel = #{businessChannel},
            buyer = #{buyer},
            document_date = #{documentDate},
            product_season_sid = #{productSeasonSid},
            purchase_category = #{purchaseCategory},
            order_batch = #{orderBatch},
            material_type = #{materialType},
            purchase_org = #{purchaseOrg},
            purchase_group = #{purchaseGroup},
            customer_sid = #{customerSid},
            shipment_type = #{shipmentType},
            currency = #{currency},
            currency_unit=#{currencyUnit},
            consignee = #{consignee},
            consignee_phone = #{consigneePhone},
            consignee_addr = #{consigneeAddr},
            consignee_addr_province_code = #{consigneeAddrProvinceCode},
            consignee_addr_province = #{consigneeAddrProvince},
            consignee_addr_city_code = #{consigneeAddrCityCode},
            consignee_addr_city = #{consigneeAddrCity},
            consignee_addr_district_code = #{consigneeAddrDistrictCode},
            consignee_addr_district = #{consigneeAddrDistrict},
            other_system_in_out_stock_order = #{otherSystemInOutStockOrder},
            is_push_other_system = #{isPushOtherSystem},
            push_result_other_system = #{pushResultOtherSystem},
            push_return_msg_other_system = #{pushReturnMsgOtherSystem},
            push_time_other_system = #{pushTimeOtherSystem},
            purchase_contract_sid = #{purchaseContractSid},
            purchase_contract_code = #{purchaseContractCode},
            vendor_order_code = #{vendorOrderCode},
            paper_purchase_contract_code = #{paperPurchaseContractCode},
            upload_status = #{uploadStatus},
            remark = #{remark},
            handle_status = #{handleStatus},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
            raw_material_mode = #{rawMaterialMode},
            delivery_type = #{deliveryType},
            inventory_control_mode = #{inventoryControlMode},
            yutou_anxu_type = #{yutouAnxuType},
            delivery_status = #{deliveryStatus},
            sign_in_status=#{signInStatus},
            contact_party_remark=#{contactPartyRemark},
            vendor_name_remark=#{vendorNameRemark},
        </trim>
        where purchase_order_sid = #{purchaseOrderSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_pur_purchase_order
            <trim prefix="SET" suffixOverrides=",">
                purchase_mode=#{purchaseMode},
                currency_unit=#{currencyUnit},
                storehouse_sid = #{storehouseSid},
                storehouse_location_sid = #{storehouseLocationSid},
                client_id = #{clientId},
                purchase_order_code = #{purchaseOrderCode},
                document_type = #{documentType},
                business_type = #{businessType},
                special_bus_category = #{specialBusCategory},
                vendor_sid = #{vendorSid},
                company_sid = #{companySid},
                business_channel = #{businessChannel},
                buyer = #{buyer},
                document_date = #{documentDate},
                product_season_sid = #{productSeasonSid},
                purchase_category = #{purchaseCategory},
                order_batch = #{orderBatch},
                material_type = #{materialType},
                purchase_org = #{purchaseOrg},
                purchase_group = #{purchaseGroup},
                customer_sid = #{customerSid},
                shipment_type = #{shipmentType},
                currency = #{currency},
                consignee = #{consignee},
                consignee_phone = #{consigneePhone},
                consignee_addr = #{consigneeAddr},
                consignee_addr_province_code = #{consigneeAddrProvinceCode},
                consignee_addr_province = #{consigneeAddrProvince},
                consignee_addr_city_code = #{consigneeAddrCityCode},
                consignee_addr_city = #{consigneeAddrCity},
                consignee_addr_district_code = #{consigneeAddrDistrictCode},
                consignee_addr_district = #{consigneeAddrDistrict},
                other_system_in_out_stock_order = #{otherSystemInOutStockOrder},
                is_push_other_system = #{isPushOtherSystem},
                push_result_other_system = #{pushResultOtherSystem},
                push_return_msg_other_system = #{pushReturnMsgOtherSystem},
                push_time_other_system = #{pushTimeOtherSystem},
                purchase_contract_sid = #{purchaseContractSid},
                purchase_contract_code = #{purchaseContractCode},
                vendor_order_code = #{vendorOrderCode},
                paper_purchase_contract_code = #{paperPurchaseContractCode},
                upload_status = #{uploadStatus},
                remark = #{remark},
                handle_status = #{handleStatus},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
                raw_material_mode = #{rawMaterialMode},
                delivery_type = #{deliveryType},
                inventory_control_mode = #{inventoryControlMode},
                delivery_status = #{deliveryStatus},
            </trim>
            where purchase_order_sid = #{purchaseOrderSid}
        </foreach>
    </update>

    <select id="countByDomain" resultType="java.lang.Integer">
        select count(1) from s_pur_purchase_order
        <where>
            <if test="purchaseOrderSids != null  and purchaseOrderSids.length > 0">
                and purchase_order_sid in (
                <foreach collection="purchaseOrderSids" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and handle_status in (
                <foreach collection="handleStatus.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
        </where>
    </select>

    <delete id="deletePurPurchaseOrderByIds" parameterType="long">
        delete from s_pur_purchase_order where purchase_order_sid in
        <foreach item="purchaseOrderSid" collection="array" open="(" separator="," close=")">
            #{purchaseOrderSid}
        </foreach>
    </delete>

    <update id="confirm" parameterType="com.platform.ems.domain.PurPurchaseOrder">
        update s_pur_purchase_order
        <set>
            <if test="handleStatus != null and handleStatus != ''">handle_status = #{handleStatus},</if>
            <if test="confirmerAccount != null and confirmerAccount != ''">confirmer_account = #{confirmerAccount},</if>
            <if test="confirmDate != null">confirm_date = #{confirmDate},</if>
        </set>
        where purchase_order_sid in
        (<foreach collection="purchaseOrderSids" item="purchaseOrderSid" separator=",">#{purchaseOrderSid}</foreach>)
    </update>

    <select id="selectPurPurchaseOrderByCode" parameterType="long" resultMap="PurPurchaseOrderResult">
        <include refid="selectPurPurchaseOrderVo"/>
        where t.purchase_order_code = #{purchaseOrderCode} limit 1
    </select>

    <select id="selectListInterceptorIgnore" parameterType="com.platform.ems.domain.PurPurchaseOrder" resultType="com.platform.ems.domain.PurPurchaseOrder">
        SELECT t.client_id,
               t.purchase_order_sid,
               t.purchase_order_code,
               t.purchase_contract_sid,
               t.purchase_contract_code,
               t.buyer,
               t2.user_id as buyer_id,
               t2.nick_name as buyer_name
        FROM s_pur_purchase_order t
        LEFT JOIN s_pur_purchase_contract t1 ON t.purchase_contract_sid = t1.purchase_contract_sid
        LEFT JOIN sys_user t2 ON t.buyer = t2.user_name AND t.client_id = t2.client_id
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="handleStatus != null and handleStatus != ''">
                and t.handle_status = #{handleStatus}
            </if>
            <if test="contractHandleStatus != null and contractHandleStatus != ''">
                and t1.handle_status = #{contractHandleStatus}
            </if>
            <if test="contractPurpose != null and contractPurpose != ''">
                and t1.contract_purpose = #{contractPurpose}
            </if>
        </where>
    </select>

    <select id="selectListContractPaperInterceptorIgnore" parameterType="com.platform.ems.domain.PurPurchaseOrder"
            resultType="com.platform.ems.domain.PurPurchaseOrder">
        SELECT t.client_id,
        t.purchase_order_sid,
        t.purchase_order_code,
        t.purchase_contract_sid,
        t.purchase_contract_code,
        t.buyer,
        t2.user_id as buyer_id,
        t2.nick_name as buyer_name,
        t3.purchase_finance_account_id
        FROM s_pur_purchase_order t
        LEFT JOIN sys_user t2 ON t.buyer = t2.user_name AND t.client_id = t2.client_id
        LEFT JOIN (
        SELECT ta.client_id,
        GROUP_CONCAT(tb.user_id ORDER BY tb.user_id ASC SEPARATOR ';') as purchase_finance_account_id
        FROM s_sys_default_setting_client ta
        LEFT JOIN sys_user tb ON
        ta.purchase_finance_account like concat('%;', tb.user_name, ';%') or
        ta.purchase_finance_account like concat(tb.user_name, ';%') or ta.purchase_finance_account like concat('%;', tb.user_name)
        GROUP BY ta.client_id
        ) t3 ON t.client_id = t3.client_id
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="handleStatus != null and handleStatus != ''">
                and t.handle_status = #{handleStatus}
            </if>
            <if test="signInStatus != null and signInStatus != ''">
                and t.sign_in_status = #{signInStatus}
            </if>
            <if test="uploadStatus != null and uploadStatus != ''">
                and t.upload_status = #{uploadStatus}
            </if>
        </where>
    </select>
</mapper>
