<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.RepInventoryTopStockMapper">

    <resultMap type="com.platform.ems.domain.RepInventoryTopStock" id="RepInventoryTopStockResult">
        <result property="clientId" column="client_id"/>
        <result property="dataRecordSid" column="data_record_sid"/>
        <result property="materialTypeCode" column="material_type_code"/>
        <result property="materialTypeName" column="material_type_name"/>
        <result property="materialSid" column="material_sid"/>
        <result property="materialCode" column="material_code"/>
        <result property="quantity" column="quantity"/>
        <result property="moneyAmount" column="money_amount"/>
        <result property="currency" column="currency"/>
        <result property="currencyUnit" column="currency_unit"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <sql id="selectRepInventoryTopStockVo">
        select t.client_id,
               t.data_record_sid,
               t.material_type_code,
               t.material_type_name,
               t.material_sid,
               t.material_code,
               t.quantity,
               t.money_amount,
               t.currency,
               t.currency_unit,
               t.create_date
        from s_rep_inventory_top_stock t
    </sql>

    <select id="selectRepInventoryTopStockById" parameterType="Long" resultMap="RepInventoryTopStockResult">
        <include refid="selectRepInventoryTopStockVo"/>
        where t.data_record_sid = #{dataRecordSid}
    </select>


    <select id="selectRepInventoryTopStockList" parameterType="com.platform.ems.domain.RepInventoryTopStock"
            resultMap="RepInventoryTopStockResult">
        <include refid="selectRepInventoryTopStockVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id =
                #{item}</foreach>)
            </if>
            <if test="materialTypeCode != null and materialTypeCode != ''">
                and (<foreach collection="materialTypeCode.split(';')" item="item" separator="or">t.material_type_code
                = #{item}</foreach>)
            </if>
            <if test="materialTypeName != null and materialTypeName != ''">and
                t.material_type_name like concat('%', #{materialTypeName}, '%')
            </if>
            <if test="materialSid != null ">
                and t.material_sid =#{materialSid}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and (<foreach collection="materialCode.split(';')" item="item" separator="or">t.material_code
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="quantity != null ">
                and t.quantity = #{quantity}
            </if>
            <if test="moneyAmount != null ">
                and t.money_amount = #{moneyAmount}
            </if>
            <if test="currency != null and currency != ''">
                and (<foreach collection="currency.split(';')" item="item" separator="or">t.currency
                = #{item}</foreach>)
            </if>
            <if test="currencyUnit != null and currencyUnit != ''">
                and (<foreach collection="currencyUnit.split(';')" item="item" separator="or">t.currency_unit
                = #{item}</foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_rep_inventory_top_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            data_record_sid,
            material_type_code,
            material_type_name,
            material_sid,
            material_code,
            quantity,
            money_amount,
            currency,
            currency_unit,
            create_date,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.dataRecordSid},
                #{item.materialTypeCode},
                #{item.materialTypeName},
                #{item.materialSid},
                #{item.materialCode},
                #{item.quantity},
                #{item.moneyAmount},
                #{item.currency},
                #{item.currencyUnit},
                #{item.createDate},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_rep_inventory_top_stock
        <trim prefix="SET" suffixOverrides=",">
            material_type_code = #{materialTypeCode},
            material_type_name = #{materialTypeName},
            material_sid = #{materialSid},
            material_code = #{materialCode},
            quantity = #{quantity},
            money_amount = #{moneyAmount},
            currency = #{currency},
            currency_unit = #{currencyUnit},
        </trim>
        where data_record_sid = #{dataRecordSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_rep_inventory_top_stock
            <trim prefix="SET" suffixOverrides=",">
                material_type_code = #{materialTypeCode},
                material_type_name = #{materialTypeName},
                material_sid = #{materialSid},
                material_code = #{materialCode},
                quantity = #{quantity},
                money_amount = #{moneyAmount},
                currency = #{currency},
                currency_unit = #{currencyUnit},
            </trim>
            where data_record_sid = #{dataRecordSid}
        </foreach>
    </update>

</mapper>
