<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.SalSalesOrderPartnerMapper">

    <resultMap type="com.platform.ems.domain.SalSalesOrderPartner" id="SalSalesOrderPartnerResult">
        <result property="clientId" column="client_id"/>
        <result property="salesOrderPartnerSid" column="sales_order_partner_sid"/>
        <result property="salesOrderSid" column="sales_order_sid"/>
        <result property="partnerType" column="partner_type"/>
        <result property="partnerName" column="partner_name"/>
        <result property="partnerSid" column="partner_sid"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <sql id="selectSalSalesOrderPartnerVo">
        select t.client_id, t.sales_order_partner_sid, t.sales_order_sid, t.partner_type, t.partner_name, t.partner_sid, t.remark, t.creator_account, t.create_date, t.updater_account, t.update_date from s_sal_sales_order_partner t
    </sql>

    <select id="selectSalSalesOrderPartnerById" parameterType="Long" resultMap="SalSalesOrderPartnerResult">
        <include refid="selectSalSalesOrderPartnerVo"/>
        where t.sales_order_partner_sid = #{salesOrderPartnerSid}
    </select>


    <select id="selectSalSalesOrderPartnerList" parameterType="com.platform.ems.domain.SalSalesOrderPartner"
            resultMap="SalSalesOrderPartnerResult">
        <include refid="selectSalSalesOrderPartnerVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="salesOrderSid != null ">
                and t.sales_order_sid =#{salesOrderSid}
            </if>
            <if test="partnerType != null  and partnerType != ''">
                and (<foreach collection="partnerType.split(';')" item="item" separator="or">t.partner_type like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="partnerName != null  and partnerName != ''">and
                t.partner_name like concat('%', #{partnerName}, '%')
            </if>
            <if test="partnerSid != null ">
                and t.partner_sid in
                (<foreach collection="partnerSid" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_sal_sales_order_partner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            sales_order_partner_sid,
            sales_order_sid,
            partner_type,
            partner_name,
            partner_sid,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{clientId},
                #{salesOrderPartnerSid},
                #{salesOrderSid},
                #{partnerType},
                #{partnerName},
                #{partnerSid},
                #{remark},
                #{creatorAccount},
                #{createDate},
                #{updaterAccount},
                #{updateDate},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_sal_sales_order_partner
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            sales_order_sid = #{salesOrderSid},
            partner_type = #{partnerType},
            partner_name = #{partnerName},
            partner_sid = #{partnerSid},
            remark = #{remark},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
        </trim>
        where sales_order_partner_sid = #{salesOrderPartnerSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_sal_sales_order_partner
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                sales_order_sid = #{salesOrderSid},
                partner_type = #{partnerType},
                partner_name = #{partnerName},
                partner_sid = #{partnerSid},
                remark = #{remark},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
            </trim>
            where sales_order_partner_sid = #{salesOrderPartnerSid}
        </foreach>
    </update>

    <delete id="deleteSalSalesOrderPartnerByIds" parameterType="long">
        delete from s_sal_sales_order_partner where sales_order_sid in
        <foreach item="salesOrderSid" collection="array" open="(" separator="," close=")">
            #{salesOrderSid}
        </foreach>
    </delete>

</mapper>