<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.SalSalesIntentOrderAttachMapper">

    <resultMap type="com.platform.ems.domain.SalSalesIntentOrderAttach" id="SalSalesIntentOrderAttachResult">
        <result property="clientId" column="client_id"/>
        <result property="salesIntentOrderAttachSid" column="sales_intent_order_attach_sid"/>
        <result property="salesIntentOrderSid" column="sales_intent_order_sid"/>
        <result property="fileType" column="file_type"/>
        <result property="fileName" column="file_name"/>
        <result property="filePath" column="file_path"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
    </resultMap>

    <sql id="selectSalSalesIntentOrderAttachVo">
        select t.client_id,
               t.sales_intent_order_attach_sid,
               t.sales_intent_order_sid,
               t.file_type,
               t.file_name,
               t.file_path,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.data_source_sys,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name,
               t4.name as file_type_name
        from s_sal_sales_intent_order_attach t
         LEFT JOIN sys_user t2 ON t.creator_account = t2.user_name AND t.client_id = t2.client_id
         LEFT JOIN sys_user t3 ON t.updater_account = t3.user_name AND t.client_id = t3.client_id
         LEFT JOIN s_con_file_type t4 ON t.file_type = t4.code and t4.dataobject_category_code = 'SalesIntentOrder'
    </sql>

    <select id="selectSalSalesIntentOrderAttachById" parameterType="Long" resultMap="SalSalesIntentOrderAttachResult">
        <include refid="selectSalSalesIntentOrderAttachVo"/>
        where t.sales_intent_order_attach_sid = #{salesIntentOrderAttachSid}
    </select>

    <select id="selectSalSalesIntentOrderAttachList" parameterType="com.platform.ems.domain.SalSalesIntentOrderAttach"
            resultMap="SalSalesIntentOrderAttachResult">
        <include refid="selectSalSalesIntentOrderAttachVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="salesIntentOrderSid != null ">
                and t.sales_intent_order_sid = #{salesIntentOrderSid}
            </if>
            <if test="fileType != null and fileType != ''">
                and t.file_type = #{fileType}
            </if>
            <if test="fileName != null and fileName != ''">and
                t.file_name like concat('%', #{fileName}, '%')
            </if>
            <if test="filePath != null and filePath != ''">
                and t.file_path = #{filePath}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and t.creator_account = #{creatorAccount}
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null and updaterAccount != ''">
                and t.updater_account = #{updaterAccount}
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_sal_sales_intent_order_attach
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            sales_intent_order_attach_sid,
            sales_intent_order_sid,
            file_type,
            file_name,
            file_path,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.salesIntentOrderAttachSid},
                #{item.salesIntentOrderSid},
                #{item.fileType},
                #{item.fileName},
                #{item.filePath},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_sal_sales_intent_order_attach
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            sales_intent_order_sid = #{salesIntentOrderSid},
            file_type = #{fileType},
            file_name = #{fileName},
            file_path = #{filePath},
            remark = #{remark},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
        </trim>
        where sales_intent_order_attach_sid = #{salesIntentOrderAttachSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_sal_sales_intent_order_attach
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                sales_intent_order_sid = #{salesIntentOrderSid},
                file_type = #{fileType},
                file_name = #{fileName},
                file_path = #{filePath},
                remark = #{remark},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
            </trim>
            where sales_intent_order_attach_sid = #{salesIntentOrderAttachSid}
        </foreach>
    </update>

</mapper>
