<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.SysClientMovementTypeMapper">

    <resultMap type="com.platform.ems.domain.SysClientMovementType" id="SysClientMovementTypeResult">
        <result property="clientId" column="client_id"/>
        <result property="clientMovementTypeSid" column="client_movement_type_sid"/>
        <result property="movementTypeSid" column="movement_type_sid"/>
        <result property="movementTypeCode" column="movement_type_code"/>
        <result property="movementTypeName" column="movement_type_name"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
    </resultMap>

    <sql id="selectSysClientMovementTypeVo">
        select t.client_id,
               t.client_movement_type_sid,
               t.movement_type_sid,
               t.movement_type_code,
               t.handle_status,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.confirmer_account,
               t.confirm_date,
               t.data_source_sys,
               t1.name as movement_type_name,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name,
               t4.nick_name AS confirmer_account_name
        from s_sys_client_movement_type t
         LEFT JOIN s_con_movement_type t1 ON t.movement_type_sid = t1.sid
         LEFT JOIN sys_user t2 ON t2.user_name = t.creator_account
         LEFT JOIN sys_user t3 ON t3.user_name = t.updater_account
         LEFT JOIN sys_user t4 ON t4.user_name = t.confirmer_account
    </sql>

    <select id="selectSysClientMovementTypeById" parameterType="Long" resultMap="SysClientMovementTypeResult">
        <include refid="selectSysClientMovementTypeVo"/>
        where t.client_movement_type_sid = #{clientMovementTypeSid}
    </select>

    <select id="selectSysClientMovementTypeList" parameterType="com.platform.ems.domain.SysClientMovementType"
            resultMap="SysClientMovementTypeResult">
        <include refid="selectSysClientMovementTypeVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="clientMovementTypeSid != null ">
                and t.client_movement_type_sid =#{clientMovementTypeSid}
            </if>
            <if test="clientMovementTypeSidList != null and clientMovementTypeSidList.length >0 ">
                and t.client_movement_type_sid in
                (<foreach collection="clientMovementTypeSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="movementTypeSidList != null and movementTypeSidList.length >0 ">
                and t.movement_type_sid in
                (<foreach collection="movementTypeSidList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="movementTypeSid != null ">
                and t.movement_type_sid =#{movementTypeSid}
            </if>
            <if test="movementTypeCode != null and movementTypeCode != ''">
                and t.movement_type_code = #{movementTypeCode}
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and t.handle_status = #{handleStatus}
            </if>
            <if test="handleStatusList != null and handleStatusList.length >0 ">
                and t.handle_status in
                (<foreach collection="handleStatusList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccountName != null  and creatorAccountName != ''">
                and (<foreach collection="creatorAccountName.split(';')" item="item" separator="or">t2.nick_name
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_sys_client_movement_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            client_movement_type_sid,
            movement_type_sid,
            movement_type_code,
            handle_status,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.clientMovementTypeSid},
                #{item.movementTypeSid},
                #{item.movementTypeCode},
                #{item.handleStatus},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_sys_client_movement_type
        <trim prefix="SET" suffixOverrides=",">
            movement_type_sid = #{movementTypeSid},
            movement_type_code = #{movementTypeCode},
            handle_status = #{handleStatus},
            remark = #{remark},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where client_movement_type_sid = #{clientMovementTypeSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_sys_client_movement_type
            <trim prefix="SET" suffixOverrides=",">
                movement_type_sid = #{movementTypeSid},
                movement_type_code = #{movementTypeCode},
                handle_status = #{handleStatus},
                remark = #{remark},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where client_movement_type_sid = #{clientMovementTypeSid}
        </foreach>
    </update>

</mapper>
