<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.SysDocumentMapper">

    <resultMap type="com.platform.ems.domain.SysDocument" id="SysDocumentResult">
        <result property="clientId" column="client_id"/>
        <result property="documentSid" column="document_sid"/>
        <result property="documentCategory" column="document_category"/>
        <result property="documentName" column="document_name"/>
        <result property="documentPath" column="document_path"/>
        <result property="versionCode" column="version_code"/>
        <result property="documentInstructions" column="document_instructions"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
    </resultMap>

    <sql id="selectSysDocumentVo">
        select t.client_id,
               t.document_sid,
               t.document_category,
               t.document_name,
               t.document_path,
               t.version_code,
               t.document_instructions,
               t.remark,
               t.creator_account,
               t.create_date,
               t.updater_account,
               t.update_date,
               t.data_source_sys,
               t2.nick_name AS creator_account_name,
               t3.nick_name AS updater_account_name
        from s_sys_document t
         LEFT JOIN sys_user t2 ON t.creator_account = t2.user_name AND t.client_id = t2.client_id
         LEFT JOIN sys_user t3 ON t.updater_account = t3.user_name AND t.client_id = t3.client_id
    </sql>

    <select id="selectSysDocumentById" parameterType="Long" resultMap="SysDocumentResult">
        <include refid="selectSysDocumentVo"/>
        where t.document_sid = #{documentSid}
    </select>

    <select id="selectSysDocumentList" parameterType="com.platform.ems.domain.SysDocument"
            resultMap="SysDocumentResult">
        <include refid="selectSysDocumentVo"/>
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="documentCategory != null and documentCategory != ''">
                and t.document_category = #{documentCategory}
            </if>
            <if test="documentCategoryList != null  and documentCategoryList.length >0 ">
                and t.document_category in
                (<foreach collection="documentCategoryList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="documentName != null and documentName != ''">and
                t.document_name like concat('%', #{documentName}, '%')
            </if>
            <if test="documentPath != null and documentPath != ''">
                and t.document_path = #{documentPath}
            </if>
            <if test="versionCode != null and versionCode != ''">
                and t.version_code = #{versionCode}
            </if>
            <if test="documentInstructions != null and documentInstructions != ''">
                and t.document_instructions = #{documentInstructions}
            </if>
            <if test="creatorAccount != null and creatorAccount != ''">
                and t.creator_account = #{creatorAccount}
            </if>
            <if test="creatorAccountName != null and creatorAccountName != ''">
                and t2.nick_name like concat('%', #{creatorAccountName}, '%')
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null and updaterAccount != ''">
                and t.updater_account = #{updaterAccount}
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
        order by t.document_category desc, t.create_date desc
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_sys_document
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            document_sid,
            document_category,
            document_name,
            document_path,
            version_code,
            document_instructions,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.documentSid},
                #{item.documentCategory},
                #{item.documentName},
                #{item.documentPath},
                #{item.versionCode},
                #{item.documentInstructions},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_sys_document
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            document_category = #{documentCategory},
            document_name = #{documentName},
            document_path = #{documentPath},
            version_code = #{versionCode},
            document_instructions = #{documentInstructions},
            remark = #{remark},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
        </trim>
        where document_sid = #{documentSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_sys_document
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{o.clientId},
                document_category = #{o.documentCategory},
                document_name = #{o.documentName},
                document_path = #{o.documentPath},
                version_code = #{o.versionCode},
                document_instructions = #{o.documentInstructions},
                remark = #{o.remark},
                updater_account = #{o.updaterAccount},
                update_date = #{o.updateDate},
            </trim>
            where document_sid = #{o.documentSid}
        </foreach>
    </update>

</mapper>
