<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.TecBomItemMapper">

    <resultMap type="com.platform.ems.domain.TecBomItem" id="TecBomItemResult">
        <result property="clientId" column="client_id"/>
        <result property="bomItemSid" column="bom_item_sid"/>
        <result property="bomSid" column="bom_sid"/>
        <result property="bomMaterialSid" column="bom_material_sid"/>
        <result property="isMainFabric" column="is_main_fabric"/>
        <result property="bomMaterialSku1Sid" column="bom_material_sku1_sid"/>
        <result property="bomMaterialSku2Sid" column="bom_material_sku2_sid"/>
        <result property="positionCode" column="position_code"/>
        <result property="positionName" column="position_name"/>
        <result property="innerQuantity" column="inner_quantity"/>
        <result property="innerLossRate" column="inner_loss_rate"/>
        <result property="quoteQuantity" column="quote_quantity"/>
        <result property="quoteLossRate" column="quote_loss_rate"/>
        <result property="checkQuantity" column="check_quantity"/>
        <result property="checkLossRate" column="check_loss_rate"/>
        <result property="confirmQuantity" column="confirm_quantity"/>
        <result property="confirmLossRate" column="confirm_loss_rate"/>
        <result property="unitBase" column="unit_base"/>
        <result property="roundingType" column="rounding_type"/>
        <result property="priceQuantity" column="price_quantity"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="remarkInnerQuantity" column="remark_inner_quantity"/>
        <result property="remarkQuoteQuantity" column="remark_quote_quantity"/>
        <result property="remarkCheckQuantity" column="remark_check_quantity"/>
        <result property="remarkConfirmQuantity" column="remark_confirm_quantity"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="sku1Code" column="sku1_code"/>
        <result property="sku1Name" column="sku1_name"/>

        <!--<result property="materialCode" column="material_code"/>-->
    </resultMap>

    <select id="selectTecBomItemById" parameterType="Long" resultMap="TecBomItemResult">
        <include refid="selectTecBomItemVo"/>
        where t.bom_item_sid = #{bomItemSid}
    </select>

    <select id="judgeBomAndMaterial" parameterType="com.platform.ems.domain.TecBomItem" resultType="Long">
        select  t.bom_item_sid from s_tec_bom_item t
        left join s_tec_bom_head t2 on t2.bom_sid=t.bom_sid
        <where>
            <if test="bomMaterialSid != null and bomMaterialSid != ''">
                and t.bom_material_sid = #{bomMaterialSid}
            </if>
            <if test="handleStatusList != null and handleStatusList.length > 0">
                and t2.handle_status in (<foreach collection="handleStatusList" separator="," item="item">#{item}</foreach>)
            </if>
            <if test="bomMaterialSku1Sid != null and bomMaterialSku1Sid != '' and bomMaterialSku2Sid != null and bomMaterialSku2Sid != ''">
                and (t.bom_material_sku1_sid = #{bomMaterialSku1Sid} or t.bom_material_sku2_sid = #{bomMaterialSku2Sid})
            </if>
        </where>
    </select>
    <select id="selectBomItemByBomSid" parameterType="Long" resultMap="TecBomItemResult">
        <include refid="selectTecBomItemVo"/>
        where t.bom_sid = #{bomSid}
    </select>
    <select id="exChangeMaterial" parameterType="com.platform.ems.domain.TecBomItem" resultType="com.platform.ems.domain.TecBomItem">
       select t2.material_code,
       t.bom_material_sid,
       t2.sample_code_self
       FROM s_tec_bom_item t
       left join s_tec_bom_head t1 on t1.bom_sid=t.bom_sid
       LEFT JOIN s_bas_material t2 ON t2.material_sid = t1.material_sid
       where t1.material_sid=#{materialSid} and t.bom_material_sid=#{bomMaterialSid} and t.bom_sid=#{bomSid}
    </select>
    <select id="selectTecBomItemList" parameterType="com.platform.ems.domain.TecBomItem" resultMap="TecBomItemResult">
        <include refid="selectTecBomItemVo"/>
        <where>
            <if test="bomItemSid != null  and bomItemSid != ''">
                and t.bom_item_sid in (
                <foreach collection="bomItemSid.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="bomSid != null and bomSid != ''">
                and t.bom_sid = #{bomSid}
            </if>
            <if test="bomMaterialSid != null and bomMaterialSid != ''">
                and t.bom_material_sid = #{bomMaterialSid}
            </if>
            <if test="itemNum != null and itemNum != ''">
                and t.item_num = #{itemNum}
            </if>
            <if test="materialSid != null and materialSid != ''">
                and t13.material_sid = #{materialSid}
            </if>
            <if test="isMainFabric != null  and isMainFabric != ''">
                and t.is_main_fabric in (
                <foreach collection="isMainFabric.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="bomMaterialSku1Sid != null  and bomMaterialSku1Sid != ''">
                and t.bom_material_sku1_sid in (
                <foreach collection="bomMaterialSku1Sid.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="bomMaterialSku2Sid != null  and bomMaterialSku2Sid != ''">
                and t.bom_material_sku2_sid in (
                <foreach collection="bomMaterialSku2Sid.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="positionCode != null  and positionCode != ''">
                and t.position_code in (
                <foreach collection="positionCode.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="positionName != null  and positionName != ''">and t.position_name like concat('%',
                #{positionName}, '%')
            </if>
            <if test="innerQuantity != null ">and t.inner_quantity = #{innerQuantity}</if>
            <if test="innerLossRate != null ">and t.inner_loss_rate = #{innerLossRate}</if>
            <if test="quoteQuantity != null ">and t.quote_quantity = #{quoteQuantity}</if>
            <if test="quoteLossRate != null ">and t.quote_loss_rate = #{quoteLossRate}</if>
            <if test="checkQuantity != null ">and t.check_quantity = #{checkQuantity}</if>
            <if test="checkLossRate != null ">and t.check_loss_rate = #{checkLossRate}</if>
            <if test="confirmQuantity != null ">and t.confirm_quantity = #{confirmQuantity}</if>
            <if test="confirmLossRate != null ">and t.confirm_loss_rate = #{confirmLossRate}</if>
            <if test="unitBase != null  and unitBase != ''">
                and t.unit_base in (
                <foreach collection="unitBase.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="roundingType != null  and roundingType != ''">
                and t.rounding_type in (
                <foreach collection="roundingType.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="priceQuantity != null ">and t.price_quantity = #{priceQuantity}</if>
            <if test="unitPrice != null  and unitPrice != ''">
                and t.unit_price in (
                <foreach collection="unitPrice.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="remarkInnerQuantity != null  and remarkInnerQuantity != ''">
                and t.remark_inner_quantity in (
                <foreach collection="remarkInnerQuantity.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="remarkQuoteQuantity != null  and remarkQuoteQuantity != ''">
                and t.remark_quote_quantity in (
                <foreach collection="remarkQuoteQuantity.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="remarkCheckQuantity != null  and remarkCheckQuantity != ''">
                and t.remark_check_quantity in (
                <foreach collection="remarkCheckQuantity.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="remarkConfirmQuantity != null  and remarkConfirmQuantity != ''">
                and t.remark_confirm_quantity in (
                <foreach collection="remarkConfirmQuantity.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <!-- <if test="status != null  and status != ''">
                and  t.status in (
                <foreach collection="status.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and  t.handle_status in (
                <foreach collection="handleStatus.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if> -->
            <if test="creatorAccount != null  and creatorAccount != ''">
                and t.creator_account in (
                <foreach collection="creatorAccount.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="createDate != null ">and t.create_date = #{createDate}</if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and t.updater_account in (
                <foreach collection="updaterAccount.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="updateDate != null ">and t.update_date = #{updateDate}</if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and t.data_source_sys in (
                <foreach collection="dataSourceSys.split(';')" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
        </where>
    </select>
    <sql id="getFundVo">
        select
        t.client_id,
        t.bom_material_sid as material_sid,
        t.bom_material_sku1_sid as sku1_sid,
        IFNULL(t.quantity,0)*(1+IFNULL(t.loss_rate,0)) as loss_bom_quantity,
        IFNULL(t.quantity,0) as bom_quantity,
        t.item_num,
        t.unit_base,
        t.item_num,
        t.data_source_sys,
        t1.material_code,
	    t1.material_name,
	    t1.material_type,
	    t2.sku_code as sku1_code,
	    t2.sku_name as sku1_name,
	    t1.unit_conversion_rate,
        t1.specification_size,
	    t.purchase_type,
	    t4.name as unit_base_name,
	    t6.name as purchase_type_name,
	    t15.sku_name as sku1_name_k,
	    t15.sku_sid as product_sku1_sid,
	    t14.material_code as material_code_k,
	    t14.material_code as product_codes,
	    t16.barcode,
	    t16.barcode_sid,
	    t17.name as material_type_name
  from s_tec_bom_item t
        LEFT JOIN s_bas_material t1 ON t1.material_sid = t.bom_material_sid
        LEFT JOIN s_bas_sku t2 ON t2.sku_sid = t.bom_material_sku1_sid
        left join s_con_measure_unit t4 on t4.code=t.unit_base
        left join s_con_purchase_type t6 on t6.code =t1.purchase_type
        left join s_tec_bom_head t13 on t13.bom_sid=t.bom_sid
        left join s_bas_material t14 on t14.material_sid=t13.material_sid
        LEFT JOIN s_bas_sku t15 ON t15.sku_sid = t13.sku1_sid
        left join s_bas_material_barcode t16 on t16.material_sid=bom_material_sid
        and  t16.sku1_sid = t.bom_material_sku1_sid
        and  t16.sku2_sid is null
        LEFT JOIN s_con_material_type t17 ON t17.code = t1.material_type
    </sql>
    <select id="getFund" parameterType="com.platform.ems.domain.dto.request.InvFundRequest"
            resultType="com.platform.ems.domain.dto.response.InvFundResponse">
        <include refid="getFundVo"/>
        <where>
            <if test="materialCodeK !=null and materialCodeK !=''">
                and t14.material_code like concat('%',
                #{materialCodeK}, '%')
            </if>
            <if test="materialCode !=null and materialCode !=''">
                and t1.material_code like concat('%',
                #{materialCode}, '%')
            </if>
            <if test="purchaseTypeList !=null and purchaseTypeList.length>0">
                and t1.purchase_type in
                (<foreach collection="purchaseTypeList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="materialName !=null and materialName !=''">
                and t1.material_name like concat('%',
                #{materialName}, '%')
            </if>
            and t13.handle_status='5'
            and t2.sku_name is not null
            and t1.sku2_type is null
            and t16.barcode is not null
            and t14.material_category='SP'
        </where>
    </select>
    <sql id="getFundSku2Vo">
    select
        t.client_id,
        t.bom_material_sid as material_sid,
        t.bom_material_sku1_sid as sku1_sid,
        IFNULL(t.quantity,0)*(1+IFNULL(t.loss_rate,0)) as loss_bom_quantity,
        IFNULL(t.quantity,0) as bom_quantity,
        t.item_num,
        t.unit_base,
        t1.material_code,
	    t1.material_name,
	    t1.material_type,
	    t2.sku_code as sku1_code,
	    t2.sku_name as sku1_name,
	    t1.unit_conversion_rate,
        t1.specification_size,
	    t.purchase_type,
	    t4.name as unit_base_name,
	    t6.name as purchase_type_name,
	    t15.sku_name as sku1_name_k,
	    t15.sku_sid as product_sku1_sid,
	    t14.material_code as material_code_k,
	    t14.material_code as product_codes,
	    t18.barcode,
	    t18.barcode_sid,
	    t19.sku_name as sku2_name,
	    t19.sku_sid as sku2_sid,
	    t20.sku_name as sku2_name_k,
	    t20.sku_sid as product_sku2_sid,
	    t21.name as material_type_name
  from s_tec_bom_item t
        LEFT JOIN s_bas_material t1 ON t1.material_sid = t.bom_material_sid
        LEFT JOIN s_bas_sku t2 ON t2.sku_sid = t.bom_material_sku1_sid
        left join s_con_measure_unit t4 on t4.code=t.unit_base
        left join s_con_purchase_type t6 on t6.code =t1.purchase_type
        left join s_tec_bom_head t13 on t13.bom_sid=t.bom_sid
        left join s_bas_material t14 on t14.material_sid=t13.material_sid
        LEFT JOIN s_bas_sku t15 ON t15.sku_sid = t13.sku1_sid
        left join s_tec_product_zipper t16 on t16.product_sid=t13.material_sid and t16.material_sid=t.bom_material_sid
        left join s_tec_product_size_zipper_length t17 on t17.product_zipper_sid=t16.product_zipper_sid and t17.material_sku_sid is not NULL
        left join s_bas_material_barcode t18 on t18.material_sid=bom_material_sid
        and  t18.sku1_sid = t.bom_material_sku1_sid
        and  t18.sku2_sid = t17.material_sku_sid
        LEFT JOIN s_bas_sku t19 ON t19.sku_sid = t17.material_sku_sid
        LEFT JOIN s_bas_sku t20 ON t20.sku_sid = t17.product_sku_sid
        LEFT JOIN s_con_material_type t21 ON t21.code = t1.material_type
    </sql>
    <select id="getFundSku2" parameterType="com.platform.ems.domain.dto.request.InvFundRequest"
            resultType="com.platform.ems.domain.dto.response.InvFundResponse">
        <include refid="getFundSku2Vo"/>
        <where>
            <if test="materialCodeK !=null and materialCodeK !=''">
                and t14.material_code like concat('%',
                #{materialCodeK}, '%')
            </if>
            <if test="materialCode !=null and materialCode !=''">
                and t1.material_code like concat('%',
                #{materialCode}, '%')
            </if>
            <if test="purchaseTypeList !=null and purchaseTypeList.length>0">
                and t1.purchase_type in
                (<foreach collection="purchaseTypeList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="materialName !=null and materialName !=''">
                and t1.material_name like concat('%',
                #{materialName}, '%')
            </if>
            and t13.handle_status='5'
            and t2.sku_name is not null
            and t1.sku2_type='CD'
            and t18.barcode is not null
            and t14.material_category='SP'
        </where>
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_tec_bom_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            bom_item_sid,
            bom_sid,
            bom_material_sid,
            is_main_fabric,
            bom_material_name,
            bom_material_sku1_sid,
            bom_material_sku2_sid,
            position_code,
            position_name,
            inner_quantity,
            inner_loss_rate,
            quote_quantity,
            quote_loss_rate,
            check_quantity,
            check_loss_rate,
            confirm_quantity,
            confirm_loss_rate,
            unit_base,
            rounding_type,
            price_quantity,
            unit_price,
            unit_quantity,
            purchase_type,
            remark_inner_quantity,
            remark_quote_quantity,
            remark_check_quantity,
            remark_confirm_quantity,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
            sort,
            quantity,
            loss_rate,
            item_num,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.bomItemSid},
                #{item.bomSid},
                #{item.bomMaterialSid},
                #{item.isMainFabric},
                #{item.bomMaterialName},
                #{item.bomMaterialSku1Sid},
                #{item.bomMaterialSku2Sid},
                #{item.positionCode},
                #{item.positionName},
                #{item.innerQuantity},
                #{item.innerLossRate},
                #{item.quoteQuantity},
                #{item.quoteLossRate},
                #{item.checkQuantity},
                #{item.checkLossRate},
                #{item.confirmQuantity},
                #{item.confirmLossRate},
                #{item.unitBase},
                #{item.roundingType},
                #{item.priceQuantity},
                #{item.unitPrice},
                #{item.unitQuantity},
                #{item.purchaseType},
                #{item.remarkInnerQuantity},
                #{item.remarkQuoteQuantity},
                #{item.remarkCheckQuantity},
                #{item.remarkConfirmQuantity},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.dataSourceSys},
                #{item.sort},
                #{item.quantity},
                #{item.lossRate},
                #{item.itemNum},
            </trim>
        </foreach>
    </insert>
    <!--更新-->
    <update id="updateAllById">
        update s_tec_bom_item
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            bom_item_sid = #{bomItemSid},
            bom_sid = #{bomSid},
            bom_material_sid = #{bomMaterialSid},
            is_main_fabric = #{isMainFabric},
            bom_material_name = #{bomMaterialName},
            bom_material_sku1_sid = #{bomMaterialSku1Sid},
            bom_material_sku2_sid = #{bomMaterialSku2Sid},
            position_code = #{positionCode},
            position_name = #{positionName},
            inner_quantity = #{innerQuantity},
            inner_loss_rate = #{innerLossRate},
            quote_quantity = #{quoteQuantity},
            quote_loss_rate = #{quoteLossRate},
            check_quantity = #{checkQuantity},
            check_loss_rate = #{checkLossRate},
            confirm_quantity = #{confirmQuantity},
            confirm_loss_rate = #{confirmLossRate},
            unit_base = #{unitBase},
            rounding_type = #{roundingType},
            price_quantity = #{priceQuantity},
            unit_price = #{unitPrice},
            unit_quantity = #{unitQuantity},
            purchase_type = #{purchaseType},
            remark_inner_quantity = #{remarkInnerQuantity},
            remark_quote_quantity = #{remarkQuoteQuantity},
            remark_check_quantity = #{remarkCheckQuantity},
            remark_confirm_quantity = #{remarkConfirmQuantity},
            remark = #{remark},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            data_source_sys = #{dataSourceSys},
            sort = #{sort},
            quantity = #{quantity},
            loss_rate = #{lossRate},
            item_num = #{itemNum},
        </trim>
        where bom_item_sid = #{bomItemSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_tec_bom_item
            <trim prefix="SET" suffixOverrides=",">
                bom_item_sid = #{bomItemSid},
                bom_sid = #{bomSid},
                bom_material_sid = #{bomMaterialSid},
                is_main_fabric = #{isMainFabric},
                bom_material_sku1_sid = #{bomMaterialSku1Sid},
                bom_material_sku2_sid = #{bomMaterialSku2Sid},
                position_code = #{positionCode},
                position_name = #{positionName},
                inner_quantity = #{innerQuantity},
                inner_loss_rate = #{innerLossRate},
                quote_quantity = #{quoteQuantity},
                quote_loss_rate = #{quoteLossRate},
                check_quantity = #{checkQuantity},
                check_loss_rate = #{checkLossRate},
                confirm_quantity = #{confirmQuantity},
                confirm_loss_rate = #{confirmLossRate},
                unit_base = #{unitBase},
                rounding_type = #{roundingType},
                price_quantity = #{priceQuantity},
                unit_price = #{unitPrice},
                remark_inner_quantity = #{remarkInnerQuantity},
                remark_quote_quantity = #{remarkQuoteQuantity},
                remark_check_quantity = #{remarkCheckQuantity},
                remark_confirm_quantity = #{remarkConfirmQuantity},
                remark = #{remark},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where client_id = #{clientId}
        </foreach>
    </update>

    <delete id="deleteItemByBomId">
        delete from s_tec_bom_item where bom_sid = #{bomSid}
    </delete>


    <sql id="selectTecBomItemVo">
        select
        t.client_id,
        t.bom_item_sid,
        t.bom_sid,
        t.bom_material_sid,
        t.is_main_fabric,
        t.bom_material_sku1_sid,
        t.bom_material_sku2_sid,
        t.position_code,
        t.position_name,
        t.quantity,
        t.loss_rate,
        t.inner_quantity,
        t.inner_loss_rate,
        t.quote_quantity,
        t.quote_loss_rate,
        t.check_quantity,
        t.item_num,
        t.check_loss_rate,
        t.confirm_quantity,
        t.confirm_loss_rate,
        t.unit_base,
        t.rounding_type,
        t.unit_quantity,
        t.price_quantity,
        t.unit_price,
        t.remark_inner_quantity,
        t.remark_quote_quantity,
        t.remark_check_quantity,
        t.remark_confirm_quantity,
        t.remark,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.item_num,
        t.update_date,
        t.sort,
        t.data_source_sys,
        t1.material_code,
	    t1.material_name,
	    t1.material_type,
	    t2.sku_code as sku1_code,
	    t2.sku_name as sku1_name,
	    t1.supplier_product_code,
	    t1.zipper_flag,
        t1.width,
        t1.vendor_sid,
        t1.picture_path,
        t1.status,
	    t1.gram_weight,
	    t1.composition,
	    t1.unit_conversion_rate,
	    t1.specification_size,
	    t1.density,
	    t.purchase_type,
	    t1.zipper_flag,
	    t1.material_composition,
	    t1.yarn_count,
	    t1.touse_produce_stage,
	    t5.short_name as vendor_name,
	    t4.name as unit_base_name,
	    t6.name as purchase_type_name,
	    t7.name as unit_quantity_name,
	    t8.name as unit_price_name,
	    t9.node_name,
	    t10.nick_name as creator_account_name,
	    t11.name as material_type_name,
	    t12.status as sku_status,
	    t14.name as unit_recursion_name,
	    t.unit_recursion
  from s_tec_bom_item t
        LEFT JOIN s_bas_material t1 ON t1.material_sid = t.bom_material_sid
        LEFT JOIN s_bas_sku t2 ON t2.sku_sid = t.bom_material_sku1_sid
        left join s_con_measure_unit t4 on t4.code=t.unit_base
        LEFT JOIN s_bas_vendor t5 ON t5.vendor_sid = t1.vendor_sid
        left join s_con_purchase_type t6 on t6.code =t.purchase_type
        left join s_con_measure_unit t7 on t7.code=t.unit_quantity
        left join s_con_measure_unit t8 on t8.code=t.unit_price
        LEFT JOIN s_con_material_class t9 ON t9.material_class_sid = t1.material_class_sid
        LEFT JOIN sys_user t10 on t10.user_name = t.creator_account
        LEFT JOIN s_con_material_type t11 ON t11.code = t1.material_type
        left join s_bas_material_sku t12 on  t12.material_sid =t.bom_material_sid and  t12.sku_sid=t.bom_material_sku1_sid
        left join s_tec_bom_head t13 on t13.bom_sid=t.bom_sid
        left join s_con_measure_unit t14 on t14.code=t.unit_recursion
    </sql>


    <sql id="reportTecBomItemVo">
        select
        t.bom_item_sid,
        t.bom_sid,
        t.bom_material_sid,
        t.is_main_fabric,
        t.position_code,
        t.position_name,
        t.bom_material_sku1_sid,
        t.inner_quantity,
        t.inner_loss_rate,
        t.quote_quantity,
        t.quote_loss_rate,
        t.check_quantity,
        t.check_loss_rate,
        t.confirm_quantity,
        t.confirm_loss_rate,
        t.unit_base,
        t.quantity,
        t.loss_rate,
        t.rounding_type,
        t.item_num,
        t.price_quantity,
        t.unit_price,
        t.remark_inner_quantity,
        t.remark_quote_quantity,
        t.remark_check_quantity,
        t.remark_confirm_quantity,
        t.remark,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.update_date,
        t.sort,
        t.data_source_sys,
        t1.material_name as bom_material_name,
	    t1.material_code as bom_material_code,
	    t1.material_type,
	    t2.sku_code as bom_material_sku1_code,
	    t2.sku_name as bom_material_sku1_name,
	    t1.supplier_product_code,
	    t1.zipper_flag,
        t1.width,
        t1.picture_path,
	    t1.gram_weight,
	    t1.handle_status as material_handle_status,
	    t1.status as material_status,
	    t1.composition,
	    t1.specification_size,
	    t1.density,
	    t1.material_composition,
	    t1.yarn_count,
	    t1.touse_produce_stage,
	    t5.vendor_name,
	    t4.name as unit_base_name,
	    t6.name as purchase_type_name,
	    t7.name as unit_quantity_name,
	    t8.name as unit_price_name,
	    t9.node_name,
	    t10.nick_name as creator_account_name,
	    t11.name as material_type_name,
	    t13.material_name,
	    t13.material_code,
	    t12.handle_status,
	    t12.material_sid,
	    t12.handle_status as bom_handle_status,
	    t13.sample_code_self,
	    t14.sku_name as sku1_name,
	    t15.customer_name,
        t16.product_season_name,
        t17.status,
        t18.nick_name as designer_account_name,
        t19.sku_name as standard_sku_name,
        t20.name as unit_recursion_name
  from s_tec_bom_item t
        LEFT JOIN s_bas_material t1 ON t1.material_sid = t.bom_material_sid
        LEFT JOIN s_bas_sku t2 ON t2.sku_sid = t.bom_material_sku1_sid
        left join s_con_measure_unit t4 on t4.code=t.unit_base
        LEFT JOIN s_bas_vendor t5 ON t5.vendor_sid = t1.vendor_sid
        left join s_con_purchase_type t6 on t6.code =t.purchase_type
        left join s_con_measure_unit t7 on t7.code=t.unit_quantity
        left join s_con_measure_unit t8 on t8.code=t.unit_price
        LEFT JOIN s_con_material_class t9 ON t9.material_class_sid = t1.material_class_sid
        LEFT JOIN sys_user t10 on t10.user_name = t.creator_account
        LEFT JOIN s_con_material_type t11 ON t11.code = t1.material_type
        left join s_tec_bom_head t12 on t12.bom_sid =t.bom_sid
        left join s_bas_material t13 on t13.material_sid=t12.material_sid
        left join s_bas_sku t14 on t14.sku_sid=t12.sku1_sid
        LEFT JOIN s_bas_customer t15 ON t15.customer_sid = t13.customer_sid
        LEFT JOIN s_bas_product_season t16 ON t16.product_season_sid = t13.product_season_sid
        left join s_bas_material_sku t17 on t17.material_sid=t12.material_sid and t17.sku_sid=t12.sku1_sid
        LEFT JOIN sys_user t18 ON t18.user_name = t13.designer_account
        left join s_bas_sku t19 on t19.sku_sid=t12.standard_sku
        left join s_con_measure_unit t20 on t20.code=t.unit_recursion
    </sql>
    <select id="report" parameterType="com.platform.ems.domain.dto.request.TecBomHeadReportRequest" resultType="com.platform.ems.domain.dto.response.TecBomHeadReportResponse">
        <include refid="reportTecBomItemVo"/>
        <where>
            and t17.status='1'
            and t.bom_material_sku1_sid is not null
            <if test="purchaseTypeList != null and purchaseTypeList.length >0">
                and t1.purchase_type in
                (<foreach collection="purchaseTypeList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="materialTypeList != null and materialTypeList.length >0">
                and t1.material_type in
                (<foreach collection="materialTypeList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="touseProduceStageList != null and touseProduceStageList.length >0">
                and  t1.touse_produce_stage in
                (<foreach collection="touseProduceStageList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="vendorSidList != null and vendorSidList.length >0">
                and  t1.vendor_sid in
                (<foreach collection="vendorSidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="productSeasonSidList != null and productSeasonSidList.length >0">
                and t13.product_season_sid in
                (<foreach collection="productSeasonSidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="sku1SidList != null and sku1SidList.length >0">
                and t12.sku1_sid in
                (<foreach collection="sku1SidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="bomMaterialSku1SidList != null and bomMaterialSku1SidList.length >0">
                and t.bom_material_sku1_sid in
                (<foreach collection="bomMaterialSku1SidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="customerSidList != null and customerSidList.length >0">
                and t13.customer_sid in
                (<foreach collection="customerSidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="sampleCodeSelf !=null and sampleCodeSelf !=''">
                and t13.sample_code_self like concat('%',
                #{sampleCodeSelf}, '%')
            </if>
            <if test="bomMaterialCode !=null and bomMaterialCode !=''">
                and t1.material_code like concat('%',
                #{bomMaterialCode}, '%')
            </if>
            <if test="supplierProductCode !=null and supplierProductCode !=''">
                and t1.supplier_product_code like concat('%',
                #{supplierProductCode}, '%')
            </if>
            <if test="bomMaterialName != null  and bomMaterialName != ''">
                and (<foreach collection="bomMaterialName.split(';')" item="item" separator="or">t1.material_name like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="materialCode !=null and materialCode !=''">
                and t13.material_code like concat('%',
                #{materialCode}, '%')
            </if>
            <if test="materialName != null  and materialName != ''">
                and (<foreach collection="materialName.split(';')" item="item" separator="or">t13.material_name like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="materialHandleStatusList != null and materialHandleStatusList.length >0">
                and t1.handle_status in
                (<foreach collection="materialHandleStatusList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="bomHandleStatusList != null and bomHandleStatusList.length >0">
                and t12.handle_status in
                (<foreach collection="bomHandleStatusList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="materialStatus !=null and materialStatus !=''">
                and t1.status =#{materialStatus}
            </if>
        </where>
        order by  t13.material_code,t13.sample_code_self,t14.sku_code,t1.material_code,t2.sku_code  desc
    </select>
    <select id="reportMaterial" parameterType="com.platform.ems.domain.dto.request.TecBomHeadReportRequest" resultType="com.platform.ems.domain.dto.response.TecBomHeadMaterialReportResponse">
        <include refid="reportTecBomItemVo"/>
        <where>
            and t17.status='1'
            <if test="purchaseTypeList != null and purchaseTypeList.length >0">
                and t1.purchase_type in
                (<foreach collection="purchaseTypeList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="materialTypeList != null and materialTypeList.length >0">
                and t1.material_type in
                (<foreach collection="materialTypeList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="touseProduceStageList != null and touseProduceStageList.length >0">
                and  t1.touse_produce_stage in
                (<foreach collection="touseProduceStageList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="vendorSidList != null and vendorSidList.length >0">
                and  t1.vendor_sid in
                (<foreach collection="vendorSidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="productSeasonSidList != null and productSeasonSidList.length >0">
                and t13.product_season_sid in
                (<foreach collection="productSeasonSidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="sku1SidList != null and sku1SidList.length >0">
                and t12.sku1_sid in
                (<foreach collection="sku1SidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="bomMaterialSku1SidList != null and bomMaterialSku1SidList.length >0">
                and t.bom_material_sku1_sid in
                (<foreach collection="bomMaterialSku1SidList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="customerSidList != null and customerSidList.length >0">
                and t13.customer_sid in
                (<foreach collection="customerSidList" item="item" separator=",">
                #{item}</foreach>)
            </if>

            <if test="sampleCodeSelf !=null and sampleCodeSelf !=''">
                and t13.sample_code_self like concat('%',
                #{sampleCodeSelf}, '%')
            </if>
            <if test="bomMaterialCode !=null and bomMaterialCode !=''">
                and t1.material_code like concat('%',
                #{bomMaterialCode}, '%')
            </if>

            <if test="supplierProductCode !=null and supplierProductCode !=''">
                and t1.supplier_product_code like concat('%',
                #{supplierProductCode}, '%')
            </if>
            <if test="bomMaterialName != null  and bomMaterialName != ''">
                and (<foreach collection="bomMaterialName.split(';')" item="item" separator="or">t1.material_name like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="materialCode !=null and materialCode !=''">
                and t13.material_code like concat('%',
                #{materialCode}, '%')
            </if>
            <if test="materialName != null  and materialName != ''">
                and (<foreach collection="materialName.split(';')" item="item" separator="or">t13.material_name like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="materialHandleStatusList != null and materialHandleStatusList.length >0">
                and t1.handle_status in
                (<foreach collection="materialHandleStatusList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="bomHandleStatusList != null and bomHandleStatusList.length >0">
                and t12.handle_status in
                (<foreach collection="bomHandleStatusList" item="item" separator=",">
                #{item}</foreach>)
            </if>
            <if test="materialStatus !=null and materialStatus !=''">
                and t1.status =#{materialStatus}
            </if>
        </where>
        group by  t.bom_material_sid ,t12.material_sid,t.item_num
        order by  t13.material_code,t13.sample_code_self,t14.sku_code,t1.material_code,t2.sku_code  desc
    </select>
    <!--<sql id="getMaterialRequireList">
       SELECT
       t.material_sid,
       t.material_code,
	   t.material_name,
	   t2.sku_code AS sku1_code,
	   t2.sku_name AS sku1_name,
	   t3.sku_code AS sku2_code,
	   t3.sku_name AS sku2_name,
	   t.unit_base,
	   t.purchase_type,
	   t.vendor_sid,
	   t4.vendor_code,
	   t4.vendor_name,
	   t.supplier_product_code,
	   t.material_type,
	   t.material_class_sid,
	   t5.node_name,
	   t6.sales_order_item_sid,
	   t6.sales_order_sid,
	   t7.sales_order_code,
	   t8.confirm_quantity,
	   t9.bom_sid
  FROM s_bas_material t
	  LEFT JOIN s_bas_vendor t4 ON t4.vendor_sid = t.vendor_sid
	  LEFT JOIN s_con_material_class t5 ON t5.material_class_sid = t.material_class_sid
	  LEFT JOIN s_sal_sales_order_item t6 ON t6.material_sid = t.material_sid
	  LEFT JOIN s_bas_sku t2 ON t2.sku_sid = t6.sku1_sid
	  LEFT JOIN s_bas_sku t3 ON t3.sku_sid = t6.sku2_sid
	  LEFT JOIN s_sal_sales_order t7 ON t7.sales_order_sid = t6.sales_order_sid
	  LEFT JOIN s_tec_bom_head t9 ON t9.material_sid = t.material_sid
	  LEFT JOIN s_tec_bom_item t8 ON t8.bom_sid = t9.bom_sid
    </sql>-->
    <sql id="getMaterialRequireList">
       SELECT
       t.bom_sid,
       t.bom_item_sid,
	   t.confirm_quantity,
       t1.material_sid,
       t2.material_code,
	   t2.material_name,
	   t3.sku_code AS sku1_code,
	   t3.sku_name AS sku1_name,
	   t4.sku_code AS sku2_code,
	   t4.sku_name AS sku2_name,
	   t2.unit_base,
	   t2.purchase_type,
	   t2.touse_produce_stage,
	   t2.vendor_sid,
	   t5.vendor_code,
	   t5.vendor_name,
	   t2.supplier_product_code,
	   t2.material_type,
	   t2.material_class_sid,
	   t6.node_name
  FROM s_tec_bom_item t
	  LEFT JOIN s_tec_bom_head t1 ON t1.bom_sid = t.bom_sid
	  LEFT JOIN s_bas_material t2 ON t2.material_sid = t1.material_sid
	  LEFT JOIN s_bas_sku t3 ON t3.sku_sid = t1.sku1_sid
	  LEFT JOIN s_bas_sku t4 ON t4.sku_sid = t1.sku2_sid
	  LEFT JOIN s_bas_vendor t5 ON t5.vendor_sid = t2.vendor_sid
	  LEFT JOIN s_con_material_class t6 ON t6.material_class_sid = t2.material_class_sid
    </sql>


    <select id="getMaterialRequireList" parameterType="com.platform.ems.domain.TecBomHead"
            resultType="com.platform.ems.domain.TecBomItem">
        <include refid="getMaterialRequireList"/>
        <where>
            <if test="vendorSid != null  and vendorSid != ''">
                and t2.vendor_sid = #{vendorSid}
            </if>
            <if test="materialType != null  and materialType != ''">
                and t2.material_type=#{materialType}
            </if>
            <if test="materialCategory != null  and materialCategory != ''">
                and t2.material_category= #{materialCategory}
            </if>
            <if test="purchaseType != null  and purchaseType != ''">
                and t2.purchase_type= #{purchaseType}
            </if>
            <if test="touseProduceStage != null  and touseProduceStage != ''">
                and t2.touse_produce_stage= #{touseProduceStage}
            </if>
        </where>
    </select>

    <sql id="getMaterialRequireList2">
       SELECT
       t.client_id,
       t.bom_sid,
       t.bom_item_sid,
	   t.confirm_quantity,
	   t.confirm_loss_rate,
	   t.unit_quantity,
	   t.inner_quantity,
	   t.quantity,
	   IFNULL(t.loss_rate,0) AS loss_rate,
	   t.bom_material_sid,
	   t.bom_material_sku1_sid,
	   t.bom_material_sku2_sid,
       t1.material_sid,
       t2.material_code,
	   t2.material_name,
	   t2.vendor_sid,
	   t2.unit_base,
	   t2.unit_conversion_rate,
	   t2.supplier_product_code,
	   t2.width,
	   t2.gram_weight,
	   t2.composition,
	   t2.zipper_flag,
	   t2.yarn_count,
	   t2.density,
	   t2.specification_size,
	   t2.unit_quantity,
	   t2.material_composition,
	   t2.material_type,
	   t2.purchase_type,
	   t2.material_class_sid,
	   t2.supplier_product_code,
	   t2.touse_produce_stage,
	   t2.unit_conversion_rate,
	   t3.sku_code AS sku1_code,
	   t3.sku_name AS sku1_name,
	   t4.sku_code AS sku2_code,
	   t4.sku_name AS sku2_name,
	   t2.unit_base,
	   t2.purchase_type,
	   t2.touse_produce_stage,
	   t2.vendor_sid,
	   t5.vendor_code,
	   t5.vendor_name,
	   t2.supplier_product_code,
	   t2.material_type,
	   t2.material_class_sid,
	   t2.material_composition,
	   t2.material_type,
	   t6.node_name,
	   t7.name as material_type_name,
       t8.name as unit_quantity_name,
       t9.name as unit_base_name,
       t9.is_integer,
       t10.name as purchase_type_name
  FROM s_tec_bom_item t
	  LEFT JOIN s_tec_bom_head t1 ON t1.bom_sid = t.bom_sid
	  LEFT JOIN s_bas_material t2 ON t2.material_sid = t.bom_material_sid
	  LEFT JOIN s_bas_sku t3 ON t3.sku_sid = t.bom_material_sku1_sid
	  LEFT JOIN s_bas_sku t4 ON t4.sku_sid = t.bom_material_sku2_sid
	  LEFT JOIN s_bas_material c ON c.material_sid = t2.material_sid
	  LEFT JOIN s_bas_vendor t5 ON t5.vendor_sid = c.vendor_sid
	  LEFT JOIN s_con_material_class t6 ON t6.material_class_sid = c.material_class_sid
	  LEFT JOIN s_con_material_type t7 ON t7.code = t2.material_type
	  left join s_con_measure_unit t8 on t8.code=t2.unit_quantity
	  left join s_con_measure_unit t9 on t9.code=t2.unit_base
	  left join s_con_purchase_type t10 on t10.code =t2.purchase_type
    </sql>
    <select id="getMaterialRequireList2" parameterType="com.platform.ems.domain.dto.request.MaterialReportFormsRequest"
            resultType="com.platform.ems.domain.TecBomItem">
        <include refid="getMaterialRequireList2"/>
        <where>
            <if test="bomSid != null  and bomSid != ''">
                and t.bom_sid = #{bomSid}
            </if>
            <if test="vendorSid != null  and vendorSid != ''">
                and t2.vendor_sid = #{vendorSid}
            </if>
            <if test="materialType != null  and materialType != ''">
                and t2.material_type=#{materialType}
            </if>
            <if test="materialCategory != null  and materialCategory != ''">
                and t2.material_category= #{materialCategory}
            </if>
            <if test="purchaseType != null  and purchaseType != ''">
                and t2.purchase_type= #{purchaseType}
            </if>
            <if test="touseProduceStage != null  and touseProduceStage != ''">
                and t2.touse_produce_stage= #{touseProduceStage}
            </if>
            <if test="materialCode != null  and materialCode != ''">
                and t2.material_code like concat('%',
                #{materialCode}, '%')
            </if>
        </where>
        order by t2.material_code desc
    </select>
    <!--LEFT JOIN s_sal_sales_order_item t7 ON t7.material_sid = t1.material_sid
    LEFT JOIN s_sal_sales_order t8 ON t8.sales_order_sid = t7.sales_order_sid
    t7.sales_order_item_sid,
    t7.sales_order_sid,
    t8.sales_order_code-->
</mapper>
