<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.TecModelPositionGroupMapper">

    <resultMap type="com.platform.ems.domain.TecModelPositionGroup" id="TecModelPositionGroupResult">
        <result property="clientId" column="client_id"/>
        <result property="groupSid" column="group_sid"/>
        <result property="groupCode" column="group_code"/>
        <result property="groupName" column="group_name"/>
        <result property="upDownSuit" column="up_down_suit"/>
        <result property="customerSid" column="customer_sid"/>
        <result property="remark" column="remark"/>
        <result property="status" column="status"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="customerName" column="customer_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="disableRemark" column="disable_remark"/>
    </resultMap>

    <select id="getList" parameterType="com.platform.ems.domain.TecModelPositionGroup"
            resultMap="TecModelPositionGroupResult">
        select  t.group_sid, t.group_code, t.group_name, t.up_down_suit, t.status, t.handle_status from s_tec_model_position_group t order by t.group_name asc
    </select>

    <sql id="selectTecModelPositionGroupVo">
        select t.client_id, t.group_sid, t.group_code, t.group_name, t.up_down_suit, t.customer_sid, t.remark, t.disable_remark, t.status, t.handle_status, t.creator_account, t.create_date, t.updater_account, t.update_date, t.confirmer_account, t.confirm_date, t.data_source_sys, t2.customer_name AS customer_name, t3.nick_name AS creator_account_name, t4.nick_name AS updater_account_name, t5.nick_name AS confirmer_account_name
        from s_tec_model_position_group t
        LEFT JOIN s_bas_customer t2 ON t.customer_sid = t2.customer_sid
        LEFT JOIN sys_user t3 ON t.creator_account = t3.user_name
	    LEFT JOIN sys_user t4 ON t.updater_account = t4.user_name
        LEFT JOIN sys_user t5 ON t.confirmer_account = t5.user_name
    </sql>

    <select id="selectTecModelPositionGroupById" parameterType="Long" resultMap="TecModelPositionGroupResult">
        <include refid="selectTecModelPositionGroupVo"/>
        where t.group_sid = #{groupSid}
    </select>


    <select id="selectTecModelPositionGroupList" parameterType="com.platform.ems.domain.TecModelPositionGroup"
            resultMap="TecModelPositionGroupResult">
        <include refid="selectTecModelPositionGroupVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or"> t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="groupCode != null  and groupCode != ''">
                and (<foreach collection="groupCode.split(';')" item="item" separator="or"> t.group_code like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="groupName != null  and groupName != ''">and
                t.group_name like concat('%', #{groupName}, '%')
            </if>
            <if test="upDownSuitList != null  and upDownSuitList.length > 0 ">
                and (<foreach collection="upDownSuitList" item="item" separator="or"> t.up_down_suit like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="customerSidList != null and customerSidList.length >0 ">
                and (<foreach collection="customerSidList" item="item" separator="or"> t.customer_sid like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="status != null  and status != ''">
                and (<foreach collection="status.split(';')" item="item" separator="or"> t.status like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="handleStatusList != null  and handleStatusList.length >0">
                and (<foreach collection="handleStatusList" item="item" separator="or"> t.handle_status like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or"> t3.nick_name like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or"> t.updater_account like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or"> t.confirmer_account like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or"> t.data_source_sys like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
        order by t.group_code desc
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_tec_model_position_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            group_sid,
            group_code,
            group_name,
            up_down_suit,
            customer_sid,
            remark,
            disable_remark,
            status,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{clientId},
                #{groupSid},
                #{groupCode},
                #{groupName},
                #{upDownSuit},
                #{customerSid},
                #{remark},
                #{disableRemark},
                #{status},
                #{handleStatus},
                #{creatorAccount},
                #{createDate},
                #{updaterAccount},
                #{updateDate},
                #{confirmerAccount},
                #{confirmDate},
                #{dataSourceSys},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_tec_model_position_group
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            group_code = #{groupCode},
            group_name = #{groupName},
            up_down_suit = #{upDownSuit},
            customer_sid = #{customerSid},
            remark = #{remark},
            disable_remark = #{disableRemark},
            status = #{status},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where group_sid = #{groupSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_tec_model_position_group
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                group_code = #{groupCode},
                group_name = #{groupName},
                up_down_suit = #{upDownSuit},
                customer_sid = #{customerSid},
                remark = #{remark},
                disable_remark = #{disableRemark},
                status = #{status},
                handle_status = #{handleStatus},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where group_sid = #{groupSid}
        </foreach>
    </update>

</mapper>
