<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.TecModelPosSizeDownMapper">

    <resultMap type="com.platform.ems.domain.TecModelPosSizeDown" id="TecModelPosSizeDownResult">
        <result property="clientId" column="client_id"/>
        <result property="modelPositionSizeSid" column="model_position_size_sid"/>
        <result property="modelPositionInforSid" column="model_position_infor_sid"/>
        <result property="skuSid" column="sku_sid"/>
        <result property="skuCode" column="sku_code"/>
        <result property="skuName" column="sku_name"/>
        <result property="sizeValue" column="size_value"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
    </resultMap>

    <sql id="selectTecModelPosSizeDownVo">
        select t.client_id, t.model_position_size_sid, t.model_position_infor_sid, t.sku_sid,
         t1.sku_code,
	      t1.sku_name,
         t.size_value, t.remark, t.creator_account, t.create_date, t.updater_account, t.update_date, t.data_source_sys
        from s_tec_model_pos_size_down t
        LEFT JOIN s_bas_sku t1 on t1.sku_sid=t.sku_sid
    </sql>

    <select id="selectTecModelPosSizeDownById" parameterType="Long" resultMap="TecModelPosSizeDownResult">
        <include refid="selectTecModelPosSizeDownVo"/>
        where t.model_position_size_sid = #{modelPositionSizeSid}
    </select>


    <select id="selectTecModelPosSizeDownList" parameterType="com.platform.ems.domain.TecModelPosSizeDown"
            resultMap="TecModelPosSizeDownResult">
        <include refid="selectTecModelPosSizeDownVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="modelPositionInforSid != null ">
                and t.model_position_infor_sid =#{modelPositionInforSid}
            </if>
            <if test="skuSid != null ">
                and t.sku_sid = #{skuSid}
            </if>
            <if test="sizeValue != null ">
                and t.size_value = #{sizeValue}
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
        </where>
        order by t1.sku_name asc
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_tec_model_pos_size_down
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            model_position_size_sid,
            model_position_infor_sid,
            sku_sid,
            size_value,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="o" separator=",">
                #{clientId},
                #{modelPositionSizeSid},
                #{modelPositionInforSid},
                #{skuSid},
                #{sizeValue},
                #{remark},
                #{creatorAccount},
                #{createDate},
                #{updaterAccount},
                #{updateDate},
                #{dataSourceSys},
            </foreach>
        </trim>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_tec_model_pos_size_down
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            model_position_infor_sid = #{modelPositionInforSid},
            sku_sid = #{skuSid},
            size_value = #{sizeValue},
            remark = #{remark},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where model_position_size_sid = #{modelPositionSizeSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_tec_model_pos_size_down
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                model_position_infor_sid = #{modelPositionInforSid},
                sku_sid = #{skuSid},
                size_value = #{sizeValue},
                remark = #{remark},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where model_position_size_sid = #{modelPositionSizeSid}
        </foreach>
    </update>

    <delete id="deleteTecModPosSizeDownByModPosInfSid">
        delete from s_tec_model_pos_size_down where model_position_infor_sid = #{modelPositionInforSid}
    </delete>
</mapper>
