<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.TecMaterialPosSizeMapper">

    <resultMap type="com.platform.ems.domain.TecMaterialPosSize" id="TecMaterialPosSizeResult">
        <result property="clientId"    column="client_id"    />
        <result property="materialPosSizeSid"    column="material_pos_size_sid"    />
        <result property="materialPosInforSid"    column="material_pos_infor_sid"    />
        <result property="skuSid"    column="sku_sid"    />
        <result property="skuCode"    column="sku_code"    />
        <result property="skuName"    column="sku_name"    />
        <result property="sizeValue"    column="size_value"    />
        <result property="remark"    column="remark"    />
        <result property="creatorAccount"    column="creator_account"    />
        <result property="createDate"    column="create_date"    />
        <result property="updaterAccount"    column="updater_account"    />
        <result property="updateDate"    column="update_date"    />
        <result property="dataSourceSys"    column="data_source_sys"    />
    </resultMap>

    <sql id="selectTecMaterialPosSizeVo">
        SELECT
	t.client_id,
	t.material_pos_size_sid,
	t.material_pos_infor_sid,
	t.sku_sid,
	t1.sku_code,
	t1.sku_name,
	t.size_value,
	t.remark,
	t.creator_account,
	t.create_date,
	t.updater_account,
	t.update_date,
	t.data_source_sys
FROM
	s_tec_material_pos_size t
	LEFT JOIN s_bas_sku t1 on t1.sku_sid=t.sku_sid
    </sql>

    <select id="selectTecMaterialPosSizeList" parameterType="com.platform.ems.domain.TecMaterialPosSize" resultMap="TecMaterialPosSizeResult">
        <include refid="selectTecMaterialPosSizeVo"/>
        <where>
            <if test="materialPosInforSid != null  and materialPosInforSid != ''"> and t.material_pos_infor_sid = #{materialPosInforSid}</if>
            <if test="materialPosSizeSid != null  and materialPosSizeSid != ''"> and t.material_pos_size_sid = #{materialPosSizeSid}</if>
            <if test="sizeValue != null "> and t.size_value = #{sizeValue}</if>
            <if test="creatorAccount != null  and creatorAccount != ''"> and t.creator_account = #{creatorAccount}</if>
            <if test="createDate != null "> and t.create_date = #{createDate}</if>
            <if test="updaterAccount != null  and updaterAccount != ''"> and t.updater_account = #{updaterAccount}</if>
            <if test="updateDate != null "> and t.update_date = #{updateDate}</if>
            <if test="dataSourceSys != null  and dataSourceSys != ''"> and t.data_source_sys = #{dataSourceSys}</if>
        </where>
        ORDER BY t1.sku_name ASC
    </select>

    <select id="selectTecMaterialPosSizeById" parameterType="Long" resultMap="TecMaterialPosSizeResult">
        <include refid="selectTecMaterialPosSizeVo"/>
        where t.material_pos_size_sid = #{materialPosSizeSid}
    </select>

    <insert id="insertTecMaterialPosSize" parameterType="com.platform.ems.domain.TecMaterialPosSize">
        insert into s_tec_material_pos_size
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clientId != null">client_id,</if>
            <if test="materialPosSizeSid != null and materialPosSizeSid != ''">material_pos_size_sid,</if>
            <if test="materialPosInforSid != null">material_pos_infor_sid,</if>
            <if test="skuSid != null">sku_sid,</if>
            <if test="sizeValue != null">size_value,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="creatorAccount != null and creatorAccount != ''">creator_account,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updaterAccount != null">updater_account,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="dataSourceSys != null">data_source_sys,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clientId != null">#{clientId},</if>
            <if test="materialPosSizeSid != null and materialPosSizeSid != ''">#{materialPosSizeSid},</if>
            <if test="materialPosInforSid != null">#{materialPosInforSid},</if>
            <if test="skuSid != null">#{skuSid},</if>
            <if test="sizeValue != null">#{sizeValue},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="creatorAccount != null and creatorAccount != ''">#{creatorAccount},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updaterAccount != null">#{updaterAccount},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="dataSourceSys != null">#{dataSourceSys},</if>
         </trim>
    </insert>

    <update id="updateTecMaterialPosSize" parameterType="com.platform.ems.domain.TecMaterialPosSize">
        update s_tec_material_pos_size
        <trim prefix="SET" suffixOverrides=",">
            <if test="materialPosInforSid != null">material_pos_infor_sid = #{materialPosInforSid},</if>
            <if test="skuSid != null">sku_sid = #{skuSid},</if>
            <if test="sizeValue != null">size_value = #{sizeValue},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="creatorAccount != null and creatorAccount != ''">creator_account = #{creatorAccount},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updaterAccount != null">updater_account = #{updaterAccount},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="dataSourceSys != null">data_source_sys = #{dataSourceSys},</if>
        </trim>
        where material_pos_size_sid = #{materialPosSizeSid}
    </update>

    <delete id="deleteTecMaterialPosSizeById" parameterType="Long">
        delete from s_tec_material_pos_size where client_id = #{clientId}
    </delete>

    <delete id="deleteTecMaterialPosSizeByIds" parameterType="Long">
        delete from s_tec_material_pos_size where model_position_size_sid in
        <foreach item="materialPosSizeSid" collection="materialPosSizeSids" open="(" separator="," close=")">
            #{materialPosSizeSid}
        </foreach>
    </delete>

    <delete id="deleteTecMaterialPosSizeByInfoId" parameterType="list">
        delete from s_tec_material_pos_size where material_pos_infor_sid in
        <foreach item="materialPosInforSid" collection="list" open="(" separator="," close=")">
            #{materialPosInforSid}
        </foreach>
    </delete>

</mapper>
