<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.TecProductLineposMatColorMapper">

    <resultMap type="com.platform.ems.domain.TecProductLineposMatColor" id="TecProductLineposMatColorResult">
        <result property="clientId" column="client_id"/>
        <result property="lineposMatColor" column="linepos_mat_color"/>
        <result property="lineposMatSid" column="linepos_mat_sid"/>
        <result property="productSkuSid" column="product_sku_sid"/>
        <result property="materialSkuSid" column="material_sku_sid"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="productSkuName" column="product_sku_name"/>
        <result property="materialSkuName" column="material_sku_name"/>
    </resultMap>

    <sql id="selectTecProductLineposMatColorVo">
        select
        t.client_id,
        t.linepos_mat_color,
        t.linepos_mat_sid,
        t.product_sku_sid,
        t.material_sku_sid,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.update_date,
        t.data_source_sys,
        t1.sku_name as product_sku_name,
        t2.sku_name as material_sku_name
  from s_tec_product_linepos_mat_color t
        LEFT JOIN s_bas_sku t1 ON t1.sku_sid = t.product_sku_sid
        LEFT JOIN s_bas_sku t2 ON t2.sku_sid = t.material_sku_sid
    </sql>

    <select id="selectTecProductLineposMatColorById" parameterType="Long" resultMap="TecProductLineposMatColorResult">
        <include refid="selectTecProductLineposMatColorVo"/>
        where t.linepos_mat_color = #{lineposMatColor}
    </select>


    <select id="selectTecProductLineposMatColorList" parameterType="com.platform.ems.domain.TecProductLineposMatColor"
            resultMap="TecProductLineposMatColorResult">
        <include refid="selectTecProductLineposMatColorVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="lineposMatSid != null ">
                and t.linepos_mat_sid =#{lineposMatSid}
            </if>
            <if test="productSkuSid != null ">
                and t.product_sku_sid =#{productSkuSid}
            </if>
            <if test="materialSkuSid != null ">
                and t.material_sku_sid =#{materialSkuSid}
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_tec_product_linepos_mat_color
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            linepos_mat_color,
            linepos_mat_sid,
            product_sku_sid,
            material_sku_sid,
            creator_account,
            create_date,
            updater_account,
            update_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.lineposMatColor},
                #{item.lineposMatSid},
                #{item.productSkuSid},
                #{item.materialSkuSid},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_tec_product_linepos_mat_color
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            linepos_mat_color = #{lineposMatColor},
            linepos_mat_sid = #{lineposMatSid},
            product_sku_sid = #{productSkuSid},
            material_sku_sid = #{materialSkuSid},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where linepos_mat_color = #{lineposMatColor}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_tec_product_linepos_mat_color
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                linepos_mat_color = #{lineposMatColor},
                linepos_mat_sid = #{lineposMatSid},
                product_sku_sid = #{productSkuSid},
                material_sku_sid = #{materialSkuSid},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where linepos_mat_color = #{lineposMatColor}
        </foreach>
    </update>

</mapper>
