<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.ems.mapper.TecRecordFengyangMapper">

    <resultMap type="com.platform.ems.domain.TecRecordFengyang" id="TecRecordFengyangResult">
        <result property="clientId" column="client_id"/>
        <result property="recordFengyangSid" column="record_fengyang_sid"/>
        <result property="recordFengyangCode" column="record_fengyang_code"/>
        <result property="fengyangType" column="fengyang_type"/>
        <result property="sampleSid" column="sample_sid"/>
        <result property="skuSid" column="sku_sid"/>
        <result property="fengyangResult" column="fengyang_result"/>
        <result property="fengyangComment" column="fengyang_comment"/>
        <result property="remark" column="remark"/>
        <result property="handleStatus" column="handle_status"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="sampleCodeSelf" column="sample_code_self"/>
        <result property="materialCode" column="material_code"/>
        <result property="materialName" column="material_name"/>
        <result property="picturePath" column="picture_path"/>
        <result property="skuName" column="sku_name"/>
        <result property="materialType" column="material_type"/>
        <result property="materialTypeName" column="material_type_name"/>
        <result property="productSeasonSid" column="product_season_sid"/>
        <result property="productSeasonName" column="product_season_name"/>
        <result property="materialClassSid" column="material_class_sid"/>
        <result property="nodeName" column="node_name"/>
        <result property="designerAccount" column="designer_account"/>
        <result property="designerAccountName" column="designer_account_name"/>
        <result property="modelSid" column="model_sid"/>
        <result property="modelName" column="model_name"/>
        <result property="upDownSuit" column="up_down_suit"/>
        <result property="customerSid" column="customer_sid"/>
        <result property="customerName" column="customer_name"/>
        <result property="customerProductCode" column="customer_product_code"/>
        <result property="sampleCodeCustomer" column="sample_code_customer"/>
        <result property="simpleCode" column="simple_code"/>
        <result property="companySid" column="company_sid"/>
        <result property="companyName" column="company_name"/>
        <result property="companyBrandSid" column="company_brand_sid"/>
        <result property="companyBrandName" column="company_brand_name"/>
        <result property="unitBase" column="unit_base"/>
        <result property="unitBaseName" column="unit_base_name"/>
        <result property="vendorSid" column="vendor_sid"/>
        <result property="vendorName" column="vendor_name"/>
        <result property="customerBrandSid" column="customer_brand_sid"/>
        <result property="customerBrandName" column="customer_brand_name"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="updaterAccountName" column="updater_account_name"/>
        <result property="confirmerAccountName" column="confirmer_account_name"/>
        <result property="approvalNode" column="approval_node"/>
        <result property="approvalUserId" column="approval_user_id"/>
        <result property="approvalUserName" column="approval_user_name"/>
        <result property="submitDate" column="submit_date"/>
        <result property="submitUserName" column="submit_user_name"/>
    </resultMap>

    <sql id="selectTecRecordFengyangVo">
        select
        t.client_id,
        t.record_fengyang_sid,
        t.record_fengyang_code,
        t.fengyang_type,
        t.sample_sid,
        t.sku_sid,
        t.fengyang_result,
        t.fengyang_comment,
        t.remark,
        t.handle_status,
        t.creator_account,
        t.create_date,
        t.updater_account,
        t.update_date,
        t.confirmer_account,
        t.confirm_date,
        t.data_source_sys,
        t1.sample_code_self,
        t1.material_code,
        t1.material_name,
        t1.picture_path,
        t1.material_type,
        t1.product_season_sid,
        t1.material_class_sid,
        t1.designer_account,
        t1.model_sid,
        t1.up_down_suit,
        t1.customer_sid,
        t1.customer_product_code,
        t1.sample_code_customer,
        t1.simple_code,
        t1.company_sid,
        t1.company_brand_sid,
        t1.unit_base,
        t1.vendor_sid,
        t1.customer_brand_sid,
        t1.sample_code_vendor,
        t2.sku_name,
        t3.name as material_type_name,
        t4.product_season_name,
        t5.node_name,
        t6.nick_name as designer_account_name,
        t7.model_name,
        t8.customer_name,
        t9.company_name,
        t10.brand_name as company_brand_name,
        t11.name as unit_base_name,
        t12.nick_name as creator_account_name,
        t13.nick_name as updater_account_name,
        t14.nick_name as confirmer_account_name,
        t15.vendor_name,
        t16.brand_name as customer_brand_name,
        t17.approval_node,
        t17.approval_user_id,
        t17.approval_user_name,
        t17.create_date as submit_date,
        t18.nick_name as submit_user_name
  from s_tec_record_fengyang t
        LEFT JOIN s_bas_material t1 ON t1.material_sid = t.sample_sid
        LEFT JOIN s_bas_sku t2 ON t2.sku_sid = t.sku_sid
        LEFT JOIN s_con_material_type t3 ON t3.code = t1.material_type
        LEFT JOIN s_bas_product_season t4 ON t4.product_season_sid = t1.product_season_sid
        LEFT JOIN s_con_material_class t5 ON t5.material_class_sid = t1.material_class_sid
        LEFT JOIN sys_user t6 ON t6.user_name = t1.designer_account
        LEFT JOIN s_tec_model t7 ON t7.model_sid = t1.model_sid
        LEFT JOIN s_bas_customer t8 ON t8.customer_sid = t1.customer_sid
        LEFT JOIN s_bas_company t9 ON t9.company_sid = t1.company_sid
        LEFT JOIN s_bas_company_brand t10 ON t10.company_brand_sid = t1.company_brand_sid
        LEFT JOIN s_con_measure_unit t11 ON t11.code = t1.unit_base
        LEFT JOIN sys_user t12 ON t12.user_name = t.creator_account
        LEFT JOIN sys_user t13 ON t13.user_name = t.updater_account
        LEFT JOIN sys_user t14 ON t14.user_name = t.confirmer_account
        LEFT JOIN s_bas_vendor t15 ON t15.vendor_sid = t1.vendor_sid
        LEFT JOIN s_bas_customer_brand t16 ON t16.customer_brand_sid = t1.customer_brand_sid
        LEFT JOIN s_sys_form_process t17 ON t17.form_id = t.record_fengyang_sid
        LEFT JOIN sys_user t18 ON t18.user_id = t17.create_by_id
    </sql>

    <select id="selectTecRecordFengyangById" parameterType="Long" resultMap="TecRecordFengyangResult">
        <include refid="selectTecRecordFengyangVo"/>
        where t.record_fengyang_sid = #{recordFengyangSid}
    </select>


    <select id="selectTecRecordFengyangList" parameterType="com.platform.ems.domain.TecRecordFengyang"
            resultMap="TecRecordFengyangResult">
        <include refid="selectTecRecordFengyangVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and (<foreach collection="clientId.split(';')" item="item" separator="or">t.client_id like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="recordFengyangCode != null">
                and t.record_fengyang_code like concat('%',#{recordFengyangCode}, '%')
            </if>
            <if test="recordFengyangSidList != null  and recordFengyangSidList.length >0 ">
                and t.record_fengyang_sid in
                (<foreach collection="recordFengyangSidList" item="recordFengyangSid" separator=",">
                #{recordFengyangSid}</foreach>)
            </if>
            <if test="recordFengyangSid != null ">
                and t.record_fengyang_sid =#{recordFengyangSid}
            </if>
            <if test="materialCode != null and materialCode != ''">
                and (<foreach collection="materialCode.split(';')" item="materialCode" separator="or">t1.material_code
                like concat('%', #{materialCode}, '%')</foreach>)
            </if>
            <if test="materialName != null and materialName != ''">
                and (<foreach collection="materialName.split(';')" item="materialName" separator="or">t1.material_name
                like concat('%', #{materialName}, '%')</foreach>)
            </if>
            <if test="simpleCode != null and simpleCode != ''">
                and (<foreach collection="simpleCode.split(';')" item="simpleCode" separator="or">t1.simple_code like
                concat('%', #{simpleCode}, '%')</foreach>)
            </if>
            <if test="productSeasonSidList != null and productSeasonSidList.length >0 ">
                and t1.product_season_sid in
                (<foreach collection="productSeasonSidList" item="productSeasonSid" separator=",">
                #{productSeasonSid}</foreach>)
            </if>
            <if test="sampleCodeCustomer != null and sampleCodeCustomer != ''">
                and (<foreach collection="sampleCodeCustomer.split(';')" item="sampleCodeCustomer" separator="or">
                t1.sample_code_customer like concat('%', #{sampleCodeCustomer}, '%')</foreach>)
            </if>
            <if test="customerSidList != null and customerSidList.length >0 ">
                and t1.customer_sid in
                (<foreach collection="customerSidList" item="customerSid" separator=",">#{customerSid}</foreach>)
            </if>
            <if test="fengyangType != null and fengyangType != ''">
                and t.fengyang_type =#{fengyangType}
            </if>
            <if test="materialTypeList != null  and materialTypeList.length >0 ">
                and t1.material_type in
                (<foreach collection="materialTypeList" item="materialType" separator=",">#{materialType}</foreach>)
            </if>
            <if test="sampleCodeSelf != null and sampleCodeSelf != ''">
                and (<foreach collection="sampleCodeSelf.split(';')" item="sampleCodeSelf" separator="or">
                t1.sample_code_self like concat('%', #{sampleCodeSelf}, '%')</foreach>)
            </if>
            <if test="sampleSid != null ">
                and t.sample_sid =#{sampleSid}
            </if>
            <if test="skuSid != null">
                and t.sku_sid = #{skuSid}
            </if>
            <if test="fengyangResult != null  and fengyangResult != ''">
                and t.fengyang_result = #{fengyangResult}
            </if>
            <if test="fengyangComment != null  and fengyangComment != ''">
                and (<foreach collection="fengyangComment.split(';')" item="item" separator="or">t.fengyang_comment like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="handleStatus != null  and handleStatus != ''">
                and (<foreach collection="handleStatus.split(';')" item="item" separator="or">t.handle_status like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and (<foreach collection="creatorAccount.split(';')" item="item" separator="or">t.creator_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="creatorAccountList != null and creatorAccountList.length >0 ">
                and t.creator_account in
                (<foreach collection="creatorAccountList" item="creatorAccount" separator=",">
                #{creatorAccount}</foreach>)
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="updaterAccount != null  and updaterAccount != ''">
                and (<foreach collection="updaterAccount.split(';')" item="item" separator="or">t.updater_account like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="updateDate != null ">
                and t.update_date = #{updateDate}
            </if>
            <if test="confirmerAccount != null  and confirmerAccount != ''">
                and (<foreach collection="confirmerAccount.split(';')" item="item" separator="or">t.confirmer_account
                like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="confirmDate != null ">
                and t.confirm_date = #{confirmDate}
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and (<foreach collection="dataSourceSys.split(';')" item="item" separator="or">t.data_source_sys like
                concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
        order by t.record_fengyang_code desc, t.create_date desc
    </select>


    <!--添加多个-->
    <insert id="inserts">
        insert into s_tec_record_fengyang
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            record_fengyang_sid,
            record_fengyang_code,
            fengyang_type,
            sample_sid,
            sku_sid,
            fengyang_result,
            fengyang_comment,
            remark,
            handle_status,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.recordFengyangCode},
                #{item.fengyangType},
                #{item.sampleSid},
                #{item.skuSid},
                #{item.fengyangResult},
                #{item.fengyangComment},
                #{item.remark},
                #{item.handleStatus},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_tec_record_fengyang
        <trim prefix="SET" suffixOverrides=",">
            record_fengyang_sid = #{recordFengyangSid},
            record_fengyang_code = #{recordFengyangCode},
            fengyang_type = #{fengyangType},
            sample_sid = #{sampleSid},
            sku_sid = #{skuSid},
            fengyang_result = #{fengyangResult},
            fengyang_comment = #{fengyangComment},
            remark = #{remark},
            handle_status = #{handleStatus},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
        </trim>
        where record_fengyang_sid = #{recordFengyangSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_tec_record_fengyang
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{clientId},
                record_fengyang_sid = #{recordFengyangSid},
                record_fengyang_code = #{recordFengyangCode},
                fengyang_type = #{fengyangType},
                sample_sid = #{sampleSid},
                sku_sid = #{skuSid},
                fengyang_result = #{fengyangResult},
                fengyang_comment = #{fengyangComment},
                remark = #{remark},
                handle_status = #{handleStatus},
                creator_account = #{creatorAccount},
                create_date = #{createDate},
                updater_account = #{updaterAccount},
                update_date = #{updateDate},
                confirmer_account = #{confirmerAccount},
                confirm_date = #{confirmDate},
                data_source_sys = #{dataSourceSys},
            </trim>
            where record_fengyang_sid = #{recordFengyangSid}
        </foreach>
    </update>

</mapper>
