<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.system.mapper.SysDictTypeMapper">

	<resultMap type="com.platform.common.core.domain.entity.SysDictType" id="SysDictTypeResult">
		<id     property="dictId"     column="dict_id"     />
		<result property="dictName"   column="dict_name"   />
		<result property="dictType"   column="dict_type"   />
		<result property="dictLevel"   column="dict_level"   />
		<result property="status"     column="status"      />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
		<result property="updateBy"   column="update_by"   />
		<result property="updateTime" column="update_time" />
		<result property="handleStatus" column="handle_status" />
	</resultMap>

	<sql id="selectDictTypeVo">
		select dict_id, dict_name, dict_type, dict_level, status, create_by, create_time, remark,handle_status
		from sys_dict_type
	</sql>

	<select id="selectDictTypeList" parameterType="com.platform.common.core.domain.entity.SysDictType" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		<where>
			<if test="dictName != null and dictName != ''">
				AND dict_name like concat('%', #{dictName}, '%')
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="handleStatus != null and handleStatus != ''">
				AND handle_status = #{handleStatus}
			</if>
			<if test="dictType != null and dictType != ''">
				AND dict_type like concat('%', #{dictType}, '%')
			</if>
			<if test="dictLevel != null and dictLevel != ''">
				AND dict_level = #{dictLevel}
			</if>
			<if test="dictLevelList != null and dictLevelList.length >0 ">
				and dict_level in
				(<foreach collection="dictLevelList" item="dictLevel" separator=",">#{dictLevel}</foreach>)
			</if>
			<if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
				and date_format(create_time,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
			</if>
			<if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
				and date_format(create_time,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
			</if>
		</where>
	</select>

	<select id="selectDictTypeAll" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
	</select>

	<select id="selectDictTypeById" parameterType="long" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		<where>
			<if test="dictId != null and dictId != ''">
				AND dict_id =#{dictId}
			</if>
		</where>
	</select>

	<select id="selectDictTypeByType" parameterType="com.platform.common.core.domain.entity.SysDictType" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		<where>
			<if test="dictType != null and dictType != ''">
				AND dict_type =#{dictType}
			</if>
		</where>
		limit 1
	</select>

	<select id="checkDictTypeUnique" parameterType="com.platform.common.core.domain.entity.SysDictType" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		<where>
			<if test="dictType != null and dictType != ''">
				AND dict_type =#{dictType}
			</if>
		</where>
		limit 1
	</select>

	<select id="checkDictNameUnique" parameterType="com.platform.common.core.domain.entity.SysDictType" resultMap="SysDictTypeResult">
		<include refid="selectDictTypeVo"/>
		<where>
			<if test="dictName != null and dictName != ''">
				AND dict_name =#{dictName}
			</if>
		</where>
		limit 1
	</select>

	<delete id="deleteDictTypeById" parameterType="Long">
		delete from sys_dict_type where dict_id = #{dictId}
	</delete>

	<delete id="deleteDictTypeByIds" parameterType="Long">
		delete from sys_dict_type where dict_id in
		<foreach collection="array" item="dictId" open="(" separator="," close=")">
			#{dictId}
		</foreach>
	</delete>

	<update id="updateDictType" parameterType="com.platform.common.core.domain.entity.SysDictType">
		update sys_dict_type
		<set>
			<if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
			<if test="dictType != null and dictType != ''">dict_type = #{dictType},</if>
			<if test="dictLevel != null and dictLevel != ''">dict_level = #{dictLevel},</if>
			<if test="status != null">status = #{status},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where dict_id = #{dictId}
	</update>

	<insert id="insertDictType" parameterType="com.platform.common.core.domain.entity.SysDictType">
		insert into sys_dict_type(
		<if test="dictName != null and dictName != ''">dict_name,</if>
		<if test="dictType != null and dictType != ''">dict_type,</if>
		<if test="dictLevel != null and dictLevel != ''">dict_level,</if>
		<if test="status != null">status,</if>
		<if test="remark != null and remark != ''">remark,</if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		<if test="clientId != null ">client_id,</if>
		<if test="handleStatus != null ">handle_status,</if>
		create_time
		)values(
		<if test="dictName != null and dictName != ''">#{dictName},</if>
		<if test="dictType != null and dictType != ''">#{dictType},</if>
		<if test="dictLevel != null and dictLevel != ''">#{dictLevel},</if>
		<if test="status != null">#{status},</if>
		<if test="remark != null and remark != ''">#{remark},</if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		<if test="clientId != null ">#{clientId},</if>
		<if test="handleStatus != null ">#{handleStatus},</if>
		sysdate()
		)
	</insert>

	<select id="selectDictByDictType" parameterType="String" resultType="com.platform.common.core.domain.entity.SysDictTypeTemplate">
		<include refid="selectDictTypeVo"/>
		where dict_type = #{dictType}
	</select>

	<insert id="insertDict" parameterType="com.platform.common.core.domain.entity.SysDictTypeTemplate">
		insert into sys_dict_type(
		<if test="dictName != null and dictName != ''">dict_name,</if>
		<if test="dictType != null and dictType != ''">dict_type,</if>
		<if test="dictLevel != null and dictLevel != ''">dict_level,</if>
		<if test="status != null">status,</if>
		<if test="remark != null and remark != ''">remark,</if>
		<if test="createBy != null and createBy != ''">create_by,</if>
		create_time
		)values(
		<if test="dictName != null and dictName != ''">#{dictName},</if>
		<if test="dictType != null and dictType != ''">#{dictType},</if>
		<if test="dictLevel != null and dictLevel != ''">#{dictLevel},</if>
		<if test="status != null">#{status},</if>
		<if test="remark != null and remark != ''">#{remark},</if>
		<if test="createBy != null and createBy != ''">#{createBy},</if>
		sysdate()
		)
	</insert>

	<update id="updateDict" parameterType="com.platform.common.core.domain.entity.SysDictTypeTemplate">
		update sys_dict_type
		<set>
			<if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
			<if test="dictLevel != null">dict_level = #{dictLevel},</if>
			<if test="status != null">status = #{status},</if>
			<if test="remark != null">remark = #{remark},</if>
			<if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
			update_time = sysdate()
		</set>
		where dict_type = #{dictType}
	</update>


	<update id="checkDictType" parameterType="com.platform.common.core.domain.entity.SysDictType">
		update sys_dict_type
		<set>
			handleStatus = 5 ,
			update_time = sysdate()
		</set>
		<where>
			<if test="dictIds != null and dictIds.length >0 ">
				and dict_id in
				(<foreach collection="dictIds" item="item" separator=",">#{item}</foreach>)
			</if>
		</where>
	</update>

</mapper>
