<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platform.system.mapper.SysTodoTaskMapper">

    <resultMap type="com.platform.system.domain.SysTodoTask" id="SysTodoTaskResult">
        <result property="clientId" column="client_id"/>
        <result property="todoTaskSid" column="todo_task_sid"/>
        <result property="taskCategory" column="task_category"/>
        <result property="businessType" column="business_type"/>
        <result property="title" column="title"/>
        <result property="tableName" column="table_name"/>
        <result property="documentSid" column="document_sid"/>
        <result property="menuId" column="menu_id"/>
        <result property="noticeDate" column="notice_date"/>
        <result property="userId" column="user_id"/>
        <result property="remark" column="remark"/>
        <result property="creatorAccount" column="creator_account"/>
        <result property="createDate" column="create_date"/>
        <result property="updaterAccount" column="updater_account"/>
        <result property="updateDate" column="update_date"/>
        <result property="confirmerAccount" column="confirmer_account"/>
        <result property="confirmDate" column="confirm_date"/>
        <result property="dataSourceSys" column="data_source_sys"/>
        <result property="documentCode" column="document_code"/>
        <result property="creatorAccountName" column="creator_account_name"/>
        <result property="documentItemSid" column="document_item_sid"/>
        <result property="nickName" column="nick_name"/>
    </resultMap>

    <sql id="selectSysTodoTaskVo">
        select
            t.client_id,
            t.todo_task_sid,
            t.task_category,
            t.business_type,
            t.title,
            t.table_name,
            t.document_sid,
            t.menu_id,
            t.notice_date,
            t.user_id,
            t.remark,
            t.creator_account,
            t.create_date,
            t.updater_account,
            t.update_date,
            t.confirmer_account,
            t.confirm_date,
            t.data_source_sys,
            t.document_code,
            t.document_item_sid,
            t1.nick_name as creator_account_name,
            t2.nick_name
        from s_sys_todo_task t
                 LEFT JOIN sys_user t1 ON t1.user_name = t.creator_account
                 LEFT JOIN sys_user t2 ON t2.user_id = t.user_id
    </sql>

    <select id="selectSysTodoTaskById" parameterType="Long" resultMap="SysTodoTaskResult">
        <include refid="selectSysTodoTaskVo"/>
        where t.todo_task_sid = #{todoTaskSid}
    </select>
    <select id="getMenuId" parameterType="String" resultType="Long">
        select
            menu_id
        from sys_menu
        where menu_name = #{menuName}
    </select>

    <select id="selectSysTodoTaskList" parameterType="com.platform.system.domain.SysTodoTask"
            resultMap="SysTodoTaskResult">
        <include refid="selectSysTodoTaskVo"/>
        <where>
            <if test="clientId != null  and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="taskCategory != null and taskCategory != ''">
                and t.task_category = #{taskCategory}
            </if>
            <if test="taskCategoryList != null and taskCategoryList.length > 0">
                and t.task_category in (<foreach collection="taskCategoryList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="businessType != null and businessType != ''">
                and t.business_type = #{businessType}
            </if>
            <if test="businessTypeList != null and businessTypeList.length > 0">
                and t.business_type in (<foreach collection="businessTypeList" item="item" separator=",">#{item}</foreach>)
            </if>
            <if test="title != null  and title != ''">
                and (<foreach collection="title.split(';')" item="item" separator="or">t.title like concat('%',
                #{item}, '%')
            </foreach>)
            </if>
            <if test="tableName != null  and tableName != ''">
                and t.table_name like concat('%', #{tableName}, '%')
            </if>
            <if test="documentSid != null">
                and t.document_sid = #{documentSid}
            </if>
            <if test="documentItemSid != null ">
                and t.document_item_sid =#{documentItemSid}
            </if>
            <if test="menuId != null ">
                and t.menu_id =#{menuId}
            </if>
            <if test="noticeDate != null ">
                and t.notice_date = #{noticeDate}
            </if>
            <if test="userId != null ">
                and t.user_id =#{userId}
            </if>
            <if test="userIdList != null  and userIdList.length >0">
                and t.user_id in (<foreach collection="userIdList" item="userId" separator=",">#{userId}</foreach>)
            </if>
            <if test="creatorAccount != null  and creatorAccount != ''">
                and t.creator_account = #{creatorAccount}
            </if>
            <if test="beginTime != null and beginTime!=''">
                and date_format(t.create_date,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
            </if>
            <if test="endTime != null and endTime!=''">
                and date_format(t.create_date,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
            </if>
            <if test="dataSourceSys != null  and dataSourceSys != ''">
                and t.data_source_sys = #{dataSourceSys}
            </if>
            <if test="documentCode != null  and documentCode != ''">
                and (<foreach collection="documentCode.split(';')" item="item" separator=" or ">t.document_code like
                concat('%', #{item}, '%')</foreach>)
            </if>
            <if test="params.dataScope != null and params.dataScope!=''">
                ${params.dataScope}
            </if>
        </where>
        order by t.notice_date desc, t.document_code asc
    </select>

    <!--添加多个-->
    <insert id="inserts">
        insert into s_sys_todo_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            client_id,
            todo_task_sid,
            task_category,
            business_type,
            title,
            table_name,
            document_sid,
            menu_id,
            notice_date,
            user_id,
            remark,
            creator_account,
            create_date,
            updater_account,
            update_date,
            confirmer_account,
            confirm_date,
            data_source_sys,
            document_code,
            document_item_sid,
        </trim>
        values
        <foreach collection="list" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                #{item.clientId},
                #{item.todoTaskSid},
                #{item.taskCategory},
                #{item.businessType},
                #{item.title},
                #{item.tableName},
                #{item.documentSid},
                #{item.menuId},
                #{item.noticeDate},
                #{item.userId},
                #{item.remark},
                #{item.creatorAccount},
                #{item.createDate},
                #{item.updaterAccount},
                #{item.updateDate},
                #{item.confirmerAccount},
                #{item.confirmDate},
                #{item.dataSourceSys},
                #{item.documentCode},
                #{item.documentItemSid},
            </trim>
        </foreach>
    </insert>

    <!--更新-->
    <update id="updateAllById">
        update s_sys_todo_task
        <trim prefix="SET" suffixOverrides=",">
            client_id = #{clientId},
            todo_task_sid = #{todoTaskSid},
            task_category = #{taskCategory},
            business_type = #{businessType},
            title = #{title},
            table_name = #{tableName},
            document_sid = #{documentSid},
            menu_id = #{menuId},
            notice_date = #{noticeDate},
            user_id = #{userId},
            remark = #{remark},
            creator_account = #{creatorAccount},
            create_date = #{createDate},
            updater_account = #{updaterAccount},
            update_date = #{updateDate},
            confirmer_account = #{confirmerAccount},
            confirm_date = #{confirmDate},
            data_source_sys = #{dataSourceSys},
            document_code = #{documentCode},
            document_item_sid = #{documentItemSid},
        </trim>
        where todo_task_sid = #{todoTaskSid}
    </update>

    <!--更新多个-->
    <update id="updatesAllById">
        <foreach collection="list" item="o" separator=";">
            update s_sys_todo_task
            <trim prefix="SET" suffixOverrides=",">
                client_id = #{o.clientId},
                todo_task_sid = #{o.todoTaskSid},
                task_category = #{o.taskCategory},
                business_type = #{o.businessType},
                title = #{o.title},
                table_name = #{o.tableName},
                document_sid = #{o.documentSid},
                menu_id = #{o.menuId},
                notice_date = #{o.noticeDate},
                user_id = #{o.userId},
                remark = #{o.remark},
                creator_account = #{o.creatorAccount},
                create_date = #{o.createDate},
                updater_account = #{o.updaterAccount},
                update_date = #{o.updateDate},
                confirmer_account = #{o.confirmerAccount},
                confirm_date = #{o.confirmDate},
                data_source_sys = #{o.dataSourceSys},
                document_code = #{o.documentCode},
                document_item_sid = #{o.documentItemSid},
            </trim>
            where todo_task_sid = #{o.todoTaskSid}
        </foreach>
    </update>

    <delete id="deleteIgnore" parameterType="com.platform.system.domain.SysTodoTask">
        DELETE FROM s_sys_todo_task t
        <where>
            <if test="clientId != null and clientId != ''">
                and t.client_id = #{clientId}
            </if>
            <if test="title != null and title != ''">
                and t.title like concat('%', #{title}, '%')
            </if>
            <if test="taskCategory != null and taskCategory != ''">
                and t.task_category = #{taskCategory}
            </if>
            <if test="tableName != null and tableName != ''">
                and t.table_name = #{tableName}
            </if>
            <if test="tableNameList != null and tableNameList.length > 0">
                and t.table_name in (<foreach collection="tableNameList" item="item" separator=",">#{item}</foreach>)
            </if>
        </where>
    </delete>
</mapper>
